[2022-08-30 02:11] jscherer92 commented on #1132
Taking a look

[2022-08-30 18:02] MSNev opened #1135 "[Bug] Web based karma tests are no longer running"
### What version of OpenTelemetry are you using?

Current rebase of the contribu repo

### What version of Node are you using?
16.14.0

### What did you do?
- clean fetch of repo
- npm install
- npm run install
- Go into the plugins/web/opentelemetry-instrumentation-document-load
- npm run test

### What did you expect to see?
- passing tests

### What did you see instead?
- failing tests

[2022-08-30 18:04] MSNev opened #1136 "[Bug] DNS Lookup and Promise Lookup test for error NOT_FOUND failing"
### What version of OpenTelemetry are you using?
Current Contrib repo

### What version of Node are you using?
16.14.0

### What did you do?
- clean repo
- npm install
- npm run compile
- npm run test

### What did you expect to see?
passing tests

### What did you see instead?
- dns tests failed in local environment due to timeout exceeding 2 seconds

[2022-08-30 18:04] dyladan commented on #1135
@MSNev if you have it handy can you post the failure? If not i'll just run it myself

[2022-08-30 18:32] MSNev commented on #1135
[code]

The normal documented way to avoid this issue is to set the webpack
[code]

However, these options did not work for the contrib repo

[2022-08-30 18:42] dyladan commented on #1135
Is that a windows-specific issue? I ask because it didn't get caught during the initial PR to update to webpack 5. It's a bummer that we have to roll back to a previous testing version just for a single plugin.

[2022-08-30 18:47] MSNev commented on #1135
No it's not, it's just a little more obvious because of the drive letter embedded in the resulting path that it uses to understand what is going on.

https://github.com/ryanclark/karma-webpack/issues/489

And in the contrib repo #1129 also hit it on a non-windows box https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1129#discussion_r957504262

[2022-08-30 18:51] dyladan commented on #1135
Interesting. That looks really similar to an error I was having on macos with temp directories in the main repo with webpack 5. any idea why this has taken so long to be a problem?

[2022-08-30 20:01] MSNev commented on #1135
I think it's environmental, the main tests on GitHub seem to be passing. So it's really just as people start contributing their setup's (including mine) have issues with the defaults.

[2022-08-31 00:42] jscherer92 opened #1139 "Use swc instead of tsc"
At my current work we have switched away from tsc in favor of swc. From looking in the repository, I do not think there is anything that would stop us from being able to convert over to it. I know we converted due to the speed that it runs compared to tsc. I was wondering if there has been any thought around this or if it would be okay to do this?

[2022-08-31 01:03] jscherer92 commented on #1127
I think you will not want to do this for your Lambda. This is loading every plugin available and you want your lambda to be as thin as possible. Just load the two plugins you want and then register them normally.

Let me know if that works.

[2022-09-01 03:49] jscherer92 commented on #1080
I just want to throw my hat in the ring to be the maintainer of the graphql package. I have a very intimate knowledge of GraphQL and this is one that I am continuing to try to improve for my own use cases and others. @dyladan @Flarna @Rauno56 let me know if this is good for all of you.

[2022-09-01 07:46] osherv opened #1145 "Pin/restrict typescript version for all components"
Today, every sub-package in the repo specifies its own typescript version.
There is no restriction and every package can use a different version of typescript which can cause many collisions and errors like: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1141

I wonder how can we avoid those collisions in the future.
We want that all of our packages will use the same version (curr

[2022-09-01 08:40] Flarna commented on #1080
@jscherer92 Sounds good

[2022-09-01 11:34] blumamir commented on #1145
Actually, typescript is already a dependency of the monorepo root [here](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/ec9ee131635dc2db88deea4f2efb887ff6f60577/package.json#L59), so I guess it's reasonable that sub packages should be able to pick it up from there instead of specifying the dependency again and again.

I guess the package manager can sometimes be confused when exec

[2022-09-01 11:51] blumamir commented on #1139
Interesting, I see it's very popular and active
Can you share if you are aware of any potential risks with switching compilers?

[2022-09-01 11:55] osherv commented on #1145
Be sure i am :)

[2022-09-01 13:19] osherv opened #1147 "Add support for pino@8"
Tests are currently fain on pino@8.

Here's a link to the fails Ci:
https://github.com/open-telemetry/opentelemetry-js-contrib/runs/8117913889?check_suite_focus=true

[2022-09-01 14:27] jscherer92 commented on #1139
There have been two potential risks:

1) if you rely on certain features of Typescript it could potentially break. I know decorators were busted for about a week which cause some of our code to not build.

2) the plugin system is not as diverse. It hasn't hurt us yet but if you are using a bunch of babel plugins it could be a problem.

Overall, I think the productivity increase in getting builds t

[2022-09-02 08:01] noliva commented on #1130
That made me think of a similar issue we faced.

In our case, we were using a remote sampler and we were sampling spans, that's why some spans would appear and others would not.

We then moved to sample all spans if a trace is sampled, the way we achieved that in go was like this:

[code]

Not sure if this is of help, but worth a try.

[2022-09-02 11:43] sssmolarkiewicz opened #1149 "Trace ID is not propagated from SQS message with AWSXRayPropagator"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
16.17.0

### What did you do?

I've configured tracer with `AWSXRayIdGenerator` and `AWSXRayPropagator` in my two applications AppA and AppB. The applications communicate over SQS. I've triggered producing a message in AppA through a HTTP request, and received the message in AppB. In AppB I am able to

[2022-09-02 13:20] dyladan commented on #1130
@toddtarsi does the 👍 mean this helped you solve your problem? If so can you close this or comment?

[2022-09-02 13:23] toddtarsi commented on #1130
@dyladan - Not sure yet, but I am extremely appreciative of a helpful suggestion like this, and I'm definitely going to implement my sampling rules more deliberately. Sorry to leave this open here.

[2022-09-02 13:43] dyladan commented on #1130
No worries I just wanted to make sure the status was clear

[2022-09-02 16:09] Breadkenty commented on #1127
Hi @jscherer92, I tried narrowing down the auto insturmentation to only include PgInstrumenation and no luck.
[code]

[2022-09-02 16:27] jscherer92 commented on #1127
Interesting. I'll take a closer look at the PgInstrumentation to see a potential culprit.

[2022-09-02 16:51] Breadkenty commented on #1127
Thank you! Im doing some testing and doing some version comparison with the [example project](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-pg#readme) in this repo vs mine. I see the postgres instrumentation coming through on the example project running express. Not so much with my serverless lambda api. Will report findings soon.

[2022-09-03 03:00] evantorrie opened #1150 "ioredis instrumentation should obey `requireParentSpan` for `connect`"
### Is your feature request related to a problem? Please describe

Yes. The `@opentelemetry/instrumentation-ioredis` documentation for parameter `requireParentSpan` says

"Require parent to create ioredis span, default when unset is true".

However, on code inspection, this currently applies only to ioredis spans which are created as part of an `ioredis` "command" such as `.set(), .get(), .zadd()`

[2022-09-05 07:35] #1147 closed

[2022-09-05 16:23] cartermp commented on #999
Still not stale. Happy to contribute a fix myself, just unsure where I'd access the kind of information that we should be attaching to the created span.

[2022-09-05 23:04] xavianaxw opened #1153 "@opentelemetry/instrumentation-aws-sdk has random version number that throws off Snyk"
### What version of OpenTelemetry are you using?
`@opentelemetry/instrumentation-aws-sdk`@`v0.8.1`

### What version of Node are you using?
`v16.17.0`

### What did you do?
On Snyk dashboard, it is reported that it needs an upgrade from `v0.8.1` to `v0.25.0`. However, the `v0.25.0` is released a year ago and the latest version is actually `0.9.0`

### What did you expect to see?
Snyk not throwing

[2022-09-06 04:31] jscherer92 commented on #1127
Yeah, I took another look and I am not seeing anything that is hitting me like it is going to be a problem. I am going to put this on LocalStack and see if it gets reproduced. Hoping I can get to that in the next day or so.

[2022-09-06 13:35] haddasbronfman opened #1155 "Migrate examples for redis instrumentation"
We're moving instrumentation examples from the top-level examples folder to the individual instrumentation packages to help keep them up to date. https://github.com/open-telemetry/opentelemetry-js-contrib/pull/939.

This issue is specifically for the [@opentelemetry/instrumentation-redis](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/redis) examples.

Step-by-step i

[2022-09-06 13:36] haddasbronfman commented on #1155
Can you assign this to me please?

[2022-09-06 15:23] andyfleming commented on #950
Resolved by https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1118

[2022-09-06 15:23] #950 closed

[2022-09-06 18:35] willarmiros commented on #999
Hi @cartermp,

It seems these additional attributes for APIGW-invoked Lambdas would have to be added around here: https://github.com/open-telemetry/opentelemetry-js-contrib/blob/4a9442ceea7f8555ad6e5f731f92834f3398d5b9/plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts#L166

You would need to parse the `event` used to invoke the Lambda to determine if it is an APIGW event

[2022-09-07 11:44] osherv opened #1157 "Metrics instrumentaion MongoDB"
Hey, we want to start to implement metrics collection in the instrumentations like other SDKs already did.
I'll start with MongoDB according to:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md

If you find it right to start implementing metrics collection, please assign this issue to me :)

[2022-09-07 11:54] osherv opened #1158 "Migrate examples for mongodb instrumentation"
We're moving instrumentation examples from the top-level examples folder to the individual instrumentation packages to help keep them up to date. #939

This issue is specifically for the [@opentelemetry/instrumentation-mongodb](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/mongodb) examples.

Step-by-step instructions for migrating these examples can be found in [ex

[2022-09-07 16:13] #1150 closed

[2022-09-07 17:44] osherv commented on #1070
@mic-max @Flarna Hey :) According to this PR: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1141
The dependencies of @types/mongo are now devDependencies only.
I think it met your requirements, right?

[2022-09-07 19:38] Flarna commented on #1070
@osherv yes, looks good.

[2022-09-07 21:56] tomerfriedman opened #1162 "ResponseHook for cassandra driver"
### Is your feature request related to a problem? Please describe
Would love to have a responseHook to a query that being sent to cassandra driver. This will allow me to insert some custom attributes after response is back.

### Describe the solution you'd like to see
A responseHook function so I can insert custom attributes to the span after query was made.

[2022-09-07 22:39] Flarna commented on #1153
@NathanielRN @willarmiros @blumamir  I guess the old 0.25.0 release created before the 0.1.0 will result in a conflict sooner or later...
Maybe we should move towards 0.26.0 to correct this?

[2022-09-07 23:47] xavianaxw commented on #1153
Thanks for looking into this guys

[2022-09-08 11:39] haddasbronfman commented on #1128
Can you assign this to me please?

[2022-09-08 11:41] haddasbronfman commented on #1128
@mentos1386 Hi, I tried to reproduce your issue by instrumenting dynamodb.listTables() and s3.listBuckets() and both of them created spans with spanKind:2 (CLIENT).
What are the steps to reproduce your issue?
Do you use AWS api 2 or 3 ?

[2022-09-08 12:02] haddasbronfman opened #1163 "Migrate examples for mysql instrumentation"
We're moving instrumentation examples from the top-level examples folder to the individual instrumentation packages to help keep them up to date. https://github.com/open-telemetry/opentelemetry-js-contrib/pull/939.

This issue is specifically for the [@opentelemetry/instrumentation-mysql](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/mysql) examples.

Step-by-step i

[2022-09-08 12:03] haddasbronfman commented on #1163
Can you assign this to me please? thanks

[2022-09-08 13:14] mentos1386 commented on #1128
@haddasbronfman I am using aws sdk v3.

We are also using the following options:
[code]

[2022-09-08 13:58] haddasbronfman commented on #1128
I couldn't reproduce although I used `suppressInternalInstrumentation: true`.
I got this span:

`items to be sent [
  Span {
    attributes: {
      'rpc.system': 'aws-api',
      'rpc.method': 'ListTables',
      'rpc.service': 'DynamoDB',
      'db.system': 'dynamodb',
      'db.operation': 'ListTables',
      'db.statement': '{"Limit":10}',
      'aws.region': 'us-west-2',
      'aws.request.id

[2022-09-08 18:32] mic-max commented on #1070
@osherv Yes, I believe that does it! Now projects that use this module will no longer see this message when installing it as it will not fetch `devDependencies`

[2022-09-08 18:32] #1070 closed

[2022-09-10 08:31] #854 closed

[2022-09-10 08:31] #1071 closed

[2022-09-10 09:35] #1135 closed

[2022-09-10 21:02] cartermp commented on #296
I think this can be closed because https://github.com/open-telemetry/opentelemetry-js-contrib/pull/467 implements these. There's an outstanding issue around capturing the JDBC connection string but the rest appear correct specified as per the spec.

[2022-09-11 09:44] #296 closed

[2022-09-11 14:56] samimusallam commented on #1162
Can this issue be assigned to me?

[2022-09-11 19:51] evantorrie opened #1165 "Consider adding option to dns.instrumentation to include hostName as span attribute on lookup"
### Is your feature request related to a problem? Please describe

When first developed, the `dns` instrumentation included the requested target for the dns lookup as an attribute named `dns.hostname` on the span created by `dns.lookup(hostname)`. This was removed in #488.

I am interested in obtaining the `dns.hostname` for dns lookups, as I've experienced situations where a specific hostname loo

[2022-09-12 03:01] ringerc commented on #1051
This looks obsolete; AFAICS the express module is fine now.

[2022-09-12 03:04] ringerc opened #1166 "Express autoinstrumentation not auto-instrumenting"
### What version of OpenTelemetry are you using?

* opentelemetry-js-api 1.2.0
* opentelemetry-js 1.6.0
* opentelemetry-js-contrib 0.31.0 (express and http autoinstrumentations)

### What version of Node are you using?

* node 18.4.0
* npm 8.15.1

### What did you do?

I've been able to get Express autoinstrumentations from my app, though http and other autoinstrumentations work fine.

I cut it do

[2022-09-12 05:52] Flarna commented on #1166
Some hints how to fix this:
* exclude tracing.js from the esbuild bundle
* remove anything not related to OTel setup from tracing.js (e.g `import consola from 'consola'`)
* load and register instrumentations before anything else (e.g. before importing other files and doing resource detection...)
* ensure your bundler does not bundle dependencies you want to instrument (e.g. express must stay in fo

[2022-09-12 06:16] ringerc commented on #1166
@Flarna I've updated the test case to reflect these changes.

* In the test case supplied, `tracing.js` was already excluded from the esbuild bundle because it's outside the `src/` tree. But I've moved it into the tree and explicitly excluded it as external instead and pushed a new revision. `grep opentelemetry server/dist/use_require_arg.js` in the updated repo confirms that it is not bundled.
*

[2022-09-12 06:18] ringerc commented on #1166
@Flarna That was it.

Adding `--external:express` on the `esbuild` CLI in `package.json` allowed the Express server to be instrumented.

Thank you. I have bashed my head against this for days.

[2022-09-12 06:24] ringerc commented on #1166
For other readers, another pitfall is using `import` for your tracing script if you're loading it directly into your app rather than using `--require`.

It appears you must use e.g. `require('./tracing');` or if your tracing setup is an a function something like `const { initOpenTelemetry } = require('./tracing');` .

**If you use `import { initOpenTelemetry } from './tracing';` your auto-instrume

[2022-09-12 06:25] ringerc commented on #1166
I'll see about raising a docs PR for this. In the mean time the next person might find this issue or my updates to my demo PR and figure it out without quite so much pain. Thanks so much for the help.

[2022-09-12 06:25] #1166 closed

[2022-09-12 06:30] ringerc commented on #1166
I pushed a fixed version to https://github.com/ringerc/otel-express-node-instrumentation-issue along with an explanation.

[2022-09-12 06:45] #1047 closed

[2022-09-12 06:45] #971 closed

[2022-09-13 07:39] haddasbronfman commented on #1128
Hi @mentos1386, can you supply a working example?

[2022-09-13 08:46] #1145 closed

[2022-09-13 13:58] Rauno56 commented on #1150
@blumamir, @evantorrie, what's the usecase for requiring a parent span in a instrumentation?

[2022-09-14 16:42] #1136 closed

[2022-09-14 16:50] #1051 closed

[2022-09-14 16:51] dyladan commented on #1014
@Eomm any update on if this is still an issue?

[2022-09-14 16:54] dyladan commented on #849
@seblaz can you confirm if @vmarchaud is correct that this might have been fixed in mongo 4?

[2022-09-14 17:11] svrnm opened #1173 "Add detector for docker container id for cgroup v2 to be added to resource metadata"
### Is your feature request related to a problem? Please describe

Detection of the `container.id` via `@opentelemetry/resource-detector-docker` currently works by reading from `/proc/self/cgroup`. That does not work when cgroupv2 is turned on. However, based on these two sources there's another place to read from:

- [How to get docker container ID from within the container with cgroup v2](https:

[2022-09-15 08:09] Exubient opened #1175 "express plugin: autoInstrumentation lack information"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
16.10.0

### What did you do?
I have tracing configured as below, but my application seems to only create traces in a limited way.

[code]

### What did you expect to see?

I have a `NestJS` project using the same library showing the traces like below, which I find to be the right behavior of `getNodeA

[2022-09-15 11:47] haddasbronfman opened #1176 "Metrics instrumentation mysql"
We want to start to implement metrics collection in the instrumentations like other SDKs already did.
I would like to start with MySQL (according to:
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/database-metrics.md)

If that is ok with you, please assign this issue to me :)

[2022-09-16 02:56] Exubient commented on #1175
the only otel libraries that produce traces are
[code]

[2022-09-16 08:02] akbarnafisa commented on #548
any updates on this issue ?

[2022-09-16 16:59] Josh-a-e commented on #548
Yeah I'd also be very interested in being able to fix this.

[2022-09-17 21:14] Eomm commented on #1014
Just tried the doc example but same error for me by using node v16.x: https://www.npmjs.com/package/@opentelemetry/host-metrics

Switching to node.js v18.6.0 I get the same:

<img width="716" alt="image" src="https://user-images.githubusercontent.com/11404065/190876643-84adf2c2-d230-4b72-8a3d-ad5ad79dfa43.png">

I wonder if it is an OS issue (I'm using mac os)

[2022-09-18 16:29] legendecas commented on #1014
Would you mind updating the dependency `opentelemetry/sdk-metrics-base` with `opentelemetry/sdk-metrics` v0.33.0? It has been renamed in the recent release. Thank you!

[2022-09-18 18:43] Eomm commented on #1014
Sure, but.. the same result.
Am I the only one that is facing this issue?

I have `rm -rf node_modules` and reinstalled only these packages:

[code]

Here the code I'm running:

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2022-09-19 01:47] #1175 closed

[2022-09-19 01:48] legendecas commented on #1014
Sorry but you have to apply the patch mentioned at https://github.com/open-telemetry/opentelemetry-js-contrib/issues/1014#issuecomment-1120442125 too.

[2022-09-19 06:40] Eomm commented on #1014
Yeah, I did it, but I keep getting the `is not a function` error and the module is up to date:

[code]

[2022-09-19 06:51] legendecas commented on #1014
Sorry, it's not `addMetricProvider` but rather `addMetricReader`. The code snippet I use is as follows:

[code]

[2022-09-19 06:56] Eomm commented on #1014
Thanks, it works!
I should study a but the APIs

[2022-09-19 09:30] #1158 closed

[2022-09-19 09:36] Rauno56 commented on #1082
Tests for `graphql@15.8.0` failing: https://github.com/open-telemetry/opentelemetry-js-contrib/actions/runs/3077464972/jobs/4972348257

[2022-09-19 10:00] Rauno56 opened #1183 "Fix `instrumentation-ioredis` test from failing"
At this point I'm not sure why or how, but the tests for `instrumentation-ioredis` are reliably failing and making our builds fail with it.

This needs to be fixed, but meanwhile since it's affecting all builds, I'll temporarily ignore the tests for now.

Assigning component owners

https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1169

[2022-09-19 12:42] Rauno56 opened #1184 "Make `instrumentation-graphql` tests less are flaky"
GraphQL tests occasionally fail at

[code]

with the end time of the parsing being later than the start of the validation. Unless we find someone to address this in timely manner I'll temporarily comment out the failing part for now to avoid it affecting the whole build of the repo.

[2022-09-19 20:50] nodify-at opened #1185 "fs.exists with util.promisify causes to unhandled rejection"
### What version of OpenTelemetry are you using?
[code]

**Latest installed globally.**

Installed dependencies:
 npm i --unsafe-perm -g @splunk/otel @opentelemetry/api @opentelemetry/instrumentation-http @opentelemetry/instrumentation-express @opentelemetry/instrumentation-pino @opentelemetry/instrumentation-winston @opentelemetry/instrumentation-nestjs-core @opentelemetry/instrumentation-ioredis

[2022-09-19 21:16] mdbudnick opened #1186 "@opentelemetry/auto-instrumentations-web not ES5 compatible"
### What version of OpenTelemetry are you using?
0.30.0

### What version of Node are you using?
14.20.0

### What did you do?

I've installed "@opentelemetry/auto-instrumentations-web": "^0.30.0",
and in my project use `import { getWebAutoInstrumentations } from '@opentelemetry/auto-instrumentations-web'` with an OTLPExporter.

It works fine except for IE 10 and 11 because the module code in my c

[2022-09-19 21:42] mdbudnick commented on #1186
Also this https://github.com/open-telemetry/opentelemetry-js/pull/1368

[2022-09-19 22:00] mdbudnick commented on #1186
Created https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1187

[2022-09-20 02:47] #1014 closed

[2022-09-20 07:19] Rutik333 opened #1189 "Not getting db query traces For monogo DB"
Hello I'm using OpenTelemetry auto instrumentation with nodeJs and MongoDB database
While Getting database traces I'm only getting id in queries as follows

{
  "_id": "fd7a52eb29645c"
}

But I'm expecting to get full traces that contain all the parameters with a query can you please help on this?

Attaching tracing.js file for reference

const { Resource } = require('@opentelemetry/resources');
c

[2022-09-20 09:09] Rutik333 commented on #1189
I'm using
Node Js - v14.17.5
Mongo DB - v4.4

[2022-09-20 16:17] 97amarnathk opened #1190 "(instrumentation-mongodb) - Cannot find name 'Document'."
### What version of OpenTelemetry are you using?
@opentelemetry-api 1.2.0

### What version of Node are you using?
14.17.1

### What did you do?
I have a private nodejs service to which I am trying to add openTelemetry
1. install open telemetry and http, grpc instrumentation (this is working fine)
2. installed mongodb instrumentation
[code]
3. built my node module
[code]

### What did you expect t

[2022-09-20 16:22] 97amarnathk commented on #1190
I think we need to import type for `Document` from library `bson`
ref: https://github.com/mongodb/node-mongodb-native/blob/v4.2.2/src/cmap/connection.ts#L38

[2022-09-21 03:40] willarmiros commented on #1149
Hi @dyladan - is there any chance we could add an `AWS` or `X-Ray` label to the repo for issues impacting AWS-related items? I'm not in a role where I can dive too deep into these issues anymore, but if we had a label system I can raise it to others

[2022-09-21 10:19] haddasbronfman commented on #1128
@mentos1386 bug fixed. you can close the issue.

[2022-09-21 15:28] icco opened #1192 "Add http request metrics to either http or express package"
### Is your feature request related to a problem? Please describe

While I can figure out RPS from traces, if traces are sampled, this number is wrong.

### Describe the solution you'd like to see

I would like to see the metrics described in https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md exported by one of these t

[2022-09-21 16:31] Flarna commented on #1190
Which version of `@opentelemetry/instrumentation-mongodb` do you use? Latest is 0.32.0.

[2022-09-21 16:45] dyladan commented on #1190
Added p1 label because this causes a compilation failure in an end user app. @Flarna if you're looking into this can you assign yourself? If not let me know and I'll find someone to look at it.

[2022-09-21 16:49] DAlperin opened #1193 "Express spans showing impossible duration_ms"
### What version of OpenTelemetry are you using?
0.33.0

### What version of Node are you using?
`16 lts`

### What did you do?
Instrumented node. I use the following to set up my tracing:
[code]
### What did you expect to see?
Reasonable tracing

### What did you see instead?
![Screenshot from 2022-09-21 12-45-04](https://user-images.githubusercontent.com/16063713/191564366-9bf2ba17-01e3-4123-bfd

[2022-09-21 16:50] dyladan commented on #1186
This is not a bug since the packages in question aren't supporting es5

[2022-09-21 16:54] dyladan commented on #676
@danshapir can you confirm that this is fixed by #796 ?

[2022-09-21 16:59] Rauno56 commented on #349
Was still solved in https://github.com/open-telemetry/opentelemetry-js-contrib/pull/976 ?

[2022-09-21 17:14] #1128 closed

[2022-09-21 18:41] Flarna commented on #1190
will take a look. Looks like our typescript setup include lib dom everywhere therefore we didn't notice that `Document` is missing.

[2022-09-22 14:34] Rauno56 commented on #1149
I added labels for each of the components. Attaching them to this issue as well - perhaps that will help you filter out what you are looking for.

[2022-09-22 14:39] Rauno56 commented on #1193
`@prisma/instrumentation` is not hosted here. Have you tried to let them know at https://github.com/prisma/prisma_

[2022-09-22 15:01] willarmiros commented on #442
Unfortunately due to internal limitations Lambda is not able to expose its ARN at startup. So it seems we are blocked on https://github.com/open-telemetry/opentelemetry-specification/issues/1298 to get this fixed.

[2022-09-22 15:22] willarmiros commented on #1149
Thanks! This is perfect, we will have someone follow up here.

[2022-09-22 16:18] DAlperin commented on #1193
The issue appears to be in express instrumentation. The issue persists even without the prisma instrumentation enabled.

[2022-09-22 17:35] Flarna commented on #442
Meanwhile spec allows to set `faas.id` as span attribute instead as resource attribute: _On some cloud providers, it may not be possible to determine the full ID at startup, so consider setting faas.id as a span attribute instead._

For AWS it would be possible to set it on resource by delaying resource detection until first invocation but on e.g. azure a single OS process (and therefore single gl

[2022-09-22 19:01] vmarchaud commented on #1193
Could you share the code of the middleware in question ? There can be edge cases that make it hard to track exactly when each middleware is ended

[2022-09-22 19:03] #1190 closed

[2022-09-22 19:06] vmarchaud commented on #1192
The newly released http instrumentation should allow you to do this: https://github.com/open-telemetry/opentelemetry-js/pull/3149

[2022-09-22 19:14] mdbudnick commented on #1186
Ok, closing this ticket. I have been working with the team on excluding it from IE clients. Thanks!

[2022-09-22 19:14] #1186 closed

[2022-09-22 20:03] DAlperin commented on #1193
Here is where I set up all my middlewares: https://github.com/DAlperin/dov.dev-remix/blob/main/server.ts

[2022-09-22 21:10] icco commented on #1192
Oh that's cool. We have that version but haven't seen those metrics yet. I also would like the rest of the metrics in the spec implemented:

![Screen Shot 2022-09-22 at 17 09 14](https://user-images.githubusercontent.com/20201/191851471-4f33e6cc-15b2-4e0c-90f9-729482cacd04.png)

[2022-09-23 07:26] #1132 closed

[2022-09-26 18:45] dyladan commented on #442
interesting I missed that wording in the spec. thanks for clarifying. i'll close this then

[2022-09-26 18:45] #442 closed

[2022-09-26 23:49] Rauno56 commented on #1184
Turned the test off for now here: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1201

That needs to be reverted with a fix.

[2022-09-26 23:50] Rauno56 commented on #1183
Turned the tests off in https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1169

That needs to be reverted with a fix.

[2022-09-27 10:04] francisdb opened #1203 "Pino instrumentation does not log "Applying patch for" as other modules do"
When using this

[code]

most modules log the following:

[code]

see https://github.com/open-telemetry/opentelemetry-js-contrib/search?p=1&q=Applying+patch+for

This is not happening for pino

### Describe the solution you'd like to see

[code]

[2022-09-27 10:12] francisdb opened #1204 "Pino 8 support"
There was a previous request for this at #1147
but the related [pr](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1146) just removed testing on Pino 8

[2022-09-27 10:17] francisdb commented on #1204
never mind see #1108 and related pr that adds pino 8

[2022-09-27 10:17] #1204 closed

[2022-09-27 11:17] AkselAllas opened #1205 "instrumentation-bunyan / instrumentation bug "_this.enable is not a function""
[Codesandbox repro](https://codesandbox.io/s/optimistic-lena-idtbvr?file=/src/Observability.ts)

<img width="1257" alt="image" src="https://user-images.githubusercontent.com/26136082/192511386-b7bce781-8e37-4073-9735-8d05f000df58.png">

Interesting fact is that the object we pass to register instrumentations does have `enable`
<img width="933" alt="image" src="https://user-images.githubusercontent

[2022-09-27 12:58] francisdb commented on #991
Same issue with

`pg 8.7.1`
`knex 0.14.2`
`@opentelemetry/instrumentation-pg 0.31.1`

a rollback to `0.30.0` fixes the issue

[code]

[2022-09-27 13:30] Flarna commented on #1205
Not sure here but the error message somewhat indicates a version mixmax:
[code]
your package.json says 0.33.0.

Maybe some leftover after upgrade? Please try a fresh install after deleting node_modules and package-lock.json.

At least I don't see this error in a similar local sample.

[2022-09-27 13:47] palashgdev commented on #888
Hi @dyladan
do we need to remove the `chore:` so that it can be picked via automation ?

if not in which direction we are looking to fix this one

reference: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/886#issuecomment-1036237127

[2022-09-27 17:53] AkselAllas commented on #1205
I did `yarn cache clean`, deleted yarn.lock and deleted node_modules, did fresh install locally. Made sure I got instrumentation `v0.33` and it worked 👍 🤔

I tried downgraded versions in codesandbox. But that doesn't work. Some weird setup makes codesandbox not get instrumentation 0.33 when asked for it.

[2022-09-27 20:13] markrzen opened #1208 "When is it expected that publishing happens? Tagged 0.30 in Git, 0.29 in NPM"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

It looks like the Fastify instrumentation library was tagged for 0.30 in Git 9 hours ago, but the published version on NPM is still 0.29. When should we expect publishing to happen?

[2022-09-27 21:03] beeme1mr commented on #1193
I also ran into the same issue. Downgrading to `"@opentelemetry/auto-instrumentations-node": "^0.31.2"`  resolved the issue. It seems like the only noteworthy change for express was [requestHook support](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1091).

[2022-09-27 22:44] markrzen commented on #1208
@dyladan I suspect you may know :)

[2022-09-28 00:27] DAlperin commented on #1193
@beeme1mr out of curiosity what tool were you using to visualize your traces?

[2022-09-28 00:29] beeme1mr commented on #1193
I was using the latest version of Jaeger.

[2022-09-28 06:15] AkselAllas commented on #1205
I'm an idiot.

[2022-09-28 06:23] AkselAllas commented on #1205
@Flarna

[2022-09-28 07:48] alexd6631 opened #1209 "Inconsistent start and end time, startTime > endTime issues with express"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

[code]

Running on a M1 MacBook Pro

### What did you do?

I am running a simple nest app to familiarize with open telemetry instrumentation and tooling.
I have added the auto-instrumentation as mentioned in the docs, and running a custom nest app.
After some times (especially If the Macbook go to sl

[2022-09-28 07:51] bsingr opened #1212 "knex-autoinstrumentation does not work with table aliases: "Invalid attribute value set for key: db.sql.table""
### What happened?

## Steps to Reproduce

Run a knexjs query with table alias

[code]

## Expected Result

Correctly handling the aliases and setting the tracing attribute db.sql.table correctly.

## Actual Result

Warning is logged `Invalid attribute value set for key: db.sql.table` (from https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-core/src/common/attribut

[2022-09-28 07:54] alexd6631 commented on #1209
Also noted, that even in the "good" trace, the `request handler - /api` span is much shorter than the actual request processing which should be  ~2.2s (I am using setTimeouts in my toy service/repo to simulate serial/parallel processing).

[2022-09-28 07:54] AkselAllas commented on #1205
I went through all dependencies. I had `@opentelemetry/core` `@1.4.0` `@1.6.0` and `@1.7.0`. I made sure I only had `@1.7.0` but didn't help.

I also have a source map error, even though I don't think it should do anything.

[code]

The real path for the sourcemap is `@opentelemetry/instrumentation-bunyan/build/src/instrumentation.ts`

[2022-09-28 09:06] AkselAllas commented on #1205
The real problem is that the `instrumentation.js` in the browser version of node_modules has

[code]

[2022-09-28 09:37] Flarna commented on #1205
Yes, seems update of modules in contrib to use 0.33.0 from core is not yet done. `^0.32.0` doesn't use 0.33.0 so to avoid duplicates of `@opentelemetry/instrumentation` it's needed to stick on 1.6.0/0.32.0 of OTel core until contrib components are updated and published.

`InstrumentationAbstract` is not browser/node specific, it's a common base class. `InstrumentationBase` is different.

[2022-09-28 09:50] Flarna commented on #1209
start and end have to use the same time source otherwise the duration is likely garbage as shown here.

Before https://github.com/open-telemetry/opentelemetry-js/pull/3134 this was the case per luck but that's no longer true.

As there is not common time source in OTel API and span API has the possibility to specifiy start and end it's hard to ensure that this is done correct everywhere.

@dyladan

[2022-09-28 09:51] Flarna commented on #1193
see also #1193

[2022-09-28 09:51] Flarna commented on #1209
this is a dup of #1193

[2022-09-28 09:59] alexd6631 commented on #1209
By curiosity is there any reason not to let the framework use the current time internally (ie not passing time to span.end(), which would be consistent with the span.start()) ? Performance / precision reason maybe ?

Also the start of the span seems to use the default time source, whereas the end use hrTime(). Maybe using hrTime() in both places could be an alternative solution.

 https://github.c

[2022-09-28 10:05] Flarna commented on #1209
usually noone passes start/end times and lets the SDK do this.
But it seems express instrumentation has a special situations where a span is started and then it notices that the span is "useless" and they end the span using a manual provided time to get a span with 0 duration.

I think it would be better to just call `span.end()` here which would choose the same time source and avoid this problem.

[2022-09-28 12:19] dyladan commented on #1209
We could provide it on the span but that would be an API change. We could also provide an SDK function which takes a span and returns its clock but that would be quite confusing to end users who just want a current time.

I agree here. I'll make a PR for that.

---

We should see if we can solve this more generally as express may not be the only place this happens and it is quite a difficult probl

[2022-09-28 12:25] dyladan commented on #1209
https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1210

[2022-09-28 12:25] dyladan commented on #1193
https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1210

[2022-09-28 12:55] Flarna commented on #1209
I think it should be on the API and quite independent of spans. Best would be something like a TimeProvider interface. SDK can plug in the implementation matching to the platform or even user might override it during SDK init.

[2022-09-28 13:00] dyladan commented on #1209
How do you make sure you're getting the clock that is the correct anchored clock? I guess the time provider can use whatever clock the currently active span is using?

[2022-09-28 13:05] dyladan commented on #1209
https://github.com/open-telemetry/opentelemetry-js/issues/3279

[2022-09-28 13:06] alexd6631 commented on #1209
Just to have more context/understanding on the background issue you are addressing, is it related that the wall clock would not be monotonic (for instance a NTP update, could adjust the clock negatively) and you could end up with negative spans ?

[2022-09-28 14:05] AkselAllas commented on #1205
Figured out why it doesn't work. It's simply not supported and not supposed to work for browser.

More specifically `opentelemetry-instrumentation` of `opentelemetry-js` has a browser implementation of `InstrumentationBase` with no written `enable` method.
`(experimental/packages/opentelemetry-instrumentation/src/platform/browser/instrumentation.ts)`

[15 line skeleton class for `browser`](https:/

[2022-09-28 16:16] dyladan commented on #1212
I think this is likely because the key is not a primitive type allowed by the attribute interface. Assigning @Rauno56 since he is the code owner for this component

[2022-09-28 17:00] #1193 closed

[2022-09-28 17:00] #1209 closed

[2022-09-29 14:22] guyguy333 commented on #1209
@dyladan Does this issue also solves an issue on browser side ? We have negative durations on browser traces. It's not happening on all spans.

[code]

[2022-09-29 14:23] dyladan commented on #1209
No this only fixes express. I'm working on a browser fix

[2022-09-29 14:24] guyguy333 commented on #1209
Ok thank you :) Is there an issue I can track for the fix ?

[2022-09-29 15:15] markrzen commented on #1208
Seems to have published

[2022-09-29 15:15] #1208 closed

[2022-09-30 08:32] manang opened #1216 "Webrtc stats on opentelemetry"
Hello,
I'm trying to understand if there is a way to stream webrtc stats to opentelemetry.
Do you have advices for this topic?
Thanks a lot

Angelo

[2022-10-05 16:28] Rauno56 commented on #1216
If they can be caught, they can be sent. Do you have an example code that at least console.log's the stats you are looking for?

[2022-10-05 16:34] Rauno56 opened #1217 "Mongoose instrumentation imports types from the underlying package"
`utils.d.ts` and `mongoose.d.ts` of the build assets import types from `mongoose`:

[code]

Which means that the compilation fails, if the user has not installed the `mongoose` package - happens with metapackage users for example.

This needs to be fixed by removing all references of the mongoose types from the public APIs.

[2022-10-05 16:37] Rauno56 opened #1218 "Dataloader instrumentation imports types from the underlying package"
`instrumentation.d.ts` of the build assets import types from `dataloader`:

[code]

Which means that the compilation fails, if the user has not installed the `dataloader` package - happens with metapackage users for example.

This needs to be fixed by removing all references to any of the dataloader types from the public APIs.

[2022-10-05 16:38] Rauno56 commented on #1218
@henrinormak, would you like to take it yourself or shall I?

[2022-10-05 16:38] Rauno56 commented on #1217
@blumamir, would you like to take it yourself or shall I?

[2022-10-07 09:28] Rauno56 commented on #1185
Validated. `fs.exists` is the only `fs` function that defines it's [custom promisify function](https://nodejs.org/api/util.html#custom-promisified-functions) and that probably causes the issue... Looking into it.

[2022-10-07 10:21] henrinormak commented on #1218
Will be fixed by #1221, thanks for spotting and taking care of this! 🙇

[2022-10-10 06:43] #822 closed

[2022-10-10 07:55] #784 closed

[2022-10-10 07:55] Rauno56 commented on #784
Fixed in https://github.com/open-telemetry/opentelemetry-js-contrib/pull/998

[2022-10-10 09:32] Rauno56 commented on #991
Knex acquires the connection like this:
[code]

The current signature for the callback for connect method, however, is `(err) => void`, which our patching is based upon. Either it used to return the client as well(likely, mentioned knex version is 4+ years old), or are those versions(knex and pg) incompatible.

But(and that's a big one) that doesn't explain why it works without the instrumentation

[2022-10-10 09:45] Rauno56 commented on #991
Working on a fix.

cc: @dyladan

[2022-10-10 10:19] #1185 closed

[2022-10-11 03:10] Just-Sieb commented on #581
Looks like this was already fixed in #913. This should be able to be closed now.

[2022-10-14 07:54] sssmolarkiewicz commented on #1149
Hi @willarmiros can I expect any update on this?

[2022-10-15 09:12] #581 closed

[2022-10-16 06:32] blumamir commented on #1217
Sorry I was on vacation, thanks for taking this, will review your PR :)

[2022-10-16 09:14] blumamir opened #1229 "migrate circleci docker images to official images"
This repo uses circleci docker images for running the unittest for pg and mysql.
Since we migrated to github actions long time ago, it doesn't make sense to use circleci images and we should migrate to the offficial images.

[see more info here](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1197#pullrequestreview-1125068213)

[2022-10-17 12:23] #1203 closed

[2022-10-19 07:12] #1217 closed

[2022-10-19 07:12] #1218 closed

[2022-10-19 11:08] blumamir opened #1235 "pg instrumentation: enhancedDatabaseReporting value is not parsable"
### What version of OpenTelemetry are you using?
 "@opentelemetry/instrumentation-pg": "0.31.1"

### What version of Node are you using?
16

### What did you do?
Executed the following pg query with instrumentation config `enhancedDatabaseReporting: true`
[code]

### What did you expect to see?
I expected to be able to tell what the query values are for this operation.

### What did you see instea

[2022-10-19 11:11] blumamir commented on #1235
This serialization also fails to distinguish between types:
[code]

are both serialized into the attribute with the same value: `"[foo,6]"`

[2022-10-19 13:42] akbarnafisa opened #1236 "Enable click event in SVG element"
### Is your feature request related to a problem? Please describe
Yes, `opentelemetry-instrumentation-user-interaction` is not triggered when a click is triggered in the SVG element

### Describe the solution you'd like to see

Give the option to enable an event trigger in the SVG element

### Describe alternatives you've considered

### Additional context

SVG element excluded [here](https://gith

[2022-10-19 13:52] blumamir opened #1237 "mysql instrumentation: query parameters are recorded by default"
### What version of OpenTelemetry are you using?
"@opentelemetry/instrumentation-mysql": "0.31.1",

### What version of Node are you using?
16

### What did you do?
[code]

### What did you expect to see?
I expected `db.statement` attribute to not record the parameter value by default, as it might contain sensitive values.

### What did you see instead?
`db.statement` contains the value `"SELECT *

[2022-10-19 14:35] ranrib commented on #1237
I guess there might be some cases where the data can be interesting, so I wouldn't omit everything by default, no?

[2022-10-19 14:49] blumamir commented on #1237
I think these values are considered "payload" and we try to have safe defaults which means not to record them unless the user explicitly requests to via instrumentation configuration.
I know postgres instrumentation does this and knex too if I remember correctly.

Maybe we should have some discussion and come up with guidance for this

[2022-10-19 17:25] ranrib commented on #1237
Adding my 2 cents here - at Epsagon, we used to have the ability to configure whether we should collect payloads, or not. As a general discussion, this can be applied globally, at a framework level, or even on a specific key.

Maybe a good start would be a specific mysql-instrumentation configuration on whether to collect query payloads or not.

[2022-10-20 05:38] blumamir commented on #1237
This issue is about possible sensitive data being collected by default.
Many instrumentations offer hooks via config, which makes it possible for users / vendor distributions to add payload attributes as they see fit.
I would be more than happy to see this being added for mysql too :)

[2022-10-20 09:26] blumamir commented on #1237
I found that `"@opentelemetry/instrumentation-mysql2": "0.32.0"` package also record the placeholder values into the `db.statement` attribute.

[code]

value in `db.statement`: "SELECT * FROM users WHERE id = 1234"

[2022-10-23 10:28] blumamir opened #1241 "mongodb: instrumentation captures only the first document for "insertMany""
### What version of OpenTelemetry are you using?
"@opentelemetry/instrumentation-mongodb": "^0.32.1",
"mongodb": "^4.11.0",

### What version of Node are you using?
16

### What did you do?
Invoked "insertMany" on mongodb collection, with 2 documents
[code]

### What did you expect to see?
Expected the generated span's `db.statement` attribute to capture the fact that 2 documented were inserted.

[2022-10-23 10:45] blumamir opened #1242 "mongodb: add db.operation attribute"
mongodb instrumentation does not record [`db.operation` attribute](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md#call-level-attributes).
This attribute is available to instrumentation to capture, and is already used in the span name.

From the spec:

db.operation | string | The name of the operation being executed, e.g.

[2022-10-23 11:07] blumamir opened #1243 "mongodb: instrumentation captures "net.host.name" instead of "net.peer.name""
### What version of OpenTelemetry are you using?
"@opentelemetry/instrumentation-mongodb": "^0.32.1",
"mongodb": "^4.11.0",

### What version of Node are you using?
16

### What did you do?
execute any mongodb command

### What did you expect to see?
[According to the spec]("@opentelemetry/instrumentation-mongodb": "^0.32.1",
"mongodb": "^4.11.0",), I expected instrumentation to record the mongodb

[2022-10-23 11:42] blumamir opened #1244 "mongodb: "db.mongodb.collection" attribute captures incorrect value "$cmd" for some commands"
### What version of OpenTelemetry are you using?
"@opentelemetry/instrumentation-mongodb": "^0.32.1",
"mongodb": "^4.11.0",

### What version of Node are you using?
16

### What did you do?
[code]

### What did you expect to see?
I expected to see meaningful value in the "db.mongodb.collection" attribute.

### What did you see instead?
"db.mongodb.collection" contains the value "$cmd" which is not

[2022-10-23 11:59] blumamir opened #1245 "mongodb: span not ended when driver throw excpetion"
### What version of OpenTelemetry are you using?
"@opentelemetry/instrumentation-mongodb": "^0.32.1",
"mongodb": "^4.11.0",

### What version of Node are you using?
16

### What did you do?
[code]

This example is only to demonstrate the concept (I don't think people are likely to run into this specific issue).
But of course, the driver can throw exceptions for many reasons, and the point is that

[2022-10-24 12:45] Flarna opened #1248 "[CI] browser-test are broken"
see e.g.
https://github.com/open-telemetry/opentelemetry-js-contrib/actions/runs/3312465704/jobs/5469167967
https://github.com/open-telemetry/opentelemetry-js-contrib/actions/runs/3312081248/jobs/5468319602

[code]

Not sure if more memory would help here.

[2022-10-24 12:56] ildella opened #1249 "Fastify instrumentation example server fails with ECONNREFUSED 127.0.0.1:55681"
### What version of OpenTelemetry are you using?
latest from git master

### What version of Node are you using?
LTS, 16.18

### What did you do?
Run the fastify example as per README: https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/fastify
Start zipkin, start server then run the cient

### What did you expect to see?
it working

### What did you see instead?

Server

[2022-10-24 14:19] Flarna commented on #1248
on my local machine test passes but needs >3GB or RAM. so likely more memory would help.
But not sure if it is correct if this test need such a lot memory.

[2022-10-24 20:01] carolabadeer commented on #1149
@mentos1386 I see you wrote the case that parses `ReceiveMessage` in SQS in PR #968, can you please clarify the reason behind using `pubsubPropagation`? According to this [ReadMe](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/acd6a6f7994c075eac0f4abe1051b27565054520/packages/opentelemetry-propagation-utils/README.md), `pubSub` creates a new process span, which I believe is what i

[2022-10-25 07:41] mentos1386 commented on #1149
@carolabadeer I'm not entirely sure why it's used. I was only touching the code enough to add the missing message id attribute.

This might be a good read https://github.com/open-telemetry/opentelemetry-js-contrib/issues/707, i think i remember also seeing a lengthier discussion on this topic somewhere but can't find it atm.

We _solved_ this issue by implementing our own propagation by injecting/

[2022-10-25 15:23] blumamir commented on #1082
debugged it and found the issue [here](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/23589d65a1e167da375def9a532f58b1f0969d24/plugins/node/opentelemetry-instrumentation-graphql/src/utils.ts#L383)

instrumentation code wraps each resolver with `safeExecuteInTheMiddleAsync` which turns sync functions into async. This is why `graphqlSync` throws. It also changes the behavior of the

[2022-10-26 18:51] max-mathieu commented on #991
👋  thanks for the work on these modules!

Just FYI I faced the same issue as @francisdb here (even on 0.30.0), but I manually applied the fix from https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1224 locally and it worked perfectly
(knex version: 0.95.11, ~1 year old)

[2022-10-28 04:35] #1082 closed

[2022-10-28 05:32] #1153 closed

[2022-10-28 09:58] #1162 closed

[2022-10-28 14:46] icco opened #1260 "aws: 0.32.0 released but not documented in source code"
### What version of OpenTelemetry are you using?

N/A

### What version of Node are you using?

N/A

### What did you do?

I see https://www.npmjs.com/package/@opentelemetry/instrumentation-aws-sdk/v/0.32.0 is released but is not a version documented in code.

### What did you expect to see?

Not see this version, or see a release on github

### What did you see instead?

### Additional context

[2022-10-29 05:39] blumamir commented on #1260
There was a problem with `aws-sdk` instrumentation versioning.
When we first wrote it, it was published (probably by mistake) with version `0.25.0` and then the final version changed to `0.1.0` which [confused tools like snyk](#1153 ).

So I manually bumped the version in #1247 to be `0.32.0`.

Not sure how it got released. Our release automation workflow is currently not working and I think we ru

[2022-10-29 05:44] blumamir commented on #1248
I see other people had this issue, but no clue how they ended up resolving it
https://github.com/ryanclark/karma-webpack/issues/382
https://github.com/karma-runner/karma/issues/3031

It looks like the webpack invocation by karma is the problematic step.
@MSNev maybe you can spot what's wrong?

[2022-10-30 10:13] #1120 closed

[2022-10-31 16:43] MSNev commented on #1248
I don't see anything obvious, but it's probably a version dependency issue... I'm trying to repo locally and see what I can find.
But I have had issues with specific versions of karma and webpack previously

[2022-10-31 17:38] sairam866 opened #1262 "Add ordering information for AWS resource detectors"
### What version of OpenTelemetry are you using?
Latest from Github

### What version of Node are you using?
18.11.0

### What did you do?

AWS resource detectors documentation missing ordering information as in
https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/detectors/node/opentelemetry-resource-detector-aws

### What did you expect to see?
Ordering information for AWS resour

[2022-10-31 17:57] sairam866 opened #1263 "Create meta package for auto resource detectors for node"
### Is your feature request related to a problem? Please describe

A auto resource detector package like https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/metapackages/auto-instrumentations-node will be helpful to manage the detectors in one place for repositories like the
https://github.com/open-telemetry/opentelemetry-operator

### Describe the solution you'd like to see

A au

[2022-10-31 17:59] sairam866 commented on #1263
cc: @svrnm

[2022-10-31 17:59] sairam866 commented on #1262
cc: @svrnm

[2022-10-31 18:41] dyladan commented on #1248
our test suite is getting a little out of hand...

[2022-10-31 18:54] Flarna commented on #1248
The brower tests use quite some tools and start chrome. That's massive compared to simply running a node process for node.js tests. With that in mind 3-4GB doesn't seem that high.

[2022-10-31 18:56] Flarna commented on #1248
seems like it recovered, latest run in https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1246 was green.

[2022-10-31 22:01] MSNev commented on #1248
I've managed to repo locally and I have the linked PR to fix (hopefully) on GitHub action (marked as draft until it passes)

[2022-10-31 22:14] MSNev commented on #1248
Test as now passing so I've marked the PR as ready for review. I've also checked again locally (based on the latest #1264 pass being green) and I can still repo locally, without the changes I have in the PR.

[2022-11-01 06:36] blumamir commented on #1248
Some more input
1. I run the tests for `long-task` instrumentation and found that they pass even for 256MB. A similar run on `user-interactions` needs >2GB of memory.
2. It looks to me like the step that is failing is running webpack. the last thing it prints before crashing is "Compiling...", when it passes, after this text there is a lot of webpack logging which are missing in `user-interactions

[2022-11-01 06:46] blumamir commented on #1248
Another thing I just discovered - if I remove the `@jsdevtools/coverage-istanbul-loader` rule from webpack config, it now works for `user-interactions` even for 256MB.
So I guess the code coverage is the issue here. Does it make sense that code coverage takes so much memory?

[code]

[2022-11-01 07:00] blumamir commented on #1248
My quest continues...

As I wrote before, the issue comes from [@jsdevtools/coverage-istanbul-loader](https://www.npmjs.com/package/@jsdevtools/coverage-istanbul-loader) Which is [a dependency in our repo](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/c63d2a4206b8d4ba0fb337b253ff6c84f0814a09/plugins/web/opentelemetry-instrumentation-user-interaction/package.json#L62):

[code]

If

[2022-11-01 20:33] blumamir commented on #1248
fixed in #1264

[2022-11-01 20:33] #1248 closed

[2022-11-02 11:45] sssmolarkiewicz commented on #1149
@mentos1386

This is the workaround that I tried and described in the post. I could keep the additional "transport layer" trace of SQS, but the problem is that the App that processes the received message does not appear on the service graph. Did you manage to get it displayed there, or does your service graph look like the one I posted, with one App and SQS nodes on it?

The perfect solution would

[2022-11-02 15:23] dotboris opened #1266 "Missing type definitions for GraphQL and Fastify instrumentations when used through auto instrumentation"
### What version of OpenTelemetry are you using?

<details>
<summary>Full versions listing</summary>

[code]

</details>

### What version of Node are you using?

`v18.11.0`

### What did you do?

I setup a skeleton project using the node auto instrumentation with typescript:

<details>
<summary>index.ts</summary>

[code]

</details>

<details>
<summary>package.json</summary>

[code]

</details>

[2022-11-02 16:27] dyladan commented on #1243
Fixed by #1257

[2022-11-02 16:27] #1243 closed

[2022-11-03 10:45] dotboris commented on #1266
I'm going to start working on a fix for fastify first.

Also, I'm starting to think that there should be a test or linter rule in place that can catch these kinds of issues. My feeling is that it's very easy to break the type management guidelines without realizing.

[2022-11-03 10:49] Flarna commented on #1266
That would be really great.

[2022-11-03 15:30] dotboris commented on #1266
I'm now starting to look at the `graphql` instrumentation. I'll start a separate PR for that

[2022-11-03 15:38] blumamir commented on #1266
amazing @dotboris
Thanks again.

After that, if you have time to review #1261 I would really appreciate your feedback.
Specifically, I am interested to know if the text is clear enough and if there is something not covered.

[2022-11-03 17:12] dotboris commented on #1266
@blumamir I'm clocking out for the day. I'll try to find some time tomorrow to review your PR. Thank you for the prompt reviews and the great feedback.

[2022-11-04 11:05] dotboris commented on #1266
Regarding this, I've done some thinking and digging.

One option would be to write an integration test that does something like the following for every package in the repository:
- Create a `package.json` with the package as a `dependency` and `typescript` as a `devDependency`
- Run `npm install`
- Create an `index.ts` file that does something long the lines of `import * as allTheThings from '{the

[2022-11-04 11:20] dotboris commented on #1266
Regarding the `eslint` rule `import/no-extraneous-dependencies`: It's already in use. I've noticed that there's a new unreleased option called `includeTypes` which might work well here. I'm currently giving it a shot.

[2022-11-04 12:30] dotboris commented on #1266
I tested out `import/no-extraneous-dependencies` with `includeTypes: true` and it doesn't seem to do the job sadly.

I tried running it on `opentelemetry-instrumentation-fastify` and I get the following error. Note that I'm on `main` and I have the fix for #1267 merged. So I should not see any errors.

[code]

I then tried to temporarily patch out the existing error and to recreate the issue from

[2022-11-05 12:16] #313 closed

[2022-11-06 10:00] blumamir opened #1271 "rename types.ts to config.ts?"
In #1251 I separated the instrumentation types into 2 files called: `types.ts` (for public types) and `internal-types.ts` (for private-types), and documented the convention in `GUIDELINES.md`.

However, after working on this lately, I now realize that the `types.ts` file only contains the instrumentation config and related types.

I want to suggest renaming the files to
`config.ts`
for the public

[2022-11-06 11:27] osherv commented on #1271
I think it makes sense. I cannot think of types we're using that will not fall under these two categories.

[2022-11-06 19:17] ildella commented on #1249
I got both your fork and it works, even in master.
I also pulled latest master from main repo and it also work there now.

[2022-11-07 14:06] NPellet opened #1273 "Non-spec / AWS Lambda Detector / Add escape hatch for synchronous resource detection"
### Is your feature request related to a problem? Please describe

- We want to get telemetry running for our AWS Lambdas.
- If resource detection is asynchronous, then:
  - So should the SDK initialization
  - Can't run the initialization with node -r (otherwise setup might not be done before the lambda has actually run)
  - Has to change application code (I have hundreds and hundreds of lambdas.

[2022-11-07 20:14] Flarna commented on #1273
As alternative you could use `@opentelemetry/sdk-trace-node` instead `@opentelemetry/sdk-node`.

It's a lower layer part of SDK for traces only used internally by NodeSDK and requires a bit more lines to write to set it up. For example you have to provide `Resource` as config. But this has exactly the advantage that you can do your sync resource detection and then create the NodeTracerProvider,...

[2022-11-07 20:22] Flarna commented on #1273
There was some discussion about sync resource detection: https://github.com/open-telemetry/opentelemetry-js/issues/3055
And also a PR which looked quite promising as far as I remember: https://github.com/open-telemetry/opentelemetry-js/pull/2933

but both were closed by the stale bot...

[2022-11-07 20:25] NPellet commented on #1273
Well it's what I do, e.g. for EKS

[code]

That's the whole point isn't it ? I want to get rid of the ```detectResources``` and only use a synchronous call, like such:

[code]

I've been through all those stales issues. I didn't necessarily want to get into that topic so I thought, at least for AWS Lambdas there's no need to solve the underlying issue before getting it to work...

[2022-11-07 20:36] Flarna commented on #1273
Ah well sorry. Forgot that's already the detectors API which is async in all cases. I thought that it's the NodeSDK which introduces the  async part in some case.

But actually running the `AwsLambdaDetector` via `-r` should work. I know it's async but there is no network request or similar which lets the event loop reach idle - it's just a microtask. I'm quite sure it will finish before your hand

[2022-11-07 21:17] Flarna commented on #1273
The async resource detection is one of the pain points left to be solved. OTel spec requires resource to be immutable so detection needs to be done before the first span is started as resource is a config of the TracerProvider.
Some detectors are really async as they do HTTP request. They "infected" all other detectors by using a common API.

See above linked issue/PR for more details, in depth di

[2022-11-07 21:23] NPellet commented on #1273
Yes well we are actually extensions to load the dependent packages and to provide ```-r``` cli flag via `NODE_OPTIONS`

But you may be right, I will check if a true async would be possible. So far we've only used external extensions, where this wouldn't apply. But perhaps internal ones... I'll investigate.

[2022-11-08 12:02] stefee opened #1275 "FastifyDeprecation: Request#context property access is deprecated. Please use "Request#routeConfig" or "Request#routeSchema" instead for accessing Route settings. The "Request#context" will be removed in `fastify@5`."
### What version of OpenTelemetry are you using?

`@opentelemetry/instrumentation-fastify@0.30.1`

### What version of Node are you using?

`v16.14.2`

### What did you do?

Node auto instrumentation on a Fastify application

### What did you expect to see?

No deprecation notices

### What did you see instead?

[code]

### Additional context

Request `.context` is used here:

https://github.com/o

[2022-11-08 21:22] NPellet commented on #1273
It's me again !
Surprisingly, what we thought didn't work.

Given the following code:
[code]

I get:

<html>
<body>

  | 2022-11-08T20:09:24.870+01:00 | 2022-11-08T19:09:24.870Z undefined WARN @opentelemetry/instrumentation-aws-lambda Module /var/task/getAssetsEndpoint.js has been loaded before @opentelemetry/instrumentation-aws-lambda so it might not work, please initialize it before requiring /v

[2022-11-08 21:27] NPellet commented on #1273
And on a sidenote, discussing lambda extensions, it sounded good but doesn't work as well.
Given an internal extension (runtime modification), I thought it would be possible to run:

[code]

(Obviously) it doesn't work because the process (the first call to the node executable) finishes and all libraries unload. This was stupid of me to try.

Instead, what is needed is:

[code]

Which is just the

[2022-11-08 21:49] NPellet commented on #1273
Waw that's very interesting:

[code]

[code]

[code]

[2022-11-09 07:14] blumamir commented on #1266
@dotboris Thanks again for submitting PRs with fixes and doing the research on the eslint rule.

The original issue is fixed in #1267 and #1268

[2022-11-09 07:14] #1266 closed

[2022-11-09 11:36] Flarna commented on #1273
Sees your ran into https://github.com/open-telemetry/opentelemetry-js/issues/3146. Unfortunately NodeSDK instantiates instrumentations late these days... Workaround is to move this part into the sync startup path instead delegating this task to NodeSDK.

Regarding extensions I was thinking about one implemented in JS. So your JS code registers as internal extension and says done once SDK startup i

[2022-11-09 11:49] NPellet commented on #1273
I absolutely agree. But basically all of this is to justify the associated PR.

In javascript, the internal extension could do something like

[code]

I could certainly do that, but it requires processing the CLI flags in bash (which is doable of course) and reuse them to launch the opentelemetry wrapper.

But I'm not sure how brittle this approach would be.

[2022-11-09 18:21] eduardborges opened #1277 "SQS auto-instrumentation not working"
I instrumented my NodeJS application using some of the auto-instrumentation libraries. I have multiple services publishing and consuming from Amazon SQS. I do not see any traces of the SQS messages, only HTTP calls to the SQS endpoint. I am not using message batches for SQS.
Reading the [SQS documentation](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/openteleme

[2022-11-10 15:42] osherv commented on #1262
You can assign this to me :)

[2022-11-11 19:32] TeamworkGuy2 opened #1282 "[build][error] 'npm install' on freshly cloned opentelemetry-js-contrib fails"
- [x] This only affects the JavaScript OpenTelemetry library

## Summary:
I would like to contribute to this repo so as a first step I started following the [instructions here](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples) to port the memcached example from `examples/` to the correct plugin directory.
I forked and cloned the project and attempted `npm install` whic

[2022-11-11 23:26] AskAlice opened #1283 "instrumentation-fastify's docs don't match the latest release on npm"
A release wasn't cut for the requestHook functionality, so the docs are misleading, especially since there is no experimental package on npm that supports this either.
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

[2022-11-14 14:13] mhassan1 opened #1285 "`@opentelemetry/instrumentation-aws-lambda` is not compatible with `@opentelemetry/instrumentation@^0.34.0`"
- [X] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

In https://github.com/open-telemetry/opentelemetry-js/pull/3161, we started passing `null` to `require-in-the-middle` (RITM), which allows us to intercept all `require` calls with a single RITM instance; however, when `null` is passed, RITM no longer inte

[2022-11-14 19:07] dyladan commented on #1285
We knew this when we updated the instrumentation. The lambda instrumentation will probably have to switch to using require-in-the-middle directly

[2022-11-14 19:08] NPellet opened #1287 "AWS Lambda Instrumentation: Consider allowing shimmer to fail monkeypatching"
- [x] This only affects the JavaScript OpenTelemetry library

The problem is a well-known one. There are cases where shimmer fails to patch a function. This can happen when, for example, the lambda handler is compiled with esbuild and using an immutable ESM export `export const handler = function() {}` transpiled to CJS.

I believe we should try/catch the shimmer wrap function here https://github.

[2022-11-14 19:15] Flarna commented on #1285
fyi @willarmiros

[2022-11-14 22:11] luke6Lh43 opened #1288 "[@opentelemetry/instrumentation-redis-4] The db.redis.database_index argument is not being send to OpenTelemetry collector"
### What version of OpenTelemetry are you using?

InstrumentationScope @opentelemetry/instrumentation-redis-4 0.33.0

### What version of Node are you using?

v16.18.0

### What did you do?

This issue is related to another one which I opened in python repository [link](https://github.com/open-telemetry/opentelemetry-python-contrib/issues/1395) I've been recently playing with OpenTelemetry for Nod

[2022-11-16 13:48] SimenB commented on #1283
It'll be included when #1269 lands

[2022-11-16 14:32] arbiv commented on #1237
The relevant configuration value in Postgres is [enhancedDatabaseReporting](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/opentelemetry-instrumentation-pg/src/types.ts#L30)

[2022-11-16 14:43] Flarna commented on #1285
Should we rate this as bug? If instrumentations require different versions of `@opentelemetry/instrumentation` every user of `@opentelemetry/auto-instrumentations-node` gets two instances of it.

[2022-11-16 17:20] dyladan commented on #1288
When this is handled it should be applied to both redis instrumentations

[2022-11-16 21:22] luke6Lh43 commented on #1288
@dyladan do you mean redis and redis-4, right? Are you ok for me to open PR fot this enhancement?

[2022-11-16 21:22] luke6Lh43 commented on #1288
@dyladan do you mean redis and redis-4, right? Are you ok for me to open PR fot this enhancement?

[2022-11-16 21:22] dyladan commented on #1288
Yes and yes 😀

[2022-11-17 14:50] NPellet commented on #999
@willarmiros

In case the lambda is triggered from the Gateway API, should the span status be set to Status.Error if the lambda is returning a statusCode != 2XX ? (See https://docs.aws.amazon.com/apigateway/latest/developerguide/handle-errors-in-lambda-integration.html)

We have Sentry that's catching our thrown exceptions and returning a proper 500, but in that case, the lambda itself doesn't rea

[2022-11-18 10:15] InsidersByte opened #1293 "@opentelemetry/instrumentation-graphql@0.33.0 release failed"
The pipeline to release @opentelemetry/instrumentation-graphql@0.33.0 failed https://github.com/open-telemetry/opentelemetry-js-contrib/actions/runs/3482104051/jobs/5824030580

[2022-11-18 17:56] daniel-white commented on #1106
would love to see the GC metrics, something along the lines of https://github.com/SimenB/node-prometheus-gc-stats

[2022-11-18 21:13] mhassan1 commented on #1293
Error: release-please failed: Server Error

@dyladan It seems like that URL is incorrect; shouldn't it be plural `/issues/1269` instead of singular `/issue/1269`?

[2022-11-20 12:53] haddasbronfman opened #1294 "feat(redis & redis-4): only serialize command name in db.statement attribute"
### What did you do?
I used the redis instrumentation

### What did you expect to see?
I expected to see the arguments of my command. e.g. `hset map1 key1 value1`

### What did you see instead?
I saw only the name of the command. e.g. `hset`

### Additional context
This issue was already solved for ioredis [here](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1052), I want to solv

[2022-11-20 12:55] haddasbronfman commented on #1294
Can you please assign this to me? thanks.

[2022-11-21 21:25] mhassan1 commented on #1293
It looks like the release has been done manually by @dyladan. I am seeing those packages have been published earlier today.

[2022-11-21 22:25] dyladan commented on #1293
Yep. Leaving the issue open while I work on a better fix than manually releasing

[2022-11-21 22:25] dyladan commented on #1293
Earlier today? Should have been Friday

[2022-11-21 22:44] mhassan1 commented on #1293
Oops, yes, Friday ☝️.

[2022-11-24 02:35] blumamir commented on #1288
Also, need to be added to `@opentelemetry/instrumentation-ioredis`. Could be done in separate PRs

[2022-11-25 05:49] TusharShahi commented on #548
I am also facing this

[2022-11-25 09:27] SimenB opened #1304 "Set OTel trace id to request ID in Fastify"
### Is your feature request related to a problem? Please describe

We currently try to set fastify's request ID from the active OTel span, like so

[code]

This works great if the incoming request had the tracing headers as there is an active span.

However, this means that if there is no active span (i.e. the incoming request didn't have the tracing header) we'll end up generating a request ID wh

[2022-11-25 09:37] Flarna commented on #1304
I wonder why the presence of a span depends on the incoming tracing headers. It's perfectly fine if a server gets a request from someone who is not monitored by OTel and therefore not trace headers are present.

in this case http instrumentation should still create a span but this span has no parent.

[2022-11-25 10:43] SimenB commented on #1304
I think this function is called before the instrumentation kicks in, perhaps?

[2022-11-25 10:52] Flarna commented on #1304
That's unlikely as the http instrumentation wraps the request handler.
And if it would kick in before the instrumentation then there would be never a span even if trace headers are present.

Could you share a reproducer?

[2022-11-25 11:24] SimenB commented on #1304
Oh, of course. My issue was that we passed `requestIdHeader: 'some-header'` to fastify, and it skipped `genReqId` if that header was there. Should have put out those breakpoints before opening an issue. My bad! 🤦

[2022-11-25 11:24] #1304 closed

[2022-11-25 23:43] weyert opened #1305 "@opentelemetry/instrumentation-fs` fails to wrap fs promises"
### What version of OpenTelemetry are you using?

### What version of Node are you using?
18.12.1

### What did you do?
I installed Opentelemetry and use the auto-instrumentation meta package via `node-sdk` to instrument my node backend application but when starting up the application thrown a runtime error

### What did you expect to see?
Successfully running my backend application without throwi

[2022-11-26 12:10] Flarna commented on #1305
Which ohter modules have you loaded in your app? In special that ones loaded before the instrumentation would be insteresting.

Or can you even share a stripped down reproducer?

[2022-11-28 08:44] svrnm commented on #1173
Closed via #1181

[2022-11-28 08:44] #1173 closed

[2022-11-28 18:11] bryanchriswhite commented on #1305
I'm experiencing what appears to be the same error in a NestJS environment. Likewise, I'm trying to use auto-instrumentations in node:

[code]

For context, the codebase I'm attempting to add instrumentation to is now one I'm very familiar with. I had previously successfully attempted this same thing in another nestjs codebase (of similar size and complexity and with code in common) recently and d

[2022-11-28 23:09] modosc commented on #1305
using node 18.12.0 i see the issue with `@opentelemetry/auto-instrumentations-node@npm:^0.35.0` but reverting to `@opentelemetry/auto-instrumentations-node@npm:^0.34.0` fixes it

[2022-11-29 02:47] icco commented on #1285
This is blocking our upgrade to 1.8.0 and 0.34. Do we have a sense of the amount of work this would take?

[2022-11-29 07:51] NPellet opened #1311 "AWS EventBridge, Lambda, SDK and X-Ray: propagation issues"
I'm guessing this question is for somebody working on X-Ray rather than otel.

### What version of OpenTelemetry are you using?

1.2.0

### What version of Node are you using?

19

### What did you do?

Trying to send the following payload through the event bridge
[code]
The TraceHeader is generated manually from the X-Ray generator.

The target lambda trigger receives indeed a header:
[code]

Whe

[2022-11-29 08:37] bryanchriswhite commented on #1305
Nice one @modosc - that resolved it for me as well!

[2022-11-29 09:56] Flarna commented on #1305
Created https://github.com/open-telemetry/opentelemetry-js/issues/3448 which includes a simple reproducer and some hints where the problem is located.
replacing any occurrence of `require("fs/promises")` is a workaround but most likely hard to do as this is spread across a lot npm modules.

[2022-11-29 11:10] Flarna commented on #1285
I changed the label from discussion to bug.

We might consider to remove `@opentelemetry/instrumentation-aws-lambda` from `@opentelemetry/auto-instrumentations-node` to unblock users to upgrade.

[2022-11-29 11:21] akwodkiewicz opened #3384 "fs instrumentation not working correctly with TypeScript path aliases"
### What happened?

## Steps to Reproduce

A typescript app repository with `tsconfig.json` including `paths`, for example:

[code]
## Expected Result
Tracing works correctly

## Actual Result

Tracing contains mostly `fs.existsSync` and `fs.statSync` entries, many of them are errors. See
<img width="1142" alt="image" src="https://user-images.githubusercontent.com/22861194/204511584-3cb3a2a9-7f8a-

[2022-11-29 17:01] Flarna opened #1313 "@opentelemetry/instrumentation-fs is not instrumenting in case require("fs/promises") is used"
### What version of OpenTelemetry are you using?

`@opentelemetry/instrumentation-fs` 0.5.1

Note that latest version 0.6.0 crashes in this case (see https://github.com/open-telemetry/opentelemetry-js/issues/3448).

### What version of Node are you using?

18.12.1

### What did you do?

[code]

### What did you expect to see?

fs promise APIs should be instrumented

### What did you see instead?

[2022-11-29 17:19] mhassan1 commented on #1285
Just for my understanding, why does this prevent users from upgrading? `@opentelemetry/instrumentation-aws-lambda@0.34.0` has a peer dependency on `@opentelemetry/api@^1.3.0`, which will be satisfied by `@opentelemetry/api@^1.8.0`, and a dependency on `@opentelemetry/instrumentation@^0.32.0`. The only downside I see is that there will need to be two versions of `@opentelemetry/instrumentation` at

[2022-11-29 17:32] Aneurysm9 commented on #1285
@Flarna can you help me understand the work required to fix this durably?  I'm happy to help out and do the work, but I'm not familiar with RITM or how it's used here.

[2022-11-29 17:37] mhassan1 commented on #1285
@Aneurysm9 I am working on a pull request now.

[2022-11-29 21:15] dyladan commented on #1285
I'm not sure I understand what the bug is? The user may get 2 versions of require in the middle but both would work fine. There would just be 2 wraps on require which would have a minor performance impact still much better than the 1 wrap per instrumentation we had before.

[2022-11-29 21:56] arnoreyvar opened #1315 "@opentelemetry/instrumentation-fs: Node service crashes when 'native' function property is used"
### What version of OpenTelemetry are you using?
API | Stable Packages | Experimental Packages
-- | -- | --
1.3.x | 1.8.x | 0.34.x

### What version of Node are you using?
16.18.1

### What did you do?
Updated OTel dependencies this included the addition of instrumentation-fs. The service instrumented is using node auto instrumentation with all enabled.
The service imports [fs-extra@10.0.1 ](https

[2022-11-29 22:29] icco commented on #1285
@mhassan1 mostly out of caution. In the past, whenever we've seen multiple versions of opentelemetry packages we've seen issues where all observability disappears.

[2022-11-30 15:28] mhassan1 commented on #1285
@dyladan Here are two possible resolutions to this issue:

In `@opentelemetry/instrumentation`, handle this scenario by creating a new instance of `require-in-the-middle`, passing the absolute path

In `@opentelemetry/instrumentation-aws-lambda`, instrument code using another method, e.g. use `require-in-the-middle` directly, or patch the code directly

I think the first option is cleaner, since i

[2022-11-30 15:30] dyladan commented on #1285
I agree the first option is cleaner

[2022-11-30 16:10] Flarna commented on #1285
Mainly based on the comment from @icco that it blocks updates.

I agree that having two instances of `@opentelemetry/instrumentation` should not harm. But we have seen in the past that typescript sometimes disagrees in this regard once classes are in the exported API.

I vote also for option 1.

[2022-11-30 17:02] blumamir commented on #1294
fixed in #1299

[2022-11-30 17:02] #1294 closed

[2022-11-30 17:25] dyladan commented on #1315
@Rauno56 can you take a look at this since you wrote the fs instrumentation? I think this might be caused by the instrumentation module also.

[2022-11-30 17:41] Flarna commented on #1315
I think that `fs.realpath.native` needs to be also wrapped and set on the wrapped `fs.realpath` function. Same for `realpathSync`. This is similar as https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1222 where the `promisify.custom` was wrapped away.