[2021-08-30 23:51] anuraaga commented on #647
Thanks for the dig @longility! @dyladan do you have any suggestion on how to invoke forceFlush from the instrumentation? Is there a better pattern than having to check instanceof for both BasicTracerProvider and ProxyTracerProvider?

[2021-08-31 00:00] yang commented on #645
Thanks - will dig into this and close for now!

[2021-08-31 00:00] #645 closed

[2021-08-31 05:31] Flarna commented on #647
I think we should add `forceFlush` to API and as a result avoid such unwanted dependencies between instrumentation and SDK.
But I'm not sure if this is allowed from spec.

Even with above fix you could easily end up in problems if someone implements it's own `TracerProvider` which would support `getActiveSpanProcessor()`.

[2021-08-31 14:04] mpoitras opened #650 "Add support for mysql2/promise"
When using library mysql2, instrumentation does not pickup calls made through mysql2/promise (https://www.npmjs.com/package/mysql2#using-promise-wrapper).

AFAIK, it does not look for promises require (https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/opentelemetry-instrumentation-mysql2/src/instrumentation.ts#L51), only 'mysql2'.

This is only for Node since databa

[2021-08-31 14:26] #271 closed

[2021-08-31 15:11] dyladan commented on #650
This might be as simple as intercepting the require and adding tests. As far as I know the promise wrapper uses the same internals we already patch.

[2021-08-31 16:22] longility commented on #647
Should this problem be occurring for a subset of use cases?

I didn’t customize much in regards to tracer provider and it uses the `ProxyTracerProvider`, which seem to be a common approach. However, I may be wrong. So what I’m wondering is…what is different? I am using an upgraded version. I didn’t try investigating further yet.

[2021-08-31 18:09] dyladan commented on #647
No. I tried to add a force flush to the spec a while ago but it didn't get enough support.

[2021-08-31 18:29] longility commented on #647
From my quick investigation with limited knowledge, it seems to have been `ProxyTracerProvider` for at least the past year if not from beginning.

With that said, I probably recommend getting the fix in even if it isn’t ideal. Seems critical. Not sure how come it hasn’t come up before. I don’t have enough context and history to piece this together.

[2021-08-31 18:35] dyladan commented on #647
I have 2 suggestions which would not require spec changes:

- Instead of instanceof you can just check for typeof === 'function' on the important methods
- Add a flush function configuration option, or a tracerprovider configuration option to the constructor

I know both of these aren't great solutions. I would far prefer to have a forceFlush function in the API, but that would require a spec chan

[2021-08-31 20:10] longility commented on #647
If the `BasicTracerProvider` has `.getActiveSpanProcessor()` and the `ProxyTracerProvider` does not, I'm not sure how that would work unless I'm mistaken on what you meant.

Can you elaborate on this as I was not able to follow? I'm not sure whose constructor you are referring to. `AwsLambdaInstrumentation`'s constructor, or something else?

[2021-09-01 12:31] dyladan commented on #623
Yes.

I would appreciate that

[2021-09-01 13:12] dyladan commented on #647
I was suggesting you do something very similar to the code you linked above but instead of using `instanceof` checks which sometimes fail for unexpected reasons you can check for functions. But you may decide you like instanceof checks better since they're more explicit.

[code]

I was suggesting the aws instrumentation config options be extended to have a flush option, then when it is configured

[2021-09-01 13:13] dyladan commented on #647
Honestly, I would _much_ rather have a force flush in the API as I've already said above.

[2021-09-01 13:19] Flarna commented on #647
We could avoid the binding of instrumentations to SDK by adding above flush code in `@opentelemetry/instrumentation`. This would at least avoid to re-implement above hacky stuff in several instrumentations.

[2021-09-01 13:56] longility commented on #647
While I like the approach if there are many scenarios and we want to make it easier explicit and be DRY, I’m wondering how many scenarios we have to need to force flush. Force flush in itself seems not ideal, and it just so happens that lambda may be the only special case that I can see. So maybe unless there is more need, hide the nastiness in the instrumentation that is needed. In this case, aws

[2021-09-01 14:05] Flarna commented on #647
I guess all FaaS environments would need this not just AWS lambda.
And maybe browers in case the host PC goes into suspend but in that case it's most likely no instrumentation which handles this.

[2021-09-01 15:39] longility commented on #647
@Flarna Thanks for adding details to my gap knowledge.

If that is the case and if I understand you correctly, then it would look something like this...

https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-instrumentation/src/instrumentation.ts
[code]

[2021-09-02 10:11] hermanbanken opened #651 "ExpressJS instrumentation doesn't play nice with Sampler"
I want to exclude certain routes from the ExpressJS instrumentation. However, this is made extra hard by the `updateName` usage in the instrumentation. If I look at the spans in our visualizer (Cloud Trace) the name of the span I want to exclude is "GET /health" (the Kubernetes health check), however, in the sampler the name of the span is still the name that the HTTP library instrumentation gives

[2021-09-02 10:20] Flarna commented on #651
If you want to filter the whole trace it has to start at http instrumentation - express is later.
Your sampler can check on server attributes like `HTTP_ROUTE`, `HTTP_METHOD` and maybe also `SpanKind`.

[2021-09-02 11:15] hermanbanken commented on #651
I've now adapted the filter function to look at attributes too:
[code]
which fixes the issue.

However, I think this could use some examples in the docs! This is far from trivial to figure out for new developers.

[2021-09-02 19:32] dariov1988 opened #654 "Error trying to run the react-load demo"
### What version of OpenTelemetry are you using?
0.25.0

### What version of Node are you using?
v14.16.0

### What did you do?
I made a clean clone of the project
go to: examples/react-load/react and follow the Readme instructions:
run: npm install
run: npm run docker:start (zipkin start ok)
run: npm run build (complains about opentelemetry/api but after install it the build finish successfully)

[2021-09-02 19:41] #651 closed

[2021-09-02 22:06] obecny commented on #654
just checked, the example is broken, but even though some strange thing is happening with react, can reproduce this bug

[2021-09-03 09:37] StorkZ opened #655 "Instrumentations not using active context"
Hello,
I just started with Opentelemetry and I'm not sure if I'm using auto-instrumentation correctly. The documentation is quite laconic about more complicated use cases.
In our application we have custom queening system for requests. For each request I started new span and wrapped everything with context like this:
[code]
After adding `instrumentation-mysql` and `instrumentation-redis` to the tr

[2021-09-07 03:20] wong2 opened #656 "Add koa-router instrumentation"
### Is it applicable for Node or Browser or both?

Node only

### Do you expect this instrumentation to be commonly used?
500k

[2021-09-07 17:00] Rauno56 commented on #552
Totally agree with the last post, @dyladan.
I don't see a good reason to use `test-app` as the folder name though instead of `example` - I don't think the concepts are that different.

[2021-09-07 17:58] #21 closed

[2021-09-07 18:03] #37 closed

[2021-09-15 08:16] jussikuosa commented on #654
I added this to my `web-tracer.js` setup as a workaround:

[code]

[2021-09-15 09:52] willarmiros commented on #647
@longility have you taken a crack at a PR here? If not, I might try to implement @dyladan's simpler suggestion to just do type checking on the `ProxyTracerProvider` and extract the real TracerProvider if needed. While I see that the forceFlush issue might apply to other instrumentations later, I tend to agree with @longility that we can deal with it internally in the AWS Lambda instrumentation for

[2021-09-15 12:50] longility commented on #647
@willarmiros I didn't know the direction so I didn't create a PR. I just copied in the code and made it work for us. I can send a quick PR to get things started.

[2021-09-16 19:08] chalin commented on #623
#635 renamed the package to `@opentelemetry/sdk-trace-web`, so in #664, I fixed the links accordingly.

[2021-09-20 11:49] nozik opened #672 "aws-lambda instrumentation v0.25.0 depends on v0.24.0 OTEL core/trace packages"
### What version of OpenTelemetry are you using?

aws-lambda instrumentation v0.25.0

### What version of Node are you using?

v15.12

### Please provide the code you used to setup the OpenTelemetry SDK

N/A

### What did you do?

I've imported the latest aws-lambda instrumentation into my code and noticed this inconsistency, see [here](https://github.com/open-telemetry/opentelemetry-js-contrib/bl

[2021-09-21 12:47] mhennoch opened #668 "Instrumentation for capturing resource loads after load event"
Currently [document-load](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/web/opentelemetry-instrumentation-document-load) instrumentation captures resources(images, scripts etc. ) when load event fires. Everything happening after that moment is not captured. One example where this could be useful is pages with infinite scrolling eg. twitter where images etc. are loade

[2021-09-21 12:55] obecny commented on #668
yes - create new plugin, don't try to squeeze too many edge cases into this plugin. The plugin name is document load and I think it does exactly what the name stands for.

[2021-09-21 20:54] #647 closed

[2021-09-22 21:31] dyladan commented on #672
This is fixed

[2021-09-22 21:31] #672 closed

[2021-09-23 03:51] emmansun opened #673 "Can't find https://www.npmjs.com/package/@opentelemetry/exporter-otlp-grpc"
Can't install @opentelemetry/exporter-otlp-grpc  from https://www.npmjs.com/package/@opentelemetry/exporter-otlp-grpc

[2021-09-23 08:27] vmarchaud commented on #673
We just renamed it and waiting to release it, you can use https://npmjs.com/package/@opentelemetry/exporter-collector-grpc in the mean time.

[2021-09-23 08:27] #673 closed

[2021-09-26 02:43] danshapir opened #676 "opentelemetry-instrumentation-nestjs-core - kills the ability to define interceptors on the handler level"
### What version of OpenTelemetry are you using?
0.25

### What version of Node are you using?
16

### What did you do?

Adding the opentelemetry-instrumentation-nestjs-core creates a scenario where using the
@UseInterceptors(WHAT_EVER) on the handler level (meaning a method), doesn't work! Those were 11 hours of evil debugging.

### What did you expect to see?

### What did you see instead?

###

[2021-09-28 16:32] mooyoul opened #679 "aws-lambda: handler never wrapped with directory index handler"
### What version of OpenTelemetry are you using?
- @opentelemetry/api - 1.0.3
- @opentelemetry/instrumentation - 0.25.0
- @opentelemetry/sdk-node - 0.25.0
- @opentelemetry/instrumentation-aws-lambda - 0.26.0

### What version of Node are you using?

Lambda Node.js Runtime (Currently Node.js v14.17.4)

### What did you do?

Use directory index as handler location

### What did you expect to see?

H

[2021-09-28 16:37] mooyoul commented on #679
Ping @willarmiros @NathanielRN

[2021-09-28 17:11] willarmiros commented on #679
Can you point to where in the instrumentation code this resolution is occurring? I think `require.resolve` makes sense to me as long as it doesn't break existing behavior.

Also just want to confirm, this wasn't a regression correct? E.g. not a new behavior with instrumentation v0.26.0?

[2021-09-28 17:39] mooyoul commented on #679
Hello @willarmiros, Thank you for quick response!

Here it is: https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts#L99-L104

Agree. Module resolution is quite complex (See this pseudo code: https://nodejs.org/api/modules.html#modules_all_together)

One caveats with this is that `require.resolve` will thro

[2021-09-28 19:53] mustafain117 commented on #624
I noticed that the `IORedisInstrumentation` does not override the base `setConfig` function. Using an instance of ioredis instrumentation, `setConfig` can only be called with parameters of the type `InstrumentationConfig` instead of type `IORedisInstrumentationConfig` to update the config. Does the scope of this issue include accepting `IORedisInstrumentationConfig` parameter type in setConfig?

[2021-09-29 08:52] blumamir commented on #624
I support fixing this too as part of this issue. That is: override the `setConfig` in the instrumentation with the correct type.
Would you like to create a PR for that?

[2021-09-29 09:05] Flarna commented on #624
`IORedisInstrumentationConfig` extends `InstrumentationConfig` therefore it should fit into the base class `setConfig()`.

Actually it's `getConfig` which is more problematic as it returns only an `InstrumentationConfig` instead `IORedisInstrumentationConfig`.
But this is already tracked: https://github.com/open-telemetry/opentelemetry-js/issues/2258
Maybe also relevant/related: https://github.com

[2021-09-29 12:33] Flarna opened #680 "npm run compile fails on windows"
### What version of OpenTelemetry are you using?

Latest main

### What version of Node are you using?

14.18.0

### What did you do?

`npm install` which triggers `npm run compile`

### What did you expect to see?

success compilation

### What did you see instead?

compilation failed with `ERR! lerna Unknown arguments: pkg, get, name)`

### Additional context

Seems to be caused by #659 which ad

[2021-09-29 12:34] dyladan commented on #680
Maybe we should replace it with a node script in scripts

[2021-09-29 12:42] Flarna commented on #680
Or we just copy paste them module name.

[2021-09-29 13:35] dyladan commented on #680
https://github.com/open-telemetry/opentelemetry-js-contrib/pull/681

[2021-09-29 19:12] #680 closed

[2021-09-30 05:58] eharaj1 opened #683 "Hi, I am not able to trace the mongodb in opentelemetry"
I have integrated OpenTelemetry in Nestjs with Jaeger and it's working fine, but i am not able to trace the MongoDB interaction.
I am using below code

[code]

I tried without MongoDB instrument also

[code]

[2021-09-30 06:28] mooyoul commented on #679
I would like to share results:

Passing "resolved file path" as name of `InstrumentationNodeModuleDefinition` fixes this issue. also modifying name of `InstrumentationNodeModuleFile ` is required. because if handler is directory index, actual module name will be `index`.

but there's another issue: https://github.com/open-telemetry/opentelemetry-js/pull/2450 is not available in current stable rele

[2021-09-30 06:30] Flarna commented on #683
Which version of mongodb do you use?

[2021-09-30 07:02] eharaj1 commented on #683
@Flarna Thanks for message. I am using Mongo 5.0.3 in docker

[2021-09-30 07:06] Flarna commented on #683
@eharaj1 The latest version of mongodb according to https://www.npmjs.com/package/mongodb is 4.1.2

But the instrumentation only supports `>=3.3 <4` as of now

[2021-09-30 07:12] eharaj1 commented on #683
@Flarna I am running mongodb in docker container and there is showing mongo shell version 5.0.3 and mongo server version 5.0.3

[2021-09-30 07:29] eharaj1 commented on #683
@flands, sorry you meant mongodb version in nodejs, Yes i am using mongodb 4.1.1

[2021-09-30 08:03] eharaj1 commented on #683
@Flarna Now also tried mongodb 3.7.1 version but not getting the trace.

[2021-09-30 08:09] Flarna commented on #683
Have you tried to additionally use `@opentelemetry/instrumentation-nestjs-core` as you wrote that you use NestJs?
Most likely there is some context loss somewhere in your application.
If possible provide a short reproducer here otherwise it's quite hard to debug this.

[2021-09-30 08:39] eharaj1 commented on #683
@Flarna I tried `@opentelemetry/instrumentation-nestjs-core`  and from this Jaeger not showing the service, below is the code which i tried.

[code]
But when i tried below code i am getting the trace of service on Jaeger but only the issue is not getting trace of mongodb interaction

[code]

[2021-09-30 08:57] Flarna commented on #683
In your code snippets no mongodb operations are done. You just show how you initialize OTel.
Mongodb instrumentation works for sure in other scenarios. Therefore the culprit is somewhere in the way how your application uses OTel + mongodb + nestjs (and maybe more).

A reproducer which actually uses mongodb would be helpful for others to start debugging.

[2021-09-30 09:37] eharaj1 commented on #683
@Flarna Ok let me share the whole code,

tracing.ts
[code]

main.ts

[code]

app.module.ts

[code]

cats.module.ts

[code]

cats.controller.ts

[code]
cats.service.ts

[code]

I hope this is enough to reproduce and check the code.

[2021-09-30 12:26] dyladan commented on #679
Experimental will be released immediately after stable. The reason is that there may be changes in the stable packages which need to be incorporated in the experimental packages.

[2021-09-30 13:03] dyladan commented on #679
https://github.com/open-telemetry/opentelemetry-js/pull/2512

[2021-10-02 20:07] kirpichenko opened #686 "Is it possible to disable pg-pool instrumentation?"
Hi! We just started using opentelemetry in our Node.js applications and opentelemetry-instrumentation-pg is one of the instrumentation packages. In addition to DB queries we get `pg-pool.connect` spans which are not really useful for us now. I'm wondered if it's possible to disable pg-pool instrumentation?

[2021-10-03 14:25] vmarchaud commented on #683
You should import the tracing sdk before any other module, could you move up the tracing require before nest ?

[2021-10-04 06:22] eharaj1 commented on #683
@vmarchaud Can you share the sequence of importing the module with example, It would be better to understand the sequence.

[2021-10-04 06:28] Flarna commented on #683
in main.ts instead
[code]
try
[code]

[2021-10-04 06:52] eharaj1 commented on #683
Hi,

I tried this above sequence and still the same issue also in this case service name is getting undefined on Jaeger panel.

[2021-10-04 07:57] andreatosato opened #687 "Add hacktoberfest2021 tag"
Add hacktoberfest tag

[2021-10-05 04:14] eharaj1 commented on #683
Hi Team,

Please assist me on this, I am stuck from last few days.

[2021-10-05 06:47] aspectom commented on #581
Sorry for disappearing, didn't have time to get to this. I'm unassigning myself for now, if I'll have a chance to do before someone else takes it i'll reassign.

[2021-10-08 00:59] nwalters512 opened #692 "Recommendations for instrumenting async Express middleware/routers"
The docs for `@opentelemetry/instrumentation-express` point out an important caveat of using it:

However, it doesn't make any recommendations for what one could do to implement proper traces for async middleware. It'd be very helpful to see an "official" stance/example/recommendation for this.

Somewhat relatedly, the Express example at https://github.com/open-telemetry/opentelemetry-js-contrib/b

[2021-10-08 11:03] gregz07 opened #693 "Express instrumentation request body"
Using @opentelemetry/instrumentation-express any reason I can't the request body in the logs ? Since I'm including the middleware for body parsing.

[2021-10-08 11:36] gregz07 commented on #693
Thanks for the quick feedback. Can you give me any pointers on how to achieve it then ? Examples on span creation maybe.

[2021-10-08 12:58] Flarna commented on #693
@gregz07 Could you describe a bit more what you want to archive? Creating a span and putting the request body into an attribute doesn't sound right to me. spans should describe operations, not duplicate data. span attributes are usually limited in size but a request body can have several mega bytes.

Regarding span creation see e.g.
https://github.com/open-telemetry/opentelemetry-js-api/blob/main/

[2021-10-08 13:02] gregz07 commented on #693
Yes of course, my requirements are to log the request/response body of HttpRequests. I have done that with a simple piece of middleware inside Express. But I have to start using open telemetry, but I can't seem to find examples on how to include this information inside the given logs.

[2021-10-08 13:12] gregz07 commented on #693
But since it offers other important information as the status code of the requests, is it so out-of-context to ask for the body data ? Why is the line drawn there ?

Again, thank you for your input.

[2021-10-08 14:32] gregz07 commented on #693
Hum ok I see where you are coming from now. Thanks for ur insight, I appreciate it.

[2021-10-08 14:32] #693 closed

[2021-10-15 07:45] austonpramodh commented on #676
I see that metadata assigned with the decorator also gets messed up.

[code]

if I have `Public()` on a handler, `this.reflector.get<boolean>(isPublicMetaDataKey, context.getHandler());` doesn't get the value.

[2021-10-15 07:48] austonpramodh commented on #633
I see that metadata assigned with the decorator also gets messed up.

[code]

if I have `Public()` on a handler, `this.reflector.get<boolean>(isPublicMetaDataKey, context.getHandler());` doesn't get the value.

[2021-10-15 13:44] #624 closed

[2021-10-17 11:14] mooyoul opened #703 "aws-lambda: Add attributes to identify cold start and lambda runtime container"
### Is your feature request related to a problem? Please describe

Currently, There are no attributes to indicate given lambda invocation was cold-started, or not.
(Semantic Attributes exposed this as `FAAS_COLDSTART` btw)

Also, Sometimes i need to know which "lambda container" handled given invocation.
For example, If there was problematic lambda runtime which has broken pipes (or sockets, etc.)

[2021-10-17 23:32] willarmiros commented on #703
There is no `faas.coldstart` attribute defined in the [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/resource/semantic_conventions/faas.md), but I think it would be useful to many people. I think you could propose adding it to the spec first, and if accepted I would be in favor of recording it in the Lambda resource detector as you proposed.

For FAAS_

[2021-10-18 14:55] Sytten opened #705 "Graphql should add operation name and hash in span"
### Is your feature request related to a problem? Please describe

Currently the name of the operation and the hash are not provided in the attributes of the span. It just prints `query`, which is not even the operation name but the operation type. This makes it very difficult to find a given operation in all the traces.

### Describe the solution you'd like to see

By default the operation name s

[2021-10-19 13:07] blumamir opened #707 "Discussion(instrumentation-aws-sdk): SQS receive according to semantic conventions"
This issue is to document the implementation of aws SQS receive operation according to the current semantic conventions for messaging systems (Oct 2021). there is an active SIG working on messaging systems specification which will probably change the specification and how to handle these situations when it's not possible to accurately extract perfect context.

### receiveMessage

- [Messaging Attr

[2021-10-21 03:23] nwalters512 opened #708 "resource-detector-aws times out while acquiring token"
### What version of OpenTelemetry are you using?

* `@opentelemetry/sdk-node@0.26.0`
* `@opentelemetry/resource-detector-aws@0.24.0`

### What version of Node are you using?

v14.15.4

### What did you do?

I'm using the Node SDK with automatic resource detection.

### What did you expect to see?

I expect to see my spans tagged with my AWS EC2 information (`cloud.*`, etc.).

### What did you see

[2021-10-28 17:09] chethan-devopsnow opened #717 "React Example project is not working"
### What version of OpenTelemetry are you using?
"@opentelemetry/context-zone": "^0.25.0",
"@opentelemetry/core": "^0.25.0",
"@opentelemetry/exporter-collector": "^0.25.0",
"@opentelemetry/plugin-react-load": "^0.23.0",
"@opentelemetry/sdk-trace-base": "^0.25.0",
"@opentelemetry/sdk-trace-web": "^0.25.0",
"react": "^16.13.1",
"react-dom": "^16.13.1",
"react-router-dom": "^5.2.0",
"react-scripts":

[2021-10-31 23:38] willarmiros commented on #708
@vmarchaud I assume the resource detectors operate asynchronously right? If so, I'm fine with increasing the timeout to 5000ms, but obviously would be more hesitant if it's blocking.

[2021-11-01 10:18] vmarchaud commented on #708
@willarmiros By the spec they need to be async (some sync exists but are from community), increasing the timeout will fix the specific issue however i'm not sure why the first request is slower than subsequent one ?

[2021-11-01 10:18] vmarchaud commented on #605
This has been implemented so i guess we can close it

[2021-11-01 10:18] #605 closed

[2021-11-01 13:44] dyladan commented on #708
There is actually no spec saying they should be sync or async. We have implemented our async and honestly I regret it a little bit, but its too late now.

[2021-11-01 16:33] willarmiros commented on #708
Hmm that is interesting. I would say then increasing the timeout would make sense if it's async and there are no plans to change that.

@vmarchaud The first request is to get a token from the EC2 instance metadata service, and subsequent requests use that token to actually retrieve the metadata. I don't know too much about how that works under the hood, but it does make sense for there to be a dis

[2021-11-01 16:35] dyladan commented on #708
There are no plans to change the async nature. Now that the trace SDK is at 1.0 I think it would be difficult to change the resource detector interface. I might consider adding a `SyncResourceDetector` interface or something though in order to simplify startup (many use-cases don't make use of async resources and it complicates startup).

[2021-11-01 16:38] alexdrans commented on #650
@mpoitras Did you make any progress on instrumenting mysql2?

[2021-11-01 18:57] #708 closed

[2021-11-02 06:16] YanivD commented on #683
@eharaj1
I don't know why you don't get mongo spans.
I just want to mention you might be able to use the [mongoose instrumentation](https://www.npmjs.com/package/opentelemetry-instrumentation-mongoose).

[2021-11-07 15:54] Arbiv commented on #396
PR opened, ready for reivew

[2021-11-08 03:27] knvpk opened #729 "Express instrumentation in Lambda"
### Is your feature request related to a problem? Please describe

My setup includes deploying the express js in lambda and using this package https://github.com/dougmoscrop/serverless-http/, it is working fine,,, but some how the express instrumentation is not patching the express app if it is not using the "app.listen" method because it uses the package i mentioned. Is there a way to patch expre

[2021-11-08 10:08] vmarchaud commented on #535
I'll go ahead and close this one since its not linked with graphql per-se and we already have a ticket that track the problem

[2021-11-08 10:08] #535 closed

[2021-11-08 23:06] bradfrosty commented on #548
I am also seeing this behavior, with and without zone.js. Would it be possible to add a filter feature, or some way to collate event bubbling?

[2021-11-09 19:06] carlosalberto opened #730 "Define more concise operation names for http operations"
Instrumentation (for Node specifically) is generating spans for http operations with names that are too generic, such as `HTTP GET` or `HTTP DELETE`.

Based [on the Specification](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#span), more specific names should be used, such as `get_account`.

Sounds like a relatively small change, overall (once t

[2021-11-09 19:07] carlosalberto commented on #730
Maybe this is something that @obecny can do once we come to an agreement?

[2021-11-09 19:07] dyladan commented on #730
This is not really possible to do with just the HTTP instrumentation. If you are using a supported framework like express or fastify, the instrumentation changes the name of the HTTP span to something more meaningful already.

[2021-11-09 22:34] bradfrosty commented on #548
I looked into this more today and discovered some more information. Within `patchZoneRunTask`, it seems that the User Interaction Instrumentation is creating a new zone each time `_patchZoneRunTask()` is invoked. In my case, this ends up creating several spans that aren't very useful with durations on the order of microseconds.

I believe it would be more useful if it tracked a recently ran zone (

[2021-11-09 23:14] dyladan commented on #548
@obecny maybe you can take a peek at this?

[2021-11-10 03:05] knvpk commented on #729
ping @dyladan

[2021-11-10 13:09] dyladan commented on #729
I'm not familiar enough with serverless-http to say if this is simple or not. Most likely you would have to create an instrumentation for that package, which may be simple or may be a lot of work.

[2021-11-10 14:06] dyladan commented on #548
What do you mean the instrumentation is creating a new zone? Do you mean it is calling `context.with` or that it is actually interacting directly with zones? Or that it simply does something which causes a zone to be automatically created?

Can you give a concrete example of what that would look like?

[2021-11-10 20:04] bradfrosty commented on #548
I mean that it is calling context.with() for each individual listener, regardless of if they share the same event target. There is no approximation to share the zone (and subsequently the span/span context) for a single user interaction. Basically, the user interaction is not treated as one interaction. It is effectively treated as many user interactions: one unique interaction for each listener o

[2021-11-10 20:08] bradfrosty commented on #548
I was actually able to get the above solution working with local modifications to the user interaction instrumentation, and am now seeing much more high quality span data. However, I have not tested it using the default context manager yet. Happy to work with you or @obecny to contribute it.

I'm not sure if this would be considered a bug fix, in the case that consumers find the current behavior d

[2021-11-10 20:21] bradfrosty opened #732 "Link user interaction spans to most recent navigation"
### Is your feature request related to a problem? Please describe

I would find it useful if user interaction spans were [linked](https://github.com/open-telemetry/opentelemetry-js-api/blob/41109c83a9784d689f319f2c5d953b3874c694a3/src/trace/SpanOptions.ts#L36) via the span options to the previous navigation span (including the document load). When a user interacts with the page, this would allow u

[2021-11-10 20:33] dyladan commented on #732
This would require changes in a couple of the instrumentations. First, you have to change the document load plugin to save the most recent navigation somewhere (probably context), then you would have to modify the user interaction plugin to read that context property and make use of it.

I think this is a good idea that is worth exploring. Do you think you have time to prototype something so we ca

[2021-11-10 22:27] bradfrosty commented on #548
@dyladan do you have a recommended platform for sharing a repro? I'm trying to use stackblitz, but I'm getting the error "Cannot find module perf_hooks". Looks like Stackblitz isn't recognizing the `browser` key in the package.json.

[2021-11-11 13:03] iquirino opened #733 "auto-instrumentations-node - File '../../tsconfig.base' not found."
### What version of OpenTelemetry are you using?
^0.26.0

### What version of Node are you using?
14.18.1

### What did you do?

npm install @opentelemetry/auto-instrumentations-node --save

### What did you expect to see?
Should compile without problems

### What did you see instead?
[{
	"resource": "/com.docker.devenvironments.code/node_modules/@opentelemetry/auto-instrumentations-node/tsconfig.

[2021-11-11 15:31] iquirino commented on #733
No, I just installed it on my typescript project.
I think that my eslint is getting the tsconfig.json and trying to find the tsconfig.base.
My code is working when I try to run, but my vscode show this as a problem/error.

[2021-11-11 19:28] bradfrosty commented on #548
@dyladan I was able to [get a reproducer using Stackblitz](https://stackblitz.com/edit/opentelemetry-js-template?devtoolsheight=33&file=src/app.ts).

You will see that I am unable to group these click spans. In the first part, I create four document listeners, which as you will see in the console creates four individual spans, even though it's the same interaction. This happens with React for exam

[2021-11-12 14:39] bradfrosty commented on #732
Makes sense. I imagine this could be store in the root context? If we assume that navigation always occurs as a root span, I believe this would be possible. Even though the Document Load won't actually be the root span if the traceparent meta tag is set, we can still store the most recent _client_ navigation in the root span.

Yup, I can try to put together a prototype 🔧
Happy to help with adding

[2021-11-12 15:39] dyladan commented on #548
Ah I see. So the issue is that a single click event fires multiple listeners and each of these listeners starts a span with no link between them or common parent?

It seems to me that creating 4 spans is correct behavior, since they are 4 different units of execution. But I do think they should have a common ancestor. It seems like we may need a parent span for the interaction itself, and child sp

[2021-11-15 09:18] obecny commented on #548
The whole idea of user interaction is that the user interaction is what is the root span. So the click event is the main initiator of the whole flow. The outcome of this is that click event cannot have a parent.

[2021-11-15 14:15] bradfrosty commented on #548
Yes exactly. I agree that the individual spans for each listener makes sense, but without a relationship there ends up being a lot of noise when querying for data. Each span will have the same name, xpath, tag name, and similar timestamps, making them nearly impossible to differentiate. The only other differentiating factor is the span's duration, which can vary depending on factors such as networ

[2021-11-15 16:57] obecny commented on #548
One click should produce one flow only, if one click produces more than this is what should be fixed, instead of trying to add extra parent for all those newly created spans.

[2021-11-15 16:58] dyladan commented on #548
I think brad is right. The parent should be the click itself. Each handler is a span which is the current behavior and I think its correct.

[2021-11-15 17:03] obecny commented on #548
in your example the number of generated spans for click event should be 1 only., 2 means there is a bug

[2021-11-15 17:07] bradfrosty commented on #548
Yea I think we're on the same page 😄
One click creates one span. Instead of the current behavior where one click creates X number of spans, where X is number of listeners registered that run for the given event target.

[2021-11-15 21:55] SunilManthenaG01 opened #742 "Nestjs core instruction instrumentation with Jaeger exporter"
Hi, I am trying to integrate the Nestjs application with jaeger using open telemetry and nest instrumentation by using the below configuration.

const provider = new NodeTracerProvider({
  resource: new Resource({
    [SemanticResourceAttributes.SERVICE_NAME]: 'bff-trace-test',
  }),
});
const jaegarConfig: ExporterConfig = {
  host: 'localhost',
  port: 6832,
};
const exporter = new JaegerExporte

[2021-11-16 14:46] Alon-Katz commented on #363
Hi @obecny, Is this still relevant and available for me to do?

[2021-11-16 14:47] dyladan commented on #363
Yes

[2021-11-16 16:40] SunilManthenaG01 commented on #742
@dyladan  can you help me on this one?

[2021-11-16 16:58] nata7che opened #746 "Graphql is added as dependency by instrumentation and may case version collision"
### What version of OpenTelemetry are you using?
"@opentelemetry/api": "^1.0.3",
"@opentelemetry/core": "^1.0.0",
"@opentelemetry/instrumentation": "^0.26.0",
"@opentelemetry/instrumentation-graphql": "^0.26.0",

### What version of Node are you using?
node v15.12.0 (npm v7.6.3)

### What did you do?

Perform instrumentation with @opentelemetry/instrumentation-graphql.

### What did you expect to

[2021-11-16 20:43] mentos1386 commented on #742
@SunilManthenaG01 You can try using
[code]
To make sure that spans get created, so that issue isn't with Jaeger exporter.

Also, one thing to keep in mind, you should do `New NestInstrumentation()` before you import anything from `@nestjs/core`. For example:
[code]

[2021-11-16 21:44] obecny commented on #363
@Alon-Katz yeap

[2021-11-22 06:35] #655 closed

[2021-11-22 06:35] #579 closed

[2021-11-22 06:35] #555 closed

[2021-11-22 11:57] sstone1 opened #749 "Mismatch between 0.27.0 and 0.26.1 libraries"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I am trying to use `@opentelemetry/sdk-node@0.27.0` with `@opentelemetry/auto-instrumentations-node@0.26.1` in a TypeScript application.

This fails at build time as those two packages bring in `@opentelemetry/api-metrics@0.27.0` and `@opentelemetry/api-m

[2021-11-22 12:04] Arbiv commented on #396
@obecny can this issue be closed now that the PR is merged?

[2021-11-22 12:05] #396 closed

[2021-11-22 13:31] samriley opened #750 "Premature closing of execute span in graphql instrumentation"
In the case of execute result being a promise, and if there is no responseHook defined endSpan is called too early

https://github.com/open-telemetry/opentelemetry-js-contrib/blob/e5a65c67ec63e9235f7ddf82b2cd75a5a926f7c8/plugins/node/opentelemetry-instrumentation-graphql/src/instrumentation.ts#L248-L255

This is already handled correctly if there is a responseHook defined

https://github.com/open-

[2021-11-23 11:30] haimrait opened #753 "Instrumentation for nats"
I would like to add [nats](https://www.npmjs.com/package/nats) instrumentation for opentelemetry-js
you can assign me for it

### Is your instrumentation request related to a problem? Please describe

Yes i am running a simple application with nats and i would like to see a trace that generated from it

### Is it applicable for Node or Browser or both?
applicable for Node

### Do you expect this i

[2021-11-24 17:15] Rauno56 opened #756 "Run a daily `test-all-versions` run"
### Is your feature request related to a problem? Please describe

Some of the contrib packages have a way to run the tests against multiple versions. That's super awesome and useful! We don't run those in our CI though, namely because

### Describe the solution you'd like to see

We should schedule a regular run of the full test suite with TAV for packages that have it. + maybe for release PRs.

[2021-11-25 13:52] nemoshlag commented on #654
Hi I want to contribute to otl, and this seems like a good first issue, you can assign this for me thanks

[2021-11-26 09:18] sanasz91mdev opened #759 "http auto instrumentation not working - @opentelemetry/auto-instrumentations-node: "latest""
### What version of OpenTelemetry are you using?
latest

### What version of Node are you using?
v14.18.1

### What did you do?

1. clone [repo](https://github.com/sanasz91mdev/monitor-nodejs-opentelemetry)
2.  run Jaeger / OTEL collector with any exporter e.g [otelcol-config.yaml](https://github.com/sanasz91mdev/monitor-nodejs-opentelemetry/blob/main/otelcol-config.yaml)

### What did you expect

[2021-11-27 11:05] mkossoris commented on #647
I just read over this whole conversation because I am currently facing a similar issue, trying to instrument an Apollo Server Lambda function and getting no exported spans. Based on what I've read here it seems like this issue should have been resolved, and I made sure I'm using the most up-to-date packages. I detailed what I've tried and a link to a repo with a demo in this issue under Apollo Ser

[2021-11-27 13:45] vmarchaud commented on #756
I'm not against running it in every PRs, it may takes time but avoid problems after the PR is merged. To avoid too much impact we could just run tests on package that have been modified by the PR (since contribs pkgs don't depend on each other, i don't tihnk that would be an issue)

[2021-11-27 21:55] jord1e commented on #705
Who would be the one to start the initiative to add GraphQL conventions to the spec?
As GraphQL is gaining popularity it should be a priority to have uniform telemetry data.

[2021-11-28 03:45] joekrill commented on #749
I'm seeing a similar issue when trying to follow the Koa example (https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/koa). `@opentelemetry/instrumentation-koa` is v0.27.0, but it has a dependency on `@opentelemetry/instrumentation` v0.26.0, which doesn't seem right? Especially since there _is_ a `@opentelemetry/instrumentation` v0.27.0.  Meanwhile the `@opentelemetry/api

[2021-11-29 04:40] tcarrio commented on #749
This is an issue I encountered, wiring up an Nest.js app today with the following packages:

[code]

Seems to be the same issue of properties mismatch with the `Instrumentation` types

[2021-11-29 13:32] vmarchaud commented on #457
I'll go ahead and close this, we implemented a while ago peerDependency on the api

[2021-11-29 13:32] #457 closed

[2021-11-29 13:33] longility commented on #647
@mkossoris I got your exact scenario working. What do you see in your lambda logs? You may need more logging for me to help.

[2021-11-29 13:55] haddasbronfman commented on #756
I'll start looking at this issue if it's ok

[2021-11-29 19:18] jpettit commented on #749
👍  Simplifying this process would be neat.

And for the consideration of expediency; 0.27.0 has the following fix for web workers: https://github.com/open-telemetry/opentelemetry-js/pull/2465

[2021-11-29 21:29] mkossoris commented on #647
@longility Interesting, I went ahead and re-deployed the repo to a new AWS account just to make sure I was starting from a clean slate. I am still not seeing the trace data in the logs.

Here is some of the output I see when I run the local server:
[code]

And here is the output I see in the CloudWatch logs when running it on Lambda:
[code]

So none of the trace data seems to be exporting when run

[2021-11-30 00:01] longility commented on #647
Can you enable otel logging so we have a better idea?

[code]

env var to enable
[code]

[2021-11-30 00:04] longility commented on #647
Actually, I forgot, we created our own lambda layer and not rely on what aws provided. Not sure if you went that route.

[2021-11-30 00:11] willarmiros commented on #647
@mkossoris do you have active tracing enabled on your Lambda? If not, have you manually added X-Ray permissions to your function role? Also, are you setting a different endpoint for the OTel collector via env var?

[2021-11-30 00:40] mkossoris commented on #647
@longility Here is the result of the adding the otel logging:

[code]

The debug logs are only displayed on startup - further requests only show the START, END, REPORT, and Billed Duration logs from Lambda.

@willarmiros and @longility For this particular test, I'm trying to remove variables by just registering the instrumentation myself in the Lambda function and using the ConsoleExporter - not t

[2021-11-30 00:50] mkossoris commented on #647
Here are some logs from running it just with the Lambda Layer:

[code]

With those logs, we can see that the Lambda layer is clearly running, but it is only collecting traces about the Lambda invocation and not the GraphQL spans. And this trace data does show in XRay so it isn't a permissions issue between the Lambda function and XRay.

[2021-11-30 01:35] NathanielRN commented on #647
Hi @mkossoris

I think this is a great way to debug! I've personally found it useful to confirm that you can see the traces in the Lambda logs first before you expect them to arrive at the Collector and then to the AWS X-Ray console.

Could you share the code you use to initialize OTel JS? Particularly, do you register the instrumentation for GraphQL? I can see from your debug logs above that your

[2021-11-30 01:41] mkossoris commented on #647
Hey @NathanielRN! I've created a repo with the code I've been using here: https://github.com/mkossoris/apollo-server-lambda-otel-issue. It does register the GraphQL instrumentation here: https://github.com/mkossoris/apollo-server-lambda-otel-issue/blob/master/src/open-telemetry.ts#L20.

I'll definitely try adding the http call just to see what happens. As for the ADOT Lambda configuration I tried,

[2021-11-30 02:42] longility commented on #647
@mkossoris I couldn't make too much sense from log.

However, looking at your code, know that opentelemtry-js does monkeypatching based on actual package names so if you use esbuild through NodejsFunction construct, it would minify and not able to instrument properly.

Secondly, I actually have not gotten the Otel bootstrapping to work within lambda fn, only lambda layer extension.

Thirdly, traci

[2021-11-30 02:50] mkossoris commented on #647
@longility I was just coming back here to say I found out it was because of using NodejsFunction construct... *facepalm* after trying it with standard Lambda function instead.

That being said, the extension still did not work entirely by itself as far as pushing it to XRay goes. I was, however, able to get it to work by importing the open-telemetry file from my example and replacing the ConsoleEx

[2021-11-30 03:00] mkossoris commented on #647
So then that leaves me with an important question: is there no way for us to be able to bundle our code and use OpenTelemetry? With Lambda size limits, bundling is going to be pretty essential for us.

[2021-11-30 03:13] mkossoris commented on #647
I see there's this issue that discusses OpenTelemetry's issues with esbuild: https://github.com/aws-observability/aws-otel-lambda/issues/99

At the end, the creator of the ticket says:

Which sort of implies there was some workaround at all? Or is there no known workaround for using esbuild or webpack with OTel instrumentations at this time?

[2021-11-30 03:26] longility commented on #647
As far as I know, there is no workaround for minify problem with Otel js monkey patch at this time. You would have to take the node_modules size hit.

Since you are dealing with GraphQL and lambda, I assume you would compose with other lambda functions with Apollo federation. Are there concerns for you with latency for end user? I'm asking to think long term if lambda is the solution as we have be

[2021-11-30 03:29] mkossoris commented on #647
@longility Yep that's correct, we're intending to follow a similar design to what IMDb is using, which they posted an article about here: https://aws.amazon.com/blogs/compute/building-federated-graphql-on-aws-lambda/. It uses a Lambda to host the gateway and one Lambda per subgraph.

[2021-11-30 03:51] mkossoris commented on #647
@longility So this is a pretty hacky initial attempt, but it surprisingly works lol:

[code]

Here's the resulting trace in X-Ray:

![image](https://user-images.githubusercontent.com/26357774/143982587-309bbc0a-2a05-4425-8ae5-140625c4ffa3.png)

[2021-11-30 04:01] longility commented on #647
Glad you're making progress.

[2021-11-30 09:32] sstone1 commented on #749
@dyladan are you able to comment on this issue please?

[2021-11-30 14:49] tcarrio commented on #749
Looking into the `@opentelemetry/auto-instrumentations-node` package manifest, it appears to have a dependency on version `^0.26.0` but `@opentelemetry/sdk-node` appears to be using `0.27.0`, which explains the type mismatch.

Seems the scenario @joekrill ran into: the `^0.26.0` version rule won't allow it to install `0.27.0` according to [the caret rules in the Node.js docs](https://nodejs.dev/le

[2021-11-30 15:29] tcarrio commented on #749
I opened a PR to update the `@opentelemetry/auto-instrumentations-node` package dependencies, which should resolve this issue.

[2021-11-30 15:54] tcarrio commented on #749
Looks like there's [a PR that will fix this and more](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/769) coming in from @dyladan. That provides a more global, atomic update to packages- I'll be closing mine in favor of his :+1:

[2021-11-30 18:18] dpkirchner opened #770 "Compatibility between versions in the opentelemetry base repo"
* [x]  This only affects the JavaScript OpenTelemetry library
* [x]  This may affect other libraries, but I would like to get opinions here first

This question is partially inspired by issue https://github.com/open-telemetry/opentelemetry-js-contrib/issues/749 where there was a mismatch between versions.

Should we as users pin our packages to a specific common minor rev?

That is, should we use

[2021-11-30 21:29] mkossoris commented on #647
Just to update, I believe the layer actually did start working once I removed esbuild. The CloudWatch logs were showing the Lambda invocations from the Collector so I was under the impression it would show the other trace data as well. But in fact the trace data does appear to be showing up in XRay.

[2021-12-01 11:03] kubawach opened #772 "Release opentelemetry-instrumentation-aws-lambda"
Since https://github.com/open-telemetry/opentelemetry-js-contrib/pull/755 has been merged and is needed for Node.js lambda wrapper to function properly, could we get a new release of`opentelemetry-instrumentation-aws-lambda`?
Tagging component owners - @NathanielRN and @willarmiros :)

[2021-12-02 19:41] Rauno56 commented on #687
We are late to that party unfortunately. :( Ping us earlier next year, @andreatosato!

[2021-12-02 19:41] #687 closed

[2021-12-03 12:38] elbasan opened #775 "TypeError: this._meter.createSumObserver is not a function @opentelemetry/host-metrics 0.26.0"
### What version of OpenTelemetry are you using?
[code]
### What version of Node are you using?
v16.13.0

### What did you do?

[code]
### What did you expect to see?
CPU, Memory, and Network metrics should be exported to Prometheus.

### What did you see instead?
[code]
I guess the error is happening here:
![image](https://user-images.githubusercontent.com/12799363/144603838-87ae0d6f-c543-404a-8e

[2021-12-05 20:55] #750 closed

[2021-12-06 06:35] #492 closed

[2021-12-06 06:35] #477 closed

[2021-12-06 06:36] #466 closed

[2021-12-06 08:29] kubawach commented on #772
I see it has already been released with 0.28.0. Closing the issue then!

[2021-12-06 08:29] #772 closed

[2021-12-06 11:12] Rauno56 commented on #516
Still an issue afaik

[2021-12-06 11:13] Rauno56 commented on #466
Still an issue imho and relevant, but I don't really now a way to enforce that or take the discussion further.

[2021-12-07 10:10] legendecas commented on #775
The version of @opentelemetry/host-metrics is not aligned with @opentelemetry/sdk-metrics-base and @opentelemetry/api-metrics. As the api-metrics is under work to reach the stable status, there might be breaking changes introduced on semver major bumps.

Either way, I'd believe we should update @opentelemetry/host-metrics to works with v0.27.0 as we already released @opentelemetry/api-metrics v0.2

[2021-12-07 11:20] chethan-devopsnow commented on #717
anybody any luck ?

[2021-12-08 10:54] elbasan commented on #775
@legendecas thank you very much for the help

[2021-12-08 13:50] osherv commented on #577
Hey guys :)
I can do that!
pls assign this to me.
@vmarchaud @CptSchnitz

[2021-12-08 15:51] dyladan commented on #654
Fixed in #764

[2021-12-08 15:51] #654 closed

[2021-12-08 21:12] pauldraper commented on #473
Still have this question.

I don't see anything about peer.address in the standard.

[2021-12-08 21:21] dyladan commented on #473
It appears it is just drastically outdated. The spec at the time of writing the postgres instrumentation was this: https://github.com/open-telemetry/opentelemetry-specification/blob/c8109895a989480028b282fa796ed87ad1421b8a/specification/data-database.md which specified the JDBC substring.

The recent spec is quite different and requires:

- `db.system` - `postgresql `
- One of `net.peer.name` OR `

[2021-12-08 21:23] dyladan opened #781 "[postgres, mysql, mysql2] Update database connection semantic conventions"
It appears it is just drastically outdated. The spec at the time of writing the postgres instrumentation was this: https://github.com/open-telemetry/opentelemetry-specification/blob/c8109895a989480028b282fa796ed87ad1421b8a/specification/data-database.md which specified the JDBC substring.

The recent spec is quite different and requires:

- `db.system` - `postgresql `
- One of `net.peer.name` OR `

[2021-12-08 21:24] dyladan commented on #473
Created #781 to address this

[2021-12-08 21:24] #473 closed

[2021-12-08 21:26] dyladan commented on #442
@willarmiros looks like there has been no spec movement on this since trace GA. Think now might be a good time to try to tackle this?

[2021-12-08 21:27] dyladan commented on #679
@mooyoul there has been a release. Is this issue now fixed?

[2021-12-08 21:30] dyladan commented on #686
It depends how you are enabling your instrumentations. If you're using the instrumentations-node-all package with registerInstrumentations, you should be able to do something like this:

[code]

[2021-12-09 14:02] davazp opened #782 "pg instrumentation records wrong db connection string"
### What version of OpenTelemetry are you using?

"@opentelemetry/auto-instrumentations-node": 0.26.1

### What version of Node are you using?
v16.13.0

### What did you do?

The pg instrumentation records the connection string as `localhost` on `pg-pool.connect` even when that is not the right value.  The problem is here:

https://github.com/open-telemetry/opentelemetry-js-contrib/blob/3d7a4d61bc

[2021-12-09 14:09] davazp commented on #782
It's easy to workaround this by defining host like `host: process.env.PGHOST` when defining the  pg pool.

[2021-12-09 14:34] davazp commented on #782
Will it?  I can keep an eye on it. But I don't know how the span at `pg-pool.connect` will know the target of the client.

[2021-12-10 03:26] AlissonRS opened #788 "Get Current TraceId in ApolloServerPlugin - GraphQLInstrumentation"
Hello!

I have configured GraphQLInstrumentation as per below, and it's working fine, I can see my traces in Jaeger UI for example:

[code]

In my response hook the `spanContext` contains valid `traceId` and `spanId`. However, if I try to do the same in an ApolloServerPlugin, the TraceId is 0000000...

[code]

What would be the correct way to get the current trace here? I tried several apollo hook

[2021-12-10 14:55] Rauno56 commented on #775
Metrics SDK and API are still win works. Tune in here: https://github.com/open-telemetry/opentelemetry-js/projects/16

[2021-12-10 14:55] #775 closed

[2021-12-10 15:04] Rauno56 opened #784 "Add support for graphql@16"
### Is your feature request related to a problem? Please describe

Tests currently fail on `graphql@16`. Haven't investigated further.

[2021-12-10 16:15] gaellm opened #785 "opentelemetry-instrumentation-redis never end / emit span"
### What version of OpenTelemetry are you using?
@opentelemetry/instrumentation-redis version 0.27.0
@opentelemetry/instrumentation version 0.27.0
@opentelemetry/semantic-conventions version 1.0.0
@opentelemetry/api version 1.0.2
@types/redis version 2.8.31
@opentelemetry/auto-instrumentations-node version 0.27.0
@opentelemetry/sdk-node version 0.27.0

### What version of Node are you using?
node

[2021-12-10 19:28] SunilManthenaG01 commented on #742
@mentos1386  thank you for your response.
After some debugging, I see the issue is because I am using spdy listening on h2 protocol. If I switch that to HTTP 1.1 I can see the traces in jaeger but if the server protocol is h2 I can not see the traces.

Do we need to change anything if we need to make the trace work for h2 protocol?

[2021-12-10 19:36] weyert commented on #717
I only have been using Opentelemtry tracing on the server-side only with Next.js

[2021-12-13 06:35] #430 closed

[2021-12-13 15:41] kubabialy commented on #683
@eharaj1 I wonder if you managed to resolve the issues. If so, would you be so kind to share how you managed to do so?

[2021-12-13 19:32] vmarchaud commented on #785
I may be wrong but this callback is set even for async/await usage (at least that the case for ioredis and they both are similar). Could you share the node redis version you are using and if possible a sample repo that reproduces the problem ?

[2021-12-14 12:44] #746 closed

[2021-12-14 13:18] gaellm commented on #785
Sure, you'll find here a sample: https://github.com/gaellm/redis-opentelemetry-issue-785-sample.
a `docker-compose up ` highlights the issue.

[2021-12-14 17:01] Flarna commented on #785
@gaellm Your package.json says redis 2.8.0 but you use the redis API with `await` which is only supported since 4.x. I wonder if this sample is really doing what you expect.

[2021-12-14 22:54] gaellm commented on #785
Yes, I've started with redis 4 client, and then downgraded because tracing seems not compatible with 4.x. Is it limited to 3.x? https://github.com/open-telemetry/opentelemetry-js-contrib/blob/c60e934838e0fb6f8dd7014e0d463054ed733a73/plugins/node/opentelemetry-instrumentation-redis/src/instrumentation.ts#L53

[2021-12-14 23:16] gaellm commented on #785
I've updated my sample repo here: https://github.com/gaellm/redis-opentelemetry-issue-785-sample to reproduce with version redis 3.x

[2021-12-15 20:08] Flarna commented on #785
Yes, it hasn't been updated yet to work with 4.x

Seems you are right, if no callback is given span is never ended as this happens in the wrapped callback [here](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/e3ce1029914b4bb4715a644629b9b86c76b9f007/plugins/node/opentelemetry-instrumentation-redis/src/utils.ts#L149).

Maybe instrumentation could inject a dummy in that case but not

[2021-12-15 21:27] gaellm commented on #785
:) sure a callback is mandatory to write apps for production. I work on a tracing preload module to instrument futur apps (with some custom configuration needs, a little like the java agent customization), so my test app is a quick check of OpenTelemetry auto instrumentation on Nodejs, with express, amqp, mongoose and redis to develop this module. And I was surprised to not emit span regarding Red

[2021-12-16 20:56] NathanielRN commented on #565
I was wondering if this is still an issue? I can see that the current implementation only overwrites the `parent` value _if_ the `_X_AMZN_TRACE_ID` is `;Sampled=1`. This should only be set if we have "active tracing" enabled on the AWS Lambda configuration, and is `;Sampled=0` if this is turned off (based on my tests on a _Python_ Lambda).

https://github.com/open-telemetry/opentelemetry-js-contri

[2021-12-17 00:34] mwear opened #789 "MySQL Instrumentation - Bug with streaming query and multiple parameters"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
16.3

### What did you do?

The mysql instrumentation handles the streaming query case, where a single argument is passed in for an sql query, without a callback, but it does not properly handle the streaming case where where two parameters are passed in, where the first is a sql statement with placeho

[2021-12-17 09:16] spencerwilson commented on #534
Would the information conveyed by the current name ("this span encompasses a resolver executing") be preserved in any other span? Or do you imagine that if one wanted to, say, select all resolver spans, they would do so via something like "spans whose name starts with 'graphql.resolver'"?

[2021-12-20 00:18] akulpillai opened #791 "[Security] Workflow unit-test.yml is using vulnerable action actions/checkout"
The workflow unit-test.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix

[2021-12-20 06:53] danshapir commented on #633
Still not working

[2021-12-20 06:53] danshapir commented on #676
Still not working

[2021-12-28 20:00] royi-frontegg opened #801 "NestInstrumentation ignores @HttpCode decorator and returns the default value"
### What version of OpenTelemetry are you using?
0.26.0
NestJS 7
### What version of Node are you using?
14

### What did you do?
An endpoint with a "non-default" http response code returns a different response code than expected. e.g
[code]

### What did you expect to see?
200 OK

### What did you see instead?
201 CREATED

### Additional context
NestJS 7

[2021-12-28 22:19] Flarna commented on #801
Maybe #796 fixes this?

[2021-12-29 02:38] asafpelegcodes opened #802 "`@opentelemetry/instrumentation-graphql` Version `0.27.1` Missing `@types/graphql` dependency"
### What version of OpenTelemetry are you using?
1.0.4

### What version of Node are you using?
v16.11.0

### Please provide the code you used to setup the OpenTelemetry SDK
[code]

### What did you do?
In a fresh folder
[code]
Add the build script to your `package.json`
[code]
Attempt to compile the typescript
[code]

### What did you expect to see?
I expected the file to compile successfully

##

[2021-12-29 07:44] royi-frontegg commented on #801
@Flarna looks like it thnx. Can it be back ported to 0.26 ?

[2021-12-29 09:30] vmarchaud commented on #802
It has been dropped in this PR https://github.com/open-telemetry/opentelemetry-js-contrib/pull/754, we need to find a long term solution for this
cc @nata7che

[2021-12-29 09:49] Flarna commented on #801
Thanks for confirmation.

I doubt that bugfixes in experimental packages get backported. But I think it should be quite easy to do a new release once #796 is merged.
It's up to the @open-telemetry/javascript-maintainers to decide.

[2021-12-29 09:58] Flarna commented on #802
Please note that `@types/graphql` is deprecated because `graphql` itself contains the types now. Therefore it would be needed to add `graphql` itself as dependency which most likely results in two different graphql versions installed.

Other instrumentations may have similar issues.

As far as I remember the easiest workaround is to set `skipLibCheck: true` in your tsconfig file.

[2021-12-29 12:55] #211 closed

[2021-12-29 13:01] Rauno56 commented on #41
Support for `fastify` is in the contrib now in addition to the one mentioned above: https://github.com/autotelic/fastify-opentelemetry

[2021-12-29 13:01] #41 closed

[2021-12-29 13:05] Rauno56 opened #803 "Add missing insrumentations to the opentelemetry.io registry"
At least some of our instrumentations are not listed in the [official OTel registry](https://opentelemetry.io/registry/).
Fastify is one of them. There's **a** Fastify instrumentation there, but it's a 3rd party one. See: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/41

Sample PR here: https://github.com/open-telemetry/opentelemetry.io/pull/1010

[2021-12-29 13:17] Rauno56 opened #804 "Add `test-all-versions` setup for `express`"
We currently test the instrumentation only on one version of `express`. Adding just a second version would yield coverage over upwards of 4million downloads more.

Stats from 29. December 2021.

[code]

See #783, #792 or #786 for reference.

[2021-12-29 13:26] Rauno56 opened #805 "Add `test-all-versions` setup for `@nestjs/core`"
We currently test the instrumentation only on one version of `@nestjs/core`, which is not even the most popular one. Since the testing already takes major versions into account this could potentially be a low hanging fruit adding coverage for a few hundred thousand downloads/week.

Stats from 29. December 2021.

[code]

See #783, #792 or #786 for reference.

[2021-12-29 14:28] nata7che opened #807 "Instrument Redis transaction commands as child spans of a MULTI-EXEC span"
### Is your feature request related to a problem? Please describe

Redis enables executing commands as part of a [transaction](https://redis.io/topics/transactions):
[code]

This, currently, yields 4 spans:
1. operation: redis-multi
2. operation: redis-incr
3. operation: redis-set
4. operation: redis-exec

It is very difficult to understand the results of each of the inner-transaction commands or

[2021-12-29 15:46] dyladan commented on #807
I think this comes down to a question of your tracing philosophy. In my opinion, the current behavior is correct. The incr and set commands are still sent to the server, and the span still traces that operation even though they are queued and not run. Additionally, the send to the server for the incr and set commands was successful even if the exec command fails. WRT the parent-child relationship,

[2021-12-29 18:33] #791 closed

[2021-12-29 18:34] dyladan commented on #802
As a long-term solution that doesn't require our users to skip lib check we could hand-roll our own types (or copy official ones)

[2021-12-29 19:00] asafpelegcodes commented on #802
Isn't copying the types more error prone than simply making `graphql` a dependency?

That being said I'm not sure what the best solution is but definitely the workaround suggested is not a great answer.

Since the graphql instrumentation is one of the requirements for regular node auto-instrumentation package I do hope a fix for this gets bumped up since it's affecting users who have no interest i

[2021-12-29 19:08] dyladan commented on #802
yes, but taking `graphql` as a dependency is also not ideal, see #746. tests that run against multiple versions might be a mitigating factor in this.

It may not be the long-term solution, but that's why its called a work around :)

It seems to me that there are only two workable solutions:

1. check graphql types directly into our repository. possibly this process can be automated in some way
2.

[2021-12-29 19:32] dyladan commented on #801
@royi-frontegg is there some reason you would not be able to update?

[2021-12-29 19:43] asafpelegcodes commented on #802
@dyladan thanks for the prompt response and just be clear I appreciate what's going on here and I didn't intend to cast a negative spin on the conversation.

I understand the workaround is temporary but I should have been more articulate and said that it makes me nervous to introduce impactful changes into a libraries typescript configuration since A) they can are poorly understood and B) they can

[2021-12-29 19:48] dyladan commented on #802
Code owner for this module is listed as @obecny but I'm not sure if he is still planning on maintaining it since he stepped down from the core maintainer position.

@obecny please respond here ASAP to let us know if you want to handle this or if one of us should do it.

[2021-12-29 21:28] asafpelegcodes commented on #802
FYI installing the deprecated package `@types/graphql` as a dev dependency is also a workaround

[2021-12-29 21:57] nata7che commented on #802
@asafpelegcodes
That's actually what caused the version issue in the first place and why the fix was introduced. Or did you mean add an earlier version? (earlier to the problematic one)

[2021-12-29 21:59] dyladan commented on #802
Actually the version issue was caused because we had `graphql` as a dependency, not `@types/graphql`. We originally depended on `@types/graphql` but switched to depending on `graphql` because it started bundling its own types and the `@types/graphql` package was deprecated.

[2021-12-29 22:57] Flarna commented on #802
We had `@types/graphql` version 14.5.0 as dependency. This version is already a dummy which has only `"graphql": "*"` as a transitive dependency.

I was assuming that version `*` should not result in an additional `graphql` version installed. In case user app doesn't use the fallback is latest. But maybe the various package managers (npm, yarn,...) in all their versions handle this different.

May

[2021-12-29 23:01] dyladan commented on #802
I had forgotten that detail

In general, I think this deduplication is usually pretty good, but it might be possible to end up with a scenario like this:

[code]

I'm not sure if this would cause problems or not though even if it happened.

[2021-12-30 08:00] nata7che commented on #802
The problem we experienced was caused because the latest `graphql` version (16) was installed and specifically this version dropped support of node 10 (and was actually even breaking for node 12.18.1).

[2021-12-30 11:44] Flarna commented on #802
@nata7che Can you remember what you selected in your package.json? Did you use npm, yarn or something else?

[2021-12-30 12:40] matteoga commented on #805
hi @Rauno56 , i can take care of this one :)
Given that nestJS is comprised of multiple packages, other than `@nestjs/core`, and some of them are being imported in both instrumentation / tests ( ie: `@nestjs/common` ) , unless you have objectios, i will use `tav` `peerDependencies` to ensure all package versions are matchine, so something like
[code]
sounds good ?

[2021-12-30 14:13] nata7che commented on #802
@Flarna yep, it was `yarn` but I assume the same behavior would also occur with `npm`?

[2021-12-30 14:30] dyladan commented on #802
Yarn actually checks the `engines` configuration in your package.json and the package.json of all your dependencies and will fail to install any dependency which does not support your current node version. At least as far as I'm aware, npm does not do this check.

[2021-12-30 18:28] matteoga commented on #676
i think https://github.com/open-telemetry/opentelemetry-js-contrib/pull/796 should have fixed this and similar issues

[2021-12-30 18:49] dyladan commented on #633
Fixed by #796 will be released today

[2021-12-30 18:49] #633 closed

[2022-01-04 07:03] mattfysh commented on #703
Hey all, I'd be interested in this also for grouping traces by coldstart or not, and understanding % of invocations that were cold booted.

It also seems sensible to have this as an `index_attribute` in the awsxray exporter, does that make sense?

Cheers

[2022-01-04 07:15] rohanagarwal36 commented on #785
Any plan on fixing this?

[2022-01-04 11:40] jugglingthebits commented on #759
I'm observing this as well. No spans are created for outgoing https requests.

[2022-01-04 13:13] Rauno56 opened #819 "Word the readmes better"
Many of the packages have a section like that:

Which reads very weird to me - both are kind of true, but in a different way.

https://github.com/open-telemetry/opentelemetry-js-contrib/pull/797#issuecomment-1001695501 suggested a better wording:

Go over the readmes and fix the above occurrences.
Alternatively, we could figure out a better format for the README to avoid such tweaks in the future.

[2022-01-04 13:42] rauno56 opened #820 "Set `files` field in all of our `package.json` files"
`files` field defines which files ought to be included in the final published package.

- [ ] set `files` for all the `package.json` files. Don't include [files always included](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#files), remove non-existing `doc`, TS source files. Basically only `.js`, `.js.map` and `.d.ts` files in the build folder need to be included,
- [ ] remove `.npmig

[2022-01-04 13:57] dyladan commented on #820
Existence of this field seems like something that could easily be checked in CI

[2022-01-04 14:20] Rauno56 commented on #820
Yes, that's a good idea! Plus points for adding that for whoever will take this.

[2022-01-04 20:16] vmarchaud commented on #759
You need to require `./tracing.js` before the `express` package otherwise it will not work

[2022-01-05 15:35] seemk opened #822 "hapi: support direct plugins with prefixed paths"
### What version of OpenTelemetry are you using?

`@opentelemetry/instrumentation-hapi 0.27.0`

### What version of Node are you using?

`16.10.0`

### What did you do?

Passed plugin directly to `server.register` along with options:

[code]

Did a request to `http://localhost:3000/foo/test`, got the following error:

[code]

### What did you expect to see?

Application starting up and a span name

[2022-01-05 16:17] dyladan commented on #703
The resource is not the correct place for a cold start detector because it is immutable. You only want the cold start on the first invocation, not every invocation.

Yes you get a new log stream for each instance. I could be wrong but I thought the container instance id was actually a part of the log stream name

[2022-01-05 16:56] #428 closed

[2022-01-05 16:56] #422 closed

[2022-01-05 16:56] #398 closed

[2022-01-05 16:59] dyladan commented on #387
Have not seen this failure in a long time

[2022-01-05 16:59] #387 closed

[2022-01-06 01:34] mattfysh commented on #647
Hey all, I found a couple of solutions to the esbuild issues:

1. Immutable (cannot redefine 'handler') - make sure your entry file is common JS and use `module.exports = { handler }`
2. The second issue is a little tricky, with the exporters expecting to find protobuf files in node_modules

Here is how I solved it, within the build script:

[code]

[2022-01-06 12:28] mooyoul commented on #679
@dyladan Unfortunately, No. This bug still exists in latest version of aws-lambda instrumentation. but I have a fix and will propose a PR :)

[2022-01-06 23:35] mattfysh opened #824 "Allow module to be passed directly into plugins / bypass module hooks"
### Is your feature request related to a problem? Please describe

I use esbuild to create a JS bundle before deploying the bundle into a Docker container. This helps to keep build times and artifact sizes to a minimum. This results in no `node_modules` directory at the location where my nodejs process is running.

As a result, all instrumentations that use the (for example) `new InstrumentationNo

[2022-01-08 15:06] vmarchaud commented on #824
I think its worth to be added within the base instrumentation class, moving to the core repo

[2022-01-10 17:00] Rauno56 opened #826 "Revert #825: `colors` terminal DOS"
To avoid people running into problems with broken `colors` package, I added `colors@1.4.0` to `package.json`, that needs to be reverted when the situation with the `colors` package is resolved.

+ one additional one from [another PR](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/821/files#diff-90eecd12c99a9d96beea5af4ce3eba598977225301cbed2aa59302c34bddaedfR61)

[2022-01-10 19:11] dyladan commented on #826
Tracking issue in colorsjs repo: https://github.com/Marak/colors.js/issues/285

[2022-01-10 19:14] vmarchaud commented on #826
After reading a bunch on reddit it seems that the author will not fix the package anytime soon

[2022-01-10 19:18] dyladan commented on #826
Could be also that karma removes the dependency on colors

[2022-01-10 20:11] dyladan commented on #826
They may also switch to the fork by one of the colors maintainers https://github.com/DABH/colors.js

[2022-01-11 09:49] Rauno56 commented on #826
That tracking issue is a joke. It's the malicious activity by the maintainer. We depend on the `colors` through Karma - they need to fix before we can act on this issue.

[2022-01-11 10:06] Flarna commented on #826
Seems npm removed colors >1.4.0 meanwhile. Not sure if this should be the trigger to revert.

[2022-01-12 19:15] chrisrichardsevergreen opened #829 "Allow end-user customisation of services extensions in @opentelemetry/instrumentation-aws-sdk"
The customisation of how @opentelemetry/instrumentation-aws-sdk handles specific AWS services is limited to those pre-built into the package (SNS, SQS, dynamodb). This limits end-user customisability, resulting in either a need to fork or write custom clientside code. For example if a user wants to propagate tracecontext into a SDK lambda invocation they would have to manage this themselves, and A

[2022-01-13 15:40] kriptontr opened #831 "Difference between module Readmes and examples"
Usage of `registerInstrumentations` is like
[code]
at https://www.npmjs.com/package/@opentelemetry/instrumentation-express
but its used like
[code]
without getting instances of classes here.
https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/examples/express/tracer.js

- [+] This only affects the JavaScript OpenTelemetry library
- [+] This may affect other libraries, but I would

[2022-01-13 18:16] Flarna commented on #831
Both works.
The implementation of instrumentation checks if a function/constructor is passed and calls `new` in that case, otherwise it uses the given instance. see [here](https://github.com/open-telemetry/opentelemetry-js/blob/d315b0a75eb9517537b96a4ace083371cbdba552/experimental/packages/opentelemetry-instrumentation/src/autoLoaderUtils.ts#L37-L40)

[2022-01-13 18:19] dyladan commented on #831
I would also prefer not to have it. It would break user code, but technically it isn't 1.0 yet so it's not too late _officially_. With tracing being 1.0 we might be stuck with it anyway though.

[2022-01-14 09:23] Rauno56 commented on #83
Fixed with #191

[2022-01-14 09:23] #83 closed

[2022-01-14 09:35] Rauno56 opened #832 "Provide auto-instrumentation for `fs` module"
### Describe the solution you'd like to see

I think this really doesn't need an explanation. `fs` module is quite a large one and has functionality across all paradigms:

- callback-based,
- promise-based,
- synchronous and
- streaming.

I'm sure there are differences across node versions, etc.

[2022-01-14 09:38] #789 closed

[2022-01-14 12:00] shaicantor opened #833 "AWS SDK Instrumentation trace is broken"
### What version of OpenTelemetry are you using?
@opentelemetry/api@1.0.4
@opentelemetry/core@1.0.1
@opentelemetry/instrumentation-aws-sdk@0.4.0
@opentelemetry/auto-instrumentations-node@0.27.1

### What version of Node are you using?
16.11.1

### What did you do?
I'm using pm2
I configured a module to require using node.js --require option

tracing.js
[code]
We have a flow that uses http mixed wi

[2022-01-14 13:25] blumamir opened #834 "redis instrumentation - support v4"
Looks like the `redis` package released [v4](https://www.npmjs.com/package/redis/v/4.0.0)

Out instrumentation currently [only supports v2 and v3](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/9326c99f3cdf3e0166f74093a8093066be78bd0a/plugins/node/opentelemetry-instrumentation-redis/src/instrumentation.ts#L53)

This issue is to add support to this instrumentation for the new v4.
T

[2022-01-14 16:50] blumamir commented on #833
Hi @shaicantor ,
This implementation follows the [Semantic Conventions for Messaging Systems Batch Receive](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/messaging.md#batch-receiving).

There is ongoing work to stabilize the conventions. Currently it looks like it will also use this structure of creating new trace for receive.
If y

[2022-01-14 18:23] shaicantor commented on #833
Thanks for the response @blumamir.
I stumbled upon this today after submitting the issue.
I have a follow up question.
What if you received only one message?
Shouldn't this follow single receiving and set the parent as expected?

Thanks for the response @blumamir.
I stumbled upon this link today after submitting the issue.
I have a follow up question.
What if you received only one message?
Shouldn

[2022-01-14 20:53] dyladan commented on #833
Removing bug label as this is currently working as designed.

I'm looking at the link and don't see anything that says "single receiving" am I just missing something obvious?

[2022-01-15 05:49] shaicantor commented on #833
Hey @dyladan,
Sorry for the misunderstanding. I'll rephrase my question.

From what I'm seeing in the SQS implementation in the aws-sdk instrumentation, it is always assumed that we're batch receiving, but we can also have a scenario where 1 producer sends 1 message and there's 1 or more consumers, like in the https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/tr

[2022-01-15 12:11] blumamir commented on #833
This issue keeps coming up again and again. It is also widely discussed in the SIG for messaging systems semantic conventions.
Although 1 message receive is possible, connecting receiver to producer span creates the following issues:
- We start the receive span upon user call to `client.receive(params)`. At this point, we don't know how many messages we'll get back, and are not aware of the remote

[2022-01-15 12:31] blumamir commented on #832
+1
I use this module in one of my personal projects, and would really be happy to have instrumentation for it.

[2022-01-15 12:56] blumamir opened #836 "graphql: support new v16"
grpahql has a new major version: 16 [npm](https://www.npmjs.com/package/graphql)
Our tests seems to fail for this version, as can be seen in [this renovate PR](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/719)

The instrumentation reports [supporting version >=14](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/b231412514addf0ec73f97b21edb7ad08badf5b7/plugins/nod

[2022-01-15 17:10] #249 closed

[2022-01-15 17:12] vmarchaud commented on #7
I'll close this since we've done that since few months

[2022-01-15 17:12] #7 closed

[2022-01-15 17:13] vmarchaud commented on #132
We have https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-aws-lambda now

[2022-01-15 17:13] #132 closed

[2022-01-15 17:14] vmarchaud commented on #323
It has been upstreamed, closing

[2022-01-15 17:14] #323 closed

[2022-01-15 17:16] vmarchaud commented on #229
Now that instrumentation only depend on the API (and that we pin the version each is compatible with) it should be automatically handled by package managers

[2022-01-15 17:16] #229 closed

[2022-01-15 17:18] vmarchaud commented on #276
Both have been upstreamed in the contrib repo, closing

[2022-01-15 17:18] #276 closed

[2022-01-15 17:19] vmarchaud commented on #97
I believe no instrumentation used it anymore after we rewrote them from the plugin system, closing

[2022-01-15 17:19] #97 closed

[2022-01-15 17:22] vmarchaud commented on #836
Rauno already opened an issue for this here: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/836 so i'm closing this one

[2022-01-15 17:22] #836 closed

[2022-01-15 21:13] vmarchaud commented on #836
Sorry it was this one: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/784

[2022-01-15 21:14] vmarchaud commented on #784
@obecny Do you still plan to do this ?

[2022-01-16 08:22] shaicantor commented on #833
@blumamir, thank you very much for a very thorough and clear explanation.
All issues are clear.

I really like the idea to opt-in to change different parent-child schemas via configuration, as I believe that the user knows how his/hers system work and what would represent accurately the system behavior and what would give him/her the most value.
In my system, we actually have multiple schemas (1 s

[2022-01-16 08:28] shaicantor commented on #833
I validated the above spec to see the **links** for the "Batch Receiving" scenario and didn't see the links I was expecting.
[code]

Span Proc1 and Span Proc2 didn't have a link to the Span Prod1 and Span Prod2 trace and span.
They had a link to "Span Recv1".
Just to validate that I wasn't wrong, I'm exporting data to Jaeger and the traces response json contains "references" of type "CHILD_OF".
Is

[2022-01-16 08:37] blumamir commented on #833
You can find all the details [here](https://github.com/open-telemetry/community). The meetings take place "Every Thursday at 8:00 PT". You have the link to the zoom in the public calendar which you can access from this repo. There is also the otel-messaging slack channel which is not very active

[2022-01-16 08:45] blumamir commented on #833
Regarding the links in Jeager, I never tried but "CHILD_OF" means that the `process` span is the child of receive which is correct. [Looks like jaeger exporter does not transform links](https://github.com/open-telemetry/opentelemetry-js/blob/d315b0a75eb9517537b96a4ace083371cbdba552/packages/opentelemetry-exporter-jaeger/src/transform.ts#L121), so it's expected that they are missing.
I don't know w

[2022-01-16 12:42] blumamir commented on #833
Thanks for bringing it up @shaicantor and for opening the issue for jaeger exporter in core repo

[2022-01-17 13:21] vsushche opened #837 "connect instrumentation is not take in account error middlewares"
### What version of OpenTelemetry are you using?
0.27.0

### What version of Node are you using?
16

### What did you do?
const sdk = new opentelemetry.NodeSDK({
    traceExporter,
    instrumentations: [
        new ConnectInstrumentation(),
    ]
});

### What did you expect to see?
Instrumentation should work with both types of middlewares
// regular middleware
app.use(function (req, res, next)

[2022-01-18 09:57] royi-frontegg commented on #801
@dyladan I'm using `opentelemetry-instrumentation-kafkajs` that still haven't upgraded

[2022-01-18 10:10] royi-frontegg commented on #801
@dyladan They have upgraded to 0.27

[2022-01-18 20:27] airhorns commented on #12
I put together this instrumentation for the `ws` library here: https://www.npmjs.com/package/opentelemetry-instrumentation-ws , it traces the client side connection initiation and the server side, including the `upgrade` event and `WebSocket` initiation.

We've been running it in production for a few weeks now and it has helped us understand our websocket woes a lot better. We'd would love any fee

[2022-01-19 14:39] stephencranedesign opened #839 "trace headers on Img tags"
### Is your instrumentation request related to a problem? Please describe
A large portion of our web app is google maps based where we give google maps an image path to hit our server and then we do a lot of processing to provide an image.

Using the web auto instrumentation defined [here](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/metapackages/auto-instrumentations-web#u

[2022-01-20 18:57] Ugzuzg commented on #785
Indeed, it has a side effects. Adding a dummy callback would change the error emitting behaviour.

server or when any other in Node Redis occurs. If you use a command without
callback and encounter a ReplyError it is going to be emitted to the error
listener.

https://github.com/redis/node-redis/blob/v3.1.2/lib/utils.js#L87-L93

[2022-01-20 18:59] zekth opened #842 "@opentelemetry/instrumentation-pino example is not working"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?

v14.18.0

### What did you do?
Copy pasted the example from: https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-pino

### What did you expect to see?
traceid in the log

### What did you see instead?
nothing

### Additional context

I don't

[2022-01-20 20:40] #842 closed

[2022-01-21 23:33] sfishel-splunk opened #847 "@opentelemetry/instrumentation-graphql sets `graphql.operation.name` span attribute to operation type"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

v12.22.4

### Please provide the code you used to setup the OpenTelemetry SDK

I'm using `@splunk/otel`, the setup code looks like this:

[code]

### What did you do?

I applied the above instrumentation configuration to an Apollo graphql

[2022-01-23 19:27] seblaz opened #848 "Support mongodb driver >= 4"
### Is your feature request related to a problem? Please describe

There is no problem with the current implementation, but it would be great if the latest mongodb driver could be used with the open telemetry instrumentation.

### Describe the solution you'd like to see

Support the version 4 of the [mongodb driver](https://github.com/mongodb/node-mongodb-native).

### Describe alternatives you've

[2022-01-23 22:53] seblaz commented on #848
Sorry, it looks that it's a duplicate of #577.

[2022-01-23 22:53] #848 closed

[2022-01-23 23:26] seblaz opened #849 "Mongodb hierarchy bug"
### What version of OpenTelemetry are you using?

1.0.4

### What version of Node are you using?

14.18.3

### What did you do?

I set up an express app that calls a mongodb backend on every request. I also prepared a way to reproduce the issue with instructions in [this repo](https://github.com/seblaz/opentelemetry-mongodb-bug).

### What did you expect to see?

I expected that every express span

[2022-01-24 13:10] shaicantor commented on #802
So what is the recommended workaround at the moment?

[2022-01-24 19:54] #312 closed

[2022-01-24 21:39] dyladan commented on #802
Current workaround is probably to do `--skipLibCheck`. Unassigning @obecny because he is no longer maintainer and hasn't responded on this issue.

The long-term solution will probably be to vendor the types in-package.

[2022-01-24 23:16] asafpelegcodes commented on #802
@shaicantor on my project we decided to go with installing  `@types/graphql` as a dev dependency.  The library is deprecated but I was more comfortable with that choice since my code will break once it's no longer available versus the `--skipLibCheck` which in my estimation would be harder to remember to revert once the issue is resolved.

[2022-01-25 09:15] obecny commented on #784
I don't recall I was planning to do this.

[2022-01-25 15:12] blumamir commented on #833
closing as this behavior follows the spec and the Jaeger export problem is already documented in its own issue

[2022-01-25 15:12] #833 closed

[2022-01-26 23:40] armandAkop opened #854 "pino-instrumentation not injecting trace_id into logs when used with TypeScript"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
v16.6.1

### What did you do?
**"my-logger"** is a separate typescript project on my machine, here is the simple implementation which instantiates an instance of pino and exports as default.
https://gist.github.com/armandAkop/3e064c2e378cdd8a442b339f3b5e28f6

I am running "tsc" in the repo and outputti

[2022-01-27 06:51] Flarna commented on #854
Not sure if this is the root cause but there is quite a mix/max of older and newer versions of the various otel packages.
There is a [compatibility matrix](https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix) - which is unfortunately not completely up to date.

I recommend to retry with latest versions of the packages and keeping the compat matrix in mind.

[2022-01-27 17:58] chrisrichardsevergreen opened #855 "Expose lambda handler context to the eventContextExtractor in @opentelemetry/instrumentation-aws-lambda"
### Is your feature request related to a problem? Please describe
The `eventContextExtractor` in @opentelemetry/instrumentation-aws-lambda limits us to scenarios where the handler event is the carrier of trace context. In order to avoid adding extra fields to the payload of a direct lambda invoke (using the aws-sdk) the context is being carried by the `clientContext` set on the `context` argument

[2022-01-27 19:21] armandAkop commented on #854
Tried a few combinations but still wasn't able to find a working version. Even the basic example on the README of instrumentation-pino is not working. @politician would you happen to know what versions I could try that would give me the best luck?

[2022-01-27 19:35] Flarna commented on #854
Could you try to replace `import { pino } from 'pino'` by `import pino = require('pino')` in your code?

[2022-01-27 19:50] armandAkop commented on #854
Tried the first recommendation, no avail.

Maybe my knowledge is lacking here but for an application that simply reads a message from a queue, would I have to create a new trace and span manually in order for it to get picked up by pino?

[2022-01-27 20:27] #802 closed

[2022-01-27 20:40] Flarna commented on #854
The created span is not set as active therefore the pino instrumenation will not see it.
Try the following:
[code]

if you log within an HTTP request (and add HTTP instrumentation) it works without any manual span creation as the instrumentation is doing this for you.
[code]

[2022-01-27 23:45] armandAkop commented on #854
That seemed to do the trick, but still the original problem still persists unfortunately. Really not sure why a TypeScript implementation screws with the functionality

[2022-01-28 08:13] Flarna commented on #854
Ported to typescript and there seems to be a bug in the instrumentation resulting in non working setups depending on how you import and if esModuleInterop is set in tsconfig.js. see below for details.

[code]

[2022-01-28 16:53] armandAkop commented on #854
Ah you're right, in one of the libraries I had written which I was testing against, I had written
[code]

Thanks for the quick turn around and finding this!

[2022-01-30 12:34] blumamir commented on #263
This instrumentation has been added by @Rauno56
https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-knex

[2022-01-30 12:34] #263 closed

[2022-01-30 12:45] blumamir opened #861 "knex instrumentation report support for >= 0.22.0 but tests fails for v1.0.0"
### What version of OpenTelemetry are you using?

latest (0.27.1)

### What version of Node are you using?
14

### What did you do?
Knex instrumentation [publishes that it supports versions >= 0.22.0](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/18e4f93007b19ecb33f8711ae0d20c51a90887d5/plugins/node/opentelemetry-instrumentation-knex/src/constants.ts#L20)
[code]

Knex [published

[2022-01-30 16:15] sk- commented on #9
@vmarchaud any progress on this? The blocking PR was already merged.

[2022-01-30 16:21] vmarchaud commented on #9
I stopped using `express-async-errors` and i don't have the time to fix this, feel free to make a PR though

[2022-01-31 06:34] #730 closed

[2022-01-31 06:34] #729 closed

[2022-01-31 09:16] jord1e commented on #705
@github-actions

[2022-01-31 11:11] #749 closed

[2022-01-31 17:54] mentos1386 commented on #847
Similar to #705

[2022-01-31 20:08] Danwakeem opened #862 "Why is my lambda showing a non recording span in the responseHook?"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I am using the `@opentelemetry/instrumentation-aws-lambda` library inside of my lambda function. The lambda function I am looking at is has about 200 or so invocations a minute.

For some reason in the `responseHook` I am seeing the span printed out as a

[2022-02-01 02:01] dpkirchner commented on #770
Obligatory anti-stalebot reply.

[2022-02-01 17:02] legendecas commented on #770
The api package (`@opentelemetry/api`), sdk package (like `@opentelemetry/sdk-trace-base`) and instrumentation package (`@opentelemetry/instrumentation`) are released with different stability guarantees today. Both API and trace SDK are stable now, but not the instrumentation.

Instrumentation packages like `@opentelemetry/auto-instrumentations-node` has their version compatibility documented on t

[2022-02-01 17:10] Danwakeem commented on #862
I figured out what my issue was 👇

I had to set a custom sampler to always sample the data. I am sure I could have messed with this a bit to have it not sample every request but fortunately I wanted to collected every execution 😎

So my to tie this back into the original question here is what the basic code looks like 👇

[code]

I still am a bit confused why the original implementation was not sen

[2022-02-01 18:21] chrisrichardsevergreen commented on #855
Added by PR #860

[2022-02-01 18:21] #855 closed

[2022-02-02 21:33] blumamir commented on #862
try to set `disableAwsContextPropagation` to true.
AWS has a bug in api gateway where they inject no sampling when x-ray is disabled, effectively disabling tracing for all downstream services.
you can read more here: #546

[2022-02-06 11:29] blumamir commented on #804
implemented in #811

[2022-02-06 11:29] #804 closed

[2022-02-07 06:34] #733 closed

[2022-02-07 06:34] #732 closed

[2022-02-07 16:59] Danwakeem commented on #862
@blumamir that also seems to work! Thank you for the reply 😎

[2022-02-08 11:57] smhmayboudi commented on #717
I have the same issue. just follow this sample with `nextjs`

https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/react-load/react/

[2022-02-09 01:12] seblaz commented on #849
Hi @Flarna @vmarchaud sorry to bother you, could you reproduce the issue?

[2022-02-09 06:35] EddieGarcia opened #870 "Switched parameters of log hook in README"
Hi all, i have noticed error in documentation. In README usage section there is example how to use loghook:
[code]
in fact parameters should be switched as the first one is span and record comes second.
https://github.com/open-telemetry/opentelemetry-js-contrib/blob/7bde622802a88dbca685ae2400bdcf665f1443d1/plugins/node/opentelemetry-instrumentation-winston/src/instrumentation.ts#L121
[code]

[2022-02-09 07:43] Flarna commented on #849
Sorry, not time yet to look into this and I can't promise any date.

[2022-02-09 12:17] jhasselgren opened #871 "@opentelemetry/instrumentation-fastify has not been published since November"
It looks like @opentelemetry/instrumentation-fastify have not be published to NPM since November. It has been work done on the code after that, but they are not published.

The effect of this is that the current @opentelemetry/instrumentation-fastify on npm (v0.25.0) is not compatible with @opentelemetry/instrumentation v0.27.0.

Gets the error:
`Type 'Meter' is missing the following properties fr

[2022-02-09 12:23] Flarna commented on #871
seems there is no owner for this instrumentation mentioned in https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/.github/component_owners.yml

@obecny you created this one initially in #611. Do you still feel responsible for it?

[2022-02-09 14:07] Flarna commented on #871
seems the fastify instrumentation is missing in release config. I created https://github.com/open-telemetry/opentelemetry-js-contrib/pull/873 to add it.

[2022-02-09 17:35] #577 closed

[2022-02-10 00:05] dchambers opened #875 "Express instrumentation yielding no spans?"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

v14.18.1

### What did you do?

I tried to register three instrumentations:

[code]

### What did you expect to see?

I expect to see the `express` library be instrumtented *and* produce spans for requests I make to the server.

### What did you see instead?

I see `express` being instrumented prior

[2022-02-10 08:09] Flarna commented on #875
Could you provide some more details how you initialize the SDK?
It looks like you use `sdk-trace-base` which doesn't install a context manager so it's up to the user to do so otherwise implicit passing of spans can't work.

An alternative is to use `sdk-trace-node` which does this specific for Node.js (or `sdk-trace-web` for web).

[2022-02-10 09:42] dchambers commented on #875
Thanks @Flarna, I hadn't realised that subtlety. I just thought `NodeTracerProvider` automatically registered built-in Node.js instrumentation. I was initially using it but I gave up on it because I didn't get spans for either `http` or `express` when I was originally using it, and moving to `BasicTracerProvider` is what caused `http` spans to start working for me.

However, by switching back to `

[2022-02-10 09:42] #875 closed

[2022-02-10 10:04] Flarna commented on #875
Yes, that's a bit confusing as there are quite some building blocks where one depends on the other.

I think you meant `@opentelemetry/sdk-node` instead `@opentelemetry/sdk-trace-node`.
sdk-node is the full blown (but still experimental) thing which combines trace, metrics, resource detection. Not sure about autoinstrumentation of "everything" as this might be somewhere else, not sure here.

[2022-02-10 10:10] lewis-green opened #876 "AWS Lambda Instrumentation Trace ID is same for all calls"
### What version of OpenTelemetry are you using?
1.0.1

### What version of Node are you using?
14.17.3

### What did you do?
Call Lambda via API Gateway multiple times from different end users.

### What did you expect to see?
Unique trace ID per execution request coming in to the lambda

### What did you see instead?
Trace ID same for all executions within a lambda instance.

### Additional cont

[2022-02-10 15:36] dchambers commented on #875
For posterity, I found the issue that was originally breaking things for me:

[code]

Googling "express https" seems to indicate that this approach is still the recommended way of enabling `https:` support, so it might be w

[2022-02-10 16:11] ccalderon9411 opened #878 "Pika build monorepo crush because requiere install unused dependencies"
Please answer these questions before submitting a bug report.
When I try to complie my monorepo it crush because need some dependecies that I not use.
![image](https://user-images.githubusercontent.com/43613718/153438995-4199d85f-e9d5-4803-a566-ff792cd548ca.png)
### What version of OpenTelemetry are you using?
0.27.0
[code]
### What version of Node are you using?
14.17.0
### Please provide the cod

[2022-02-10 16:33] bradfrosty commented on #548
This is still a bug. I missed the comments on [my PR](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/743). Drafting up a response now.

[2022-02-10 19:22] dyladan commented on #878
Transferred to contrib because it is actually an issue with the `@opentelemetry/auto-instrumentations-node` package

[2022-02-10 22:06] dyladan commented on #875
autoinstrumentation is included in that afaik.

the sdk-node package is honestly not a great experience at the moment and I would like to refactor it so that it is sync. Currently it assumes async resource detection, but I think that is an unusual case for most people.

[2022-02-11 06:46] blumamir opened #885 "graphql instrumentation: support v16"
following #883 renovate's tried to update the dependency of graphql from v15 to v16 and there are errors durig compile phase. This issue is about fixing these errors so instrumentation supports v16 of graphql, and adding the new major to test-all-versions

[code]

[2022-02-11 08:16] Flarna opened #886 "Release automation doesn't include fastify instrumentation"
Even fastify instrumentation was added in #873 and some change was committed in #879 release please doesn't include it into the release main PR #874.

[2022-02-11 13:54] dyladan commented on #886
The tag `chore:` was used for that change which is ignored by the release automation

[2022-02-11 16:04] dyladan opened #888 "CI: check that a package can be released"
Related to #886 #887

All packages should be included in the release please configuration. If a new package is starting from 0.1.0 it does not need to be included in the manifest but if it starts from a higher number its existing version should be listed in the manifest.

[2022-02-11 16:07] dyladan opened #889 "CI: verify pull request titles contain the correct conventional commit tag"
We have had a few instances where packages are not released because the conventional commit tag was either incorrect or missing. The CI should verify that a conventional commit was used (either fix or feat) and if something else is used (like chore) the user should have some way of specifying they intend for the change not to be included in a release (by label maybe?)

[2022-02-12 11:05] vmarchaud commented on #886
Closing since its fixed via https://github.com/open-telemetry/opentelemetry-js-contrib/pull/887

[2022-02-12 11:05] #886 closed

[2022-02-14 06:34] #317 closed

[2022-02-14 06:34] #307 closed

[2022-02-14 07:59] blumamir opened #893 "LICENSE file: fill year and name of copyright owner"
following the [review](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/892/files/abd1c3d93d45480dc32215e434633d6b49aa4389#r805389384) from @Flarna on amqplib instrumentation, it was noticed that the LICENSE files in many packages is missing the year and name of copyright owner:

[code]

It's found in 42 times in the repo.
This issue is for fixing that in all places

[2022-02-14 08:27] blumamir opened #894 "discussions-url in READMEs points to core repo"
Following the [review](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/892#discussion_r805389806), @Flarna  spotted that the discussion link points to core repo instead of contrib repo.

[code]

It is found in 42 other files in contrib.
This issue is to fix those links in all places

[2022-02-14 08:32] blumamir commented on #894
Sorry for the noise. As far as I am aware, the discussion page is hosted in core repo only, and we don't have a separate discussion page for contrib.
Closing the issue

[2022-02-14 08:32] #894 closed

[2022-02-15 03:43] pauloprestes opened #898 "@opentelemetry/instrumentation-aws-sdk fails when using BatchGetItem with ReturnConsumedCapacity set to NONE"
### What version of OpenTelemetry are you using?
0.5.0

### What version of Node are you using?
v16.13.2

### What did you do?
Added @opentelemetry/instrumentation-aws-sdk with aws-sdk-js-v3, and doing a BatchGetItem to dynamo and setting [ReturnConsumedCapacity](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchGetItem.html#API_BatchGetItem_RequestSyntax) as NONE.

### What

[2022-02-15 10:51] #893 closed

[2022-02-15 12:45] dchambers commented on #705
@Sytten, is there a particular reason why you think the field should be called `operation.name` rather than `graphql.operation.name`, otherwise #847 would seem (to me) to be the right approach? This would hopefully also avoid the need for a naming convention discussion, given that `@opentelemetry/instrumentation-graphql` already emits a `graphql.operation.name` field, and fixing it would just be a

[2022-02-15 12:57] Sytten commented on #705
I have no opinion on the name of the field per say, just that the current implementation is wrong. Changing it would be a breaking change in any case.

[2022-02-15 13:21] dchambers commented on #847
@dyladan / @mentos1386, would you be open to me creating a PR to fix this bug?

[2022-02-15 13:22] dyladan commented on #847
of course

[2022-02-15 14:59] Rauno56 opened #901 "fix: remove `@types/form-data` from the root's dev deps"
Introduced it as a quick fix in #900. Should eventually be removed with addressing the actual underlying issue.

[2022-02-15 16:31] Flarna opened #904 "Local build differs from CI build"
Bootstrapping differs between local builds using `npm install` in root folder and CI builds.

Local builds execute [`lerna bootstrap --no-ci`](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/b9a13817b21f6be804479f24619c765b33ec0add/package.json#L25)

CI builds execute [`lerna bootstrap --no-ci --hoist --nohoist='zone.js' --nohoist='mocha' --nohoist='ts-mocha'`](https://github.com/o

[2022-02-15 19:52] shelbyspees opened #905 "Link to Releases in browser extension readme points to external repo"
### What version of OpenTelemetry are you using?
n/a

### What version of Node are you using?
n/a

### What did you do?
I wanted to download and install the [browser extension](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-browser-extension-autoinjection).

### What did you expect to see?
It should take me to the releases page for this repo, maybe [fil

[2022-02-16 15:47] dchambers commented on #847
@dyladan, might you be able to move the PR forward from its current state?:

![image](https://user-images.githubusercontent.com/283294/154301769-09edc35a-ebb8-4347-8d87-51b58b8b37b1.png)

[2022-02-16 15:47] #901 closed

[2022-02-16 16:23] abhee11 opened #907 "Add detector for docker container id for cgroup v1 to be added to resource metadata"
### Is your instrumentation request related to a problem? Please describe

Currently there is no support for adding container id to resource metadata by itself. The logic exists in aws detector but not as a standalone module.

### Is it applicable for Node or Browser or both?
Node

### Do you expect this instrumentation to be commonly used?
Weekly Downloads:

### What version of instrumentation ar

[2022-02-16 16:23] abhee11 commented on #907
I am currently working on it. I should be able to open a PR soon.

[2022-02-17 03:40] jscherer92 commented on #803
@Rauno56 I'd be happy to pick this one up! New to this repo but want to get involved in the OpenTelemetry JS repos!

[2022-02-18 00:25] jscherer92 commented on #803
@Rauno56  https://github.com/open-telemetry/opentelemetry.io/pull/1158

[2022-02-18 03:40] jscherer92 commented on #870
I'll grab this! Thank you for bringing it up,!

[2022-02-18 04:10] jscherer92 commented on #849
I'll get this setup locally in the next few days to reproduce.

[2022-02-19 02:08] jscherer92 commented on #849
@seblaz I have reproduced this on my local machine. Will take a look what is going on.

[2022-02-21 06:34] #686 closed

[2022-02-21 06:35] #516 closed

[2022-02-21 06:35] #363 closed

[2022-02-21 09:47] #870 closed

[2022-02-21 20:42] blumamir commented on #904
I added it to the CI.
At the time, it was not possible to hoist with npm7 due to peer dependencies issues, so I had to disable the new peer-deps mechanism [here](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/0a557e86c0d70dc6ab7af9736b1746f89c5fc8bf/.github/workflows/unit-test.yml#L138).
I think it's best to review if those issues still affect us, and resolve them if they do, so i

[2022-02-28 06:35] #782 closed

[2022-02-28 06:35] #742 closed

[2022-02-28 06:35] #683 closed

[2022-02-28 06:35] #297 closed

[2022-02-28 08:45] #898 closed

[2022-02-28 17:36] kenodressel opened #925 "winston2 installation is required for using the WinstonInstrumentation"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?
v16.13.2

### What did you do?

I set up my SDK with typescript 4.5.5 as follows:
[code]
then installed the above mentioned dependencies and ran `tsc`.

### What did you expect to see?

A compiled js file without warnings.

### What did you see instead?

[code]

### Additional context

This happens be

[2022-02-28 18:32] Flarna commented on #925
This sounds very similar to issues reported with graphql - either it doesn't compile (if it is removed from deps) or it causes that a second version is installed (if included in deps).

see e.g. #746 and #802

[2022-02-28 19:38] jscherer92 commented on #849
@Flarna @seblaz I have found the root cause of this bug, but I do not know how we want to proceed. The MongoDB instrumentation goes to the low level protocol of MongoDB. But, the actual calls being made to these low level calls happen in an asynchronous context.

So what is happening is that the underlying wire protocol calls may be getting executed in a different context. By the time they are cal

[2022-02-28 19:56] Flarna commented on #849
That's usually not simple to fix. I can give some general hints but as I'm not familiar with the mongodb internals I can't provide a concrete solution.
The toolbox available has `api.context.bind()` to wrap a function or an `EventEmitter`. This is helpful if there is some async API called with the right context but the callback is running on the wrong context for whatever reason. By monkey patchin

[2022-02-28 20:09] jscherer92 commented on #849
Thank you for giving a bunch of suggestions. So far all the root locations didn't get solved by any of these methods. I am thinking another file may need to be wrapped.

As soon as the method runs and I can get a context it is the wrong context which tells me the API needs to wrapped higher up.

[2022-03-02 05:54] jscherer92 commented on #849
@Flarna I think the best move forward is actually a rewrite instead of utilizing the wire protocol, we instead intercept the calls on the collection. This should give the users what they want, and it should also cover both mongo versions, those less than 3 and above 4. This is a big rewrite, but it seems to be the correct option moving forward.

@seblaz have you used the v4 client for mongo and if

[2022-03-02 08:05] Flarna commented on #849
@jscherer92 By the way an alternative approach for issues like this would be to create PRs on mongodb driver side using [`AsyncResource`](https://nodejs.org/dist/latest-v16.x/docs/api/async_context.html#class-asyncresource) to ensure that transactional context is preserved.

[2022-03-02 14:45] vmarchaud commented on #849
Actually the description of the issue make me think of another issue that we had back in the day where the context was mixed up when the load was above a specific threshold. @jscherer92 Do you know if the issue happens with a low load (<15req/s like @seblaz mentionned) ?

[2022-03-02 15:44] jscherer92 commented on #849
I got this to happen as low as 3 requests. The second mongo call got the context of the third http call because the cursor didn't get called until that context took over.

[2022-03-02 21:23] dyladan commented on #889
Looks good to me. I would probably suggest the `titleOnly: true` or `titleAndCommits: true` configuration to ensure it doesn't find a semantic commit and ✅ a PR with a bad title.

[2022-03-03 09:01] JohannLai commented on #178
@cthulhu-bot May I ask what is the progress now?

[2022-03-03 20:04] dyladan commented on #925
We are seeing more and more of these issues recently. I think we will need to add `@types/{package}` or even the actual package in some cases to regular dependencies of our instrumentations if we want to avoid vendoring our own types for them.

[2022-03-05 08:47] vmarchaud commented on #849
@jscherer92 FYI someone already tried to implement the async resources mechanism in the past (https://github.com/mongodb/node-mongodb-native/pull/1846) but i remember another discussion that ended up saying something like "we have an APM API for this, it might be enough" (https://mongodb.github.io/node-mongodb-native/2.2/reference/management/apm/ or https://www.mongodb.com/community/forums/t/what-

[2022-03-05 15:07] jscherer92 commented on #849
this looks correct. So do we want to wrap what they have, or do we want to close our implementation? It looks like they are stating if you want to hook this into another telemetry solution you do it in a customized fashion. We could always make a custom wrapper around this.

I'm open to whichever we want to do. I was playing with different ways of potentially solving this issue w/o touching their

[2022-03-05 15:17] jscherer92 commented on #849
what I am going to do is create a separate MongoDB implementation wrapping their APM implementation. That way this breaks no one else and we can have one that will hold the context.

[2022-03-06 17:47] #925 closed

[2022-03-07 06:35] #788 closed

[2022-03-07 18:43] jreichhold opened #937 "instrumentation-aws-sdk error handling incorrect for aws.error leading to Invalid attribute value set for key"
### What version of OpenTelemetry are you using?
"aws-sdk": "^2.675.0",
"@opentelemetry/instrumentation-aws-sdk": "^0.5.0",

### What version of Node are you using?
Node 12.22.9

### What did you do?
When I turned on tracing in my production env I started seeing lots of
```Invalid attribute value set for key: aws.error```

### What did you expect to see?
No error for errors in response and instead

[2022-03-09 16:04] mbecca commented on #13
Hello, is there any progress?

[2022-03-09 17:08] legendecas commented on #13
The metrics spec, JavaScript API, and SDK are under active development. I'd believe we need to wait for a (generally) stable metrics API to start the work on third-party instrumentation. (The work is being tracked at https://github.com/open-telemetry/opentelemetry-js/issues/2480 and https://github.com/open-telemetry/opentelemetry-js/issues/2574)

[2022-03-10 21:35] jreichhold commented on #937
Digging into the AWS response object I see the following: https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/Response.html#error-property

[code]

[2022-03-10 22:00] jreichhold commented on #937
Since I can't push to the repo I think the answer is as something simple as
[code]
You could also `JSON.stringify(response.error)` but that might get a bit long and truncated in spans

[2022-03-14 06:35] #807 closed

[2022-03-14 06:35] #565 closed

[2022-03-14 09:14] chrisrichardsevergreen commented on #829
The underlying motivation for this issue has been achieved in PR #916 so this can be closed.

[2022-03-14 09:14] #829 closed

[2022-03-16 10:46] #826 closed

[2022-03-16 21:37] andyfleming opened #950 "Migrate examples for koa instrumentation"
We're moving instrumentation examples from the top-level examples folder to the individual instrumentation packages to help keep them up to date. [See the original PR here](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/939).

This issue is specifically for the [@opentelemetry/instrumentation-koa](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/koa) e

[2022-03-16 21:40] andyfleming commented on #950
@dyladan @Flarna @Rauno56 — Here's an example issue for migrating a given instrumentation package. Let me know if you think anything else needs included in the issue description. Also would be great to tag these with "Good First Issue". Thanks!

[2022-03-18 17:18] austinlparker opened #952 ""Session" support for web tracing"
### Is your instrumentation request related to a problem? Please describe

A front-end application often has many hundreds or thousands of individual requests or transactions as part of a greater 'user session' that can take place over minutes or hours. A single trace that attempted to capture all events as part of this session would be unmanageable for analysis, and would appear 'broken' until th

[2022-03-18 17:22] austinlparker commented on #952
I've also been informed that there's an OTEP baking that includes this type of work so it can probably be considered with that when it lands.

[2022-03-18 17:24] vmarchaud commented on #952
Linking both RUM SIG (https://docs.google.com/document/d/16Vsdh-DM72AfMg_FIt9yT9ExEWF4A_vRbQ3jRNBe09w/edit)
and the OTEP in question (https://docs.google.com/document/d/1bVCOYVgfbfF3Etdj4Y9x3dV2RdA-K_pKRREEKbVyfnY/edit#heading=h.v1yewp2yhfs) for others

[2022-03-18 17:47] austinlparker commented on #952
Thanks!

[2022-03-19 15:30] abhee11 commented on #907
This enhancement was added and merged .

[2022-03-19 15:30] #907 closed

[2022-03-21 06:35] #759 closed

[2022-03-21 06:35] #703 closed

[2022-03-21 08:46] jugglingthebits commented on #759
Turns out the issue was what is described in https://github.com/open-telemetry/opentelemetry-js/issues/1315
I've since switched away from node-fetch and http instrumentation is now working properly.

[2022-03-21 17:52] dyladan commented on #822
@seemk if closing this as stale is not correct lmk and i'll reopen it

[2022-03-22 01:32] jscherer92 commented on #876
I think this is similar to #849. Once I'm finished up there I will try to take a look but most likely the way the instrumentation is working it is not tying to the context correctly.

[2022-03-22 01:35] jscherer92 commented on #847
@dyladan can we get this issue closed since a merge was supposed to fix this? Trying scroll through our bugs list and get it cleaned up a bit :)

Thanks!

[2022-03-22 01:42] jscherer92 commented on #705
@dyladan can we get this closed?

GraphQL does have standard attributes on requests and responses and that is found in the specification found here:

Request: http://spec.graphql.org/October2021/#sec-Validating-Requests

Response: http://spec.graphql.org/October2021/#sec-Response-Format

So we can get this implemented in the instrumentation.

[2022-03-28 06:35] #616 closed

[2022-03-28 06:36] #602 closed

[2022-03-28 20:44] dyladan commented on #275
not stale afaik

[2022-03-28 21:09] dyladan commented on #288
Not stale afaik

[2022-04-02 22:25] jonaskello commented on #753
Any progress on this?

[2022-04-03 05:35] Kampe commented on #753
would be curious to know as well!

[2022-04-03 09:19] jhasselgren commented on #871
looks to be 0.26.0 that is published to npm now
https://www.npmjs.com/package/@opentelemetry/instrumentation-fastify

closing

[2022-04-03 09:19] #871 closed

[2022-04-04 06:36] #837 closed

[2022-04-04 06:36] #831 closed

[2022-04-04 06:36] #801 closed

[2022-04-04 23:07] pizzaz93 commented on #819
@dyladan would this be a PR implementing that pattern for all the **relevant** folder's readmes in https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node, and then a variation of that content in the `web` folder?

[2022-04-05 03:12] ivar891 commented on #683
@kubabialy  , tracing should be started as the first thing during your application start
const tracer = require('./tracing')('serviceName')
./tracing should register required instrumentations

[2022-04-07 19:18] dyladan commented on #819
Yes. Are you considering taking on this work?

[2022-04-07 19:21] dyladan commented on #679
@mooyoul were you ever able to open that PR?

[2022-04-07 19:23] pizzaz93 commented on #819
Yes, I think the only missing detail would be some of the context for the web folder, but I think we can first focus on the node folder and address web in a later PR.

[2022-04-07 19:30] dyladan commented on #854
Is this actually stale, resolved, or still open?

[2022-04-07 20:14] Flarna commented on #854
The problem still exists but there is a workaround.

[2022-04-07 22:24] pizzaz93 commented on #819
https://github.com/open-telemetry/opentelemetry-js-contrib/pull/960 @dyladan confirming I have the right pattern/links before propogating further.

[2022-04-08 11:28] jord1e commented on #854
I load my dotenv .js file with `node -r` which loads Pino before the instrumentation is initialized

How I fixed this is the following way for anyone interested:
[code]

Maybe not a workaround for this specific issue, but nonetheless useful for other people

[2022-04-08 11:45] Flarna commented on #854
@jord1e No, this is a different issue.
This on is about `import { pino } from 'pino'` is not working but `import pino = require('pino')` works. Cause is that pino exports itself more then once and one export is instrumented but the others are not.

For your issue I recommend to preload the Otel initialization before preload pino instead tinkering with `require.cache`. in your case you end up with

[2022-04-08 14:53] mentos1386 opened #964 "aws-sdk: sqs instrumentation is not setting messaging.message_id on send request"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
`v16`

### What did you do?

We have instrumented our code with `aws-sdk` instrumentation.

When we are doing [sendMessage command](https://docs.aws.amazon.com/AWSJavaScriptSDK/v3/latest/clients/client-sqs/classes/sendmessagecommand.html) we are expecting to se `messaging.message_id` as defined in [the

[2022-04-11 06:36] #785 closed

[2022-04-12 00:15] nwalters512 opened #970 ""no function to unwrap" logged when disabling Express instrumentation"
### What version of OpenTelemetry are you using?

- `@opentelemetry/api`: `1.0.4`
- `@opentelemetry/instrumentation-express`: `0.28.0`

### What version of Node are you using?

[code]

### What did you do?

Reproduction available at https://github.com/nwalters512/otel-js-express-repro

Steps to reproduce:

- Clone the repo
- Run `yarn install`
- Run `node index.js`

### What did you expect to see?

[2022-04-12 09:37] Rauno56 opened #971 "Add CI check that ensures all contrib packages are in the OTel registry"
### Describe the solution you'd like to see

OpenTelemetry org keeps a registry of all the compatible packages. Since it's managed in a separate repo and process people are often not even aware that exists or forget to add new packages there. We could either

1. implement a check that warns/errors when a contrib package is not in the registry,
2. implement a check that opens a PR in the registry w

[2022-04-12 18:17] dyladan commented on #31
@vmarchaud nothing in particular. Some db instrumentations support this boolean config and it's not documented anywhere consistently what it means. So you may get different "enhanced" reporting from pg and from mysql

[2022-04-13 08:54] Rauno56 commented on #970
@nwalters512, just wondering: Do you actually require disabling the instrumentation? Could you explain the usecase?
I've been wondering how common is it to turn instrumentations off during runtime.

[2022-04-13 09:21] Flarna commented on #970
Turning an instrumentation off/on at runtime is quite risky. It usually works fine in unittest like setups where a single instrumentation is used but in the wild there are quite a lot modules (not only APM tools) which monkey patch this and that. So unwrap may fail or restore the wrong function if there were some other patch afterwards.
Besides that the wrapped functions may be cached at various p

[2022-04-13 10:55] Rauno56 commented on #805
Closed with https://github.com/open-telemetry/opentelemetry-js-contrib/pull/809

[2022-04-13 10:55] #805 closed

[2022-04-13 10:56] Rauno56 commented on #803
Closed for now, follow-up here: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/971

[2022-04-13 10:56] #803 closed

[2022-04-13 10:57] Rauno56 commented on #832
Initial version added here: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/872

[2022-04-13 10:57] #832 closed

[2022-04-13 11:00] Rauno56 commented on #756
That's configured in https://github.com/open-telemetry/opentelemetry-js-contrib/pull/823

[2022-04-13 11:00] #756 closed

[2022-04-13 11:59] markandrus commented on #703
I previously computed this manually for inclusion in my traces. I'm trying to migrate to the @opentelemetry libraries, and having this would be great.

[2022-04-13 16:18] nwalters512 commented on #970
Strictly speaking, we don't require it. The intent was to disable it during tests and in lower environments to avoid unnecessary overhead. This is definitely a premature optimization and not based on any profiling. I just saw that a `disable()` function existed, and it seemed like an easy way to save some CPU cycles. If the official recommendedation is to just leave them enabled and not worry abou

[2022-04-13 18:54] ikashifullah commented on #178
@cthulhu-bot any progress so far?

[2022-04-13 19:18] Ancient-Dragon commented on #732
@dyladan, don't suppose you can help with the above?

[2022-04-13 19:19] dyladan commented on #732
I don't think this has been implemented?

[2022-04-13 19:22] Ancient-Dragon commented on #732
Hmm, we're getting traces like this:
![image](https://user-images.githubusercontent.com/22601875/163254589-937792fe-4783-4678-a547-cc70684424e1.png)
which really slow down honeycomb

[2022-04-13 19:26] dyladan commented on #732
what instrumentations are you using?

[2022-04-13 19:30] Ancient-Dragon commented on #732
We're currently using the following instrumentation's:
[code]

[2022-04-14 09:48] Rauno56 commented on #970
Thanks for the explanation! I didn't ask to critique the approach - I agree that if the disable method is there, I, as an user, would expect that to work and be reliable.

I tend to agree with what @Flarna said. Even providing it is not a good idea: maintenance overhead, flimsy implementations, broken expectations. I don't think any other SIG supports it either.

[2022-04-14 10:13] Flarna commented on #970
Linking a previous discussion/PR here for reference:
https://github.com/open-telemetry/opentelemetry-js/issues/618
https://github.com/open-telemetry/opentelemetry-js/pull/732

As far as I know there is no official statement/recommendation that disable/enable shouldn't be used. There are a lot cases where it works fine - in special in unittests where the environment is well known and dependencies a

[2022-04-14 16:18] nwalters512 commented on #970
Ack! Yeah, if the unofficial guidance is "don't disable, it may not work or may break things", I would not expect that to be part of the API.

This would certainly be my preference too, but there's a sort of chicken-and-egg problem here. If you store your config in something like AWS Secrets Manager or AWS AppConfig (like we do), then in order to know if OTel should be enabled, you need to require

[2022-04-14 21:09] Flarna commented on #970
For the node.js built in modules like dns the above sequence will most likely work (I haven't tried) because these modules are not cached.
For external modules like aws-sdk it wont work.

But a small change can break this:
[code]
==> The `dns` object was patched but this code uses the local `lookup` variable which points to the unpatched `lookup` function. And this sample also shows when unpatch w

[2022-04-15 15:48] davidmr opened #975 "Error handling middleware with connect fails after instrumenting"
### What version of OpenTelemetry are you using?
* OpenTelemetry API 1.0.4
* OpenTelemetry/connect 0.27.0

### What version of Node are you using?
14.19.0

### What did you do?

I created an application that uses one custom middleware and one error handling middleware. Here's an example: https://github.com/davidmr/connect-opentelemetry-instrumentation

### What did you expect to see?
No behavior c

[2022-04-15 17:48] #970 closed

[2022-04-17 18:20] maxbol commented on #834
any progress on this?

[2022-04-17 18:57] vmarchaud commented on #834
@maxbol Its up for grab so i believe no one started to work on this

[2022-04-18 06:36] #770 closed

[2022-04-18 23:31] lukiano commented on #833
Just stumbled upon this. I've always thought that the consumer span would share the same `traceId` than the producer span. Because I use a Zipkin collector the links relationship is lost.
Do you know which collectors visualise links references? LightStep?

[2022-04-19 02:39] ericmustin commented on #833
@lukiano I believe they're supported in the UI in Jaeger (Apache 2) and Grafana(AGPL), as "Span References"

-  https://github.com/grafana/grafana/blob/c98d835f81af1dd8deb0f7e59376c802a7a00525/packages/jaeger-ui-components/src/types/trace.ts#L41-L48
- https://github.com/jaegertracing/jaeger-ui

[2022-04-19 07:27] mentos1386 commented on #833
@lukiano LightStep doesn't support it ATM. I have asked support and they say "maybe in Q4 this year".

[2022-04-20 15:07] Varagos commented on #753
Has this stalled?

[2022-04-20 15:11] Flarna commented on #753
Added up-for-grabs label. Hopefully someone will find the time to do the work and contribute it here.

[2022-04-21 23:45] bradfrosty commented on #732
@Ancient-Dragon this had not been implemented. This issue is suggesting to connect the DocumentLoad spans (from the document load instrumentation) with the Navigation spans (from the user interaction instrumentation) via [OpenTelemetry Links](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#links-between-spans).

This specification is for linking ca

[2022-04-22 16:32] blumamir commented on #861
There is version 2 as of 21/04/2022.
Renovate tried to bump the version in #977 and tests failed:

[code]

[2022-04-22 16:42] blumamir opened #978 "ioredis instrumentation: support v5"
ioredis instrumentation [currently support versions '>1 <5'](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/cb915cfe018678060b014e1385fcefd0dc73c776/plugins/node/opentelemetry-instrumentation-ioredis/src/instrumentation.ts#L52).

[A new version 5 was published at 26/03/2022](https://www.npmjs.com/package/ioredis/v/5.0.0)

This issue is about adding support to the new version.

Ren

[2022-04-24 16:43] Ancient-Dragon commented on #732
Ok thanks, I was unaware the the user interaction instrumentation was adding these navigations spans.

I was able to filter them out using the shouldPreventSpanCreation to filter them out based on the user clicking the link to that page, as I still want the spans / traces being generated for the http requests.

Sorry about the confusion.

[2022-04-25 06:37] #717 closed

[2022-04-25 06:37] #234 closed

[2022-04-25 06:37] #181 closed

[2022-04-25 11:53] bradfrosty commented on #732
I think that's good feedback for the User Interaction Instrumentation. I agree, I think it would make sense to be able to disable client-side navigation spans via configuration.

I don't know the history of why those spans exist in that instrumentation in the first place, but I remember being surprised when I saw it generated by User Interaction. This is an undocumented feature of that instrumenta

[2022-04-26 05:29] Flarna commented on #847
fixed by #903

[2022-04-26 05:29] #847 closed

[2022-04-26 12:13] blumamir commented on #834
I am working on adding support for v4.
Will be ready soon

[2022-04-27 06:30] Flarna opened #983 "contrib instrumentations are not compatible with SDK 1.2.0/0.28.0"
### What version of OpenTelemetry are you using?

SDK 1.2.0/0.28.0
instrumentation-ioredis 0.28.0

### What version of Node are you using?

node.js 14 and 16 (both fail)

### What did you do?
Use latest SDK packages together with latest instrumentation-ioredis.

### What did you expect to see?

no compile error

### What did you see instead?

compile error `error TS2322: Type 'IORedisInstrumentati

[2022-04-27 07:33] Flarna commented on #983
@vmarchaud I have seen you assigned this to you - I just created #984 to address this.

[2022-04-27 08:15] vmarchaud commented on #983
yeah i started to work on this earlier this morning but forgot to open the issue. I have fixed the host-metrics pkg with the newest API and got everything to compile right now. tell me if you prefer to finish your PR

[2022-04-27 08:30] Flarna commented on #983
I think it should work now. But I haven't touched host-metrics.

[2022-04-28 11:50] blumamir opened #985 "nestjs depends on types from devDependency, failing compilation"
### What version of OpenTelemetry are you using?
`1.0.1`

### What version of Node are you using?
`v16.14.0`

### What did you do?
`yarn add @opentelemetry/instrumentation-nestjs-core` -> `"@opentelemetry/instrumentation-nestjs-core": "0.28.3"` and then:

[code]

This package does not depend on nestjs directly.

When `yarn build`ing the package, following error printed to console:
[code]

This mes

[2022-04-28 12:17] blumamir opened #986 "Unified pattern for instrumentation dependencies"
This issue is about dependencies in instrumentation `package.json`s, [discussed here](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/984#discussion_r859624584)

The current code base includes many instrumentations that have different dependencies patterns on `@opentelemetry/*` packages.

I would like to get to a consensus about the correct way to do it, and then apply the decision

[2022-04-29 05:19] ruifernando7 opened #989 "Patch function not triggered on custom instrumentation for kafkajs library"
### What version of OpenTelemetry are you using?
0.24.0

### What version of Node are you using?
16.15.0

### What did you do?
Here is the repo for reproduction https://github.com/ruifernando7/otel-kafka
I tried to build custom instrumentation for kafkajs.
When i try to start the app (using `yarn items`), the `init` function is trigger.
<img width="392" alt="image" src="https://user-images.githubu

[2022-04-29 13:35] Flarna commented on #986
If we state compatibility with API 1.0.0 we should test it somewhere. Not sure if using `test-all-versions` is really needed, maybe some smaller setup which just installs deps and transpiles is already enough.
Same applies more or less on SDK.

It will most likely work correct but typescript will likely complain - see https://github.com/open-telemetry/opentelemetry-js-contrib/issues/983 Long term

[2022-04-29 13:51] Flarna commented on #985
We had several issues like this in the past resulting in moving types into dependencies resulting in complains by consumers that the version specified by the instrumentation differs from that one used by the end user.
This is in special a problem for packages which have built in types as instrumentation has to depend on the package itself.

see for example (there are more)
https://github.com/open-

[2022-04-29 14:08] gabrielemontano opened #991 "instrumentation-pg used with pg-query-stream causes user application crash"
### What version of OpenTelemetry are you using?
I use this versions:
"pg": "^8.7.3",
"pg-cursor": "^2.7.3",
"pg-query-stream": "^4.2.3"
"@opentelemetry/api": "^1.0.4",
"@opentelemetry/exporter-jaeger": "^1.0.1",
"@opentelemetry/instrumentation": "^0.28.0",
"@opentelemetry/instrumentation-amqplib": "^0.28.0",
"@opentelemetry/instrumentation-hapi": "^0.27.1",
"@opentelemetry/instrumentation-http":

[2022-04-29 16:34] blumamir commented on #985
Me too. Would like to start with `nestjs` as it blocks my current task, and also discuss guidelines or changes to the `InstrumentationBase` api to address this wider issue.

@Rauno56 - You wrote the instrumentation, right? Does it make sense to you to remove the type above?

[2022-04-29 16:57] blumamir commented on #986
We can configure `tav` to run only the `compile` script and not tests. I think we can also define a matrix to test multiple combinations of api and SDKs.

I think this also depends on the exact combination of usages. Instrumentation mostly depends on the API and `@opentelemetry/instrumentation` libraries, so as long as they don't have conflicts, the situation should be relatively ok I assume. But

[2022-04-29 16:59] Flarna commented on #985
Some more references:
https://github.com/open-telemetry/opentelemetry-js/pull/2256
https://github.com/open-telemetry/opentelemetry-js/pull/2388

it's not an easy topic and most likely resulting in some breakage. Also the hook concept quite some instrumentation have will be harder to use as we can't use a well known type there without leaking the type dependency.

[2022-04-29 17:05] blumamir commented on #985
Thanks for the references, I need to free up some time to dive deep into the details

[2022-04-29 18:55] Flarna commented on #986
Even if the same version is in both folders it wont work. And I think this has a good reason. Even if the class has the same source and therefore the same functionality an `instanceof` check would fail as the class with the same name exists twice and this is what instanceof compares.

[2022-04-30 09:58] #989 closed

[2022-05-01 17:20] Eomm opened #993 "Enhanced Fastify's handler spans"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Hi,
I'm testing Fastify's opentelemetry instrumentation.

Given this configuration:

[code]

I get the following output:

<img width="665" alt="image" src="https://user-images.githubusercontent.com/11404065/166156838-084d3306-14d1-47b7-b514-f2b91b4f4afb.p

[2022-05-02 06:36] #905 closed

[2022-05-02 06:36] #878 closed

[2022-05-02 14:06] #983 closed

[2022-05-03 06:49] nvolker opened #995 "Allow instrumentations to use propagated traceparent during SPA first hit to create single trace"
## Is your feature request related to a problem? Please describe

### Scenario

I have a React Single Page Application (SPA) with an Express, Node backend server. When I make a direct request (first-hit) to, for example, `localhost:3000/app/analysis` I hit my Node BE server which then calls `res.render` to render the SPA application in the browser. I'm sending my traces to a local collector, which

[2022-05-03 06:51] nvolker commented on #995
If my title is a bit off, I'd be happy to change it! It's a bit presumptuous on what the outcome might be from discussions had here.

[2022-05-03 11:40] jonaskello commented on #753
There seems to be some info here that may help with the implementation: https://github.com/nats-io/not.go

[2022-05-03 14:46] Rauno56 commented on #950
I think this is perfect! The example PR can be really good guidance for what is expected!

[2022-05-03 15:04] Rauno56 commented on #985
I don't see another solution. For packages that rely on `@types/*` it's not such a big issue, but others' importing the module itself just isn't a good solution.

[This autoinstrumentation PR](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/981) reveals more:

[code]

[2022-05-03 15:22] #985 closed

[2022-05-03 15:47] #964 closed

[2022-05-03 22:54] lizthegrey opened #999 "@opentelemetry/instrumentation-aws-lambda should read API gateway parameters by default"
### Is your feature request related to a problem? Please describe
Invokes create a root span, but populate only details about the lambda itself (e.g. /usr/bin/node, lambda runtime version, function name) rather than about the request being performed. When the lambda is being called directly from API gateway, these details should automatically be populated, rather than relying upon telemetry from A

[2022-05-04 04:56] dougvalenta opened #1000 "resource-detector-gcp does not declare core dependency"
### What version of OpenTelemetry are you using?
@opentelemetry/resource-detector-gcp:0.26.2

### What version of Node are you using?
16

### What did you do?

GcpDetector.ts imports and calls getEnv from @opentelemetry/core, but package does not declare it as a dependency or a peer dependency

### What did you expect to see?
@opentelemetry/core should be listed as a dependency or a peer dependenc

[2022-05-04 07:52] Rauno56 opened #1001 "Prepare instrumentation libraries for stability"
Spec defined stability guidelines for instrumentations with [this PR](https://github.com/open-telemetry/opentelemetry-specification/pull/2180) which requires schema files for telemetry produced with each instrumentation to be defined and provided.

[2022-05-05 18:49] Rauno56 opened #1004 "Add eslint rule for checking for dependency usage"
### Is your feature request related to a problem? Please describe

We've had issues around dep usage fly under the radar. Example [here](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1003).

### Describe the solution you'd like to see

There is [a comment](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1003#issuecomment-1118780682) in the same PR about a eslint r

[2022-05-05 19:01] Flarna commented on #1000
fixed via #1003

[2022-05-05 19:01] #1000 closed

[2022-05-06 09:44] Rauno56 opened #1011 "Implement a CI check that enforces deduped core packages"
Some packages like have to be deduped in many cases for the parent package to work or tests to run.

In the context of a single package, make sure to check for shared install for

1.  `@opentelemetry/instrumentation` in packages that have more than one instrumentation installed(metapackages, fastify instrumentation) because tests break because of the concrete classes otherwise;
2. `@opentelemetry/

[2022-05-06 16:44] crobertson-conga opened #1013 "Browser document-load plugin occasionally has start date after end date for spans."
Occasionally the `documentFetch` and `resourceFetch` spans being generated by the document-load plugin have negative durations (start time after end).

### What version of OpenTelemetry are you using?
```{"telemetry.sdk.language":"webjs","telemetry.sdk.name":"opentelemetry","telemetry.sdk.version":"1.0.1"}```
```{"name":"@opentelemetry/instrumentation-document-load","version":"0.25.0"}```

### Wha

[2022-05-08 11:08] Eomm opened #1014 "MetricReader is not bound to a MetricProducer"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

v16.13.0

### What did you do?

[code]

### What did you expect to see?

Host metrics

### What did you see instead?

By reaching the URL: http://localhost:9464/metrics
I get:

[code]

### Additional context

I was trying to add the HostMetrics to the opentelemetry.NodeSDK component, but unsuccessful

[2022-05-08 14:41] Eomm commented on #1014
Digging a bit, I think it relates to https://github.com/open-telemetry/opentelemetry-js-contrib/issues/983

[2022-05-08 15:49] legendecas commented on #1014
Metrics API is still experimental and we are working to adopt the latest metrics spec changes towards GA. From @opentelemetry/sdk-metrics-base v0.28.0, you'll need to apply the following changes the get the example in the OP working:

[code]

And the @opentelemetry/host-metrics that are compatible with sdk-metrics-base v0.28.0 is pending release: https://github.com/open-telemetry/opentelemetry-js-

[2022-05-10 18:21] Eomm commented on #1014
Applying your suggestion leads to:

My versions

[code]

Should I wait for @opentelemetry/host-metrics v0.28?

[2022-05-10 20:07] dyladan commented on #1014
yes

[2022-05-11 07:29] Rauno56 commented on #937
I'm seeing this aswell. Assigning component owners @NathanielRN, @willarmiros, @blumamir

[2022-05-11 08:24] CyberHippo opened #1019 "Should the plugin React Load be part of the meta packages for web ?"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first
---
Should the [plugin React Load](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/web/opentelemetry-plugin-react-load) be added to the [meta packages for web](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/mai

[2022-05-12 20:18] stefee opened #1021 "Undici"
### Is your instrumentation request related to a problem? Please describe

When making server-side requests using undici.request the trace is not propagated across service boundaries. This is because undici does not use core http module for making requests (unlike other popular fetch libraries).

### Is it applicable for Node or Browser or both?

Node

### Do you expect this instrumentation to be

[2022-05-13 07:11] stefee commented on #1021
See unofficial instrumentation https://github.com/gadget-inc/opentelemetry-instrumentations/tree/main/packages/opentelemetry-instrumentation-undici

[2022-05-13 11:52] stefee commented on #1021
See discussion over on undici project: https://github.com/nodejs/undici/discussions/1439

[2022-05-14 22:30] hugocortes opened #1023 "OTTracePropagator truncating valid 16 byte trace id to 8 bytes"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
v16.15.0

### What did you do?

Initialized tracer with HTTP and Express instrumentation:
[code]

I wanted to mimic a service a to service b call to see Parent/Child spans by calling my own service:
[code]

### What did you expect to see?
In Jaeger, I expected to see spans like so:
[code]

### What did

[2022-05-15 08:41] stefee commented on #1021
Following from the thread linked, I’m looking into implementing instrumentation using the Undici diagnostics channel. https://github.com/nodejs/undici/blob/main/docs/api/DiagnosticsChannel.md

The tricky thing I can see with the JS API for OTEL is that the only way to update the current active context is using the “with” method which takes a callback. https://open-telemetry.github.io/opentelemetry

[2022-05-15 09:05] vmarchaud commented on #1021
I don't think this is feasible with the current context API, we'll need to move forward with https://github.com/open-telemetry/opentelemetry-js-api/pull/123 that allows manually control the context like you said (insert at request create and remove afterwards)

[2022-05-15 14:22] martinkuba commented on #1019
I don't think it should because 1) not all web applications use React, and 2) user of the plugin needs to take manual steps to use the plugin anyway (components need to extend the class from the plugin).

[2022-05-16 06:16] CyberHippo commented on #1019
Sounds good. Thank you for your input @martinkuba

[2022-05-16 06:16] #1019 closed

[2022-05-16 06:38] #889 closed

[2022-05-16 06:38] #534 closed

[2022-05-16 20:43] trivikr opened #1025 "The URL for homepage should link to package inside monorepo"
### Is your feature request related to a problem? Please describe
The [homepage][homepage] field for the individual packages (if present) links to root of the monorepo.
The folks using the link and landing on GitHub have to go through monorepo structure, and find out the correct package.

For example, open [@opentelemetry/instrumentation-aws-sdk][npm-aws-sdk-instrumentation-pkg] on npm, and click

[2022-05-19 08:37] ledniy commented on #985
I'm getting exactly these errors, is there any workaround? I see that there's an upcoming fix https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1017 but with the current release cycle idk when to expect it

[2022-05-19 11:47] vmarchaud commented on #995
I think the hardest part is that we don't have a global context (there is a default which is different), so you wouldn't be able to set it for every call. Might i ask how the frontend fetch calls are made ? If you have a central place where all calls are made you could manually set the span context from the trace-parent.

It might be something the rum sig might be interested to know about (see htt

[2022-05-19 12:07] vmarchaud opened #1030 "improv: ioredis instrumentation are leaking data by default"
By default we will join all args of the redis command, which might contains sensitive data. Also from our production usage it creates huge GC pressure for applications heavily using ioredis (which generally leads to OOM / high cpu usage)

cc @blumamir since you are currently working on bringing ioredis v4 support

[2022-05-21 09:38] Eomm commented on #1014
Is there any release plan?

[2022-05-23 12:21] DavidPessoa opened #1031 "Broken auto-instrumentation dependencies"
### What version of OpenTelemetry are you using?
0.28.0

### What version of Node are you using?
v18.0.0

### What did you do?
Ran a `npm run build && APP_ENV=tests node_modules/.bin/mocha --recursive --exit dist/test/**/*.spec.js`

### What did you expect to see?

### What did you see instead?

### Additional context

[2022-05-23 12:21] Sytten commented on #705
Not stale

[2022-05-23 13:20] dyladan commented on #705
@jord1e Sorry for the late response. Anyone can submit a change to the opentelemetry spec. Following the steps in [`spec/CONTRIBUTING.md#Proposing a change`](https://github.com/open-telemetry/opentelemetry-specification/blob/main/CONTRIBUTING.md#proposing-a-change), the first step would be to [create an issue](https://github.com/open-telemetry/opentelemetry-specification/issues/new/choose). Once t

[2022-05-23 13:22] dyladan commented on #1031
Can you please provide additional context? Your package.json would be very helpful, but if that can't be provided at least all `@opentelemetry/*` dependency versions listed would be a great start. The full error output from NPM and/or tsc would also be helpful.

[2022-05-23 14:27] DavidPessoa commented on #1031
My package.json
`{
  "name": "api-gateway",
  "version": "0.2.0",
  "description": "NodeJS API Gateway Service for K8s",
  "scripts": {
    "test": "npm run build && APP_ENV=tests node_modules/.bin/mocha --recursive --exit dist/test/**/*.spec.js",
    "dev": "APP_ENV=local_dev ts-node-dev --respawn --transpileOnly src/app.ts",
    "prod": "node --require='./src/tracing.ts' --max-http-header-size=6

[2022-05-23 15:44] dyladan commented on #876
@willarmiros this seems like it might be a configuration issue?

[2022-05-23 15:45] dyladan commented on #1014
I'm cutting a release today sorry. The release automation failed while we were at kubecon and i'm looking into it

[2022-05-23 15:57] jscherer92 commented on #849
Sadly no. I'm not in between four projects so I can't really work on this anymore but either it needs to be rebuilt from the ground up, or someone needs to talk with the Mongo team and get it wrapped in AsyncResource

[2022-05-24 10:15] #834 closed

[2022-05-24 11:57] smnbbrv opened #1034 "@opentelemetry/instrumentation-express : ignoreLayers does not work as described"
First of all thanks for the great work you are doing!

### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?

16

### What did you do?

[code]

### What did you expect to see?

The spans from `/health` and `/metrics` should be ignored

### What did you see instead?

The spans from `/health` and `/metrics` are still reported

### Additional context

I have

[2022-05-24 15:01] DavidPessoa commented on #1031
@dyladan That indeed solves the problem, but the `--skipLibCheck` is preferred since every-time we build a container we pull the node packages from the internet.
Is there a way of adding it to the package.json and it know it belongs to the mongodb instrumentation?

[2022-05-24 15:10] mplachter opened #1035 "Recently release not published to npm"
Looks like the recent opentelemetry-js-contrib releases from last week have not been published to npm.
https://www.npmjs.com/package/@opentelemetry/auto-instrumentations-node <-- for example 0.29.0 should have been published and it has not.

- [x] This only affects the JavaScript OpenTelemetry library

[2022-05-24 15:10] dyladan commented on #1035
I'm working on this right now

[2022-05-24 15:33] dyladan commented on #1035
This is blocked currently because the docker resource detector is listed as 1.0 and i'm trying to verify with @Rauno56 if that is correct or if it needs to be fixed

[2022-05-24 15:35] dyladan commented on #1035
For now I will release all packages except that one

[2022-05-24 15:46] dyladan commented on #1035
Done. Closing this issue as docker is a separate deal

[2022-05-24 15:46] #1035 closed

[2022-05-24 17:26] dyladan commented on #1031
I think I discovered the issue. It depends which version of `@types/bson` is installed and which is pulled in by either `mongodb` or `@types/mongodb` because the latest version of `@types/bson` is simply a stub with no real types in it. `mongodb` and `bson` have started shipping their own types directly in the package, but only recently. Depending on which version of `mongodb` is pulled in, it may

[2022-05-24 23:29] martinkuba commented on #995
@vmarchaud Is there a technical reason why there is no global context? If we wanted the parenting to be automatic, then we would need to set the document-load span as active in the global context, and then unset it when it ends.

The other issue, aside from the context, is that the document-load span is created and ended at the same time. So, with manual instrumentation, you could use a custom spa

[2022-05-25 07:56] rohanagarwal36 opened #1037 "Memcached instrumentation does not work"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
v14.17.6

### What did you do?
[code]

### What did you expect to see?
There are spans for the http call to /test, but there should be spans for the calls to memcached as well.

### What did you see instead?
Spans for the calls to memcached are not present.

### Additional context
`"memjs": "^1.3.0"`
N

[2022-05-25 08:04] Flarna commented on #1037
This is not a bug because the instrumentation you use is for [memcached](https://www.npmjs.com/package/memcached), not for [memjs](https://www.npmjs.com/package/memjs).

[2022-05-25 08:51] rohanagarwal36 commented on #1037
I am confused a bit. When we say opentelemetry is supporting memcached instrumentation, does that mean it supports only very particular clients used to connect to memcache? for eg, I am able to get the spans when I use the "memcached" package to connect to memcache and query memcache, but when I use memjs, it does not work.

[2022-05-25 10:11] Flarna commented on #1037
Exactly.

An instrumentation is built for a specific npm module and it uses monkey patching to hook into the APIs and extract the needed data.

[2022-05-25 16:32] marshally opened #1038 "SQS ReceiveMessages crashes with `413 REQUEST ENTITY TOO LARGE`"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

14.15.4

### What did you do?

#### Example code/test case
https://github.com/marshally/aws_sdk_sqs_message_attributes_test/

#### Text description

We have an sqs consumer process which contains a `while` loop that calls `ReceiveMessages` over and over.

[code]

### What did you expect to see?

I ex

[2022-05-26 06:12] #1037 closed

[2022-05-26 10:02] vmarchaud commented on #995
I mean there is one: the default one which is immutable anyway (as required by the spec). The problem is how context is shared, it can only go downstream to its called callback.

[2022-05-27 17:53] vmarchaud commented on #1034
Are you sure that the spans you are seeing come from the express app and not the http one ?

[2022-05-30 07:35] DavidPessoa commented on #1031
Thank you!

[2022-05-30 15:57] blumamir commented on #1038
This is expected behavior, as the MessageAttributes is how the instrumentation is used to propagate remote context.

I guess [this is the problem](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/0dc580d399da52c11899c52ee96ce16bba5757fc/plugins/node/opentelemetry-instrumentation-aws-sdk/src/services/sqs.ts#L72):
[code]

This code just concats the propagation fields, but if the same

[2022-05-30 17:45] vmarchaud commented on #1030
Yeah thats the behavior of the redis instrumentation i think ?

It's heavily dependent on my workload so it isn't really representative but the GC was 40% of our cpu and when changing the serializer we did go down to 15%. FYI those were bare-metal AMD Ryzen 9 5900X that clocks at 4.8Ghz  (still inside container but without cpu limit so they were not limited at all)

[2022-05-31 15:05] marshally commented on #1038
I'll try!

[2022-06-02 00:59] blumamir commented on #1025
Fixed in #1032

[2022-06-02 00:59] #1025 closed

[2022-06-02 01:07] blumamir commented on #937
@jreichhold  Sorry for the late response. I think this is indeed incorrect and support changing to `recordException`. Would you like to contribute PR with a fix?

[2022-06-02 10:33] BakrFlow commented on #1014
Is there any updates?, I still get the same error even with @opentelemetry/host-metrics v0.28

[2022-06-02 15:21] Radik24 opened #1047 "@opentelemetry/instrumentation-fs Failed to record an exception true"
### What version of OpenTelemetry are you using?
`0.3.0`

### What version of Node are you using?
docker `node:16.14-slim`

### What did you do?

When running my Hapi locally, everything works fine. But when I build it for production to docker, it always fails. I tested each instrumentation locally in docker but only `@opentelemetry/instrumentation-fs ` is causing this issue

### What did you expe

[2022-06-02 19:56] blumamir commented on #1030
redis instrumentation just stores the command name into the statement. no key.
I think the key is not considered a secret and is useful to be recorded into an attribute.

The straightforward approach as mentioned above is to collect the command name and first argument which is `key` for most commands but not all. For example, [`SUBSCRIBE` command](https://redis.io/commands/subscribe/) can be writt

[2022-06-03 20:03] vmarchaud commented on #1030
I would go for 2) and see how users react

[2022-06-07 12:51] mbrevda opened #1050 "mysql2 seems to put the first query in it's own span when using a pool"
### What version of OpenTelemetry are you using?
[code]
### What version of Node are you using?
`v16.12.0`

### What did you do?

<details>
<summary>
My Config
</summary>

[code]
</details>

### What did you expect to see?
I expected all traces to have the same traceId

### What did you see instead?
I noticed that the first MySQL query trace uses it's own id

### Additional context

<details>
<sum

[2022-06-07 13:05] mbrevda commented on #650
This seems to be working now?

[2022-06-08 12:19] paulius-valiunas opened #1051 "dependency version mismatch in `instrumentation-express`"
### What version of OpenTelemetry are you using?
`@opentelemetry/api`: 1.1.0
`@opentelemetry/sdk-node`: 0.29.0
`@opentelemetry/instrumentation-express`: 0.29.0

### What version of Node are you using?
16.15.1

### What did you do?

import the three packages above and then add `ExpressInstrumentation` to the instrumentations list when initializing `NodeSDK`.

### What did you expect to see?
No erro

[2022-06-08 12:39] paulius-valiunas commented on #1051
I'll risk stating the obvious here, but adding a caret won't help. ^0.28.0 does not resolve to 0.29.0, it resolves to 0.28.x.

Also, is there any documentation explaining which versions of each package are compatible? I just pulled the latest version of everything. How do I know which packages have to be 0.28.0 and which ones 0.29.0? I have other opentelemetry dependencies too, I just didn't list

[2022-06-08 12:48] paulius-valiunas commented on #1051
OK, finally found a combination that worked... `instrumentation-express` is `~0.29.0`, everything else is either `~1.2.0` or `~0.28.0`.

[2022-06-08 12:50] Flarna commented on #1051
Unfortunately there is no such table.
The packages in this repo are released independent and therefore the version numbers are not in sync. Reason is that they are maintained by different persons and we don't want to slow down development.

As long as some packages are in the experimental phase (0.x version) it's even harder to get some sort of rule as NPM interprets a `^` on a 0.x version like a

[2022-06-08 12:52] dyladan commented on #1051
The spec for `^` is "Allows changes that do not modify the left-most non-zero digit in the [major, minor, patch] tuple."

I think the root of this is that some of our external interface is still concrete classes and everything should be an interface

[2022-06-08 12:54] paulius-valiunas commented on #1051
yes, the correct solution would be to reduce the coupling by introducing stable interfaces for everything. The short term solution would be releasing all these packages in lock step - even if some of them don't have any new commits, release a new version just so they're always in sync.

[2022-06-08 13:00] paulius-valiunas commented on #1051
well, then releasing them in lock step is the only solution. Stable interfaces is more of a long-term goal for when these packages get near "stable" status.

[2022-06-08 13:43] dyladan commented on #1051
The instrumentation base class only uses API and metrics API types, no SDK types which means it should be OK once the interface is stable (which it is now)

[2022-06-08 13:45] dyladan commented on #1051
I believe this should be fixed by #1042

[2022-06-08 13:47] dyladan commented on #1051
Unlinking the PR actually because this isn't fixed until it is released. I'll link the release PR when #1042 is merged

[2022-06-09 06:35] blumamir commented on #1051
This seemed to be [released on github](https://github.com/open-telemetry/opentelemetry-js-contrib/releases/tag/instrumentation-express-v0.30.0) but not [in npm](https://www.npmjs.com/package/@opentelemetry/instrumentation-express).

@dyladan - any idea why?

[2022-06-09 16:41] monken opened #1053 "AWS SDK instrumentation logs entire DynamoDB statement, including potentially sensitive values"
### What version of OpenTelemetry are you using?

OpenTelemetry Lambda extension, version: v0.1.0

### What version of Node are you using?

NodeJS 16

### What did you do?

Use the Lambda Layer for instrumentation

### What did you expect to see?

I expected **not** to see the whole DynamoDB statement to be part of the trace. This should not be the default. The statement will most likely include v

[2022-06-09 20:22] #819 closed

[2022-06-10 06:03] blumamir commented on #1053
We should probably add a `dynamoDbStatementSerializer`and supply a safe default that records only non-sensitive values, similar to #1052 .

Would you be willing to contribute a PR to do that?

[2022-06-10 18:10] monken commented on #1053
@blumamir I can take a crack at it. I thought this was an officially supported library by AWS (they definitely promote it) but it seems like this is mostly supported by Dynatrace and other companies.

[2022-06-10 20:06] blumamir commented on #1053
@NathanielRN @willarmiros [trivikr](https://github.com/trivikr/trivikr) are from AWS and were involved in the past with this instrumentation

[2022-06-10 20:32] #1038 closed

[2022-06-10 20:39] NathanielRN commented on #1053
I've seen our X-Ray AWS SDK sanitize trace at times like in this PR https://github.com/aws/aws-xray-sdk-go/pull/228 where we sanitized the HTTP URL query and we seem to have done efforts [to sanitize the query in the X-Ray Go SDK](https://github.com/aws/aws-xray-sdk-go/blob/d66401caaea67ff87f43486c8b5ddd6c2fcd3bbd/xray/sql_context.go#L534) in the past?

Other than that, we don't have precedence fo

[2022-06-11 15:43] monken commented on #1053
Trying to come up with a good sanitization strategy per API call. I suggest an allow-list approach where we maintain a list of attributes that are safe to capture.

Only capture the command input for the following actions:

* ExecuteStatement
* BatchExecuteStatement
* PutItem
* BatchWriteItem
* GetItem
* BatchGetItem
* Query
* Scan
* UpdateItem
* DeleteItem
* BatchWriteItem
* ExecuteTransaction
*

[2022-06-15 16:16] monken commented on #1053
The [aws-xray-sdk](https://www.npmjs.com/package/aws-xray-sdk) doesn't capture anything except the `TableName` from the request.

[2022-06-16 05:31] shivahnshankar opened #1057 "Nodejs server crashes with Redis instrumentation"
I am very new to this but i believe i am hitting a bug in the Redis implementation.
### What version of OpenTelemetry are you using?
0.24.0

### What version of Node are you using?
16.15

### What did you do?
App uses Redis 3.1.2 client and wanted to get traces but this error crashes the server:

/opt/nodeworkspace/test/node_modules/@opentelemetry/instrumentation-redis/build/src/instrumentation.js

[2022-06-17 02:56] MadLittleMods commented on #1034
I was also confused about this. You can differentiate whether the spans came from one library or the other by looking at `otel.library.name` in the tags of each span.

I assumed the spans which looked like the express route, `GET /:roomIdOrAlias/date/:yyyy(\d{4})/:mm(\d{2})/:dd(\d{2})/:hourRange(\d\d?-\d\d?)?` were coming from `@opentelemetry/instrumentation-express`. But those spans are actually

[2022-06-17 07:52] vmarchaud commented on #1034
Yes sadly its a dirty hack around how web framework interact with http module in Node, the spec ask for span to have low cardinality but the http instrumentation cannot provide this out the of box, so we settled on http framework renaming the root span when it have a good (and low cardinality) name

[2022-06-17 11:08] smnbbrv commented on #1034
Thank you on the tips guys!

The `ignoreIncomingPaths ` is deprecated, but `ignoreIncomingRequestHook` is working really well.

As I understand, there is still no option to enable the tracing for specific HTTP server instead of being globally assigned?

@vmarchaud what should I do with this issue? For me it is resolved, but it could be nice to add this to express instrumentation docs somewhere...

[2022-06-17 17:03] jreichhold commented on #937
Tried to create but not figuring out how to get npm or yarn build on the package is limiting. Looked around for instructions but curious how this project is built today?

[2022-06-17 22:25] MadLittleMods commented on #1034
Ahh, good catch! Need to update my usage 👍

---

It sounds like the action to take out of this issue to update the `@opentelemetry/instrumentation-express` docs (readme) to explain the intricacy of ignoring things. Or simply explain the common problem of ignoring express routes and the solution.

[2022-06-20 06:19] shivahnshankar commented on #1057
Used the latest version of Redis npm module and it worked fine. Closing this issue

[2022-06-20 06:19] #1057 closed

[2022-06-20 06:37] #275 closed

[2022-06-21 06:36] jonaskello commented on #753
@haimrait Was this completed in a PR?

[2022-06-21 07:20] haimrait commented on #753
I think someone already started and got stuck:
https://github.com/open-telemetry/opentelemetry-js-contrib/pull/667

[2022-06-21 12:55] jonaskello commented on #753
@haimrait  ah yes, I just asked because it seems you "closed this as completed" according to the log above. If it is not yet done perhaps this issue can stay open?

[2022-06-23 17:32] davispuh commented on #404
I'm also looking for JavaScript logging implementation for OpenTelemetry. Has there been any work done, any PRs, repository? I'm willing to contribute with implementation.

[2022-06-23 17:41] dyladan commented on #404
There are a couple log appenders in the contrib repo. At least pino, bunyan, and winston.

[opentelemetry-instrumentation-bunyan](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-bunyan)
[opentelemetry-instrumentation-pino](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-p

[2022-06-24 00:25] davispuh commented on #404
All of those look like for tracing not logging. I'm talking about logger with `.info(), .warn()` which would send to OpenTelemetry Collector `/v1/logs`

[2022-06-24 01:05] mic-max opened #1070 "Remove deprecated package `@types/mongodb` from mongodb instrumentation"
The dependency is marked as deprecated [here](https://www.npmjs.com/package/@types/mongodb)

It says

This is the [package.json file](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/opentelemetry-instrumentation-mongodb/package.json#L71) listing the dependency

I noticed this error when performing an `npm install` on a project that includes this package

Note: I t

[2022-06-24 06:11] Flarna commented on #1070
The problem is that current version of the instrumentation requires the types. Removing the dependency to `@types/mongodb` would require to add one to `mongodb` which would be quite bad.

Work is ongoing to remove the need to include types dependencies in instrumentations (e.g. #1036, #1066) but it will take a while until this is fixed. As usual help is welcome!

[2022-06-24 11:55] vmarchaud commented on #404
As daniel said, no work was started for logs in JS. If you want to move forwad this, you'll need to create an issue to state what need to be done in order to have an logs api package and sdk package (like what have been done with https://github.com/open-telemetry/opentelemetry-js/issues/2574) and start implementing them in the core repo (https://github.com/open-telemetry/opentelemetry-js)

[2022-06-27 06:38] #679 closed

[2022-06-28 07:37] Rauno56 commented on #854
We don't have a component owner for the pino instrumentation, but it was contributed by @seemk. Would you care to take a look, Siim?

[2022-06-28 07:43] Rauno56 opened #1071 "Support `pino@8` in `@opentelemetry/instrumentation-pino`"
`@opentelemetry/instrumentation-pino` doesn't have a component owner, but was contributed by @seemk.
Could you, by any chance, take a look?

[2022-06-28 09:54] Rauno56 commented on #1034
The docs could definitely be better explaining this.
Would you like to suggest an change in a PR, @MadLittleMods, @smnbbrv?

[2022-06-28 09:56] Rauno56 commented on #1047
Could you please share some code to repro this?

[2022-06-28 10:08] Rauno56 commented on #1051
Lockstepped releases is a tricky solution because of the reasons @Flarna has also mentioned:

1. Different people are managing the libraries in different repos - we don't manage all instrumentation packages out there;
2. Even if it's released in lockstep, no one stops them being installed out-of-sync, unless you mean they also need to be versioned in lockstep in which case I'm sure there are other

[2022-06-28 10:36] Rauno56 commented on #975
Connect and Express are known to base their behavior on the function "length"(number or stated arguments), and we do make it hard for those packages to know what's going on. So I think your analysis might be on point.

We battle that in some [other instrumentations](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/fb681828f7e039957afee4a15cd063fc2246b617/plugins/node/instrumentation

[2022-06-28 18:59] davidmr commented on #975
Yes, I think I can try. Thanks for taking a look at this.

[2022-07-01 16:32] zemd commented on #1071
while I was trying to fix the https://github.com/open-telemetry/opentelemetry-js-contrib/issues/854 and also figuring out how to adopt pino@8 with opentelemetry I ended up with the thought that there is no need to make and maintain instrumentations for js loggers at all. Because each user always creates his own logger instance and shares it within the app, and each user configures this instance fo

[2022-07-01 18:37] dyladan commented on #1071
I think we need to start enforcing ownership more forcefully the way the collector does. One way to start would be to add a section to each README of a component without an owner stating that it does not have a maintainer and should be treated as beta

[2022-07-01 21:07] Flarna commented on #1071
The idea of autoinstrumention like `@opentelemetry/instrumentation-pino` is to have no manual tasks. Add OTel + wanted instrumentations to whatever app and it is traced/log enriched/...
All autoinstrumentations could be replaced by creating spans manually and it would be most likely less risk for the app, less overhead. But each and every dev has to do this in their app/lib.

[2022-07-01 22:06] zemd commented on #1071
This is valid intent! But taking pino-instrumentation as example we can see that the plugin is just replacing some amount manual tasks from one place to another, in the same time hiding issues.

For example, package upgrade from pino@7 to pino@8 can be forced by any modern automation tool/bot. And when developer looks inside `package.json`- he won't see any issues until he start observing traces/m

[2022-07-02 17:31] seemk commented on #1071
This package was mostly meant for auto instrumentation implementations. How would you achieve trace and log correlation when using auto-instrumentation SDKs?

This package thus far has been supporting up to Pino 8. If no warnings for newer versions appear, then perhaps we'd need to change [instrumentation code](https://github.com/open-telemetry/opentelemetry-js/blob/b8915092bc15e0b38b0388463e05308

[2022-07-04 09:05] m1heng commented on #1021
So once https://github.com/open-telemetry/opentelemetry-js-api/pull/123 is merged, we can looking forward to have https://github.com/gadget-inc/opentelemetry-instrumentations/tree/main/packages/opentelemetry-instrumentation-undici merged into current repo and have it as part of auto-instrumentations?

[2022-07-04 09:17] vmarchaud commented on #1021
It can be upstreamed by @gadget-inc folks into this repo and added into auto instrumentations without requiring https://github.com/open-telemetry/opentelemetry-js-api/pull/123 to be merged, it's just that it spans created by a undici request will not have the correct parent (which isn't a big issue i think since undici is just a http client).

[2022-07-04 09:37] m1heng commented on #1021
I see, thank you @stefee and @vmarchaud for your contributions on this which would really solve my problem, I will try the "unofficial" one on my project first and see how it goes with splunk signalFX.
I still looking forward to see the context API PR get merged and we can have a comprehensive undici instrumentation and see it on auto meta.

[2022-07-04 16:09] fredericosilva opened #1079 "@opentelemetry/instrumentation-http crashes superagent"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
v16.15.1

### What did you do?
[code]

### What did you expect to see?
No crash

### What did you see instead?
[code]

### Additional context

Other requests work fine, there is something specific here that I'm not able to pinpoint.  Any help is appreciated.

I did try using multiple superagent version

[2022-07-04 17:22] Eomm commented on #1014
I will get the chance to test it by my side on the next days

[2022-07-05 11:12] rauno56 opened #1080 "Incentivising package ownership"
@dyladan [wrote](https://github.com/open-telemetry/opentelemetry-js-contrib/issues/1071#issuecomment-1172617330):

Documentation about that [here](https://github.com/open-telemetry/opentelemetry-collector#stability-levels).

I think it's a great idea. Even though we're very grateful for any contribution of a new package, I don't see how the maintainers of Otel JS could ever reliably guarantee the

[2022-07-05 11:25] Rauno56 commented on #1071
So this issue here was solely to track the missing support of pino@8 from the package. The question whether @seemk is able or willing to take that still stands.

What comes to https://github.com/open-telemetry/opentelemetry-js-contrib/issues/1071#issuecomment-1172617330, I created [another issue](https://github.com/open-telemetry/opentelemetry-js-contrib/issues/1080) for that.

In regards to @zemd

[2022-07-05 11:45] Flarna commented on #1080
I think there is no reason to remove on default after 6 month. It's likely that things keep working significant longer then 6 month if the instrumented module is not release frequently / only with minor changes (e.g. winston, express, connect).

[2022-07-05 17:43] lizthegrey commented on #999
still is a problem/footgun.

[2022-07-05 18:20] NathanielRN commented on #999
Tagging @vasireddy99 and @bryan-aguilar to triage this for investigation.

[2022-07-05 18:32] yaverin commented on #991
I have the same error.

I create QueryStream with "pg-query-stream": "4.2.3"
`               qs = new QueryStream(`SELECT * ${qryFrom} ${orderByCondition}`);
                 qs.callback = () => {}; // necessary if pg options has query_timeout
`

And in pg-promise/lib/stream.js file on this line:
`    const stream = ctx.db.client.query(qs);

      stream.on(`data`, onData);
`
"stream" is "undefine

[2022-07-05 19:00] yaverin commented on #991
@gabrielemontano,

please remove "stale" label from this issue.

[2022-07-05 19:07] dyladan commented on #991
This is not stale and the title does not accurately describe the severity of the bug. The instrumentation is not broken by pg-query-stream, but the opposite. User applications using pg-query-stream are vulnerable to a crashing bug when the instrumentation-pg module is used.

[2022-07-05 19:08] yaverin commented on #991
@dyladan, fully agreed, thank you.

[2022-07-05 19:19] dyladan commented on #1080
@Flarna I think he's saying after 6 months with an unsolved issue and no maintainer, not just 6 months without any updates. Maybe we can use the bug priority levels documented [here](https://github.com/open-telemetry/opentelemetry-js/blob/main/maintenance/bug_triage.md#prioritize) to have a more nuanced policy. There are also steps less severe than removal we can use (note in readme, deprecate in

[2022-07-05 20:00] dyladan commented on #991
@Rauno56 you're marked as the component owner. Do you have time to look at this? If not i'll take it

[2022-07-05 20:06] dyladan commented on #999
This is not stale. Tagging component owners @willarmiros @NathanielRN

[2022-07-05 20:13] ronilan opened #1082 "`@opentelemetry/instrumentation-graphql` Error when running synchronously"
## Description
Instrumenting a `graphql` application which uses the synchronous method `graphqlSync` causes  `Error: GraphQL execution failed to complete synchronously.` App is working fine when not istrumented.

## System Info

### What version of OpenTelemetry are you using?
[code]
With:
[code]
### What version of Node are you using?
`v16.14.2`

## Reproducing
### What did you do?

1. Create a `

[2022-07-07 10:02] Rauno56 commented on #1080
My goal wasn't to make the code disappear, but to

1. Lift the burden of maintaining it from the maintainers - tooling and SDK compatibility upgrades etc;
2. Communicate the fact that that is unmaintained and might have issues.

It's easy to assume that whatever is in the contrib repo is of high quality and we do our best for sure, but in the absolute worst case scenario people could theoretically

[2022-07-07 15:39] Flarna commented on #1079
Tried with follwoing versions and I see no crash:
[code]

[2022-07-11 10:31] sta-szek opened #1087 "Broken configuration support"
First of all, thanks for implementing this library! 🙇
It saved my day! (or weeks 😅 ) It's just awesome!
Here I have question / bug report.

### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
[code]

### What did you do?
Try to configure 16 lowercase hex characters `traceId` (instead of default 32)

### What did you expect to see?
16 characters traceId

[2022-07-11 12:11] Flarna commented on #1087
The 128 bit size of the traceId is even mention in [API](https://github.com/open-telemetry/opentelemetry-js-api/blob/bafcf0d0756e6ecc79fcc75f221b9dd17641eba5/src/trace/span_context.ts#L25-L30).

Therefore I assume it wont work to limit the size to 16 bytes via an id generator. There are various places where the 128 bits are checked (e.g. [here](https://github.com/open-telemetry/opentelemetry-js-ap

[2022-07-11 13:20] #1087 closed

[2022-07-13 12:31] yaverin commented on #991
@dyladan, please clarify, do you have some ETA for this fix? Thanks in advance!

[2022-07-18 15:19] jlevertov opened #1093 "Logging with Winston Instrumentation not injecting span context to log metadata"
### What version of OpenTelemetry are you using?
"@opentelemetry/api": "^1.1.0",
  "@opentelemetry/context-async-hooks": "^1.4.0",
  "@opentelemetry/instrumentation": "^0.30.0",
  "@opentelemetry/instrumentation-winston": "^0.29.0",
  "@opentelemetry/sdk-trace-base": "^1.4.0",
  "@opentelemetry/sdk-trace-node": "^1.4.0",

### What version of Node are you using?
v16.13.2

### What did you do?

I wr

[2022-07-18 15:57] Flarna commented on #1093
I think it's needed to call `provider.register()` otherwise it's not installed as global TracerProvider/ContextManager.

[2022-07-19 06:47] jlevertov commented on #1093
I've added the missing command, but still, same result.
This is my code now:
[code]

[2022-07-19 07:31] Flarna commented on #1093
Seems I stopped looking into you code too early...

you create a span but it's never set as active/current on context. But winston instrumentation looks for a span in context.
So something like this should work:
[code]

[2022-07-19 08:06] jlevertov commented on #1093
Tried it now, got the same result...
Is it possible I'm missing some initialization of some sort?

[2022-07-20 06:07] aikoven commented on #985
A workaround is to add `"skipLibCheck": true` to `compilerOptions` in `tsconfig.json`.

[2022-07-20 15:46] jonathansamines commented on #822
Hello @dyladan I just tried to load the `@opentelemetry/instrumentation-hapi` in a project of ours and this exact signature to register hapi plugins is still unsupported (throws an error)

[2022-07-20 15:51] dyladan commented on #822
hapi plugin does not have a component owner currently. I'll mark this as up for grabs

[2022-07-25 06:37] #1013 closed

[2022-07-25 06:37] #1011 closed

[2022-07-25 06:37] #1004 closed

[2022-07-25 06:37] #993 closed

[2022-07-25 06:37] #986 closed

[2022-07-26 08:32] Djiit opened #1098 "React 18 support"
### Is your feature request related to a problem? Please describe
Using `@opentelemetry/plugin-react-load` with React 18 throw an error.

### Describe the solution you'd like to see

Looks like by "just" extending the range of React versions supported, we could use "as is" the plugin with newer versions of React.

### Describe alternatives you've considered

Forcing `--legacy-peer-deps` with npm.

[2022-07-26 13:31] vmarchaud commented on #1098
@Djiit Feel free to open a PR, we should also bump version a used in tests so we make sure evertying works as it shoud be

[2022-07-27 10:59] nazarkulyk commented on #978
Can someone port instrument to get it work with ioredis v5 ?

[2022-07-27 11:22] Djiit commented on #1098
Thanks, I just opened a first draft. Not sure where to update the versions in test. Any guidance appreciated.

[2022-07-28 03:05] legendecas opened #1101 "resource-detector-github failed to compile"
Constant CI failure with the following outputs:

[code]

Example link: https://github.com/open-telemetry/opentelemetry-js-contrib/runs/7547491100?check_suite_focus=true
Find out more: https://github.com/open-telemetry/opentelemetry-js-contrib/actions/workflows/unit-test.yml

[2022-07-28 17:13] aadharsh-rengarajan opened #1102 "Options to set only span key in span name of memcached instrumentation"
In memcached instrumentation, we get span name like

[code]

which creates a difficulty when we want to group the span names and observe it for metrics purposes.

In our case, we would need to add an option that would let us only get memcached key instead of key:value like this
[code]
instead of
[code]
### Is your feature request related to a problem? Please describe

### Describe the solution you

[2022-07-29 13:49] crobertson-conga commented on #1013
This is still a concern.

[2022-07-29 17:03] RahulGanesh08 commented on #1102
+1 to this , since the telemetry instrumentation uses operation it performs  `get ,set`  and  memcache key` api:1:value` for the span name .  which results in much noise as jager considers every memcache operations unique since the key is present rather than grouping them by the opertions.

as the solution mentioned above just like an option for `enhanced database reporting` , an option for filter

[2022-07-29 19:48] dyladan commented on #1102
I would actually argue we should just remove the value from the name entirely. The specification wants low cardinality span names and the value can be extremely high cardinality. This is actually the reason for the spec being the way it is.

[2022-08-01 06:41] #1023 closed

[2022-08-01 08:54] aadharsh-rengarajan commented on #1102
Indeed it is of very high cardinality. Going forward with removing the value from the span name.

[2022-08-01 16:34] derN3rd opened #1105 "Additional span for mysql2 pool actions (e.g. wait)"
### Is your feature request related to a problem? Please describe

Hey there, I want to track issues in our API which are likely causes because of some problems with our mysql pool.

We use the mysql2 module and the instrumentation for it already, which produces spans like it should. But in some cases (e.g. when there is no connection yet and one has to be opened, or when the pool is fully utilize

[2022-08-01 16:49] jscherer92 commented on #849
Just want to comment, not stale. Really two options:
1) new plugin that wraps higher level methods.
2) get Mongo team to use async resources so the wire protocol file is not completely detached from the async stack

[2022-08-01 20:21] dyladan commented on #849
Yeah this should never be stale. I think the only way to reliably fix is to fix it on the mongodb side.

[2022-08-02 07:32] morigs opened #1106 "Runtime instrumentation"
### Is your instrumentation request related to a problem? Please describe

It's very useful to have metrics about platform runtime - heap status, GC metrics, event loop blocks etc...
OpenTelemetry Go provides [runtime instrumentation](https://github.com/open-telemetry/opentelemetry-go-contrib/tree/main/instrumentation/runtime) for this.

For example, if application code behaves strangely, these me

[2022-08-02 07:36] adrienrn opened #1107 "Missing dependencies for instrumentations when upgrading to v0.31.0"
### What version of OpenTelemetry are you using?

I'm updating `@opentelemetry/auto-instrumentations-node` from 0.27.1 to 0.31.0

### What version of Node are you using?

v16.13.1

### What did you do?

Dependabot opened a PR to bump `@opentelemetry/auto-instrumentations-node` from 0.27.1 to 0.31.0, e.g. it only changed the version and updated `yarn.lock`.

### What did you expect to see?

My app

[2022-08-02 19:41] dyladan commented on #1107
Right now skip lib check is probably your best workaround. I think the true solution for this is to either use optional peer dependencies (but that requires npm 7+ which is not bundled with node 14) or to remove dependencies on the vendor types in our instrumentation code.

[2022-08-02 19:44] vmarchaud commented on #849
They refactored their client anyway in mongo 4, i'm not sure if the issue has been fixed with it ?

[2022-08-03 02:54] aadharsh-rengarajan commented on #1101
can we please fix this? this is causing a lot of test failures across the repository.

[2022-08-03 12:49] dyladan commented on #1101
There is no listed component owner for the github resource detector. We have a lot of unmaintained components like this and the burden on the SIG maintainers is unsustainable. I think we should consider our options on what we can do with these unmaintained components.

[2022-08-03 14:43] legendecas commented on #1101
The problem is caused by the dependencies of the package https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-browser-extension-autoinjection. It is not the problem with the resource-detector-github, but I'm not sure why it is failed to compile -- might be related to dependencies hoisting.

[2022-08-03 15:25] sta-szek opened #1109 "Autoinstrumentation not working"
Help required 🙏

### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
[code]

Hi,
I have implemented and tested locally the tracing, using ⬆️  libraries.
It was working properly - i saw spans reported, they were autoinstrumented on libraries like `express` or networking.

After that, I cannot fully recall, but I went through some nodeJS courses (possibly

[2022-08-03 15:55] Flarna commented on #1109
Could you explain what is not working? Above description just tells that manual creation of spans works as expected.

Also your sample code doesn't use express or similar. Therefore it's hard to understand the problem.

[2022-08-03 17:27] sta-szek commented on #1109
Hi,
so basically my app is using NestJS (with express under the hood).
Previously, the autoinstrumentation worked, so i could see spans for all requests coming from web.

After some time, when i run it again it does not work, which means i cannot see autoinstrumented spans - express, otel-networking etc... but i still see manually created spans - which confirms that span exporting works properly.

[2022-08-03 20:32] Flarna commented on #1109
Without your code it's hard to tell. I recommend to post working and non working code to allow comparison.
if you lost the working code or you are sure that there is no diff between working/non working I guess some changes in the  dependencies caused this.

do you ensure that OTel is fully initalised before you require express/nest-js/http?

[2022-08-03 20:46] Flarna commented on #1101
I think we should remove unmaintained components from the learn project and from autoinstrumentation and created an issue with label help wanted to get it back into useable state.

[2022-08-03 20:46] dyladan commented on #1101
It isn't related to hoisting. It doesn't compile even standalone without lerna. It has something to do with the parse5 module types. I think they updated to a later typescript that is outputting syntax that our (fairly old) typescript doesn't support.

[2022-08-04 10:02] sta-szek commented on #1109
unfortunatelly cannot share application and the code i shared above is called in app.ts in first lines. i can also see in logs

[code]

but the autoinstrumentation still does not work.

the code did not change, i am pretty sure about it. the libraries was version 1.4.0 but now its 1.5.0. anyway, it stopped working with 1.4.0 already.
i am blind what to check next

how to ensure that?

[2022-08-04 11:41] Flarna commented on #1109
It's about the sequence of require. It's important that instrumentations are loaded/initialized *before*  the corresponding module is loaded.
e.g.:
[code]

You use `NodeSDK` which registers instrumentations at the end of the `start()` call. So it should be safe to require other compoents after `await sdk.start()`.

Side note: While writing this I notice that this is actually quite a bad choice in

[2022-08-04 14:04] sta-szek commented on #1109
So.
Firs try: move all tracing related code to the end of app.ts bootstrap() method. The method looks like:

[code]

result: the same - manual span creation works, autoinstrumentation does not work

---

2nd attempt: remove `instrumentations: [getNodeAutoInstrumentations()],` and try adding instrumentations before JaegerExport:

[code]

logs:

[code]

but autoinstrumentation still does not work.

[2022-08-04 14:29] Flarna commented on #1109
That is what I said, do not import/require anything before the instrumenations are in place.

[2022-08-04 16:36] #1101 closed

[2022-08-05 05:03] aadharsh-rengarajan commented on #707
Hi @dyladan @blumamir does this issue still occur if we repeatedly poll using setTimeout?

I have an issue with the instrumentation where there are lot of nested spans. I am using forEach and inside it, using a setTimeout. Its causing the spans to be nested with one root span having 10000+ spans for receiving messages.

Quoting the above code, I wrote a similar code.

[code]

[2022-08-05 12:01] Flarna commented on #1109
It's documented e.g. [here](https://opentelemetry.io/docs/instrumentation/js/getting-started/nodejs/#setup) or [here](https://github.com/open-telemetry/opentelemetry-js/tree/main/experimental/packages/opentelemetry-sdk-node#initialize-the-sdk).

But I agree that it might be better to mention this more visible.
Feel free to create a PR to improve the doc regarding this. As one familiar with OTelJs

[2022-08-06 18:28] tomerfriedman commented on #1106
Going to start working on this (first contribution). Any objections?

I already implemented something like that on my own. And was thinking to put it under "packages" here.

[2022-08-06 18:40] vmarchaud commented on #1106
None ! I will assign the issue to you !

Yeah i think its the most logical place

[2022-08-06 19:51] dyladan commented on #1106
Maybe this should go in the core repo? Similar to http and grpc instrumentation I think it is quite important and it is likely to get more maintainer attention there

[2022-08-06 19:51] dyladan commented on #1106
Host metrics too maybe

[2022-08-08 06:37] #876 closed

[2022-08-08 06:47] mbrevda commented on #1050
unstale

[2022-08-08 17:00] patrickdronk commented on #1082
It might not even be a bug. The home page mentions supported versions: >=14 <16
https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-graphql#readme

[2022-08-08 17:57] dyladan commented on #1082
He is using `"graphql": "^15.8.0"` which falls in the range

[2022-08-08 17:57] dyladan commented on #1082
@obecny originally contributed this component but is no longer a maintainer. I'm looking into this

[2022-08-09 11:54] haddasbronfman commented on #950
Hi, can you assign it to me please?

[2022-08-10 18:53] #1102 closed

[2022-08-14 18:42] #975 closed

[2022-08-15 07:32] ronenl3 opened #1116 "`@opentelemetry-instrumentation-ioredis` failed to record traces for ioredis version 5.x"
### What version of OpenTelemetry are you using?
@opentelemetry/sdk-trace-base@1.5.0
@opentelemetry/sdk-trace-node@1.5.0
@opentelemetry/instrumentation@0.31.0
@opentelemetry/instrumentation-ioredis@0.31.0

### What version of Node are you using?
16.16.0

### What did you do?
[code]

### What did you expect to see?
Traces for Redis commands

### What did you see instead?
No traces are sent to the c

[2022-08-15 08:15] vmarchaud commented on #1116
There is an issue open tracking this: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/978

[2022-08-15 08:21] ronenl3 commented on #1116
@vmarchaud Thank you for the reference, can it be added the the README under `Supported Version`?

[2022-08-15 08:43] vmarchaud commented on #1116
@ronenl3 I've opened a PR https://github.com/open-telemetry/opentelemetry-js-contrib/pull/1117

[2022-08-16 13:11] hilladalins commented on #784
Can you please assign this issue to me?

[2022-08-17 09:50] #1116 closed

[2022-08-17 11:11] fredericosilva commented on #1079
Thank you @Flarna

It only happens in a specific network it seems, need to dig deeper.

[2022-08-17 20:40] abhee11 commented on #178
@vmarchaud - if no one is working on it - I would like to see if I can make progress on this .
If no objections - can you assign this ticket to me ?

[2022-08-18 14:58] blumamir opened #1120 "standerize the types.ts file for instrumentations"
following [this PR](#1097), I noticed that some instrumentations has a `types.ts` file that contains both public and internal types mixed together.
I think this is not optimal, and want to suggest the following:

1. agree on a standart for how to structure the types in instrumentations (where to store internal / public types, how the files should be named, how to export them etc)
2. document it in

[2022-08-20 07:31] vmarchaud commented on #1120
I prefer on two type files too so its more explicit (maybe add a comment on the public one that explains that you must not export internal types)

[2022-08-22 06:38] #1031 closed

[2022-08-22 06:38] #995 closed

[2022-08-22 06:38] #705 closed

[2022-08-22 12:34] Sytten commented on #705
Auto close bots are a bad practice

[2022-08-25 06:24] Breadkenty opened #1127 "@opentelemetry/instrumentation-pg not auto-instrumenting"
Hi,

I'm currently having an issue with auto-instrumenting the packages ~~`aws-lambda`, `aws-sdk`, and~~ `pg`. I have a lambda function that uses the lambda layer `tracing.ts` using the environment variable `NODE_OPTIONS: --require /opt/tracing`. I have a collector agent that takes traces and exports them into NewRelic.

~~Once the traces are generated, I see all of my manual instrumentations I cr

[2022-08-25 08:27] mentos1386 opened #1128 "aws-sdk instrumentation is definining span.kind as internal"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
`v16`

### What did you do?

Using `@opentelemetry/instrumentation-aws-sdk` to instrument our aws sdk requests.

### What did you expect to see?

Requests to all AWS Services should have `span.kind` as `client`. Except for SNS/SQS where this is handled correctly.

### What did you see instead?

`span.k

[2022-08-26 18:05] toddtarsi opened #1130 "otel-collector + AWS X-Ray: large gaps in tracing blocks"
- [X] This may affect other libraries, but I would like to get opinions here first

Hey all, I use Opentelemetry on Hapi, and I'm currently doing AWS X Ray via the otel-collector sidecar on ECS. This might be something I need AWS support for, but I wanted to check here first, as I am not sure how to see what I'm missing. Basically, I get these inconsistent untraced segments of my request. This doe

[2022-08-29 06:43] #1053 closed

[2022-08-29 06:49] #1034 closed

[2022-08-29 21:52] pragmaticivan opened #1132 "TS2430: Interface 'Request' incorrectly extends interface 'IncomingMessage' when using getNodeAutoInstrumentations"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
16.x

### What did you do?
Just using `getNodeAutoInstrumentations()`.

### What did you expect to see?
No error.

### What did you see instead?
[code]