[2019-10-13 00:44] OlivierAlbertini opened #16 "[Plugin]: Add dns plugin"
**Is your plugin request related to a problem? Please describe.**
Add traces in order to get useful dns operations information

**Is it applicable for Node or Browser or both**
`Node`

**Do you expect this plugin to be commonly used**
Weekly Downloads: `unknown`

**What version of plugin are you interested in using**
Node Versions: `>=10` but we can be compatible with `8` as well

**Additional con

[2019-11-16 11:58] vmarchaud opened #17 "examples: provide example for mongodb-core plugin"
Example for http: https://github.com/open-telemetry/opentelemetry-js/tree/master/examples/http

[2019-12-09 15:41] hekike opened #14 "GraphQL Apollo Server"
**Is your plugin request related to a problem? Please describe.**
GraphQL batches multiple queries and entities as a data access protocol into a single HTTP request.
In the background, the GraphQL server will run multiple so-called resolvers that return data for a specific chunk of the graph to fulfill these GraphQL queries. Resolvers can run parallel and depend on each other while they usually fe

[2020-01-08 20:31] shaz1v opened #18 "mongoose tracer plugin"
**Is your plugin request related to a problem? Please describe.**
After the 0.3.2 release and addition of the new mongodb plugin, I've started to use the library to trace our projects, while ones that are based are using the mongodb lib directly worked fine, I saw no traces when using mongoose (although it is based on mongodb).
After digging a bit into mongoose code I'm not entirely sure I'm corre

[2020-01-11 06:56] naseemkullah opened #13 "[express plugin] automatic metrics instrumentation"
**Describe the solution you'd like**

We can draw inspiration from @yuriatgoogle's https://dev.to/yuriatgoogle/custom-metrics-in-node-js-with-opentelemetry-and-prometheus-3dbd to expose the "golden signals"

[2020-03-28 10:32] vmarchaud opened #9 "express plugin: doesnt work with express-async-errors module"
`express-async-errors` is a module that wrap express layers so they can be async, however to do so it change the handle fn location (https://github.com/davidbanham/express-async-errors/blob/master/index.js#L36)

[2020-04-07 14:14] vmarchaud opened #8 "feat(express): add option to disable span creation without root"
Similar as https://github.com/open-telemetry/opentelemetry-js/issues/931, i've added both the express and http plugin but added some pattern to ignore for the http plugin. However when the http plugin dont create a span because the url is ignored, the express plugin still create, resulting in single trace with one span for each middleware.
Two solutions:
- allow to ignore express layers depending

[2020-04-09 09:57] vmarchaud opened #10 "plugins(mongodb): two versions of mongodb used result in double patching"
When trying to instrument one of my service, i've add this weird trace:
![image](https://user-images.githubusercontent.com/2820968/78882586-909adb80-7a58-11ea-8f54-0cead421805e.png)

If you look at the mongodb span, they seems to be traced twice. When looking at the tracer log:
[code]

My service use both `mongoose` which bundle its own version of `mongodb` and `mongodb` directly and somehow we pa

[2020-04-21 23:58] mayurkale22 opened #7 "Proposal: Separate release pipeline for core and contrib repositories."
Benefits:
- Independent release pipeline: Possible to release contrib modules without waiting on core modules.
- Easy to manage versions: No need to worry about version sync
- Once API/SDK is stable will have less releases in core compared to contrib.

In order to avoid version confusions, we can include "**contrib**" name in all the packages under contrib repository like `@opentelemetry/contrib-p

[2020-04-22 13:21] dyladan commented on #7
I like this, but we need to be explicit somewhere about which SDK/API version is required for a specific plugin. Perhaps in the README. Adding contrib to package names is a good idea in my opinion.

[2020-04-22 16:04] dyladan commented on #7
@open-telemetry/javascript-approvers

[2020-04-22 17:53] vmarchaud commented on #7
Agree for both the naming and the split of versionning. @dyladan I think we would need to implement something in the code as no everyone read closely the readme and most likely just install the plugins. Could we add a error log if the API version doesn't match ?

[2020-04-22 18:26] mayurkale22 commented on #7
Hmmm.. Should we do this for the latest release version or keep a history of the plugin versions?

[2020-04-22 21:01] dyladan commented on #7
We could try to completely decouple the plugins from the SDK, and have them only depend on the API. Then the API version code in the other PR would take care of this for us. Not sure how feasible this is.

[2020-04-25 16:12] pauldraper opened #11 "Don't save pg.values on span"
Or at least make it a configuration option.

1. They are frequently sensitive. (There is more general issue with masking sensitive information, but query values are very often sensitive.)

2. They can be extremely large. Especially arrays.

[2020-04-25 16:15] vmarchaud opened #12 "automatic tracing of ws"
**Is it applicable for Node or Browser or both**
Node

**Do you expect this plugin to be commonly used**
Weekly Downloads: 10M (https://www.npmjs.com/package/ws)

**What version of plugin are you interested in using**
Versions: 5 - 7 (cover last 2 years of releases)

**Additional context**

- **Is there a reference you could point for the well-defined lifecycle methods**

I believe only elastic im

[2020-04-25 16:28] obecny opened #15 "bluebird, promise, q"
Make sure those 3 libraries for promises

- bluebird 10,5mln downloads/week
- promise 4.8mln downloads/week
- q 4,7mln downloads/week

works fine with context propagation for scope managers on web and node
If not then add support for them.
Unless someone can already answer these precisely, otherwise this can be a spike to see what needs to be done.

[2020-04-26 16:19] vmarchaud commented on #7
@dyladan I agree, however we could have problem if a plugin use non-api method (ex: `withAsync`) :/

[2020-04-27 14:48] dyladan commented on #7
The plugin could always just do `if (tracer instanceof otel.Tracer)` to flag features which require our sdk.

[2020-04-28 06:10] vmarchaud commented on #10
Released in 0.7.0

[2020-04-28 06:10] #10 closed

[2020-04-28 20:16] andrewhsu opened #20 "create a plugins-all package"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem? Please de

[2020-04-29 16:09] dyladan commented on #20
Per sig, I will create it with name `@opentelemetry/plugins-all-node`

[2020-05-04 15:21] dyladan opened #21 "Rename all `@opentelemetry/plugin-*` packages to `@opentelemetry/plugin-contrib-*`"
In order to differentiate between "core" plugins like http and contrib plugins like mysql, we should rename all plugins so that it is obvious which "level" of plugin it is from the name and deprecate all released versions of the previous name.

[2020-05-04 15:30] obecny commented on #21
My 3 cents. I would not complicate it. First one day certain plugin might be moved to core or opposite and then it will need to have its name changed - users will be confused. Secondly I would keep the same name for certain plugin forever to be able to upgrade to latest version without checking if name has changed or not. Based on only those issues I don't really see a big benefits in having diffe

[2020-05-04 18:58] mayurkale22 opened #22 "Build: Use node 14 instead of node 13"
Similar to https://github.com/open-telemetry/opentelemetry-js/issues/996

/cc @dyladan

[2020-05-04 20:01] dyladan opened #24 "pg tests fail on node 14"
See build log here https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-js-contrib/20/workflows/86b033c2-7114-4093-8dbb-3bd537d206e1/jobs/119

cc/ @markwolff

[2020-05-05 03:17] markwolff commented on #24
Caused by https://github.com/brianc/node-postgres/issues/2180
Looks like we will need to bump pg to `7.x`...`8.x`. How are we planning to handle testing across major versions, if at all? In the past, I've spun up separate folders to run the tests, but it's duped code for each major version bump.

[2020-05-05 13:08] dyladan commented on #24
I think for beta, it is sufficient to support latest only. @mayurkale22 wdyt

[2020-05-06 15:57] dyladan opened #26 "Express build failure"
Looks like the build fails on express with the latest typings https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-js-contrib/22/workflows/d59fb653-427e-453a-adf9-299a02966be7/jobs/134/steps

[2020-05-06 16:13] vmarchaud commented on #16
Just adding a quick comment for everyone who looking into the dns plugin, we have a problem with its current state. There are no system in place to stop new trace creation for dns request made by exporters so it can create loop:

A spec is on-going to fix that problem [there](https://github.com/open-telemetry/opentelemetry-specification/issues/530), we are waiting for that to implementing it

[2020-05-06 16:45] andrewhsu commented on #24
I agree with @dyladan given the current state of this project at this point.

In the future, if supporting different major versions of the same package is desired, may want to consider having major version (or whatever is appropriate for the specific contrib package because sometimes some projects break compatibility between minor versions) to separate stuff out (but only if necessary), e.g.:
* `o

[2020-05-06 19:50] dyladan commented on #24
@markwolff we talked about it at the SIG and we're just going to bump to 8 at this stage. You want to make a PR or should I?

[2020-05-07 15:06] dyladan commented on #26
@vmarchaud I see that you already assigned yourself. It looks like `@types/node` updated so that `assert` is a typescript assertion function now https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-7.html#assertion-functions

Earlier calls to assert are causing they types to be confused. Changing the calls from `assert(expr === expr2, "reason")` to `assert.strictEqual(expr, expr

[2020-05-07 15:07] vmarchaud commented on #26
Ok, i'll make a PR tomorrow for that thanks for investigating !

[2020-05-07 15:08] dyladan commented on #26
If you want I can make a PR for it now. It's causing other PRs to fail like #27

[2020-05-08 17:04] #26 closed

[2020-05-13 15:15] vmarchaud opened #29 "bug(ioredis): crash with latest sdk versions"
[code]

[2020-05-13 20:45] #24 closed

[2020-05-14 14:49] dyladan opened #31 "Define and document `enhancedDbReporting`"
_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js/issues/1044#issuecomment-626961227_

Would be nice if we could make this flag consistent across all plugins.

[2020-05-19 22:09] #17 closed

[2020-05-19 22:35] dyladan opened #35 "Create a binary gRPC "CensusPropagator""
That sounds like a great idea 👍

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js/issues/1071#issuecomment-630453807_

[2020-05-20 07:25] nkelly75 commented on #35
Please assign to me @dyladan

[2020-05-20 12:00] dyladan commented on #35
Since this is also your first contribution, I'll also assign myself and help you through any part of the process if you need.

[2020-05-20 16:35] jon-whit commented on #14
What's the status on this effort? I'm also looking at integrating OpenTelemetry into a GraphQL implementation using apollo-server.

[2020-05-21 15:53] dyladan commented on #14
As far as I'm aware, nobody is working on this right now

[2020-05-21 22:59] toumorokoshi opened #37 "align opentelemetry instrumentation naming with specification"
Hi!

I recently worked with opentelemetry-specification to align on a standardized naming for instrumentations across languages. Here's the final result:

https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/overview.md#instrumentation-libraries

And the PR where it was discussed:

open-telemetry/opentelemetry-specification#539

I think if js followed the specifi

[2020-05-22 14:11] dyladan commented on #37
Since we already have some modules with established names, it looks like the spec does not _require_ us to rename existing ones. At the very least, I think we could rename the folders within the repo (without renaming the actual packages). We can talk about renaming the packages, but I'm not sure how much value is really there to bring a change that might be confusing for existing users.

[2020-05-23 17:45] toumorokoshi commented on #37
rah ok, the intention was more for if there was no convention for the specific package being instrumented, rather than some convention period:

[code]

Maybe It would have served the intention better to combine them into the same sentence. But more on topic...

I do agree that this is a disruptive change with no significant immediate benefits. One long term benefit: those who have to instrument mu

[2020-05-26 18:39] dyladan commented on #37
@mayurkale22 and other @open-telemetry/javascript-approvers opinions?

[2020-05-26 18:52] vmarchaud commented on #37
I agree with @toumorokoshi, if we want to make a changes, it need to be done before GA. I will be in favor of updating now and deprecating the old name

[2020-05-29 17:19] PatrickHeneise opened #41 "Support for fastify"
**Is your plugin request related to a problem? Please describe.**

We'd like to use the gcloud trace agent in our software which is runs on [fastify](https://www.npmjs.com/package/fastify). Fastify uses a similar API to express, I was hoping this would work out of the box, but unfortunately that's not the case.

**Is it applicable for Node or Browser or both**

- Node

**Additional context**

Orig

[2020-05-29 17:46] mayurkale22 commented on #41
Thanks for opening this. I marked it as **up-for-grabs** for now. If you are feeling motivated, maybe you can attempt to write solution and open a PR.

[2020-05-30 19:02] toumorokoshi commented on #37
As a thought, this could be tackled the same time as https://github.com/open-telemetry/opentelemetry-js-contrib/issues/21

[2020-06-03 20:40] nkelly75 commented on #35
@dyladan I assume this can be closed now that the propagator has been merged and published.

FYI, I'm working on an example to show when/how the propagator can be used. Should we open a new issue to associate with the associated PR? (Planning to add the example under [examples](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/examples)

[2020-06-03 21:17] #35 closed

[2020-06-03 21:18] dyladan commented on #35
no need to make an issue for it. you can if you want though

[2020-06-15 21:34] chris-smith-zocdoc opened #78 "express: unref is not a function on Node 8"
### What version of OpenTelemetry are you using?
`^0.8.3`

### What version of Node are you using?
`v8.17.0`

### What did you do?
Ran the demo in https://github.com/open-telemetry/opentelemetry-js/tree/master/getting-started/traced-example

### What did you see instead?
[code]

### Additional context
`unref` was added in node 9.7.0 https://nodejs.org/docs/latest-v12.x/api/timers.html#timers_immed

[2020-06-16 12:26] dyladan commented on #78
We shouldn't need to unref the setImmediate anyways as it will only hold the process open for one cycle at worst. I'll look deeper into it and make sure it is safe to remove today.

[2020-06-17 06:49] nerumo opened #80 "Express with ignoreUrls"
I have a health check that is called by kubernetes every 15 seconds. I don't want any traces to be created for the health check. I can ignore routes in the http/https plugins, but I can't do that in the express plugin. It would make sense to support a `ignoreUrls` which ignores all layers for certain urls.

[2020-06-17 08:05] vmarchaud commented on #80
I've made https://github.com/open-telemetry/opentelemetry-js-contrib/pull/43 exactly for that use case, it would make the express plugin not create trace if the http plugin did not.

[2020-06-17 08:31] nerumo commented on #80
@vmarchaud Great! In my scenario this would work. It's not exactly the same as my proposal (spans can be created in other ways than through http/https), but it's satisfying for me.

[2020-06-17 10:08] jitenderchand opened #81 "integration example for apollo-server-express"
- [x] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

[2020-06-17 13:22] owais opened #82 "Web tracer, zone context manager and User Interaction plugin does not work with Angular"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

I'm using the following  Otel packages:

[code]

#### Output of `npm ls`:
<details>
  <summary>Click to expand</summary>

[code]
</details>

### What version of Node are you using?

[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

I checked out the

[2020-06-17 13:24] owais commented on #82
I think this is probably related more to the context manager than the user interaction plugin so moving to the core repo: https://github.com/open-telemetry/opentelemetry-js/issues/1206

[2020-06-17 13:24] #82 closed

[2020-06-17 13:29] owais opened #83 "Fresh install results in build errors"
### What version of OpenTelemetry are you using?

I'm using the following  Otel packages:

[code]

#### Output of `npm ls`:
<details>
  <summary>Click to expand</summary>

[code]
</details>

### What version of Node are you using?

[code]

### What did you do?

I checked out the Angular real world app (https://github.com/gothinkster/angular-realworld-example-app) and tried to instrument it with th

[2020-06-17 13:51] dyladan commented on #83
hmm I could be wrong here but it looks like you may not have the zone.js peer dependency installed? Or you have an incompatible version. @obecny may have more context here

[2020-06-17 15:25] dyladan commented on #81
@jitenderchand there is no real context here to describe what you want. Are you looking for an example to manually trace apollo server express, or are you looking for an autoinstrumentation plugin? Are you currently working on this, or hoping someone else will do it?

[2020-06-17 16:28] jitenderchand commented on #81
@dyladan I was trying to set up tracing for my project. we are using the `apollo-server-express`. I followed the getting started guide to setup. It works with example and it automatically traced whenever I hit the backed API. However, when I tried to set up this with my project the setup was successful but whenever I was hitting graphql API it was not working, which means it was not sending any tr

[2020-06-17 16:51] thgao opened #84 "React/Redux plugin"
**Is your plugin request related to a problem? Please describe.**
Currently, React routing doesn't trigger tracing from other plugins like document load, but it'd be nice to be able to see this for React pages as well.

State storage in Redux would also be interesting to see traces of.

**Is it applicable for Node or Browser or both**
Browser

[2020-06-17 16:57] dyladan commented on #84
Assigned the issue to you as discussed in SIG. If you'd like any help or guidance feel free to reach out to me on gitter or ask in the https://gitter.im/open-telemetry/opentelemetry-node channel.

[2020-06-17 18:08] obecny opened #86 "Plugin for angular or rxjs or both"
The angular is using rxjs and thus the context propagation is not kept between user_interaction and for example XMLHttpRequest when using rxjs observable. To achieve that I believe it would be a rxjs which needs to be patched. It might be not all but I think Observable could be a start and then to see if context (zone) is being propagated correctly

[2020-06-17 23:10] obecny opened #87 "npm run lint doesn't work"

[2020-06-18 23:36] carolinee21 opened #92 "Plugin for Hapi"
**Is your plugin request related to a problem? Please describe.**
Requested plugin for [Hapi](https://hapi.dev/) framework

**Is it applicable for Node or Browser or both**
Node
**Do you expect this plugin to be commonly used**
Weekly Downloads:
[250k](https://www.npmjs.com/package/@hapi/hapi)

[2020-06-18 23:40] carolinee21 opened #93 "Plugin for Koa"
**Is your plugin request related to a problem? Please describe.**
Requesting a plugin for the [Koa](https://koajs.com/) framework

**Is it applicable for Node or Browser or both**
Node
**Do you expect this plugin to be commonly used**
Weekly Downloads:
[525k](https://www.npmjs.com/package/koa)

**Additional context**
Existing plugin for OpenTracing is shown [here](https://github.com/teambition/koa

[2020-06-19 15:45] carolinee21 commented on #41
@PatrickHeneise Hi - I was wondering if there have been any updates on this. Thanks!

[2020-06-19 22:02] mayurkale22 opened #97 "deprecate attribute.component"
Same as https://github.com/open-telemetry/opentelemetry-js/issues/1219

[2020-06-19 22:08] mayurkale22 opened #98 "Use @opentelemetry/semantic-conventions"
`@opentelemetry/semantic-conventions` has been published in `0.9.0`. Update all the relevant plugins to use this commonly defined enums.

Same as https://github.com/open-telemetry/opentelemetry-js/pull/1160

/cc @markwolff

[2020-06-20 05:30] #80 closed

[2020-06-21 03:34] rezakrimi commented on #87
I see that the the project is using tslint and it's been deprecated. Is it ok to setup eslint similar to the core repo?

[2020-06-22 08:09] PatrickHeneise commented on #41
Haven't had a chance yet. @mayurkale22 how would I start on this? And, if I add fastify, how does it make it's way into Google Trace?

[2020-06-22 13:28] dyladan commented on #41
@PatrickHeneise I would take a look at some of the node plugins in this repo to get an idea how they work, but generally we use `shimmer` to wrap functions exported by the module we want to instrument. The plugin uses the SDK to generate spans and other instrumentation data, and the SDK handles exporting it to a backend using the configured tracing exporter. Google cloud trace has a tracing export

[2020-06-22 18:50] mayurkale22 commented on #92
In my opinion, this would be useful. @dyladan Any thoughts?

[2020-06-22 20:24] vmarchaud commented on #41
For the plugin, you could refer to the implementation done by datadog here: https://github.com/DataDog/dd-trace-js/tree/master/packages/datadog-plugin-fastify/src
Note that the Tracer API is way different but at least you know which functions to patch :)

[2020-06-23 17:43] dyladan commented on #92
💯

[2020-06-23 20:07] vmarchaud commented on #8
Closing since #43 has been merged

[2020-06-23 20:07] #8 closed

[2020-06-24 02:12] kellycampbell opened #107 "plugin-express: end() called more than once on async handlers"
### What version of OpenTelemetry are you using?

0.9.0

plugin-express 0.8.0

### What version of Node are you using?
12.18.1

### What did you do?

Use express.static, or an async handler like a database lookup.

Modified `examples/express/server.js` with the following:

[code]

### What did you expect to see?

No errors in the console.

### What did you see instead?

[code]

### Additional cont

[2020-06-24 02:31] dyladan commented on #107
@vmarchaud can you take a look at this?

[2020-06-24 18:43] carolinee21 commented on #93
@dyladan Could you please assign this to me? Thanks

[2020-06-24 20:34] dyladan commented on #87
@rezakrimi yes that would be great! Would you like to be assigned?

[2020-06-24 20:40] rezakrimi commented on #87
Sure

[2020-06-26 22:20] #78 closed

[2020-06-28 00:46] jufab commented on #86
FWY, I made an angular library https://www.npmjs.com/package/@jufab/opentelemetry-angular-interceptor

[2020-06-29 12:50] dyladan commented on #86
@jufab awesome! Maybe you should list it on the registry so people can find it?

[2020-06-29 20:26] jufab commented on #86
@dyladan PR sent for the registry ;)

[2020-06-30 17:08] adamegyed commented on #41
It looks like someone has already written a library connecting fastify to OpenTelemetry here: https://github.com/mkinoshi/fastify-opentelemetry
However, this does not conform to the spec of an OpenTelemetry plugin, rather, it is a fastify plugin that interacts with OpenTelemetry. There might still be value in adapting this to the form of an OT plugin.

[2020-07-01 13:51] dyladan commented on #41
Both approaches likely have value, but it may be better to spend time elsewhere if there is already a good way to get spans from fastify.

[2020-07-01 18:42] dyladan opened #116 "[pg + pg-pool] Update DB semantic conventions"
https://github.com/open-telemetry/opentelemetry-specification/pull/575

[2020-07-02 15:48] jitenderchand commented on #81
@dyladan I am still struggling to setup it with apollo graphql. Could you please point me to some document if we have any.

[2020-07-02 21:57] mwear commented on #92
If this tweet can be trusted: https://twitter.com/hapijs/status/1275887984114413569, Hapi will be EOL'd. It's anyone's guess how this will actually play out as it does seem to have a loyal following.

[2020-07-06 01:38] naseemkullah commented on #116
This may fall out of scope but would it make sense to have a shared `opentelemetry-semantic-conventions` package that exports the enum of all attribute names and such? If so should this be package be hosted in the core repo?

[2020-07-06 15:00] dyladan commented on #116
There is already such a package. https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-semantic-conventions

[2020-07-06 15:02] dyladan commented on #81
I'm sorry we don't have any examples specific for apollo

[2020-07-06 15:09] naseemkullah commented on #116
perfect!

[2020-07-08 20:28] hairyhenderson commented on #93
@carolinee21 Has there been any progress on this? I was just looking for a koa otel plugin 😉

[2020-07-08 20:43] carolinee21 commented on #93
@hairyhenderson Yes - I have been working on it on [this fork](https://github.com/carolinee21/opentelemetry-js-contrib) and expect to have a PR out in the next week or so. I would appreciate any feedback you have!

[2020-07-09 10:53] hairyhenderson commented on #93
Awesome! I'll wait for the PR and will have a look when it's up 🙂

[2020-07-09 15:01] obecny opened #132 "AWS Lambda - http"
### Is your plugin request related to a problem? Please describe
Currently on lambda function all the incoming requests are not "catched" / "handled" by http module. This causes that the http plugin is not creating any new span and when you try to get currentSpan in handler function it returns undefined.
We should investigate this issue further and see if we can come out with some plugin solution

[2020-07-09 16:07] sureshballa opened #131 "KafkaJS Plugin Request"
**Is your plugin request related to a problem? Please describe.**
Traceability to Kafka for producing and consuming message via KafkaJS package

**Is it applicable for Node or Browser or both**
Node

**Do you expect this plugin to be commonly used**
Weekly Downloads:
KafkaJS has about 64,000 weekly downloads as of today

[2020-07-09 16:10] dyladan commented on #132
Transferred this to contrib. If you think it should be in core let me know and we can maybe move it back.

[2020-07-09 16:14] dyladan commented on #131
I think this is a great idea. @sureshballa are you thinking you want to work on this or are you just requesting the feature?

[2020-07-09 16:18] sureshballa commented on #131
@dyladan requesting this plugin feature.

[2020-07-09 17:43] dyladan commented on #132
I have been working on this already and should have a PR incoming for the first part of this sometime early next week.

[2020-07-09 18:26] obecny commented on #132
With regards to keeping this in contrib. Hard to say before seeing the PR, but if the plugin depends on our http plugin or its existence makes sense only if you use http plugin then I would keep it core. WDYT ? But I would like to hear feedback from @mayurkale22 as well

[2020-07-09 18:28] dyladan commented on #132
It will not depend on the HTTP plugin and will handle more invocation types than just http.

[2020-07-09 18:29] obecny commented on #132
then I would leave it in contrib :)

[2020-07-09 19:47] mayurkale22 commented on #131
Looks like we already have a kafkajs plugin for Node.js., see: https://opentelemetry.io/registry/instrumentation-js-kafkajs/

You may want to read the blog post on same: https://medium.com/aspecto/opentelemetry-plugin-for-kafkajs-8789960b1e66

/cc @blumamir author.

[2020-07-09 21:44] kintel opened #134 "Add plugin for restify"
This is supported by the current offerings of at least Google (https://github.com/googleapis/cloud-trace-nodejs#what-gets-traced) and Lightstep (https://docs.lightstep.com/docs/nodejs-auto-instrumentation#frameworks), so it would be good to have it added in OpenTelemetry.

[2020-07-09 21:49] kintel opened #135 "Add plugin for mysql2"
This is supported by the current offerings of at least Google (https://github.com/googleapis/cloud-trace-nodejs#what-gets-traced) and Lightstep (https://docs.lightstep.com/docs/nodejs-auto-instrumentation#data-stores), so it would be good to add to OpenTelemetry.

[2020-07-09 22:47] dyladan commented on #135
I agree. I have a local version of the mysql plugin which I started modifying to support mysql and mysql2. I may have time to finish that up in the near future.

[2020-07-09 22:48] dyladan commented on #131
We should add a section to the plugin request template that lets people know to look at the registry.

[2020-07-15 13:47] carolinee21 commented on #92
Based on [this update from Hapi](https://github.com/hapijs/hapi/issues/4113), I believe Hapi will be sticking around! I would like to look more into this plugin - could someone please assign this to me?

[2020-07-17 15:35] hairyhenderson commented on #93
@carolinee21 should this issue have been closed? It looks like carolinee21/opentelemetry-js-contrib#1 only merged it into your fork's `master` branch 🤔

[2020-07-17 16:44] dyladan commented on #93
Nope :)

[2020-07-17 17:17] carolinee21 commented on #93
My apologies - did not realize that the issue would close based on a fork's PR. The formal PR into this repo is now open at #144

[2020-07-17 21:21] hairyhenderson commented on #93
awesome, thanks @carolinee21 🙂

[2020-08-03 16:33] obecny commented on #14
@jon-whit are you working on that ?

[2020-08-05 03:42] naseemkullah commented on #116
@dyladan re: https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md#mysql

Please take note of span name and db statement.

Shall we proceed like as such? Currently span name is  e.g.: `mysql:query:SELECT`, the value of db statement is that of span name and we have a custom attribute MYSQL_VALUES with the  values. To adhere to

[2020-08-05 12:21] obecny opened #168 "onclick - react, zone.js"
Investigate problem with onclick event for react when using plugin for user interaction , react plugin, xmlhttprequest plugin, and zone manager.
More context here -> https://github.com/open-telemetry/opentelemetry-js-contrib/pull/164#issuecomment-668811140

[2020-08-05 16:58] dyladan commented on #116
We should follow the spec

[2020-08-05 17:30] carolinee21 opened #169 "Add support for multiple module names in BasePlugin"
- [ ] This only affects the JavaScript OpenTelemetry library
- [X] This may affect other libraries, but I would like to get opinions here first
### Context:
Currently, plugins can only instrument a single module. Many cases like http/https, grpc/grpc-js, and mysql/mysql2 it would be desirable to have a single plugin for both modules.
Another use case: Hapi was recently renamed to @hapi/hapi. Both

[2020-08-07 20:38] obecny commented on #14
ok it looks like no1 is working on that, I'm taking over it

[2020-08-11 13:47] menishmueli commented on #134
Hi, I want to start contributing to OpenTelemetry, can I grab this issue?

[2020-08-11 14:56] kintel commented on #134
@adamegyed You mentioned this yesterday. Could you update your plans here and/or sync with @menishmueli ?

[2020-08-11 15:55] adamegyed commented on #134
Hi @menishmueli ! I've started work on this plugin a while back, but ran into some blockers and held off on claiming the ticket. Recently though I think I found a solution, and I plan on starting a draft PR today. Feel free to contribute to it if you'd like.

[2020-08-12 03:41] legendecas commented on #135
@dyladan So https://github.com/open-telemetry/opentelemetry-js/issues/1376#issuecomment-668796246 can be a blocker for this one right?

[2020-08-12 14:31] dyladan commented on #135
@legendecas I actually fixed the flaky test by preventing that test from loading plugins. I don't see why it would be a blocker for this though.

[2020-08-13 02:45] legendecas commented on #135
I noticed that you mentioned that an overhaul might be needed to get mysql/mysql2 instruments merged in a single plugin.
 So the feature you mentioned is better to have right? Before that, we can still have mysql2 instrument in a new plugin for them.

[2020-08-13 09:32] sergioregueira commented on #11
Storing `pg.values` by default will eventually leak sensitive data such as user credentials. This issue should be fixed ASAP.

If you agree, I will immediately submit a PR to make it optional unless a `storeValues` flag is set to true explicitly following an approach similar to [mongodb plugin](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/master/plugins/node/opentelemetry-plugin

[2020-08-14 13:59] dyladan commented on #135
Yes I think it would make sense to instrument them with the same plugin since the API surface is identical. Until then, I think it makes sense to have both.

[2020-08-14 14:17] dyladan commented on #11
What does the spec say about it currently? It was my understanding that data scrubbing was supposed to happen in the collector?

[2020-08-14 15:17] sergioregueira commented on #11
On the one hand, [Semantic conventions for General Identity Attributes](https://github.com/open-telemetry/opentelemetry-specification/blob/b70565d5a8a13d26c91fb692879dc874d22c3ac8/specification/trace/semantic_conventions/span-general.md#general-identity-attributes) says the following about `enduser.id`:

On the other hand, [Semantic conventions for database Call-level attributes](https://github.co

[2020-08-14 16:04] dyladan commented on #11
I think that spec wording is sufficient to change to scrub by default. We may want to provide a config option to capture query values, but I agree it is very sensitive and we shouldn't export it if we can avoid it.

[2020-08-14 16:43] sergioregueira commented on #11
In that case, I would like to contribute submitting that pull request before the end of the week.

The plugin will not add that `pg.values` attribute to the span unless a `trackValues` flag is explicitly set to `true` on plugin config.

[2020-08-18 01:06] #93 closed

[2020-08-18 01:30] #92 closed

[2020-08-20 08:13] Hongbo-Miao commented on #14
Hi @obecny just a suggestion, it would be great to support from [GraphQL.js](https://github.com/graphql/graphql-js) level, so it does not matter which GraphQL framework people are using. 😀

[2020-08-20 16:34] Hongbo-Miao opened #178 "React functional component support"
**Describe the solution you'd like**
For current [OpenTelemetry Plugin React Load](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/5be5217ffab31b85cd499099cc67eb928f2e2744/plugins/web/opentelemetry-plugin-react-load), I see the demo is using React class component by `extends`, can we support and add a demo for functional component? Thanks!

[2020-08-22 14:02] Madvinking opened #181 "JaegerHttpTracePropagator not able to inject context to carrier"
Hi,
i don't know exactly where to ask this,
but I'm trying to create a basic tracer with the JaegerHttpTracePropagator
after i create a new span i try to inject it to the carrier (the headers)
but something is not working because the carrier not containing the requested header (uber-trace-id in this case)

this is my code:
[code]
when i call startSpan({operation: '/route'  carrier: req.headers  })

[2020-08-24 11:42] obecny commented on #14
@Hongbo-Miao yes that's exactly what will be doing

[2020-08-24 12:23] dyladan commented on #181
Hello, sorry to hear you're having trouble. I don't see anything obviously wrong with the code, but I can try to help you figure it out. What version of otel are you using?

[2020-08-24 16:47] l3omtz opened #182 "404 Not Found - GET https://registry.npmjs.org/@opentelemetry%2fplugin-react-load - Not found"
Package is not in NPM?

[2020-08-24 23:56] HW13 commented on #41
We recently published a fastify plugin that utilizes `@opentelemetry/api` to trace requests. It's lightweight, but provides the tools to add more granular/custom tracing implementations if desired. Cheers 😄  -> https://github.com/autotelic/fastify-opentelemetry

[2020-08-25 17:10] daudtacto commented on #107
@kellycampbell @dyladan I am facing the same issue. Did you find an alternate solution to avoid this one?

[2020-08-26 14:41] dyladan commented on #41
@HW13 You may want to think about listing it on the [registry](https://opentelemetry.io/registry/)

[2020-08-26 15:31] Madvinking commented on #181
Hi Daniel, appreciate the help.

[code]

[2020-08-26 17:09] HW13 commented on #41
Thanks for the suggestion @dyladan 😎  - just opened a PR -> https://github.com/open-telemetry/opentelemetry.io/pull/241

[2020-08-26 18:42] vmarchaud commented on #107
Sorry for some reason i didn't saw this issue (thanks for the tag on gitter @daudtacto), i will look into this. Note that those are only "warnings", it doesn't impact performance nor can crash your app

[2020-08-26 18:44] vmarchaud commented on #41
@dyladan Do we want to keep this issue open since there are multiple solutions available ?

[2020-08-26 19:15] odelucca commented on #182
Same issue here

[2020-08-26 20:07] obecny commented on #182
this is new plugin which hasn't been released yet. it will be with next version

[2020-08-26 20:07] #182 closed

[2020-09-01 22:08] Hongbo-Miao opened #193 "TS2322: Type 'DocumentLoad' is not assignable to type 'BasePlugin<unknown>'."
After upgrading `@opentelemetry/web` from 0.10.2 to 0.11.0,

[code]

The code

[code]

gives typing error

[code]

[2020-09-02 04:51] naseemkullah commented on #116
FYI I don't plan on tackling `pg` or `pg-pool` so those are up for grabs.

[2020-09-04 19:36] flands opened #197 "Remove non-inclusive language"
**Is your feature request related to a problem? Please describe.**

This repository contains non-inclusive language:

[code]

Note: this does not address the use of `master` branch.

**Describe the solution you'd like**
Push Mongo to change non-inclusive language and then remove non-inclusive language from this repository.

**Describe alternatives you've considered**
A clear and concise descriptio

[2020-09-09 15:19] #22 closed

[2020-09-09 20:08] dyladan commented on #197
Have you also created an issue on the mongo side?

[2020-09-14 16:14] sureshballa commented on #131
@mayurkale22 @blumamir Unfortunately this plugin doesn't wrap transaction based producers, it is implemented for simple producer send based actions. We are using transactions based kafka producers.

[2020-09-14 22:02] MarkSeufert commented on #98
Hi, could I take this one?

[2020-09-15 15:41] naseemkullah opened #205 "re-enable dns as a default plugin"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

As per gitter chat with @dyladan and @obecny :

The dns is currently disabled as we need to watch for:

However,

[2020-09-15 16:09] vmarchaud commented on #205
We could totally enable it by default indeed.

[2020-09-16 13:22] blumamir commented on #131
Hi @sureshballa
I am the maintainer of the plugin.
I don't plan to add transaction support anytime soon, but if you want to create a PR for that, I'll be happy to review and merge it.

[2020-09-16 16:14] naseemkullah opened #206 "[mysql] span name [object Object]"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
 otel = 0.11.0
otel-contrib = 0.10.0

### What version of Node are you using?

12

### What did you do?
auto instrument mysql queris

### What did you expect to see?
a correct span name

### What did you see instead?
[object Object]

### Additional context
surely was introduced in https:

[2020-09-16 18:11] MarkSeufert opened #207 "Contributing Guide uses incorrect repo in examples"
In the [contributing guide](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/master/CONTRIBUTING.md), the instructions under the fork heading give the following git command:
`git remote add upstream https://github.com/open-telemetry/opentelemetry-js.git`

However, this is referring to opentelemetry-js which is the wrong repository. The git command should correctly read:
`git remote

[2020-09-23 22:28] grant opened #211 "examples/express link broken"
https://github.com/open-telemetry/opentelemetry-js-contrib/tree/master/plugins/node/opentelemetry-plugin-express

The link `examples/express` is broken.

[2020-09-24 14:55] jon-whit commented on #14
@obecny how's this work coming along? Anything that I can help with? My team and I are looking to expedite this process a bit. We really would love to have this.

[2020-09-24 15:00] obecny commented on #14
@jon-whit in progress (graphql first), FYI to be able to patch graphql I had to refactor plugin instrumentation too which was done, without this such plugin could not be done.

[2020-10-04 22:41] tmc opened #213 "pg spans disconnected from parent"
### What version of OpenTelemetry are you using?
0.11

### What version of Node are you using?
14.8.0

### What did you do?
Enabled express, pg plugins.

### What did you expect to see?
Connected parent and child spans.

### What did you see instead?
Each span produced by the pg plugin is unassociated with the parent span from the express plugin.

[2020-10-05 15:05] akshah123 commented on #213
I was about to create the same issue.  For me, this is happening with koa as well.  Here my details if it helps:

### What version of OpenTelemetry are you using?
0.11.0

### What version of Node are you using?
12.14.0

### What did you do?
Have default list of plugins enabled.  I am using lightstep's Otel project that wraps itself around this open-telemetry project.
[code]

### What did you expec

[2020-10-05 22:57] #207 closed

[2020-10-06 03:51] akshah123 opened #214 "Support version 3.0.x of redis"
**Is your feature request related to a problem? Please describe.**
At present redis plugin only supports version 2.6.0 above but not 3.x.  It would be great if this plugin was updated to support 3.x version of redis as well.

**Describe the solution you'd like**
Support redis 3.x

[2020-10-06 13:38] #214 closed

[2020-10-08 19:55] obecny commented on #213
@tmc Please provide you exact code example including the package.json

[2020-10-09 12:16] CyberHippo opened #217 "MongoDB plugin does not support underlying moogose calls to MongoDB"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?

[code]

### What did you do?

I enabled the MongoDB plugin for my project as follows :
[code]
My project uses Mongoose but the plugin does not seems able to properly instrument the underlying calls to [mongod](https://github.com/mongodb/node-mongodb-native) made by Mongoose.

I have seen [this issue](

[2020-10-11 09:48] vmarchaud commented on #205
I think we can close this @naseemkullah ?

[2020-10-11 09:49] vmarchaud commented on #197
I think we can close this since the PR has been closed (it need modification on the mongodb nodejs driver)

[2020-10-11 09:50] vmarchaud commented on #18
I'm gonna close this, @wdalmut feel free to move the plugin here if you want to

[2020-10-11 09:50] #18 closed

[2020-10-11 10:35] vmarchaud commented on #217
Could you share which mongoose you are using ?

[2020-10-11 10:36] vmarchaud commented on #16
The spec has been implemented so the plugin is safe to use now !

[2020-10-11 10:36] #16 closed

[2020-10-11 10:37] vmarchaud commented on #81
I'm gonna close this in favor of the issue for the plugin [here](https://github.com/open-telemetry/opentelemetry-js-contrib/issues/14)

[2020-10-11 10:37] #81 closed

[2020-10-11 12:01] #205 closed

[2020-10-12 05:09] wdalmut commented on #18
hi @vmarchaud no problem to move the plugin here. I will open a PR as soon as possible

[2020-10-12 05:17] jk1z opened #218 "[Hapi Plugin] Hapi instrumentation plugins wrapping issue"
### What version of OpenTelemetry are you using?
"@opentelemetry/core": "^0.11.0",
"@opentelemetry/exporter-jaeger": "^0.11.0",
"@opentelemetry/hapi-instrumentation": "^0.10.0",
"@opentelemetry/node": "^0.11.0",
"@opentelemetry/plugin-http": "^0.11.0",
"@opentelemetry/plugin-https": "^0.11.0",
"@opentelemetry/plugin-mongodb": "^0.10.0",
"@opentelemetry/plugin-redis": "^0.10.0",
"@opentelemetry/tra

[2020-10-12 05:23] jk1z commented on #218
@carolinee21 To fix this issue, I had to add an extra line at the start of the `_wrapRegisterHandler` function in hapi-instrumentation package's hapi.js
`if (plugin.plugin) plugin = plugin.plugin;`
![image](https://user-images.githubusercontent.com/18542127/95708038-f76aad00-0ca6-11eb-80df-0a59f842d769.png)

The reason why is that when we do server.register([plugins, plugins]). _wrapRegisterHandle

[2020-10-12 07:28] CyberHippo commented on #217
@vmarchaud Sure, we are using the following version :
[code]

[2020-10-12 10:14] jk1z opened #220 "[Hapi Plugin] Hapi instrumentation route handler wrapping issue"
### What version of OpenTelemetry are you using?
"@opentelemetry/core": "^0.11.0",
"@opentelemetry/exporter-jaeger": "^0.11.0",
"@opentelemetry/hapi-instrumentation": "^0.10.0",
"@opentelemetry/node": "^0.11.0",
"@opentelemetry/plugin-http": "^0.11.0",
"@opentelemetry/plugin-https": "^0.11.0",
"@opentelemetry/plugin-mongodb": "^0.10.0",
"@opentelemetry/plugin-redis": "^0.10.0",
"@opentelemetry/tra

[2020-10-12 15:27] carolinee21 commented on #218
This seems like a good add to support this other declaration format - I support adding this fix

[2020-10-12 18:49] AndrewGrachov opened #222 "[Koa] koa plugin instrumentation doesnt generalize http routes"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

having http and koa intrumentation enabled

**Expectation:**
I see  traces grouped by koa routes

**Reality:**

I see every incoming http request as separate operation which is not really useable. Do I do something wrong, or this is an issue?

![download

[2020-10-16 05:30] wdalmut commented on #217
This should be solved by PR #219

[2020-10-18 09:13] rhummelmose commented on #107
What is the status on this issue?

[2020-10-18 09:23] vmarchaud commented on #107
@rhummelmose It has been merged but not yet published

[2020-10-18 14:35] rhummelmose commented on #107
@vmarchaud Cool, I'll try to install from master 👍

[2020-10-23 06:42] morigs commented on #222
Related to open-telemetry/opentelemetry-js#897
See [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/http.md#name)

[2020-10-27 14:41] sk- opened #229 "Pin package version to opentelemetry's version"
**NB:** Before opening a feature request against this repo, consider whether the feature should/could be implemented in the [other OpenTelemetry client libraries](https://github.com/open-telemetry/). If so, please [open an issue on opentelemetry-specification](https://github.com/open-telemetry/opentelemetry-specification/issues/new) first.

**Is your feature request related to a problem? Please de

[2020-10-27 14:48] dyladan commented on #229
According to [node semver docs](https://github.com/npm/node-semver#caret-ranges-123-025-004), `^0.10.2` does not match `0.11.0`.

Specifically, caret ranges:

Pinning the versions would not allow the contrib packages to take care of compatible releases and bugfixes (`0.0.X` updates).

[2020-10-27 15:16] sk- commented on #229
You could pin just the major and minor version for 0.x releases and just the major version for >= 1.x versions.

In that way you would know they are compatible without having to look a the sources.

[2020-10-27 15:21] akshah123 opened #230 "Timeline for next release or way for me to include master branch for redis plugin"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I would love to start making use of [this PR](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/215) that was merged few weeks ago.

Is there a timeframe of when a 0.11.0 version of plugins may be released?  If not, is it possible for me to

[2020-10-28 14:37] #213 closed

[2020-10-28 18:51] obecny commented on #230
@akshah123 the release should be this week

[2020-10-29 00:08] naseemkullah commented on #206
closed via #208

[2020-10-29 00:08] #206 closed

[2020-10-29 19:21] sk- commented on #229
Note how confusing it looks the dependency `"@opentelemetry/plugin-express": "^0.9.0",` compared to another plugin `    "@opentelemetry/plugin-https": "^0.10.2",`.

The problem stems from the fact that both packages uses the same namespace `@opentelemetry`. So one needs to dig deeper to understand why is that this single package requires a different version.

I guess it would be slightly less conf

[2020-10-29 20:51] jmealo opened #234 "[Koa] should the koa plugin shim ctx.throw() to recordExceptions?"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Hello all,

Does it make sense for the plugin to shim`ctx.throw()` and possibly `ctx.assert()` to call `recordException` on the span? I think this is useful and could be behind an option. I'm not proposing a mechanism or place of injection. We faced an is

[2020-10-29 21:02] vmarchaud commented on #234
`recordException` only add the stacktrace / error message on the current span attributes, it make sense to record it inside the koa plugin automatically though.

I don't think so, end user should use the api to interact with the span or current context.

[2020-10-29 21:22] jmealo commented on #234
I'm ready to do the work to make this happen and contribute it, but, I'm torn on where the work belongs.

I think that folks who use tracing probably have structured logging and I'll bet you they want to share some properties between their traces and their logging.

Developers should generally use the OTEL API directly, but from a UX standpoint I think koa developers should be able to call somethi

[2020-10-29 22:57] jmealo commented on #222
I just reviewed the tests for the koa instrumentation and it looks like this already works properly for traces (even using nested routers): https://github.com/open-telemetry/opentelemetry-js-contrib/blob/master/plugins/node/opentelemetry-koa-instrumentation/test/koa-router.test.ts#L155

It looks like this is a matter of setting the name on the request span from the koa instrumentation as it has be

[2020-10-30 00:50] #14 closed

[2020-10-30 07:29] vmarchaud commented on #234
@jmealo I'm sure they do and it would help a lot of people to have something like this available, however i believe it doesnt need to be currently on the otel repo (there is a specification on what we should store on both the core and contrib repo).
What i would suggest is to write the helper for koa with the best UX and add it inside the registry: https://opentelemetry.io/registry/.

In a general

[2020-10-30 15:48] dyladan commented on #234
I agree with @vmarchaud

As a general rule, auto instrumentations should not make any changes that are observable by the user without using instrumentation-specific APIs. Adding methods on the ctx object is observable.

If you want to add these methods, I agree with @vmarchaud that you should make a koa plugin of some kind that adds these methods and add it to the registry.

[2020-10-30 16:57] AndrewGrachov commented on #222
@madamas, pls confirm that you dont have this issue anymore, and we can close that :)

[2020-11-01 16:57] Madamas commented on #222
yep, works like a charm in latest version, thanks for heads-up

[2020-11-01 20:20] #222 closed

[2020-11-02 10:08] #220 closed

[2020-11-02 10:08] #218 closed

[2020-11-02 14:29] akshah123 commented on #213
@obecny I am still seeing this problem even after upgrading plugins to version 0.11.0.  Does this fix also require upgrade of Opentelemetry package to 0.12.0?

[2020-11-02 14:31] dyladan commented on #213
@akshah123 can you please provide a minimum reproduction of your issue?

[2020-11-02 14:40] obecny commented on #213
@akshah123 you are using lighstep launcher which hasn't been upgraded yet to latest version of pg plugin

[2020-11-02 20:22] dyladan commented on #230
Released

[2020-11-02 20:22] #230 closed

[2020-11-03 16:10] blumamir opened #240 "ioredis plugin publish attribute `net.peer.host` instead of `net.peer.name`"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
v0.12.0

### What version of Node are you using?
v12.18.3

ioredis plugin is setting attribute `net.peer.host` while in the database specification it states that it should set `net.peer.name`
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/se

[2020-11-03 22:46] obecny opened #242 "flaky test in ioredis"
From time to time the unit tests in ioredis fails without reason
for example
[code]
https://app.circleci.com/pipelines/github/open-telemetry/opentelemetry-js-contrib/860/workflows/94bb90dc-514a-4931-a922-fd3403ace8b5/jobs/4072

[2020-11-05 17:24] obecny opened #243 "Convert document-load plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/browser/instrumentation.ts#L23)

[2020-11-05 17:25] obecny opened #244 "Convert react-load plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/browser/instrumentation.ts#L23)

[2020-11-05 17:27] obecny opened #245 "Convert user-interaction plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/browser/instrumentation.ts#L23)

[2020-11-05 17:28] obecny opened #246 "Convert redis plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:28] obecny opened #247 "Convert pg-pool plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:29] obecny opened #248 "Convert pg plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:30] obecny opened #249 "Convert mysql plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:31] obecny opened #250 "Convert mongodb plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:32] obecny opened #251 "Convert ioredis plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:32] obecny opened #252 "Convert express plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:33] obecny opened #253 "Convert dns plugin to instrumentation"
- Change folder name from `opentelemetry-plugin-*` to `opentelemetry-instrumentation-*`
- Change package name from `@opentelemetry/plugin-*` to `@opentelemetry/instrumentation-*`
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:34] obecny opened #254 "Convert koa plugin to instrumentation"
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-05 17:35] obecny opened #255 "Convert hapi plugin to instrumentation"
- Change implementation to use [InstrumentationBase](https://github.com/open-telemetry/opentelemetry-js/blob/master/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L30)

[2020-11-09 09:03] johanneswuerbach opened #258 "plugin-express: EventEmitter leak"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

[code]

### What did you do?
If possible, provide a recipe for reproducing the error.

Upgrade`@opentelemetry/plugin-express` from `0.10.0` to `0.11.0`

### What did you expect to see?

Nothing

### What did you see instead?

[code]

###

[2020-11-09 09:22] vmarchaud commented on #258
Well it isn't a leak we need to attach to the end of the response to end the spans. I'm not sure how we could fix that warning without increasing to arbitrary value :/

[2020-11-09 19:27] carlitux opened #260 "Graphql not traicing"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
    "@opentelemetry/api": "^0.12.0",
    "@opentelemetry/base": "^0.7.0",
    "@opentelemetry/core": "^0.12.0",
    "@opentelemetry/instrumentation-graphql": "^0.11.0",
    "@opentelemetry/koa-instrumentation": "^0.11.0",
    "@opentelemetry/node": "^0.12.0",
    "@opentelemetry/plugin-d

[2020-11-09 19:49] obecny commented on #260
I won't be able to run your example, please either prepare some "complete minimum example" or push yr project to some github repo with everything, as it has more elements in it and I cannot guess what is missing and how it should look like.  There is a working example `examples/graphql`, to be able to help you somehow I would need similar thing.

[2020-11-09 21:47] carlitux commented on #260
@obecny hi I found the issue

here the code https://github.com/carlitux/opentelemetry-koa-graphql

**master** branch does not work but **without-graphql-importer** works

I assume that these packages imports graphql before the instrumentation

"babel-plugin-graphql-tag": "^3.1.0"
"babel-plugin-import-graphql": "^2.7.0"

Thanks!

[2020-11-09 21:47] #260 closed

[2020-11-10 00:28] dobesv opened #261 "Document how to use graphql instrumentation with node-sdk"
**Is your feature request related to a problem? Please describe.**

I am using the opentelemetry Node SDK and I can't figure out how to setup the graphql instrumentation plugin with it.

**Describe the solution you'd like**

The instructions for setting up the graphql instrumentation require objects that are not exposed by the opentelemtry Node SDK.

**Describe alternatives you've considered**

I

[2020-11-12 22:22] akshah123 opened #262 "Update koa plugin to specify route in span name"
**Is your feature request related to a problem? Please describe.**
Recently, plugin-http was updated to not have pathname in the span name: https://github.com/open-telemetry/opentelemetry-js/pull/1466

It was done with expectation that other plugins like express would add parameterized route in the span name.

Unfortunately, koa plugin doesn't do this so upgrading to the latest opentelemetry versi

[2020-11-16 03:36] akshah123 commented on #213
I am seeing this issue even after upgrading lightstep's launcher to the latest version.

For an example, project please see this repo: https://github.com/akshah123/koa-test-app

[2020-11-16 11:53] obecny opened #263 "Add instrumentation for knex."
https://www.npmjs.com/package/knex
weekly downloads 640k+

More context:
https://github.com/lightstep/otel-launcher-node/issues/2

[2020-11-18 22:36] obecny commented on #262
@akshah123
I’m trying to understand what do you mean by saying `It would be great if koa plugin can update span name similar to how express does it here`, because this is what I see in some knex / koa postgresql application

[Screenshots](https://imgur.com/a/skn57s6)

Can you please tell me what is wrong here ?

[2020-11-18 22:42] obecny commented on #213
@akshah123 I have responded here https://github.com/lightstep/otel-launcher-node/issues/20#issuecomment-729999974

[2020-11-19 02:47] akshah123 commented on #262
@obecny I didn't realize that route gets added as a separate span as well.  Initially, `HTTP Get` span used to have path name as well.  I think it should be fine to just have it as is.

[2020-11-19 02:47] #262 closed

[2020-11-24 14:47] jtmalinowski opened #267 "Jaeger propagator is missing the .fields() method, is incompatible with latest TextMapPropagator"
As part of https://github.com/open-telemetry/opentelemetry-js/pull/1680 I need to import `JaegerHttpTracePropagator` into `@opentelemetry/node`, but then compilation fails, because `.fields()` is not implemented.

- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Also: `@opentelemetry/propagator-jaeger`

[2020-12-02 06:49] Multiply opened #271 "GraphQL throws TypeError: Cannot read property 'startToken' of undefined"
### What version of OpenTelemetry are you using?
0.12.1-alpha.7

### What version of Node are you using?
14.10.0

### What did you do?
Followed the GraphQL example, and applied it to our project.

### What did you expect to see?
I expected that my requests to our GraphQL server would work as before (and perhaps with slightly added delay due to tracing).

### What did you see instead?
[code]

### A

[2020-12-04 22:29] Hongbo-Miao opened #274 "[@opentelemetry/instrumentation-graphql] Argument of type 'NodeTracerProvider' is not assignable to parameter of type 'TracerProvider'."
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.13.0

### What version of Node are you using?
14.15.0

### Please provide the code you used to setup the OpenTelemetry SDK

This is a TypeScript app.

[code]

### What did you do?
I tried to update from 0.12.0 to 0.13.0

### What did you expect to see?
I know `NodeTracerProvider` is sp

[2020-12-05 09:25] vmarchaud commented on #274
@Hongbo-Miao Do you want to make a PR to fix this ? It should be as simple as bumping the api version on the instrumentation and making the chance from `CanonicalCode` to `StatusCode`

[2020-12-07 13:43] obecny commented on #274
There should be a new release of contrib repo soon before that I would not update yet to 0.13 if you are using graphql, unless you do some "tricks" with type checking but we cannot guarantee it will be compatible at 100%.

[2020-12-08 01:09] mwear opened #275 "document load plugin assumes w3c trace context propagator"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
otel v0.12.x, document-load v0.11.0

### What did you do?
Configured b3 context propagation

### What did you expect to see?
A connected trace

### Additional context
The document-load plugin assumes that there is a meta tag named `traceparent` in a response and sythesizes a carrier usin

[2020-12-08 10:01] Multiply commented on #274
I had to change quite a few things, specifically related to parent spans to make the graphql package work with 0.13.

@obecny do you have an ETA for when contrib is up to date with 0.13?

[2020-12-08 20:34] bradfrosty commented on #274
I am seeing a similar issue with the Document Load plugin after attempting to upgrade to 0.13.

[code]

[2020-12-08 20:46] bbigras commented on #84
Any progress for functional components (like with react hooks)?

[2020-12-10 03:17] KKelvinLo opened #276 "Moving AWS X-Ray Components to JS-Contrib"
**What is the Problem?**

Currently, the AWS X-Ray ID Generator and propagator components sit in the [aws-otel-js repo](https://github.com/aws-observability/aws-otel-js) instead of the [opentelemetry-js-contrib repo](https://github.com/open-telemetry/opentelemetry-js-contrib). The issue with this setup is that developers who plan on using OpenTelemetry with AWS X-Ray have to discover and locate th

[2020-12-10 20:04] obecny commented on #275
After some investigation and even a way of trying to implement I'm back in position that we should not do it. Because this is not needed and will add just more complexity and non standard things for propagating and reading context. Will show how to do it.
Besides that the `fields` method is private method of propagator which you don't have access to - method `_getGlobalPropagator` is private.

1.

[2020-12-10 20:07] obecny commented on #275
https://ibb.co/GnBDKRS

[2020-12-10 20:09] obecny commented on #275
And the most important thing when any plugin is using mixed version of api (v.012 with 0.13 for example), the default propagation is Noop and nothing works

[2020-12-10 20:11] dyladan commented on #275
Hmm this is a bug. You should be able to `api.propagation.fields()` according to the spec.

[2020-12-10 20:13] obecny commented on #275
@dyladan if you have propagator then you can access fields, but you cannot access it via `api.propagation.fields()` or you cannot get default propagation (_getGlobalPropagator is private)

[2020-12-10 20:15] dyladan commented on #275
You should be able to. The use-case is that an instrumentation which reuses a carrier should be able to know which fields to clear. In the instrumentation you won't know which propagator is used.

[2020-12-10 20:18] obecny commented on #275
fine, but I'm talking of what it is now possible or not, not how it should be :)

[2020-12-11 14:00] johanneswuerbach commented on #258
This https://github.com/open-telemetry/opentelemetry-js-contrib/pull/278 fixes the issue in our code base.

[2020-12-11 20:43] oguzbilgener opened #279 "[Koa] Span never ends when a middleware layer throws an exception"
### What version of OpenTelemetry are you using?
Versions 0.12.0 and 0.13.0

### What version of Node are you using?
Node 12.20.0

### What did you do?

In Koa, a middleware can throw exceptions and this exception can be handled by another middleware to return an error message in the response. The `@opentelemetry/koa-instrumentation` plugin creates a new span for each Koa middleware, wraps the act

[2020-12-11 22:57] jchamberlain commented on #193
Is there a workaround for this? Just use an older version? A few minutes ago I tried to use `@opentelemetry/web` for the first time (following the README), and got stopped by this error.

[2020-12-11 23:01] obecny commented on #193
all plugins from contrib are not compatible with newer core/api. So if you want to update please wait until version v.012 of contrib plugins will be released. Current version 0.11 is compatible with version 0.12 of core/api, not 0.13

[2020-12-12 01:43] jchamberlain commented on #193
Thank you for the explanation. This distinction seems to mean that some examples (e.g., the [web README](https://github.com/open-telemetry/opentelemetry-js/tree/master/packages/opentelemetry-web)) work in JS but not when pasted into a Typescript file, which confused me. But downgrading to 0.12 of core made it work. Thanks!

[2020-12-14 12:52] #240 closed

[2020-12-21 09:48] blumamir opened #288 "ioredis: two spans are generated for operations in offline queue"
### What version of OpenTelemetry are you using?
v0.13.0

### What version of Node are you using?
12

### What did you do?
If possible, provide a recipe for reproducing the error.
[code]

### What did you expect to see?
As I am calling `set` function once, so I expect to see a single span\trace with ioredis `set` operation.

### What did you see instead?
Two different spans in two different traces

[2020-12-21 11:10] blumamir opened #289 "ioredis: `connect` instrumentation does not report correct duration and does not report failure"
### What version of OpenTelemetry are you using?
v0.13.0

### What version of Node are you using?
12

### What did you do?
If possible, provide a recipe for reproducing the error.
While there is no redis server on localhost, I run the following code:
[code]

### What did you expect to see?
Expected to see spans of `connect` with an error indication (as the connect failed), and expected the duratio

[2020-12-21 12:07] obecny commented on #289
current version of ioredis plugin is 0.11 it is not compatible with core version > 0.12 - the same as any other plugins. Contrib repo needs to be released first, there is an opened PR for new release I created last week which needs  approves first.

[2020-12-21 12:15] blumamir commented on #289
This bug is not related to your changes.

Look at ioredis plugin code [here](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/master/plugins/node/opentelemetry-plugin-ioredis/src/utils.ts#L58):
[code]

If the `original` callback or promise returns with error, nothing is setting the span to error in the plugin.

[2020-12-22 23:45] maxmil7 opened #291 "NodeJS Net library"
**Is your plugin request related to a problem? Please describe.**
It would be good to instrument the TCP socket connections that are made from NodeJS applications (whether outgoing or incoming).

For eg. The plugin can wrap the [createConnection](https://nodejs.org/api/net.html#net_net_createconnection) API to create a span whenever socket connection is established

**Is it applicable for Node or

[2020-12-23 00:30] maxmil7 opened #292 "NodeJS TLS library"
**Is your plugin request related to a problem? Please describe.**
It would be good to autoinstrument functions in NodeJS TLS library to capture granular information related to establishing secure socket connections

For eg. The plugin can wrap the [tls.connect](https://nodejs.org/api/tls.html#tls_tls_connect_options_callback) API to create a span whenever a TLS handshake is successfully completed

[2020-12-23 20:26] dobesv commented on #261
This turned out to be simpler than I thought, you can just:

[code]

If you don't provide a tracer provider it will just use the global one.

[2020-12-23 20:37] #261 closed

[2020-12-23 20:43] dobesv opened #294 "Many graphql.execute spans have the same parent span id"
opentelemtry: `0.12.0`
node: `14.15.0`

Many `graphql.execute` spans from a given node process seem to have the same parent span id instead of the one I would expect (e.g. the koa request).

This means all the graphql operations get grouped together into a single trace giant long-lived instead of being attached to the actual trace they should be.  This makes the tracing data somewhat useless.

Exa

[2020-12-23 20:48] dyladan commented on #294
Please provide your tracing setup code and a minimal reproduction

[2020-12-23 21:21] dobesv commented on #294
Setup script:

[code]

[2020-12-24 21:37] dobesv commented on #260
@carlitux I think what's happening is that you are using babel/register and it is loading the `graphql` modules before you start the instrumentation stuff, so it isn't able to hook into the requires.  I'm not quite sure how best to get around that.

May have to start the instrumentation before loading `babel/register`.

[2020-12-24 21:43] dobesv commented on #294
I think this might be because I was using version `0.12.0` of this library and `0.12.0` of the opentelemetry core libraries.  The version correspondence between these packages is pretty confusing right now.  It would be great if the contrib packages were released with the same version number as the version of `@opentelemetry/api` they depend on.

[2020-12-25 01:25] carlitux commented on #260
yes, these two plugins are the issues I already removed because do not have a good DX

"babel-plugin-graphql-tag": "^3.1.0"
"babel-plugin-import-graphql": "^2.7.0"

Now the tracing is working, thanks!

[2020-12-25 05:26] dobesv commented on #294
Hi,

Actually I can reproduce this in version 0.11.0 of the library with 0.12.0 of the core opentelemetry, here's the branch that reproduces it:

https://github.com/dobesv/opentelemetry-koa-graphql/tree/execute-spans-all-have-same-parent-v0.11.0

See below for some output with good clues.  It seems like on the first request, the graphql is parsed and validated.  The span hierarchy is good.  On the

[2020-12-25 05:38] dobesv commented on #294
I tried it again without the lightstep otel launcher and using the graph instrumentation `0.12.0` and core otel libraries at `0.14.0` and I still see the same issue.

Branch: https://github.com/dobesv/opentelemetry-koa-graphql/tree/execute-spans-all-have-same-parent-v0.12.0

Output:

[code]

[2020-12-25 05:42] dobesv commented on #294
Maybe apollo is caching the result of a validate operation as a promise, and then if the same promise is used again later the same parent span id is used, because it's been attached to that promise somehow.

[2020-12-25 05:47] dobesv commented on #294
Actually looking more at the code for this library, I think the problem lies with the way it is caching spans into the document.  If apollo caches a parse result and returns the same document again it will keep using the same span for the same document.

[2020-12-25 05:50] dobesv commented on #294
If I disable that caching logic it fixes this issue, but it probably creates another one, assuming that logic is there for a reason.

[2020-12-29 11:00] xavier-kairn opened #295 "GraphQL plugin: not waiting for promises in execute and resolve steps"
Hello!

I am running into a little span/timing issue/question with the graphql plugin. From what I explored a bit, it feels like the promises in the execute and resolve steps are not `then`ed, which leads to the timings and the spans confusing me a bit.

### What version of OpenTelemetry are you using?
Using the GraphQL example: https://github.com/open-telemetry/opentelemetry-js-contrib/tree/maste

[2020-12-30 14:24] obecny opened #296 "PG Plugin - semantic conventions"
Currently pg plugin is not using correct semantic conventions, some things are missing, some has different name etc. It should be aligned with
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md

Both for database and general for example "net.peer.host" etc.

[2020-12-30 14:26] obecny opened #297 "PG Pool Plugin - semantic conventions"
Currently pg pool plugin is not using correct semantic conventions, some things are missing, some has different name etc. It should be aligned with
https://github.com/open-telemetry/opentelemetry-specification/blob/master/specification/trace/semantic_conventions/database.md

Both for database and general for example "net.peer.host" etc.

[2021-01-07 18:52] davendu commented on #294
Problem confirmed and #299 verified in our local cluster. Will we publish a 0.12.1?

[2021-01-07 19:06] obecny commented on #294
yea, but it needs to be first approved

[2021-01-08 18:16] #295 closed

[2021-01-08 18:34] #294 closed

[2021-01-08 19:25] obecny commented on #271
@Multiply please provide how can I reproduce it.

[2021-01-11 07:59] Multiply commented on #271
@obecny I'll see if I can make a tiny reproducible example for you.

[2021-01-12 21:56] #258 closed

[2021-01-14 21:33] ghirsch1 opened #305 "Version upgrade timeline (0.12.0 is incompatible with newer versions of opentelemetry-js and opentelemetry-collector-contrib)"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

`opentelemetry-js-contrib` is up to version 0.12.0, while `opentelemetry-js` is up to 0.14.0 and `opentelemetry-collector-contrib` is up to 0.18.0.

These all seem to be incompatible with each other, which means that I need to downgrade everything to 0.12

[2021-01-14 21:36] dyladan commented on #305
Current version of the express plugin is compatible with `^0.14.0` of the OpenTelemetry SDK and API packages https://github.com/open-telemetry/opentelemetry-js-contrib/blob/master/plugins/node/opentelemetry-plugin-express/package.json#L47

[2021-01-14 21:37] dyladan commented on #305
The JS contrib and core package versions may not match. This is expected. Please look at the dependencies of the plugin you are trying to use to determine SDK version compatibility for now.

The `opentelemetry-collector-contrib` version is entirely unrelated to our version.

[2021-01-14 21:38] obecny commented on #305
the latest version of collector that was tested and is compatible is 0.16. If there was some change just in recent version you can't expect it will be working fine, use 0.16

[2021-01-14 21:47] ghirsch1 commented on #305
Interesting, when I had everything else on 0.14.0 I was getting this type error `TypeError: Cannot read property 'replace' of undefined` but when I downgraded everything to 0.12.0 I no longer got that error. This was specifically when using the `CollectorTraceExporter` like so
[code]

[2021-01-14 21:49] dyladan commented on #305
Can you provide a minimum example which reproduces the issue?

Also, please provide the full stack trace of the error. The line you put doesn't have line numbers so it is hard to debug.

[2021-01-14 23:15] ghirsch1 commented on #305
A minimal example is [here](https://github.com/open-telemetry/opentelemetry-js/discussions/1819), but when I tried updating the various otel-js versions back to 0.14.0, I no longer get that type error. So perhaps it was an issue with a different dependency?

Additionally, it seems that 0.14.0 is compatible with the latest otel-collector-contrib version (0.18.0), at least for the purposes I'm using

[2021-01-14 23:18] #305 closed

[2021-01-17 13:03] henrymunro opened #307 "GraphQL: potentially incorrect hierarchy of spans"
### What version of OpenTelemetry are you using?
[code]

And using apollo:
[code]

### What version of Node are you using?
`v14.15.3`

### What did you do?

I'm running apollo (with federation), and submitted a request with multiple "top level node" (e.g. nodeA/B/C below):
[code]

### What did you expect to see?

A tracing graph where each "top level node" in the incoming query is represented by a

[2021-01-18 17:54] vmarchaud commented on #84
@bbigras Sorry for the late response but i don't think someone is working on this

[2021-01-18 17:55] vmarchaud commented on #242
I believe this has been fixed by https://github.com/open-telemetry/opentelemetry-js-contrib/commit/366cbaecb776cbcfe23cab66340afe97166100d2 ?

[2021-01-18 17:56] vmarchaud commented on #107
This has been released in v0.11.0

[2021-01-18 17:56] #107 closed

[2021-01-18 17:57] vmarchaud commented on #84
I'm gonna close this one since initial plugin has been merged, functional component support will be tracked here: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/178

[2021-01-18 17:57] #84 closed

[2021-01-18 17:58] #279 closed

[2021-01-20 15:45] obecny opened #308 "koa & document load -> this._tracer.withSpan"
After latest changes in api document load plugin and koa plugin are using `this._tracer.withSpan` this needs to be changed as now it fails

[2021-01-20 16:00] obecny opened #309 "getActiveSpan and setActiveSpan is still being used"
Update to version 0.15 is missing replacing the `getActiveSpan` and `setActiveSpan`
Plugins affected:
- document load
- user interaction
- graphql
- react

[2021-01-20 16:02] obecny commented on #307
Please provide a full code snippet to be able to reproduce it.

[2021-01-20 19:02] Flarna commented on #309
The change from `[gs]activeSpan` to `[gs]Span` will be part of the upcoming 0.15.0.

[2021-01-20 21:19] obecny opened #311 "core 0.15 - use setSpanContext and getSpanContext"
When version 0.15 of core will be released
1. use `setSpanContext` instead of `setExtractedSpanContext`
2. use `getSpanContext` instead of `getParentSpanContext`

[2021-01-20 21:21] obecny opened #312 "core 0.15 - change default port of grpc in graphql example from 55680 to 4317"

[2021-01-21 13:05] forking-renovate[bot] opened #313 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: `packageRules[2]: packageRules cannot combine both matchUpdateTypes and rangeStrategy. Rule: {"groupName":"Otel Core experimental","matchPa

[2021-01-21 23:34] Hongbo-Miao opened #314 "TypeError: tracer.getCurrentSpan is not a function"
### What version of OpenTelemetry are you using?
0.15.0

### What version of Node are you using?
14.15.1

### What did you do?
If possible, provide a recipe for reproducing the error.
After upgrading OpenTelemetry to 0.15.0

### What did you expect to see?
The app not crash.

### What did you see instead?
[code]

### Additional context
This is because of this change https://github.com/open-telemet

[2021-01-22 00:13] Flarna commented on #314
The plugins in this repo have not yet been updated to 0.15.0. Please use 0.14.0 until a new release is done.

[2021-01-22 07:51] Flarna commented on #309
@obecny Opened a PR for 0.15 which fixes this and other issues: #315

[2021-01-22 07:56] Flarna commented on #267
fixed via #268

[2021-01-22 07:56] #267 closed

[2021-01-22 07:57] Flarna commented on #274
Is this still a problem when using plugins 0.12.1 and api/core/... 0.14.0?

[2021-01-22 13:37] Hongbo-Miao commented on #314
Thanks @Flarna !

[2021-01-22 17:56] #308 closed

[2021-01-22 17:56] #309 closed

[2021-01-22 17:56] #311 closed

[2021-01-22 17:56] #314 closed

[2021-01-22 18:52] dyladan opened #317 "release followup: update examples"
Besides that the examples needs some more work to get them working because of the breaking changes between 0.14.0 and 0.15.0 (and maybe other oversights).

I assume you would like to release 0.13.0 plugins asap. Maybe keep them unmodified (0.12.1/0.14.0) but working for now and fix them as followup once 0.13.0 is availble at npm.

_Originally posted by @Flarna in https://github.com/open-telemetry/

[2021-01-22 19:21] Flarna commented on #317
Maybe we could include the samples somehow in the lerna project to avoid this release update ping-pong?

Clearly each of them would require some smoke test.

[2021-01-22 19:27] dyladan commented on #317
They used to be included in the lerna project, but there were issues with the plugin system not properly patching modules due to lerna's linking.

[2021-01-25 03:34] kikeyama opened #319 "plugin-react-load doesn't work with opentelemetry-js v0.15.0"
### What version of OpenTelemetry are you using?

opentelemetry-js: v0.15.0
opentelemetry-js-contrib: v0.12.1

### What version of Node are you using?

v.14.13.1

### What did you do?
If possible, provide a recipe for reproducing the error.

I have React js frontend app with `"@opentelemetry/plugin-react-load": "^0.12.1"`. It works with opentelemetry-js v0.14.0 but after update the package to v0.1

[2021-01-25 07:00] Flarna commented on #319
You should stick on Otel 0.14.0 until plugins 0.13.0 are released (see #316)

[2021-01-25 14:16] kikeyama commented on #319
@Flarna Thank you. I'll watch the release.

[2021-01-25 16:49] bradfrosty opened #320 "Report web vitals in Document Load instrumentation"
**Is your feature request related to a problem? Please describe.**
It's unrelated to a problem. This is an additional feature to add to the document load instrumentation.

**Describe the solution you'd like**
[Web Vitals](https://web.dev/vitals/) are a set of web performance metrics for analyzing user experience metrics rather than just navigation timing metrics. They are going to be used by [Goog

[2021-01-25 20:31] xavier-kairn commented on #295
Hi @obecny!

I have finally had the time to check the new version: it works perfectly for the resolve spans! 🎉 Thanks for looking into it!

However, since the `execute` step is still using the old `safeExecuteInTheMiddle`, it still suffers the issue. Maybe we should reopen this issue until it is fixed?

I went ahead and tried to find a fix, which I pushed there: https://github.com/xavier-kairn/ope

[2021-01-26 13:55] JapuDCret commented on #320
I think this would be more appropriate as it's own plugin.

Mainly because some of the metrics make use of vendor(/chrome)-specific APIs, which require either polyfills or don't work at all.
Excerpt from the current [README.md](https://github.com/GoogleChrome/web-vitals):

[2021-01-26 14:30] #319 closed

[2021-01-26 21:08] obecny commented on #320
I cannot agree more, this is very good example, thx.

[2021-01-27 02:35] willarmiros opened #323 "Add AWS SDK Instrumentation"
**Describe the solution you'd like**
I would like there to be an instrumentation package for the AWS SDK, so that requests made with AWS SDK V2 (and the recently GA'd V3) can be traced with relevant metadata recorded.

**Describe alternatives you've considered**
I considered opening this as a plugin request, but I'm not sure what the formal definition of a plugin vs. an instrumentation library, es

[2021-01-27 11:58] weyert commented on #323
What about Azure and GCP SDKs?

[2021-01-27 19:32] willarmiros commented on #323
@weyert I think instrumentation for those could be tracked in separate issues. This is merely a feature request (that I may work on a PR for in the future), not meant to be an exhaustive list of cloud vendor SDKs to support.

[2021-01-27 19:33] dyladan commented on #323
I believe azure is building opentelemetry support into their cloud sdk but I could be misremembering

[2021-01-27 20:35] vmarchaud commented on #248
As linked in https://github.com/open-telemetry/opentelemetry-js-contrib/pull/321#pullrequestreview-577734674, wehn converting we could use `safeExecuteInTheMiddle` to be safer

[2021-01-28 22:53] willarmiros commented on #323
It appears that Aspecto has already implemented this in their own repo: https://github.com/aspecto-io/opentelemetry-ext-js/tree/master/packages/plugin-aws-sdk

I will open an issue over there to see if they'd be interested in upstreaming their contribution.

[2021-02-02 14:33] #245 closed

[2021-02-02 16:08] blumamir opened #332 "ioredis: test is flaky"
The test `should create a child span for pubsub` in ioredis instrumentation is flaky.
Detailed explanation about the cause can be found [here](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/301#issuecomment-770408060).

I will fix the test and make it deterministic after the [ioredis instrumentation PR](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/301) is merged

[2021-02-03 03:34] willarmiros opened #333 "Proposal: Shared maintenance of vendor-specific components"
- [ ] This only affects the JavaScript OpenTelemetry library
- [X] This may affect other libraries, but I would like to get opinions here first

## Background

Currently (2/2/21), the opentelemetry-js-contrib repo hosts several NPM packages that allow the core OpenTelemetry SDK to interoperate with popular open-source frameworks and tools. Each package is a pluggable component that OpenTelemetry u

[2021-02-03 18:41] willarmiros commented on #333
As discussed at the JS SIG this morning, the maintainers are comfortable with this approach, so long as the requirements for submitting a repo are made clear in a document along with the conditions for removing a vendor component from the repo if it falls out of maintenance. Next steps are:

1. Submit a PR with such a document
2. Contribute a CD workflow to ease the release process
3. Migrate AWS

[2021-02-03 18:51] dyladan commented on #333
@willarmiros did you ever find out if it is possible to have a codeowner without actual repository write access?

[2021-02-03 19:23] willarmiros commented on #333
@dyladan Unfortunately codeowners must have write access to the repo. However the exact permissions for write access are [here](https://docs.github.com/en/github/setting-up-and-managing-organizations-and-teams/repository-permission-levels-for-an-organization#repository-access-for-each-permission-level) and it doesn't allow anything destructive or unreasonable really. My biggest concern would be th

[2021-02-03 21:09] weyert commented on #333
Hmm, are there plans for Google to move their libraries from their own repo to the `contrib`-repo? I am a bit confused why AWS packages would be in `contrib` and other cloud providers once you need to search for.

[2021-02-03 21:50] dyladan commented on #333
This is to provide a framework for any vendors that wish to do so, not just AWS. AWS is just the one motivated to make the push to make this happen.

[2021-02-04 17:07] obecny commented on #244
It looks like the plugin itself is not using old base plugin and it will not use the new instrumentation. The way it works there is no way to add the instrumentation class on top of that as it is a react class anyway. I'm leaving this as it is now.
@open-telemetry/javascript-approvers ^^

[2021-02-04 17:46] Flarna commented on #244
at least the list of dependencies seems to be unneeded long:
[code]
I think it would be good to get rid of context-zone, core, tracing and web if possible.

[2021-02-04 17:49] weyert commented on #323
Oh cool, all clear :)

[2021-02-04 17:51] weyert commented on #333
I just find out about the registry on the website :) Maybe it's worth add a reference to it to this call out:
<img width="608" alt="CleanShot 2021-02-04 at 17 50 47@2x" src="https://user-images.githubusercontent.com/7049/106934056-906b7b00-6711-11eb-95cf-718b3ff90f97.png">

[2021-02-08 22:11] dajulia3 commented on #12
I for one would love this on both the node and browser side. I'd happily modify my payload with trace/span info to get tracing. Has anyone started to work on a solution for this? @vmarchaud

[2021-02-09 14:38] #251 closed

[2021-02-09 14:47] #253 closed

[2021-02-09 15:57] dyladan commented on #12
@dajulia3 I think nobody is currently working on it. @nstawski started working on it a while ago but she's not been involved in the project recently

[2021-02-10 10:51] neilfordyce opened #340 "propagator-ot-trace published to NPM without build directory"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
v0.13.0

### What version of Node are you using?
node v12.20.1
npm 6.14.10

### What did you do?
If possible, provide a recipe for reproducing the error.
[code]

### What did you expect to see?
Nothing, exit status zero

### What did you see instead?
[code]

### Additional context
Add an

[2021-02-10 13:48] dyladan commented on #340
BAH! I'm beginning to feel our tests should be run against the final build artifact. I'm fixing this now.

[2021-02-10 13:57] dyladan commented on #340
I'm not sure how this is possible. The package.json contains the correct entry and the build scripts should build the project before packaging just like any other package in the repository.

[2021-02-10 15:58] blumamir opened #344 "ioredis: add requireParent config option"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

ioredis instrumentation library is not creating a trace if the redis operation has no parent.
While this behaviour makes sense for some users, it might not be the desired behaviour for other, as for example redis commands might be sent from timers and the

[2021-02-10 16:43] #340 closed

[2021-02-10 16:47] vmarchaud commented on #344
I think we could also disable instrumentation when `requireParent` is enabled on the http, that would avoid child-spans to be created. WDYT ?

[2021-02-10 16:58] blumamir commented on #344
You mean remove the creation of `NoRecordingSpan`, and just call the original function without any instrumentation?
I like your suggestion.
Creating `NoRecordingSpan` also affect the `ParentBasedSampler` which is not obvious to the user when setting `requireParent` on the plugin in my opinion.

[2021-02-10 16:58] willarmiros opened #345 "Improve Release Automation"
## Background

Currently, the release process is outlined in [RELEASING.md](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/RELEASING.md). It is an entirely manual process, and is partially responsible for contrib releases to have fallen behind those in the core repo. To summarize the process, you must first prepare the repo for release by updating the dependency and package v

[2021-02-10 17:03] neilfordyce commented on #340
Awesome.  Thanks for jumping on this so quickly 🙇‍♂️

[2021-02-10 17:31] vmarchaud commented on #344
@blumamir Yeah i think it makes more sense than adding `requireParent` to every instrumentations

[2021-02-10 18:21] dyladan commented on #345
from SIG:

Branch

I will create a token in this repo with the same name as the one in the core repo

I think the common way to do this is to use a branch pattern like `release/0.12.1`

Should be possible I would think but it's not a blocker if it's difficult or impossible.

[2021-02-10 21:58] willarmiros commented on #345
Thanks for this idea, should definitely be an easier way to go about it :) Should be able to detect when PRs from such a branch are merged and trigger workflow 3 from there.

Also a follow up from the SIG, it turns out GitHub [only support text input](https://github.community/t/can-workflow-dispatch-input-be-option-list/127338) for manually dispatched actions. So, to ensure versions are calculated

[2021-02-10 22:17] willarmiros commented on #345
This should be easy enough, we can create the release with the Github-provided `create-release` action. This does *not* support updating releases, but this [3rd party action](https://github.com/marketplace/actions/github-release-create-update-and-upload-assets) does, so we can use it to move the release out of draft.

[2021-02-10 22:18] dyladan commented on #345
i'm fine entering a version manually I suppose

[2021-02-10 22:20] obecny commented on #345
Do you have somewhere some example how this workflow looks like (with accepting some text input from a user) ?, can be screenshot etc. ?

[2021-02-10 22:25] willarmiros commented on #345
@obecny I'll wire it up to a little sample repo to test it and demonstrate how it works. This is how the input part looks on another repo though (ignore the last run failing because Gradle is annoying):

<img width="1309" alt="Screen Shot 2021-02-10 at 4 22 32 PM" src="https://user-images.githubusercontent.com/54150514/107580469-37419280-6bbc-11eb-94e5-5a9d73f125dc.png">

[2021-02-10 22:46] obecny commented on #344
I would call it `requireParentSpan` to be more descriptive.

With regards to removing `NoRecordingSpan`, Imho the safest approach is to have Noop Implementation, if you miss somewhere some "if checks" it might fail accidently or behave differently, with Noop it will never happen and the flow will be the same. Also it will always add some extra complexity to the code, tests etc.

[2021-02-11 10:47] blumamir commented on #344
I agree. At least the default behavior and config option names should be unified across all instrumentation libraries.

If we choose to go on the `NoRecordingSpan` approach, we can add this logic to the `Tracer` so `startSpan` can check the config and parent existence and return `NoRecordingSpan` when required.

[2021-02-11 10:50] blumamir commented on #344
I like the name `requireParentSpan` 👍

Not sure I understood. Where do you suggest to inject this Noop implementation in the instrumentation libraries?

[2021-02-11 13:17] obecny commented on #344
I was just referring to `You mean remove the creation of NoRecordingSpan, and just call the original function without any instrumentation?` I would rather keep `NoRecordingSpan` (named by me as `Noop`) as opposite to adding some if statement .

[2021-02-11 13:19] dyladan commented on #344
There is no more NoRecordingSpan. It was removed and there is only Noop now. Additionally, spec says not to create them directly. use NOOP_TRACER.startSpan instead

[2021-02-11 13:21] obecny commented on #344
We are talking about the same, whatever it will be NoRecordingSpan, NOOP_TRACER or any other Noop object I would rather use this Noop then create extra complexity with if statements everywhere.

[2021-02-11 13:55] blumamir commented on #344
Maybe I am missing something, but the `NoRecordingSpan` is using if statements as well [here](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-instrumentation-http/src/http.ts#L574):

[code]

Did you mean you suggest moving the logic into the `startSpan` function in the `Tracer` and setting the config value on the `Tracer` when initializing the instrumentation li

[2021-02-11 14:14] obecny commented on #344
Some code to just explain the difference what I was talking about

Current state
[code]
vs Suggested state
[code]

In second example (suggested) you assign appropriate function once only. Then next time function `startSpan` is being run you don't need to check for the same things again and again. Making this more complex, more if statements / else etc. and harder to test you just always call `this

[2021-02-11 14:46] blumamir commented on #344
@obecny , we need to also check if current span is undefined:
[code]

and we have to check it on each call to `startSpan`.

In that case, the second example becomes:
[code]

or something similar, right?

[2021-02-11 14:51] obecny commented on #344
yes but you got the idea right.

[2021-02-11 14:54] blumamir commented on #344
Yes. This still requires adding if statements inside each plugin thought, but it's only one if per plugin.
What do you think about placing this code only once inside the `startSpan` function of the `Tracer`?

[2021-02-11 14:56] dyladan commented on #344
`requireParent` option to `startSpan`?

[2021-02-11 15:02] obecny commented on #344
we would have to specify this in spec. Each plugin behaves differently some adds parent and few other spans, some adds only attributes to existing span. I'm not sure if this will be an easy task to define all possible edge cases. I would add this for now only for plugins that it makes sense and make create some shareable helper function for it - can be inside instrumentation perhaps ?

[2021-02-11 15:20] blumamir commented on #344
I meant adding `requireParent` parameter to `TracerConfig` which is set by `InstrumentationAbstract` constructor based on `InstrumentationConfig` when creating the `Tracer` for the instrumentation in `getTracer(...)`. Then all plugins get this behavior automatically without any code change.
But now that I think about it again, it might be too general and different plugins might need specific contr

[2021-02-11 15:25] blumamir commented on #344
You are right, there are too many edge cases.
I think what @dyladan  suggested - adding `requireParent` option to `startSpan` can keep maximum flexibility for plugins with minimum verbosity in plugins code. No need to add any if statement in plugins - there is only a single if statement inside `startSpan` which all plugins share.
WDYT?

[2021-02-11 18:49] obecny commented on #344
imho good idea, we just need to make sure to make it work in the backward compatible way so that we can add this safely and it will not change the behaviour of any plugin by default unless user specify this param explicitly. Lets wait for few more votes for yes or no to see what others think.

[2021-02-11 21:20] willarmiros commented on #345
It actually turns out that in order to update an existing draft release via GH Actions, the release has to be tagged. I don't think we should be pushing tags prior to publishing the release, in case more changes are added to the release after the release PR is created as was the case in #316. This would also cause some disagreement between the CHANGELOG and the changes listed in the release body.

[2021-02-11 21:29] dyladan commented on #345
You could also have a `proposal` tag and change the tag a release points to before publishing it.

[2021-02-11 21:38] dyladan commented on #344
easy to make it backwards compatible if you have `requireParent` default `false`. If this is something that will be done in many places i think it makes sense. I suspect most places that use `internal` span type will want this type of behavior.

[2021-02-12 06:56] blumamir commented on #344
My motivation is actually to disabled this behavior in ioredis instrumentation which is ON by default.
@obecny - since the default is currently different for different instrumentations (ON - http, OFF - ioredis \ mongodb). Do you think we should keep it as it is, or align all plugins to behave the same way?

In my opinion, we should align it to be OFF by default unless user specifically turns it O

[2021-02-12 08:48] jonaskello opened #349 "koa: Should check _name for middleware"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

    "@opentelemetry/koa-instrumentation": "^0.12.1",

### What version of Node are you using?
v14.15.4

### What did you do?
If possible, provide a recipe for reproducing the error.

Create a middleware and then give it a name by setting `_name` on the created middleware (the function o

[2021-02-15 10:04] Flarna commented on #344
I'm not that sure about this. I would assume the `internal` spans are mostly extensions/details/annotations to their parents.
kinds server/consume => don't require a parent on default
kinds client/producer => hard to tell; maybe even dependent if the underlying protocol is able to transport spancontext (e.g. HTTP, grpc but not databases)

[2021-02-15 11:07] blumamir commented on #344
I have to say that I'm not completely sure why it is useful.
As an application owner, I would consider it a negative feature if my app is sending database commands and performing I/O, and the tracing solution is hiding this information from me. The whole idea is to give visibility into the application.

[2021-02-15 11:23] Flarna commented on #344
It purely depends what you expect from your tracing solution to monitor.
Some tools just display everything and consider more spans as better.
Others try to focus on user triggered requests end2end and combine/hide as much as possible to highlight the important areas (failures, long response time for end user,...).

My main point is that there is no simple right/wrong here. Trying to sync all plug

[2021-02-15 11:34] blumamir commented on #344
I agree about that.
My motivation is to disable this behavior in ioredis and mongodb instrumentations, and I can align them to a reasonable default on the way if we get to a consensus.
But I'm also fine with just keeping the current per-plugin behavior and adding this `requireParentSpan` to config, allowing each user to choose.

[2021-02-15 11:45] obecny commented on #344
Having in mind all different edge cases I think that `requireParentSpan` should be an enum instead of boolean with 3 states
0 - Default - Unset (backward compatibility)
1 - Required
2 - Not Required

This would be an optional parameter with 0 (null/undefined) as default

This way current plugins don't need to be upgraded changed or forced to change their current behaviour. And we can make necessar

[2021-02-16 19:50] mike-marcacci commented on #135
Hey folks! We have a need for this (trying to move from the stackdriver sdk to opentelemetry), and wanted to check in on the status of any prerequisites. It sounds like the desired solution was to modify the existing `mysql` instrumentation package to also instrument `mysql2`, but that this was not yet possible.

Has this blocker been cleared? I imagine it would be fairly straightforward for us to

[2021-02-16 20:13] vmarchaud commented on #135
@mike-marcacci There is an open issue to migrate the already existing `mysql` plugin to our new instrumentation
system (https://github.com/open-telemetry/opentelemetry-js-contrib/issues/249) that allows to handle multiple module with the same instrumentation, you have few examples already done ([pg](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/350) or [http](https://github.com/o

[2021-02-17 07:13] sid-maddy opened #352 "propagator-jaeger: 16 character trace-id isn't zero-padded to 32 characters as per specification"
### What version of OpenTelemetry are you using?
0.15

### What version of Node are you using?
11.8.0

### What did you do?
Tried to `startSpan` in server, expecting the incoming trace to be continued.
Calling service injects trace context using opentracing libraries (e.g. 6ba3280a2610ee73:2eac6cc9a037044f:9a60846c429bf918:1)

Manually zero-padding the trace id and calling `setSpanContext()` in a

[2021-02-17 21:56] mike-marcacci commented on #135
Ah excellent, thanks @vmarchaud - that sounds like a solid direction and we'll start a draft PR if we get to this before other folks.

[2021-02-18 16:16] blumamir commented on #344
I want to summarize the two options that were suggested and discussed:

## NoopSpan
Add `requireParent` option to `startSpan` function, and return `NoopSpan` from it when this option is turned on and we have no active span.

With this approach, I imagine the plugin code to look something like:
[code]
Very clean and easy.

## No Instrumentation
The other option, as suggested by @vmarchaud, is to ch

[2021-02-18 16:17] dyladan commented on #344
I prefer the no instrumentation approach. The downstream plugin issue is a real one and it should also be slightly more performant. To me it is also much more obvious what is happening

[2021-02-18 18:40] Flarna commented on #344
I think also that no instrumentation is the better choice. Has someone investigated how other languages handle this?

---
It seems this issue has moved from requireParent for ioredis to a more generic discussion. Besides the requireParent filter there are also instrumentations which have other filters, e.g. http has a url filter.
These filters are also not consistent:
* http client uses no instrum

[2021-02-19 15:02] #243 closed

[2021-02-20 01:18] mnadeem opened #353 "mssql Plugin request"
**Is your plugin request related to a problem? Please describe.**

Instrumentation for mssql https://www.npmjs.com/package/mssql

**Is it applicable for Node or Browser or both**

Node

**Do you expect this plugin to be commonly used**
Yes, weekly download for mssql (https://www.npmjs.com/package/mssql) is 155,886

**What version of plugin are you interested in using**
Versions: 6.3.1

**Additiona

[2021-02-21 09:21] blumamir commented on #353
If you access mssqs with ORM library `typeorm` or `sequelize`, you can use [the following instrumentation libraries](https://github.com/aspecto-io/opentelemetry-ext-js) to get instrumentation on the ORM level.

[2021-02-21 09:30] mnadeem commented on #353
Thanks for bringing this up @blumamir

There are lot of applications which directly uses https://www.npmjs.com/package/mssql , including many applications in my Company, and this library has huge weekly download 155,886 , it would be difficult to rewrite all the applications.

[2021-02-21 10:42] blumamir commented on #353
Hi @mnadeem ,
Yeah I understand.
Just wanted to let you know in case it works for you.
Hope someone will write the mssql instrumentation

[2021-02-21 11:03] mnadeem commented on #353
Perfect that would be great

[2021-02-21 11:14] blumamir commented on #344
Thanks @Flarna  for bringing it up.
I took the time to summarize the current behavior of plugins \ instrumentation, and it looks like there is a big variation in many parameters.
Regarding `requireParent`, there are few categorize currently:

**non configurable** requireParent == **`true`**: `ioredis`, `mongodb`, `express`, `hapi`, `koa`
**non configurable** requireParent == **`false`**: `grpc-ser

[2021-02-22 21:31] #332 closed

[2021-02-23 10:25] previousdeveloper opened #356 "@opentelemetry/api is incompatible with 0.13.1 express plugin"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?

0.17.0

### What version of Node are you using?
v14.5.0

### What did you do?
If possible, provide a recipe for reproducing the error.

PluginLoader#load: could not load plugin @opentelemetry/plugin-express of module express. Error: this._logger.debug is not a function

[2021-02-23 10:42] Flarna commented on #356
That's known/expected, see [compatibility matrix](https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix).

There is a WIP PR (https://github.com/open-telemetry/opentelemetry-js-contrib/pull/337) but it requires some work till it can land.

[2021-02-23 10:42] #356 closed

[2021-02-24 13:34] mnadeem commented on #353
**Created initial version** https://github.com/mnadeem/opentelemetry-instrumentation-mssql/tree/plugin This would be helpful to take it forward

[2021-02-25 01:16] willarmiros commented on #345
@dyladan thanks for the pointer! So after looking into it, I can create a draft release that's linked from the release PR, then publish that release after the PR is merged automatically. However, that process will be pretty complicated because it involves several GitHub API calls in both workflows. I would also be re-generating the body of the release (the changelog) in case additional features we

[2021-02-25 17:01] jorgelbg opened #360 "GraphQL: Support version 14.* in instrumentation-graphql"
While instrumenting an Apollo GraphQL server that is currently using v14 of the graphql library we found that `@opentelemetry/instrumentation-graphql` library didn't work. The issue is that the current version of the instrumentation library only supports graphql v15.

We ran a small test by changing the dependency in the graphql example in https://github.com/open-telemetry/opentelemetry-js-contrib

[2021-02-25 18:18] StefanCenusa opened #361 "mongodb: cannot load plugin"
### What version of OpenTelemetry are you using?
0.17.0
0.13.1 - @opentelemetry/plugin-mongodb

### What version of Node are you using?
14.16.0

### What did you do?
Load the mongodb plugin
[code]

### What did you expect to see?
mongodb plugin to work and see traces from my connection to mongodb server instance.

### What did you see instead?
I've added a breakpoint in `node_modules/@opentelemetr

[2021-02-25 18:20] obecny commented on #360
@jorgelbg thx a lot for testing and findings, I will double check with `graphql/jsutils/Maybe` to see if that influence anything and if something needs to be changed because of that. Will do some testing and if all is fine we can change the supported versions.

[2021-02-25 18:20] Flarna commented on #361
That's expected because OTel 0.17.x is not compatible to mongodb plugin 0.13.x. see https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix

Work is ongoing to release a new version of plugins hosted here.

[2021-02-25 18:20] #361 closed

[2021-02-25 20:37] #254 closed

[2021-02-25 20:53] #247 closed

[2021-02-25 20:53] #248 closed

[2021-02-25 22:22] obecny opened #363 "Copy post-query custom attributes hook from pg plugin to pg instrumentation"
this is original PR
https://github.com/open-telemetry/opentelemetry-js-contrib/pull/321
implement the same logic in PgInstrumentation

[2021-02-26 08:53] StefanCenusa commented on #361
@Flarna Thank you for your quick reply. It seems I've missed the compatibility matrix.

[2021-02-26 18:34] Hongbo-Miao opened #368 "@opentelemetry/instrumentation-document-load is not published"
Currently [@opentelemetry/instrumentation-document-load](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/web/opentelemetry-instrumentation-document-load) is not published to NPM.
It would be great to publish it. Thanks!

[2021-02-26 19:12] Hongbo-Miao commented on #274
Yes, still the issue with
[code]

[2021-02-26 19:21] obecny commented on #274
with 0.13.1 graphql please use 0.15.x core https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix,
contrib 0.14.x is planning to be released after this is merged -> https://github.com/open-telemetry/opentelemetry-js-contrib/pull/362

[2021-02-27 12:30] mnadeem opened #370 "@opentelemetry/plugin-express support for OpenTelemetry 0.16.0 and 0.17.0"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
0.16.0 and 0.17.0

### What version of Node are you using?
14.15.5

### What did you do?
If possible, provide a recipe for reproducing the error.

clone https://github.com/mnadeem/nodejs-opentelemetry-tempo/tree/v0.16.0

`docker-compose up --build`  ==> does not work

clone https://githu

[2021-02-27 12:59] Flarna commented on #370
Unfortunatelly you can't mix any version of plugins hosted in this repo with any version of core.
see [compatiblilty Matrix](https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix) for details.

Update for modules here is in progress, see #362

[2021-02-27 12:59] #370 closed

[2021-03-01 15:26] sid-maddy commented on #352
Bump. @dyladan / @obecny / other members, let me know if this is an expected behaviour of the propagator or an actual issue.

I'd be glad to raise a PR to fix, if it's an issue.

[2021-03-01 18:01] dyladan commented on #352
I think a PR would be welcomed

[2021-03-02 14:31] #252 closed

[2021-03-02 21:22] renatomjr commented on #181
Could this be related to https://github.com/open-telemetry/opentelemetry-js/issues/1557#issuecomment-789223392 ?

[2021-03-03 17:31] obecny opened #377 "Create meta package for auto instrumentations for node"

[2021-03-03 17:31] obecny opened #378 "Create meta package for auto instrumentations for web"

[2021-03-04 06:56] Flarna opened #374 "Use integration strategy squash"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I propose to use integration strategy squash also here link in api and core repo.

[2021-03-04 09:17] bokjo opened #375 "instrumentation-graphql doesn't work with apollo-server-express and federated schema"
### What version of OpenTelemetry are you using?
0.18.0 and 0.17.0?!?

Part of package.json
[code]

### What version of Node are you using?
v14.15.4 (npm v6.14.10)

### What did you do?
If possible, provide a recipe for reproducing the error.

Implement tracing with `instrumentation-graphql` in order to trace GraphQL resolvers running on Apollo Server with generated federated schema

`tracing.ts`

[2021-03-04 09:30] bokjo opened #376 "Express example doesn't work as expected"
### What version of OpenTelemetry are you using?
v0.18.0

### What version of Node are you using?
v14.15.4 (npm v6.14.10)

### What did you do?
If possible, provide a recipe for reproducing the error.
1. Try to run the express example from => https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/express

Running the zipkin:client npm script thrown an error!

[code]

Easy fi

[2021-03-04 09:45] Flarna commented on #376
Unfortunately examples on current master here are in an inconsistent state.

The instrumentations/plugins here have been updated to use 0.18.0 just recently (see #371) but there was no release made yet therefore samples have not yet been updated.

OTel API is close to go GA and therefore quite a lot is moving. I assume the modules hosted here are published soon and then examples can be updated.

[2021-03-04 09:48] Flarna commented on #375
Mixing API/Core 0.18.0 with {{@opentelemetry/instrumentation-graphql}} 0.13.1 wont work. See [compatibility-matrix](https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix).

The instrumentations/plugins here have been updated to use 0.18.0 just recently (see #371) but there was no release made yet.

OTel API is close to go GA and therefore quite a lot is moving. I assume the modul

[2021-03-04 10:03] bokjo commented on #375
Hello @Flarna

Thanks for the fast reply, was not aware of the [compatibility-matrix](https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix)

Yesterday I was running the `graphql => instrumentation-graphql` example with API?Core v0.17.0 and today with v0.18.0 and everything seemed fine to me...

I Will try to run my own example with v0.15.0 tho to see whether there will be some c

[2021-03-04 11:47] bokjo commented on #375
Hello @Flarna

Tested with OTel v0.15.0, the same outcome... no graphql traces were generated

[2021-03-04 13:37] #344 closed

[2021-03-04 19:51] vmarchaud opened #382 "fix(instrumentation): use `path.normalize` for internal file patch to support windows"
Instrumentation to fix:
- mongodb
- graphql

[2021-03-04 20:11] obecny commented on #382
@vmarchaud I think it would be better to fix this inside instrumentation in core package, so we will fix it for any other instrumentations (core, contrib, 3rd party etc.)

[2021-03-04 20:15] vmarchaud commented on #382
Yeah i agree but @Flarna [mentionned](https://github.com/open-telemetry/opentelemetry-js-contrib/pull/354#discussion_r586234015) that we could make the fix right now to avoid waiting for another core release so i opened an issue to do that. WDYT ?

[2021-03-04 20:16] obecny commented on #382
both will work, I will prepare fix in core, and meanwhile the fix can be done here too

[2021-03-05 03:33] weyert commented on #375
Hello @bokjo

What happens when you move the `import { initializeTracing } from "./tracing";`-line to the top of the file?

[2021-03-05 07:31] Flarna commented on #382
The corresponding issue for core is https://github.com/open-telemetry/opentelemetry-js/issues/1990
If it is planned to release e.g. 0.18.1 core with this fixed soon then I see no need for doing this also here.

[2021-03-05 08:26] bokjo commented on #375
Hello @weyert

Sorry I forgot to comment and close the issue yesterday evening (after few hours of debugging, at least now I know a bit more about the plugins and APIs from OTel )

Yes that was the reason, I had to import and initialize the tracing first at the top of the main

[code]

I understand the chicken and egg thing the hard way with a hint from `OTEL_LOG_LEVEL=debug` printing the lines be

[2021-03-05 08:41] #382 closed

[2021-03-05 11:05] kudlatyamroth commented on #376
@Flarna i see that there is recent release 0.13.1 of plugins
but plugins like pluign-pg plugin-pg-pool doesnt have new release as they have 0.13.1 since 23 days (as of today 05.03.21)

[2021-03-05 11:57] Flarna commented on #376
#371 to move to 0.18.0 landed 3 days ago. I assume a release will be made soon.

As usual some helping hands could speed things up ;o)

[2021-03-05 15:44] #360 closed

[2021-03-05 16:19] #250 closed

[2021-03-05 17:06] obecny commented on #374
@Flarna just changed, thx for noticing

[2021-03-05 17:55] gitelr commented on #271
Here's a hack of a repro I threw together as I've bumped up against this issue as well.  I'm not sure it's an issue with the instrumentation or how Apollo federation composing it's calls to graphql execute.  Regardless, this seems to work for me:

Set up a sample federation example:
[code]
Test via curl:
[code]
That should return:
[code]
To repro the error, prepend the following:
[code]
to the top

[2021-03-05 18:01] obecny commented on #271
thx @gitelr will check it soon

[2021-03-05 18:21] #374 closed

[2021-03-06 20:13] mnadeem commented on #353
I was able to make the instrumentation version work as well, can be found below

https://github.com/mnadeem/opentelemetry-instrumentation-mssql/tree/instrumentation

[2021-03-08 08:42] bokjo commented on #376
Hello @Flarna,

Happy Monday!

As fairly new to OTel can you point me to some places where a helping hand is needed?

I'm willing to help with code and non-code-related stuff, aligning the examples with 0.18.x maybe?

I've read the `Contributing Guide`,  is there a rule for the Issues marked with `up-for-grabs` and `good first issue` to what to pick first, older-newer or it is up to you?

Kind Reg

[2021-03-08 10:17] Flarna commented on #376
I would say it's completely up to you.

Maybe @open-telemetry/javascript-maintainers  can chime in here as well as they have a better overview.

[2021-03-11 16:29] #255 closed

[2021-03-12 08:47] #246 closed

[2021-03-12 12:42] obecny opened #387 "flaky dns test"
https://github.com/open-telemetry/opentelemetry-js-contrib/runs/2094921073?check_suite_focus=true
https://github.com/open-telemetry/opentelemetry-js-contrib/pull/379/checks?check_run_id=2095031014

[2021-03-15 13:13] #377 closed

[2021-03-15 22:18] AndriyPashchak opened #388 "mongodb instrumentation: mongodb span is not generated"
### What version of OpenTelemetry are you using?
0.17.0

### What version of Node are you using?
12.20.0

### What did you do?
[code]

### What did you expect to see?
The new mongodb span being generated as a child of the http span.

### What did you see instead?
Span for mongodb operation is not generated.
<img width="1399" alt="Screenshot 2021-03-16" src="https://user-images.githubusercontent.co

[2021-03-16 18:39] obecny commented on #388
@AndriyPashchak pls check -> https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix
can you please test against api 0.18, core 0.18, contrib 0.14 ?

[2021-03-16 18:40] obecny commented on #375
@bokjo if all is fine for you please comment and close the issue so that we know it is no longer an issue, thank you

[2021-03-16 18:42] obecny commented on #368
It was released with ver 0.14.
Please check
https://www.npmjs.com/package/@opentelemetry/instrumentation-document-load

[2021-03-16 18:42] #368 closed

[2021-03-16 18:45] obecny commented on #274
@Hongbo-Miao is this still an issue with latest ? (0.14 and core 0.18) ?

[2021-03-16 20:15] bokjo commented on #375
Issue resolved by importing and initializing the tracing lib. at the top of the main file.

[2021-03-16 20:15] #375 closed

[2021-03-17 10:00] AndriyPashchak commented on #388
@obecny thanks for quick answer.
It works as expected with api 0.18, core 0.18 and contrib 0.14.

[2021-03-17 10:00] #388 closed

[2021-03-17 11:03] AndriyPashchak opened #390 "mongodb instrumentation: nested span is not generated when using callback"
### What version of OpenTelemetry are you using?
    "@opentelemetry/api": "0.18.0"
    "@opentelemetry/core": "0.18.0"
    "@opentelemetry/instrumentation-mongodb": "0.14.0"

### What version of Node are you using?
12.20.0

### What did you do?

[code]

### What did you expect to see?

The new `mongodb.find` span being generated as a child of the `mongodb.insert` span.

### What did you see inste

[2021-03-19 14:36] #291 closed

[2021-03-20 17:55] vmarchaud commented on #12
No sign from @nstawski, i'll assign it to you @dajulia3 then

[2021-03-20 17:56] vmarchaud commented on #98
I'll close this since all instrumentation use semantic conventions now

[2021-03-20 17:56] #98 closed

[2021-03-20 17:57] vmarchaud commented on #193
I'll close this issue since it was most likely a mismatch between core and plugin version, this should be fixed now with the https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/web/opentelemetry-instrumentation-document-load instrumentation

[2021-03-20 17:57] #193 closed

[2021-03-20 17:59] vmarchaud commented on #131
I'm going to close this since it has been implemented there: https://github.com/aspecto-io/opentelemetry-ext-js/tree/master/packages/instrumentation-kafkajs (as mentionned previously).

[2021-03-20 17:59] #131 closed

[2021-03-20 18:00] vmarchaud commented on #20
This has been implemented since then (https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/metapackages/plugins-node-core-and-contrib) so i'm closing this

[2021-03-20 18:00] #20 closed

[2021-03-20 18:02] vmarchaud commented on #87
I believe we can close this since we moved to eslint and the lint run fine on the CI: https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/.github/workflows/lint.yml

[2021-03-20 18:02] #87 closed

[2021-03-20 18:03] vmarchaud commented on #31
@dyladan What did you imagine for this ? With instrumentation we have now a working autocomplete on configuration and its documented in README of instrumentations that support it

[2021-03-20 18:04] vmarchaud commented on #242
I'm pretty sure this was fixed by https://github.com/open-telemetry/opentelemetry-js-contrib/commit/366cbaecb776cbcfe23cab66340afe97166100d2 so i'll close this

[2021-03-20 18:04] #242 closed

[2021-03-22 09:37] Rauno56 commented on #134
Hi, @adamegyed! How far did you get with the implementation?
I'd love to start working on it and either take your work to the finish line or start my own.

[2021-03-22 12:23] obecny commented on #12
@dajulia3 can you please confirm you are working on that ?

[2021-03-23 04:56] Hongbo-Miao commented on #274
Thanks @obecny just tested, not any more! Thanks!

[2021-03-23 04:56] #274 closed

[2021-03-23 05:00] Hongbo-Miao commented on #368
Thanks @obecny . Works great!

[2021-03-23 23:38] #378 closed

[2021-03-23 23:40] obecny opened #396 "add lint task for markdown"
https://github.com/open-telemetry/opentelemetry-js-contrib/pull/395#issuecomment-805120282

[2021-03-24 16:16] #244 closed

[2021-03-24 17:06] #345 closed

[2021-03-24 18:56] adamegyed commented on #134
Hi @Rauno56! I ended up pivoting to a different project at the time, but if you want an idea of how instrumenting a new plugin is done, you could take a look at how the Hapi integration was implemented here: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/171. I do believe that some of the organization around plugins and instrumentation might have changed since, so it might also he

[2021-03-26 02:51] dajulia3 commented on #12
@vmarchaud @obecny I'm not actively working on instrumenting that library per se... I'm about to implement a bit of custom instrumentation for socket stream rpc calls which an older node app is using. If there are any relevant learnings from that I'll be happy to share them.

[2021-03-30 06:15] ChrisZieba opened #398 "MongoDB Instrumention: Host attribute not set on span"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
`12.4.0,`

### What did you do?
Enable plugin and send query.
[code]

### What did you expect to see?
The `host` attribute being set on the span.

### What did you see instead?
`undefined`

### Additional context
When I dump the topology from this code here: https://github.com/open-telemetry/openteleme

[2021-03-30 14:25] seemk opened #400 "Publish net instrumentation"
[net](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-net) module is now part of master, but it is not yet published to npm. How are the contrib packages published usually? Is there a release/publish cycle for them?

Thanks :slightly_smiling_face:

[2021-03-30 18:09] dyladan commented on #400
Actually #366 was merged 6 days ago which makes this process much smoother. I'll try to cut a release today.

[2021-03-30 18:30] seemk commented on #400
Thanks!

[2021-03-31 15:50] jamesalucas opened #402 "MongoDB Instrumentation causes type error on command callback"
Please answer these questions before submitting a bug report.

### What version of OpenTelemetry are you using?
"@opentelemetry/instrumentation-mongodb": "0.14.0",
"@opentelemetry/instrumentation": "0.18.2",

### What version of Node are you using?
14.15.4

### What did you do?
Instrumented code using MongoDB, at runtime, after being up for a few seconds the app crashes at mongodb/lib/cmap/connect

[2021-03-31 16:10] vvydier commented on #353
is this complete or does it need work?

[2021-03-31 17:04] dyladan commented on #353
You may want to add this to the registry on opentelemetry.io as well if you haven't already

[2021-03-31 17:46] dyladan commented on #353
yeah of course it's documented here: https://github.com/open-telemetry/opentelemetry.io#adding-a-project-to-the-opentelemetry-registry

[2021-03-31 18:36] mnadeem commented on #353
Created pull request https://github.com/open-telemetry/opentelemetry.io/pull/510

[2021-04-01 09:10] jamesalucas commented on #402
I'm using node-mongodb-native 3.6.3 with MongoDB 4.4 configured as a single node replica set. Is this supported? I saw the supported version was '>=3.3 <4' but assumed this was referring to the driver version rather than the DB version, but if it's the MongoDB version then I can see it wouldn't be supported. Thanks!

[2021-04-01 09:19] vmarchaud commented on #402
It effectively reference the driver so thats weird, i just tested and the tests run fine with 3.6 so it might just not be covered by tests. Are you open to make a PR to fix this ?

[2021-04-01 09:20] scumpah opened #404 "Opentelemetry logging Js"
Very simple use case. I wanna send logs from node-app to collector and export those logs to loki. I managed to integrate collector with loki exporter using this -> https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/lokiexporter/example

So now I am trying to read logs from oltp as receiver through http endpoint instead of fluent forward/fluentd and export them to

[2021-04-01 09:40] #404 closed

[2021-04-01 09:43] scumpah opened #405 "Opentelemetry logging js"
Very simple use case. I wanna send logs from node-app to collector and export those logs to loki. I managed to integrate collector with loki exporter using this -> https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/exporter/lokiexporter/example

So now I am trying to read logs from oltp as receiver through http endpoint instead of fluent forward/fluentd and export them to

[2021-04-04 12:02] blumamir opened #411 "Capturing instrumented module version"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

Hello
I want to open a small discussion regarding capturing instrumented library version, so in case of issues, the data is available for debugging and investigation.
Our current convention for this in [opentelemetry-ext-js](https://github.com/aspecto-io/

[2021-04-05 10:33] seemk commented on #400
Reopening as a reminder

[2021-04-05 14:23] dyladan commented on #411
Is the instrumented module version part of the specification for semantic conventions?

[2021-04-07 03:14] dobesv commented on #402
I am having the same issue for some reason:

[code]

Could it be related to the use of sharding or replicasets?

[2021-04-07 03:23] dobesv commented on #402
[code]

Something about this logic does seem a bit strange.  On this line:

[code]

If `options` is a function, we pass `callback`.  However, if `options` is a function, `callback` is probably `undefined`, right?

It seems like the intention here is to just pass through the parameters, which would be achieved like this:

[code]

[2021-04-07 05:07] dobesv commented on #402
I created this patchfile using `yarn patch` to work around the issue:

[code]

[2021-04-07 06:16] Flarna commented on #411
Another option would be to put loaded modules incl. version into resource or similar. As loading happens dynamically after startup this would require a second set of mutable/extendable resource.
As far as I know there is some ongoing discussion somewhere in spec to allow this.

[2021-04-07 07:32] blumamir commented on #411
That would be amazing. But since resource is global, and there are usually more than one instrumentation libraries installed, then it might need to go somewhere else.
Also, it is possible for instrumentation library to patch multiple npm packages, each with its own version, so doing it automatically isn't always possible, but in most cases, it will work I believe.

[2021-04-07 07:39] blumamir commented on #411
As far as I can tell, it currently isn't
https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/overview.md#instrumentation-libraries

[2021-04-07 07:41] blumamir commented on #411
@dyladan @Flarna Since the specification does not support it yet, do you have any objection to adding the `moduleVersionAttributeName` config option to ioredis instrumentation?

[2021-04-07 10:11] vmarchaud commented on #411
The module version is already known by the loader, i added it into the `onPatch` and `onUnpatch` hooks (https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-instrumentation/src/platform/node/instrumentation.ts#L93). I think a common way for all node instrumentation to have this information would be handy but we need to think about handling instrumentation patching mu

[2021-04-07 10:14] blumamir commented on #411
Yes, this is what we use internally in the instrumentations to set the attribute value to the version.

[2021-04-07 10:41] Flarna commented on #411
I'm fine with `moduleVersionAttributeName`. But the question which version of which module to use for multi module patchinb instrumentations remains.

[2021-04-07 10:47] blumamir commented on #411
I haven't yet seen a real-world example where it's an issue. But theoretically it can happen, and then we would need to use common sense I suppose to choose the most appropriate one from the possible options.

[2021-04-07 10:57] Flarna commented on #411
For example the postgres instrumentation patches module pg (version 7.x and 8.x) and pg-pool (versions 2.x and 3.x).
Which version should be set on a span created by this instrumentation?

[2021-04-07 11:01] blumamir commented on #411
I would use the version of `pg`, as it's the package that is used directly by the user (if I understand correctly, `pg-pool` is internal). But I agree it might be confusing and not well-defined in these cases.

[2021-04-07 13:09] seemk commented on #400
Thanks for publishing it! :+1:

[2021-04-07 13:09] #400 closed

[2021-04-07 14:44] #376 closed

[2021-04-07 14:46] blumamir commented on #411
@Flarna , do you remember maybe how to find this?

[2021-04-07 14:58] Flarna commented on #411
I think it was https://github.com/open-telemetry/opentelemetry-specification/issues/1298

[2021-04-08 13:16] obecny commented on #411
I think we could implement something like this on instrumentation package that will be collecting the information about all patched packages automatically and then exposing this either via method or adding such information to span directly ?

[2021-04-08 13:28] blumamir commented on #411
this is the preferred option by us, but I think it might take time to be available.

[2021-04-08 14:08] dyladan commented on #411
Definitely that is the preferred technical solution, but I think this is something all SIGs will eventually run into. Has anyone engaged with the spec on this? The most recent comment from the linked spec issue is from February. I know I sound like a broken record and I am really not trying to be a constant obstruction, but features like this should have spec behind them.

[2021-04-09 09:25] #390 closed

[2021-04-11 10:28] vmarchaud commented on #405
Hey, we don't have anything implemented for logs yet so you won't be able to do that

[2021-04-11 10:29] #405 closed

[2021-04-12 11:29] blumamir opened #420 ""host-metrics" should collect system (os) cpu metrics to comply with spec"
## Edit:
This issue is for modifying the ["@opentelemetry/host-metrics" instrumentation](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-host-metrics) to use os metrics instead of process metrics, according to the specification for [Semantic Conventions for System Metrics](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specificat

[2021-04-13 18:41] obecny commented on #420
Nice spotted. When I implemented this for first time it wasn't yet spec'd, it had then few iterations and from what I see it should be probably using the `os.cpu()` instead of `process.cpuUsage()`.

[2021-04-13 21:29] bradfrosty commented on #320
Makes sense to me. I'll go ahead and close this issue. In the meantime, I will try to implement this in a local plugin definition, and if it proves useful I will look into proposing as an opentelemetry-js-contrib plugin.

Thanks both!

[2021-04-13 21:29] #320 closed

[2021-04-14 07:57] blumamir commented on #420
@obecny thanks for looking into it, edited the issue.

Maybe we can add "up-for-grabs" and "good-first-issue" labels?

[2021-04-14 07:58] Rauno56 commented on #211
This is now fixed.

[2021-04-14 08:16] Rauno56 opened #422 "Bootstrap examples"
**Is your feature request related to a problem? Please describe.**
It currently requires code changes to run most of the examples with repo-local versions of instrumentations, which is convenient when developing or debugging each of those. One either has to `npm link` manually or change the `require` use a relative path.

**Describe the solution you'd like**
If we'd include examples in packages in

[2021-04-14 09:13] Rauno56 commented on #317
Just opened https://github.com/open-telemetry/opentelemetry-js-contrib/issues/422, but I guess you've already tried this, @dyladan, am I right? Do you have any details on the problems you had?

[2021-04-14 10:56] Rauno56 commented on #15
Bluebird [added support for async_hooks](http://bluebirdjs.com/docs/changelog.html#3.6.0) in `v3.6.0` Oct. 2019 for context prop in Node.js. See: https://github.com/petkaantonov/bluebird/pull/1472

Whether that's enough and works, I don't currently know.

[2021-04-16 07:54] vmarchaud opened #428 "Add examples in lerna packages"
Currently their versions aren't kept in sync, we just need to add them here: https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/lerna.json#L4

[2021-04-16 10:47] Rauno56 commented on #134
Thanks, @adamegyed!
Restify instrumentation landed in b7d84d1 #416, but not yet published.

[2021-04-16 17:07] vmarchaud commented on #402
Will be released when the next release

[2021-04-16 17:07] #402 closed

[2021-04-18 16:27] ribrdb opened #430 "customized naming for user interaction spans"
### Is your feature request related to a problem? Please describe
The user interaction instrumentation attaches the element xpath to the span. When the element doesn't have an id, this results in something like "//html/body/div/div/div/div/div/div/div/div/button".
This can be hard to understand.

### Describe the solution you'd like to see
Allow some other attribute than id to be used in the span.

[2021-04-19 13:59] Rauno56 commented on #15
It seems to me, that the context is propagated fine through bluebird promises and promise array chains. Is there a specific example I should test for those promise libs?

[2021-04-19 18:27] obecny commented on #430
maybe having the interceptor (hook) in config and then allowing simply add whatever you need by passing a span and element should fulfil all different cases and user needs. Similar we have for many other instrumentations. I would rather avoid adding some predefined attributes as this will always be not enough for certain user.

[2021-04-19 18:54] ribrdb commented on #430
That sounds like a good solution.

[2021-04-21 12:54] Pondidum opened #435 "Get current span within express handler"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I've followed the instructions for setting up an express app with instrumentation from the repo: https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-express

I have a handler like this, and want

[2021-04-21 12:55] dyladan commented on #435
Please post all versions of your opentelemetry dependencies as well as setup code

[2021-04-21 13:08] Pondidum commented on #435
This is the basic example:
[code]
and dependencies:
[code]

[2021-04-21 13:52] Flarna commented on #435
Could you please try with API 0.18.1 and express 0.14.0 as these would match better according to https://github.com/open-telemetry/opentelemetry-js#compatibility-matrix

[2021-04-21 14:57] Rauno56 opened #436 "Install @opentelemetry/instrumentation-restify in restify example"
[examples/restify/package.json](examples/restify/package.json) lacks `@opentelemetry/instrumentation-restify` because at the time of the merge it was not published. Add it once it is.

When might that happen?

[2021-04-21 15:00] dyladan commented on #436
Today I hope. i'm trying to get the core 0.19 out first

[2021-04-21 15:57] Rauno56 commented on #428
Pretty much duplicate of #422 - same solution?

[2021-04-21 16:08] vmarchaud commented on #428
Yes that would be the same solution

[2021-04-22 06:35] Pondidum commented on #435
Yes, that worked - thanks so much!

[2021-04-22 06:35] #435 closed

[2021-04-22 09:11] svrnm commented on #420
I provided a PR for this, please let me know if this looks good or needs some changes.

[2021-04-22 15:13] dyladan opened #442 "faas.id incorrectly used as span attribute"
faas.id is used as a span attribute here, but should be a resource attribute. I left it here to make this PR as small as possible while passing and changing no behavior. I will create a follow up bug to fix this.

_Originally posted by @dyladan in https://github.com/open-telemetry/opentelemetry-js-contrib/pull/440#r618493944_

[2021-04-22 15:13] dyladan commented on #442
/cc @anuraaga @willarmiros

[2021-04-22 17:57] dyladan commented on #442
@willarmiros mind if I assign this to you?

[2021-04-22 20:39] willarmiros commented on #442
@dyladan Sure!

[2021-04-23 21:20] lizthegrey opened #448 "chore: cut v0.16 release"
### Is your feature request related to a problem? Please describe
v0.19 of opentelemetry-js is out, and it would be nice to be able to upgrade contrib at the same time to sync on using the same api/sdk deps/peerdeps.

it might be even better to sync the version numbering to get contrib and main back in sync, as well e.g. skipping v0.16 through v0.18 and going straight to v0.19

[2021-04-23 23:21] willarmiros commented on #442
It turns out this is actually a known issue. The `faas.id` cannot be a resource attribute because resource attributes must be set at initialization time and are thereafter immutable. However a Lambda function's ARN (which is its `faas.id`) is only readable from the context of a function invocation. So it is impossible to assign it at initialization time and is made a span attribute as a workaround

[2021-04-24 10:04] #420 closed

[2021-04-24 11:46] vmarchaud commented on #448
I've tried to release it but we have a bug in our automation sadly, we'll need to wait for other maintainers to step in

We tried to do that in the past but it was quite hard to follow (since we don't necessarily have the cadence between both) but i'm pretty sure we could automate this at some point

[2021-04-26 12:33] seemk opened #451 "express instrumentation does not construct span name correctly when ignoring middlewares"
Example - middlewares activated for a given path:

[code]

When doing a request to the `/mw` endpoint, the span name will be `GET /mw/mw`.

This is repeated for every middleware on the same path and the final span name is a concatenation of middleware paths + the final route path and can cause some wonky route names, e.g. `GET /mw/mw/mw/mw/mw/mw`

[2021-04-26 12:51] klaemo opened #453 "use route as root span name in hapi instrumentation"
### Is your feature request related to a problem? Please describe

Currently the root span name is set by the http instrumentation to a generic name like `HTTP GET`. Additionally, `http.route` of the root span is set to the actual http pathname and not the route. So, something like `http.route: /events/123` instead of `http.route: /events/{eventId}`.

This makes traces hard to identify (in Honeyco

[2021-04-26 18:20] #448 closed

[2021-04-26 18:24] vmarchaud opened #457 "ci: automation to cut release automatically when core one is done to keep versions in sync"
Based on https://github.com/open-telemetry/opentelemetry-js-contrib/issues/448. We need to answer different questions before implementing this:
- if a release is cut for contrib but not for core, do we sync it to core ? Generally does it works both way ?
- what if breaking changes happens ? we could make an automatic PR but this would still require human to fix it, since contrib have 3rd party cod

[2021-04-26 20:12] obecny commented on #457
well it will de sync sooner or later, once we release 1.0 it might be in sync for a while, but later there is a chance it will desync anyway. I would not be worry about it, these are 2 repos anyway.

[2021-04-26 20:26] dyladan commented on #457
If we don't sync them, we at least need a way to make it immediately obvious which versions are compatible without having to check some readme.

1 possible solution is to peer depend on API. If we peer depend on the compatible API version, it will complain at install time if the API version the user installed is incompatible. Since the instrumentations only use the API and don't interact directly

[2021-04-27 08:08] #411 closed

[2021-04-28 11:22] seemk commented on #451
Closing it as the fix was merged

[2021-04-28 11:22] #451 closed

[2021-04-30 12:19] dyladan opened #464 "Express instrumentation depends on our SDK"
The express instrumentation has a type `ExpressInstrumentationSpan` which extends `Span` with `name: string`, which is not exposed by the API type. This means it can only be used with SDKs that provide a public accessor for name.

At the very least it should be documented. I would prefer to remove the type.

[2021-04-30 13:40] vmarchaud commented on #464
Almost all http framework have the same logic to be able to retrieve the name of the parent (e.g: [restify](https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/opentelemetry-instrumentation-restify/src/types.ts#L53))

[2021-04-30 13:47] dyladan commented on #464
then they all have the same bug. Forgive me for not knowing but what do they need the parent span name for? This might be something worth adding to the spec.

[2021-04-30 13:56] vmarchaud commented on #464
They generally want to have a better span name for the http request (e.g: `HTTP GET /user/:id` instead of `HTTP GET`), i think this would deserve more thinking because the use case is quite tricky. We could remove it though but i think this is worth to keep to end users

[2021-04-30 14:26] dyladan commented on #464
at least we should make the `name` property optional like `name?: string` or even `name: unknown` so if it is used with a different sdk that doesn't provide name then we aren't going to break.

[2021-04-30 18:05] Flarna commented on #464
I think it's not nice that one instrumentation tinkers with spans of another.
If someone is doing a custom span between HTTP instrumenation and express this breaks.

Such functionality is better done in backend by combining information of spans in a trace.

[2021-04-30 18:19] dyladan commented on #464
Lots of users use open source tools like jaeger and zipkin with no such backend processing available unfortunately

[2021-04-30 20:54] dyladan commented on #464
each express span has the name for the particular middleware, not the whole request, that are children of the http server span. The http server span doesn't have enough information to know the route name so express calls `updateName` on the parent span to fix it.

@vmarchaud why does the instrumentation have to read the span name to update it though? Is the "bad" name generated by the `http` instr

[2021-05-01 07:13] vmarchaud commented on #464
Because we can't be sure the parent span is the http one (depend on the instrumentations used), so we generally check that it contains `HTTP` which the default prefix for http spans.

The spec actually talk about "good" span name ([here](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/api.md#span)), this might come down to the DX we want to provide. I do

[2021-05-02 19:58] pauldraper opened #465 "PostgreSQL instrumentation uses wrong attributes"
https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/opentelemetry-instrumentation-pg/src/enums.ts

Instead of `net.peer.host` (the semantic convention) the instrumentation uses `peer.host`. Etc.

[2021-05-02 21:44] Flarna commented on #464
Somehow it looks like the name detection part of express/hapi/... instrumenation is sort of an plugin/extension of the http instrumenation.

I have no good idea how to link them together in an easy understandable way.
What could work is that http instrumenation adds it's span via a well documented context key on context. express could access this http span even some other span is inbetween. There

[2021-05-03 09:41] Rauno56 opened #466 "Span hierarchy if HTTP Instrumentation is not installed"
- [ ] This only affects the JavaScript OpenTelemetry library
- [x] This may affect other libraries, but I would like to get opinions here first

We should agree on how we expect a web framework instrumentation creates the span hierarchy.

Most Node.js frameworks have a list of function handlers per request. Each of those pieces of work usually gets a span associated with it, which makes sense - as

[2021-05-03 09:54] Flarna commented on #466
There is one more case which should be included in such a discussion:

HTTP doesn't create a span because the `ignoreIncomingPaths` configuration tells a specific request (e.g. health requests,...) should not create a span. Such configs are usually done to avoid overhead and/or focus on the important stuff. It would be not that nice if followup frameworks like express create 1 or N traces even a u

[2021-05-03 09:56] Rauno56 commented on #464
HTTP spans are currently treated specially and if we'd like to make HTTP span names "good", there's no way around it - among the web framework instrumentations, most(express, hapi, koa) currently require a parent span to work at all, expecting(but unable to check as @Flarna pointed out) it to be one spanning the whole request.

[2021-05-03 10:00] vmarchaud commented on #464
i agree that is the most sane way to do it

[2021-05-03 10:12] Rauno56 commented on #466
That's a good point! I guess that's the main argument for the current behaviour of the instrumentations of Express and Hapi?

Taking that into account there has to be a well-known way to track that into the depth of the request and I can also see a similar situation arising in other layers of request handling as well.

How does `ignoreIncomingPaths` interact with the behaviour and requirements of

[2021-05-03 12:57] dyladan commented on #464
This seems quite error prone. Name is something that could easily change in the future and I wasn't aware of this contract between the http instrumentation and other instrumentations.

[2021-05-03 16:15] Flarna commented on #466
If I understand the code correct `ignoreIncomingPaths` should suppress all child spans.

For sampling it depends. If you use a parent based sampler the decision of the parent is used also for the child. For other samples (e.g. pure random) the decisions are independent. So non recorded spans are just "missing" and child spans may point to a non existing parent.

[2021-05-05 16:09] svrnm commented on #465
I can take this.

[2021-05-05 16:13] pauldraper commented on #465
While you're at it, probably makes sense to use SemanticAttributes in @opentelemetry/semantic-conventions

[2021-05-05 16:49] Rauno56 commented on #134
Can be closed now, @vmarchaud.

[2021-05-05 16:49] vmarchaud commented on #464
Discussed at the SIG, here are the next steps:
- Create a new context key to set HTTP span inside instrumentation pkg so it can be re-used by all http framework instrumentation
- Open a spec issue to discuss if this need to be specified since other SDKs might have the need for this too

[2021-05-05 16:49] #134 closed

[2021-05-05 17:00] svrnm commented on #465
@pauldraper the PR #467 should cover that, please double check if I missed anything!:-)

[2021-05-05 17:01] vreynolds commented on #466
There was a good discussion about this in the SIG, going to brain dump some notes here for posterity. (please correct if I got anything wrong)

[2021-05-05 17:12] obecny commented on #465
@svrnm can I assign this to you then ?

[2021-05-05 20:08] pauldraper opened #473 "Why is PostgreSQL peer.address a JDBC string?"
[code]

Why? Do tools normally use JDBC URLs as an address?

All tools I know of, including psql, use the postgresql (or postgres) scheme.

[code]

[2021-05-05 20:32] vmarchaud commented on #473
I believe the spec require to use a common (eg: jdbc) format: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md#connection-level-attributes-for-specific-technologies

[2021-05-05 21:03] pauldraper commented on #473
In my reading, I don't see anything about peer.address (or net.peer.address).

[2021-05-07 14:19] #436 closed

[2021-05-07 15:55] JordanSinko opened #477 "Xray Id Generator: Reused Trace Id"
### What version of OpenTelemetry are you using?
@opentelemetry/api: 1.0.0-rc.0
@opentelemetry/id-generator-aws-xray: 0.16.0
@opentelemetry/*: 0.19.0

### What version of Node are you using?
14.x

### What did you do?
Implemented Otel within a Lambda using HttpInstrumentation and AwsInstrumentation. Manually created a few spans to be the parents of the down stream calls. I am not propagating anyth

[2021-05-08 08:35] #116 closed

[2021-05-08 08:35] #465 closed

[2021-05-09 14:20] airhorns commented on #12
I'd really like to make this a thing -- does anyone have any insight into if this is harder than it seems or half baked work we could adapt into a PR?

[2021-05-09 15:11] blumamir commented on #464
there is also [this](https://github.com/open-telemetry/opentelemetry-js/blob/main/packages/opentelemetry-instrumentation-http/src/utils.ts#L479) mechanism in http instrumentation which is an undocumented contract between HTTP and express instrumentation.
Might be worth addressing it as well.

[code]

[2021-05-12 11:03] kkruk-sumo commented on #168
I also found this bug recently. It looks like React attaches event listener only to root elements (or `document` for versions < 17.0.0).
`instrumentation-user-interaction` doesn't work here, because of this condition (`document` doesn't have the `getAttribute` method):
[code]

Changing the logic works, but the `xpath` is mapping to `/` (document).

The original event is still accessible though as

[2021-05-14 19:19] eternalmatt opened #485 "Improve GraphQL instrumentation readme adding more information about package"
### What version of OpenTelemetry are you using?
0.18.0

### What version of Node are you using?
12

### What did you do?

Visit https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/plugins/node/opentelemetry-instrumentation-graphql

### What did you expect to see?
Explanation into the optional parameters.  When to use them, what is their purpose?
What is this plugin instrumenting

[2021-05-17 19:45] obecny commented on #485
graphql plugin instruments `graphql` directly not the apollo or any other package. It has been tested with apollo and express - 2 popular packages. So it should work with any package that wraps the graphql, yes it instruments resolvers too. You can check examples here https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples/graphql

[2021-05-18 14:46] svrnm opened #490 "Merge browser extension into this repository?"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

To understand the existing capabilities of [opentelemetry-web](https://www.npmjs.com/package/@opentelemetry/web) and it's plugins better, and to identify potential gaps or additional features I created a chrome extension that can instrument arbitrary webs

[2021-05-18 14:48] dyladan commented on #490
I don't see a reason it couldn't be included here. It's actually quite an interesting idea.

[2021-05-20 18:50] andzdroid opened #492 "Mongodb example doesn't work"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

v14.16.1

### What did you do?

1. Clone opentelemetry-js-contrib.
2. Run the mongodb example zipkin server
3. Go to http://localhost:8080/insert/ in the browser
4. View the resulting trace in zipkin

### What did you expect to see?

Trace should have a span for mongodb insert, and a span for mongodb

[2021-05-21 14:25] naseemkullah opened #497 "auto-instrumentations-node docs"
While the package name + sample code are quite descriptive in themselves, adding a brief description of what it does, how it works + use case(s) to the README would be that much better

https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/metapackages/auto-instrumentations-node/README.md

[2021-05-21 14:29] svrnm commented on #490
superseded by #498

[2021-05-21 14:29] #490 closed

[2021-05-21 16:05] brunoluiz opened #499 "Filter certain SQL queries on instrumentation-pg"
### Is your feature request related to a problem? Please describe
No

### Describe the solution you'd like to see
In certain cases, the backend will do a simple query to check if the Postgres connections are alive. These queries will end-up being sent to the otel collector, but essentially they don't bring any value for tracing analysis.

### Describe alternatives you've considered
There are no al

[2021-05-21 17:46] dyladan commented on #499
When you say "the backend" are you referring to your application or some default behavior of the `pg` module?

[2021-05-21 18:01] dyladan commented on #499
What mechanism would you propose for filtering them? A string match or regex might not be a reliable method.

[2021-05-21 23:13] brunoluiz commented on #499
I've seen many times something similar to the below code to keep a certain pool of connections alive, not allowing the service to go to a degraded state due to disconnected clients. BUT, reviewing this now it might not be exactly a good practice 👀

Well, for simple "heartbeat" queries such as below, string match should be fine... But well, for any more involved queries it would indeed be more tric

[2021-05-24 10:19] brunoluiz commented on #499
I discussed here with some people, and it seems to be more around handling `connect` events and informing if the connection with PG/Cockroach is degraded, so it can be used by things like Kubernetes or docker-compose. But, we decided that actually there might be other ways of doing this and, when this happens, is probably because our DB is having some trouble (other alerts will fire).

I am closin

[2021-05-24 10:19] #499 closed

[2021-05-30 15:23] thestrayed opened #507 "instrumentation-pg loses its scope"
### What version of OpenTelemetry are you using?

[code]

### What version of Node are you using?

[code]

### What did you do?

Calling request from 1st server to 2nd server then to query data from DB (postgres)

### What did you expect to see?

Expect to see a single span from 1st server to 2nd server then to PG

### What did you see instead?

PG trace is in different span altogether

<img width

[2021-05-31 12:35] jinphic opened #509 "why user-interaction just support click eventType"
I glance over  the source code and find out this tracer just support eventType 'click' . On the mobile h5, we use 'tap' or 'touch' sometimes. What can we do if we want to use this project to collection other eventType.

[code]

[2021-05-31 13:36] obecny commented on #507
instrumentation-express ver 0.15 is not compatible with 0.19 of core and 0.16 of contrib, please use ver. 016

[2021-05-31 15:13] kkruk-sumo commented on #509
I believe the `click` event is not desktop-specific and also works on mobile. Supporting other events by default may lead to generating unnecessary single-span traces as primarily mousedown(up)/touchstart(end) are used for visual effects or custom drag and drop implementations.
Of course this option could be configurable.
Do you have any examples or real use-case scenarios when instrumenting other

[2021-05-31 17:44] jinphic commented on #509
If we have a old system and need to use this tracer to collect some production info, and the system developer has use `onTap` . We have to change thousand of codes to refactor the implements. We want a new argument for custom eventType, instead of  just writing `eventType === 'click'`. it's more friendly, thanks

[2021-06-01 01:05] leandro-lugaresi commented on #507
I have the same problem, it's probably a problem with the async_hooks for the node version.
We got the tracing working updating the node version to 14

[2021-06-01 02:14] thestrayed commented on #507
Let me try this today and report back. I will also give it a try on node version.

[2021-06-01 09:08] davendu commented on #271
Hi @obecny  @gitelr

The same issue can be reproduced on my program. Only applications with a build-in federation gateway and a `LocalDataSource` will be affected. So, a better (or worse) workaround to this problem is split gateway and microservices into different node applications, and stop instrumentation on the gateway (which applies to our architecture).

I think the re-execute on [gateway-js/

[2021-06-01 09:24] kkruk-sumo commented on #509
Where does the `onTap` come from? There is no "tap" event in DOM. Do you use some framework? In which version?

[2021-06-01 10:45] thestrayed commented on #507
Updating `instrumentation-express` to ver `0.15` does not resolve the issue, however updating node version from v12 ~ to `v14.17.0` does

![Screen Shot 2021-06-01 at 5 45 26 PM](https://user-images.githubusercontent.com/16605812/120310978-2b134980-c301-11eb-84e5-3cb4d3fd9091.png)

[2021-06-01 10:45] #507 closed

[2021-06-03 07:56] mottibec commented on #12
we just released a socket.io plugin [check it out](https://github.com/aspecto-io/opentelemetry-ext-js/tree/master/packages/instrumentation-socket.io)

[2021-06-03 18:44] lizthegrey commented on #457
+1 that peerDependencies are the right way to warn on this.

[2021-06-03 18:47] lizthegrey opened #511 "otel-js-contrib compat w/ v0.20.0 breaking changes & minor rev release"
[code]

[2021-06-03 19:17] astorm opened #512 "Express Instrumentation Incorrectly Names Spans for Base URLs"
### What version of OpenTelemetry are you using?

It's not clear to me what constitutes an OpenTelemetry version, but here are the package versions from my lock file.

    "@opentelemetry/api-metrics": "0.19.0"
    "@opentelemetry/context-async-hooks": "0.19.0"
    "@opentelemetry/core": "0.19.0"
    "@opentelemetry/instrumentation": "0.19.0",
    "@opentelemetry/propagator-b3": "0.19.0",
    "@op

[2021-06-04 10:01] Flarna commented on #511
I guess https://github.com/open-telemetry/opentelemetry-js-contrib/pull/513 should fix this

[2021-06-04 10:45] Rauno56 opened #516 "`router` and `restify` instrumentations report wrong moduleVersion if two different versions are installed"
### What version of OpenTelemetry are you using?

The current version of `0.16.0` has it.

### Additional context

`router` and `restify` instrumentation produce attributes to spans which tell the user which version of the library they are using. Current implementations store the moduleVersion on the **instrumentation instance** which might be shared between module loads if multiple different vers

[2021-06-04 14:06] #464 closed

[2021-06-04 14:06] #512 closed

[2021-06-04 14:32] dyladan opened #518 "Create Release PR workflow failure"
https://github.com/open-telemetry/opentelemetry-js-contrib/runs/2746814409?check_suite_focus=true

cc @willarmiros

[2021-06-04 14:34] dyladan commented on #518
This was my fault

[2021-06-04 14:34] #518 closed

[2021-06-04 15:22] lizthegrey commented on #511
Agree, fixed there.

[2021-06-04 15:22] #511 closed

[2021-06-06 16:50] #509 closed

[2021-06-06 19:02] jinphic opened #523 "How can i config if I want to use the same tracerid to group the user-interaction report."
### examples/tracer-web/user-interaction every time I click the "Add btn", the tracerId is different with last click.

How can i config if I want to use the same tracerid to group the user-interaction report.

For example, I run the demo, and click "Add btn" twice, the console log are
[code]

but what I want is

[code]

[2021-06-07 08:15] obecny commented on #523
the click (any click on page) is considered to always be a separate action that's why it has a separate trace id. Also the 'add btn' is just a helper to demonstrate that each click of any button will produce a new flow even if you click them once after another very fast etc.

[2021-06-08 08:30] jinphic commented on #523
I see~Thanks for your patient answer

[2021-06-11 16:15] roastedmonk commented on #12
Will this work with `ws`  package?

[2021-06-13 08:33] mottibec commented on #12
no, only with the `socket.io` package

[2021-06-14 14:15] dragonfriend0013 opened #534 "Add Resolver field name to graphql instrumentation span name"
### Is your feature request related to a problem? Please describe
No issue

### Describe the solution you'd like to see
When looking at the spans using instrumentation-graphql, it would be helpful to see the field name in the span name when viewing, instead of having to drill down into attributes.  Today it just shows `graphql.resolve`.  If we could add the field name to this, it would be much mor

[2021-06-14 19:05] dragonfriend0013 opened #535 "instrumentation-graphql not working for ESM modules"
### What version of OpenTelemetry are you using?
0.20.0

### What version of Node are you using?
v14.15.0

### What did you do?
Converting CommonJS code to ESM (.mjs) files breaks @opentelemetry/instrumentation-graphql.  CommonJS version of code works perfectly, ESM version of code does not have any GraphQL spans present

### What did you expect to see?
The same spans present in CommonJS version o

[2021-06-14 19:46] vmarchaud commented on #535
I believe no instrumentation currently works with ESM because there are no support for monkey patching ESM modules right now (see https://github.com/open-telemetry/opentelemetry-js/issues/1946)

[2021-06-21 19:41] #168 closed

[2021-06-24 10:18] ayush000 opened #548 "User events getting registered twice"
### What version of OpenTelemetry are you using?
@opentelemetry/api: 1.0.0
@opentelemetry/context-zone: 0.22.0

### What version of Node are you using?
12.14.0

### What did you do?
I used open telemetry with create-react-app

[code]

### What did you expect to see?
Events would get logged only once in console by instrumentation-user-interaction

### What did you see instead?
Each click event is r

[2021-06-29 09:30] obecny opened #550 "New Instrumentation - connect"
https://www.npmjs.com/package/connect

### Describe the solution you'd like to see
Add instrumentation for connect

### Additional context
weekly downloads: 4,5 mln

[2021-06-29 09:32] obecny opened #551 "New Instrumentation - fastify"
https://www.npmjs.com/package/fastify

### Describe the solution you'd like to see
Add instrumentation for fastify

### Additional context
weekly downloads: 216k

[2021-06-29 13:39] rauno56 opened #552 "Move package-specific examples under the respective packages"
- [x] This only affects the JavaScript OpenTelemetry library
- [ ] This may affect other libraries, but I would like to get opinions here first

I'd like to propose moving package-specific examples(eg. [examples/express](examples/express)) to under the package itself(eg. [pkg/express](plugins/node/opentelemetry-instrumentation-express)), closer to the implementation, test, etc.

:+1: Less total pa

[2021-06-29 20:19] dyladan commented on #552
Sounds like a good idea to me. I think our examples in general need some work and I would really like it if they could be compiled in order to be sure they match the current API

[2021-06-29 20:50] obecny commented on #552
I would keep examples for node the same way I did for web, one package.json and adding new example is easy, having example in each package might be not desired if we think about size etc., but it could be an improvement if you dont have to install this separately. Besides quite often for certain example you need more than just an instrumentation so it would mean keeping extra packages in every pac

[2021-06-30 19:13] obecny opened #555 "Support instrumentation for cassandra ver. 3.x"

[2021-07-04 20:00] CptSchnitz commented on #497
Hi,
I would like to work on this :)

[2021-07-05 09:34] obecny commented on #497
@CptSchnitz thx, I have assigned this to you :)

[2021-07-05 15:24] sstone1 opened #561 "MySQL spans do not link to the active parent span"
### What version of OpenTelemetry are you using?
`^0.21.0`

### What version of Node are you using?
`v14.17.1`

### What did you do?

We are using OpenTelemetry in a LoopBack 4 application, which connects to a MySQL database and exposes a CRUD API over a database table. LoopBack 4 is built on top of the `express`, `http` and `mysql` libraries, so we are using the instrumentation for these.

### Wh

[2021-07-07 08:36] Rauno56 commented on #552
Let me see if I got this right, @obecny: your suggestion would be to take all `examples/*/package.json` files and merge them into one `examples/package.json`. That would:

:+1: dedupe many of the common 3rd party libs across the examples - less total deps.
:+1: keep the one place for all NodeJS examples - especially makes sense for cross-package examples.
:-1: have one massive `package.json` with

[2021-07-07 09:50] Flarna commented on #552
As far as I know we are in general open to accept any instrumentation here as long as there is someone to maintain it. On the long run we may have >100 of them and putting samples for all of them together doesn't sound that nice for maintainaince.

A main difference from contrib vs core is that modules here are  mostly independendent of each other. Additionally they often require a special setup/k

[2021-07-07 15:18] svrnm commented on #552
+1 for having the examples close to the instrumentation they belong to.

+1 for having some more "complex" ones at a separate place. BTW, there is already a "collection" (of one) here: https://opentelemetry.io/docs/js/instrumentation_examples/ and @niko-achilles created and shared one on slack recently: https://github.com/niko-achilles/otlp-logzio-fullstack, so this list could be extended.

**As a

[2021-07-07 15:52] obecny commented on #552
For node js having a single example with just one instrumentation usually doesn't make sense, some instrumentation will not even work. Plus you always need some exporter, tracing, probably docker with collector etc. etc. I would keep just simple example how to use certain instrumentation in documentation, but I would rather have a working example with more instrumentations, otherwise we will have

[2021-07-07 16:25] svrnm commented on #552
@obecny as just discussed on the meeting, I get your point on the "surroundings" (exporter, tracing, docker, collector, ...) that's needed for each example, but I am still not sure if I understand how that "big example" would look like, could you outline that a little bit (would there be a use case for each package that exists in https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main

[2021-07-07 23:08] niko-achilles commented on #552
Hi Opentelementry Javascript Contributors . Thanks @svrnm for mentioning the example that i use to try in order t learn and do things with opentelemetry.

Following the discussion here and sorry for jumping in before the answer of @obecny to the question above , i am sharing with you some experience that i had with repositories of opentelemetry for javascript .

a. i had to navigate to the reposit

[2021-07-08 08:04] anuraaga opened #565 "AWS Lambda Instrumentation should use presence of context, not env var, to parent to Lambda"
Currently, AWS Lambda instrumentation checks whether a Lambda-provided parent is sampled or not to determine whether to instead extract from headers.

https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts#L322

Actually Lambda always populates the environment variable, and it will be just a trace ID when en

[2021-07-08 08:05] anuraaga commented on #565
/cc @wangzlei @willarmiros @NathanielRN

[2021-07-09 15:43] CptSchnitz commented on #548
I tried looking into this, and it seems like the first span is for the click event on the root div, and only the second one is on the intended target.
I tried to change it by editing this line:
https://github.com/open-telemetry/opentelemetry-js-contrib/blob/52b46aa29b40feb70db623a9b1354a259ebb19e2/plugins/web/opentelemetry-instrumentation-user-interaction/src/instrumentation.ts#L452
to:
[code]
but

[2021-07-09 22:22] obecny commented on #548
can you try without zone ?

[2021-07-09 22:28] obecny commented on #548
Are you able to reproduce it with version 0.21.x for api, core and contrib ?

[2021-07-10 05:14] CptSchnitz commented on #548
Without zone there are two traces, both on the button.
![image](https://user-images.githubusercontent.com/12687466/125152038-e9bd5780-e152-11eb-8406-064de4207e7c.png)

On 0.21.x I get the same behavior as on 0.23.x, but the target is the actual element the event is registered on:
![image](https://user-images.githubusercontent.com/12687466/125152577-01e2a600-e156-11eb-8226-f81f24d87a82.png)
those a

[2021-07-10 05:29] CptSchnitz commented on #548
I think it happens because of how react handles events.
First the DOM event bubbles up to the root DOM container (before react 17 to the window),
and then the react events happen.
So one trace is the actual click, and the second one is the handler react adds on the root.
This is a good explanation:
https://reactjs.org/blog/2020/08/10/react-v17-rc.html#changes-to-event-delegation

[2021-07-12 17:17] CptSchnitz commented on #453
hi,
I would like to work on this.

[2021-07-12 17:20] obecny commented on #453
assigned, thx

[2021-07-13 18:13] CptSchnitz opened #572 "route span is missing when route throws an error in hapi instrumentation"
### What version of OpenTelemetry are you using?
api - 1.0.1
core - 0.23.0
contrib - 0.23.0

### What version of Node are you using?
v12.20.0

### What did you do?

I created a simple hapi server based on the example that only throws errors.
I made a few requests to it's endpoints, one throws a normal error, and the other using boom.
the server can be found here:
https://github.com/CptSchnitz/inst

[2021-07-14 16:57] obecny commented on #552
can be but it is not needed tbh, many instrumentations can be combined. How to initialise each instrumentation can be shown in readme as simple doc showing only this one particular instrumentation.
At the same time you might want to have 2 different examples for one instrumentation, how would you then make it ?, For me the examples are the best entry point for user where you could copy paste thing

[2021-07-15 18:40] #485 closed

[2021-07-15 19:13] obecny opened #574 "Rename usage of semantic conventions from ResourceAttributes to SemanticResourceAttributes"
once this one is released we have to upgrade the contrib repo as well
https://github.com/open-telemetry/opentelemetry-js/pull/2345

[2021-07-16 11:25] syncush commented on #574
Hey, I would like to take this issue 😄

[2021-07-17 08:33] #197 closed

[2021-07-17 08:35] vmarchaud opened #577 "feat(mongodb-instrumentation): support mongodb v4"
The new mongodb driver (that has been rewritten from scratch) has been released, you can see the PR of renovate which obviously fails here: https://github.com/open-telemetry/opentelemetry-js-contrib/pull/575.
I expect people will start to request to support it in the near term so opening an issue for this

[2021-07-17 08:56] CptSchnitz commented on #572
@vmarchaud the pull request you linked wont solve this, it only handles the route name.
I can add error handling to the it, or open a new PR.

[2021-07-17 09:03] vmarchaud commented on #572
@CptSchnitz Sorry i though i was on the other issue ahah, thanks for the heads up

[2021-07-17 09:20] #453 closed

[2021-07-19 11:18] thanaratjaruenying opened #579 "Instrumentation PG are not in the line"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
12.22

### What did you do?
controller subscribe on specific to pic to get data from DB

### What did you expect to see?
I expect to see PG.query are in the scope of subscribe handler

### What did you see instead?
pg.query is not in the scope

### Additional context
I have tried to upgrade to node 14

[2021-07-19 11:19] thanaratjaruenying commented on #579
![Uploading Screen Shot 2564-07-19 at 18.18.57.png…]()

[2021-07-19 18:09] Flarna commented on #579
I runnable sample would be helpful.
Can you reproduce the problem only with knex or also by using pg without knex?

[2021-07-20 09:10] aspectom opened #581 "Redis&IORedis instrumentations not following spec for net.peer.ip"
Hey,

I noticed that the current implementations of redis & ioredis instrumentations does not follow the spec completely for NET_PEER_IP.

The [spec](https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/trace/semantic_conventions/database.md#connection-level-attributes) mentions NET_PEER_IP should be an IP address.
![image](https://user-images.githubusercontent.com

[2021-07-20 13:13] svrnm commented on #552
From what I read, I think we all agree that there should be examples that are easy to find, easy to use and good to learn from.

@obecny I think I start to understand what you consider doing, let me paraphrase in my own words:

(1) all basic examples live close by the instrumentation in the README.md, ready for a copy&paste to make them work in your own environment.

(2) one example like for web,

[2021-07-20 16:52] obecny opened #582 "use single quotes everywhere and add a rule to eslint"
similar to
https://github.com/open-telemetry/opentelemetry-js/pull/2351

[2021-07-20 17:28] CptSchnitz commented on #582
I'm up for it.

[2021-07-20 17:30] obecny commented on #582
thx @CptSchnitz

[2021-07-20 18:04] obecny commented on #552
exactly :)

[2021-07-20 18:14] obecny commented on #552
and ideally we would have an app in example for web that will report to our example in node, so that you can run frontend and backend and simply play a bit with some todo app or similar and see all traces from clicking to server with db + redis etc. etc. a working app that is fully instrumented - best real life example and also nice tool for testing anything and learning from it how to do things

[2021-07-20 18:18] CptSchnitz commented on #497
this issue can be closed

[2021-07-20 18:38] #497 closed

[2021-07-20 18:40] svrnm commented on #552
Sounds good to me, some additional thoughts:

For the basic examples it would be great to have them validated through some scripts. If they live in the README.md we could use something like the following: https://github.com/svrnm/opentelemetry-js/blob/website-review/scripts/validate-docs/index.js -- extract them from the markdown file, validate their syntax and (if possible) execute them.

For the

[2021-07-21 11:35] Rauno56 commented on #552
So all the library-specific(mongo, redis, restify, ..) examples from https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/examples would move under `plugins/node/{library}/examples`? That was my main problem/suggestion creating this issue.

I don't have a strong stance on where should the more complex examples live, but I don't see a good reason to move them from the current(`examp

[2021-07-21 14:16] dyladan commented on #552
I don't really see a reason to have a specific example for each instrumentation library. All that does is inflate the number of examples needed to be maintained.

I would prefer to see a single example which shows how to enable all instrumentations, how to enable a specific instrumentation, and how to configure an instrumentation in both cases. We would probably need one of these for node and one

[2021-07-22 10:17] aspectom commented on #581
I'd love to make a PR for this but also I have a few more concerns I'd like to hear more opinions on.

As mentioned, the spec says it should be an IP.
Often times, we have a hostname, not an IP - like localhost, x.google.com etc.
What should we do with NET_PEER_IP in this case? not add it at all ? add hostname in NET_PEER_IP even though that's not what the spec says?
Should we validate it's a vali

[2021-07-23 01:02] chengtangzheng2021 opened #587 "set env OTEL_RESOURCE_ATTRIBUTES service.name=myservicename got unknown_service:node"
### What version of OpenTelemetry are you using?
0.23.0

### What version of Node are you using?
v8.10.0

### What did you do?

adding auto tracing to node js express service app
with jaeger exporter
set env of OTEL_RESOURCE_ATTRIBUTES service.name=myservicename
and/or
set env of OTEL_SERVICE_NAME=myservicename
### What did you expect to see?
the service name is:
myservicename should be shown in t

[2021-07-23 12:00] syncush commented on #587
Hey, I've reproduced the problem using the `examples/express` in the repo  (by setting the env variable  OTEL_RESOURCE_ATTRIBUTES=service.name=myservicename and commenting out `[ResourceAttributesSC.SERVICE_NAME]: serviceName,` in `tracer.js`

[2021-07-23 13:54] chengtangzheng2021 commented on #587
import { NodeTracerProvider } from '@opentelemetry/node';
import { registerInstrumentations } from '@opentelemetry/instrumentation';
import { ExpressInstrumentation } from '@opentelemetry/instrumentation-express';
import { HttpInstrumentation } from '@opentelemetry/instrumentation-http';
import {JaegerExporter } from '@opentelemetry/exporter-jaeger';
import {BatchSpanProcessor } from '@opentelemet

[2021-07-23 15:14] chengtangzheng2021 commented on #587
of version 0.19.0, the service name has to passed in as constructor argument of the NodeTracerProvider that is the only parameter has to hard code passed in.
0.23.0 not allowed to passed in the service name, then it should get the service name directly from env, looks it doesn't

[2021-07-23 15:27] syncush commented on #587
maybe switch to initialize your enviornment with the `node-sdk` then it will auto detect

[2021-07-23 15:44] chengtangzheng2021 commented on #587
thanks Syncush,
I will look into using node-sdk

[2021-07-23 16:32] chengtangzheng2021 commented on #587
this code is of getting and setting service name,  of jaeger exporter code, it failed to get the service name from env

    const serviceNameTag = span.tags.find(t => t.key === ResourceAttributes.SERVICE_NAME)
    const serviceName = serviceNameTag?.vStr || 'unknown_service';

    sender.setProcess({
      serviceName,
      tags: jaegerTypes.ThriftUtils.getThriftTags(this._localConfig.tags || [])

[2021-07-23 17:29] chengtangzheng2021 commented on #587
const provider: NodeTracerProvider = new NodeTracerProvider(
  {
    resource: new Resource({
      [ResourceAttributes.SERVICE_NAME]: process.env.OTEL_SERVICE_NAME
    }),
  }
);

I hard coded in the service name at there, it is working

[2021-07-23 18:51] chengtangzheng2021 commented on #587
hope some time this issue get fixed, then just need to set the standard env of
OTEL_RESOURCE_ATTRIBUTES=service.name=myservicename
no need to hard code service name.

[2021-07-24 07:26] CptSchnitz commented on #572
I started working on the issue and I got a question about implementation.
Hapi uses errors thrown by [Boom](https://github.com/hapijs/boom) to set status codes.
Do I need to set the span status to error (according to the HTTP semantic convention) and record the exception, or if the error is created by boom I shouldn't record the exception?

[2021-07-24 14:02] CptSchnitz commented on #577
Is the plan to support both v4 and v3 or just upgrade? (v3 will get bug fixes for a year).

[2021-07-24 14:13] vmarchaud commented on #577
I think we should support both of them since v3 is still massively used

[2021-07-24 14:48] vmarchaud commented on #572
I guess if you can thats better

[2021-07-24 14:53] vmarchaud commented on #581
I believe you must only set `NET_PEER_IP` if we know the actual IPv4/v6 address, otherwise if we have a hostname we can use `net.peer.name` instead

[2021-07-27 13:35] Rauno56 commented on #582
This can now be closed I guess?

[2021-07-27 13:39] #582 closed

[2021-07-28 06:52] legendecas opened #591 "@opentelemetry/instrumentation-pino failed to compile"
### What version of OpenTelemetry are you using?

- main branch

### What version of Node are you using?

- v14.17.0

### What did you do?

- `npm i` in a newly cloned repo

### What did you expect to see?

- Success to install and compile all packages

### What did you see instead?

[code]

### Additional context

- https://github.com/DefinitelyTyped/DefinitelyTyped/pull/54756

[2021-07-28 15:02] #591 closed

[2021-07-28 16:19] jonchurch opened #595 "Publish test-utils as a package on NPM"
Per discussion at the JS SIG meeting on 7/28/2021, it was decided to publish the [test-utils](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-test-utils) as a package to improve workflow of contributors.

Needs a readme, ~and to be moved out into it's own folder~ (should it be moved into the opentelemetry-js repo?)

@Rauno56 volunteered to work on this.

[2021-07-28 16:31] Rauno56 commented on #595
Thanks for doing the legwork of documenting it!

It's already in its own package [here](https://github.com/open-telemetry/opentelemetry-js-contrib/tree/main/packages/opentelemetry-test-utils), but it just happens not to be published.

[2021-07-28 16:47] syncush commented on #574
moved to #594

[2021-07-30 09:12] MollardMichael commented on #271
I'm getting this error with api v 1.0.1 and graphql intrumentation 0.23.0

[2021-08-03 09:56] emmansun opened #602 "instrumentation-mongodb supports to ignore some commands config"
I hope that instrumentation-mongodb can support to ignore some commands, for example `isMaster`,  when we config `MongoDBInstrumentation`

![image](https://user-images.githubusercontent.com/7235232/127996495-fe588e60-44e9-4e0f-9814-f9252abccedd.png)
![image](https://user-images.githubusercontent.com/7235232/127996749-24c14ea8-b8da-4352-8fbe-262a17dee96e.png)

[2021-08-05 19:31] willarmiros commented on #323
https://github.com/aspecto-io/opentelemetry-ext-js/issues/169

[2021-08-06 14:07] dyladan opened #605 "Package Ownership"
As the contrib repo grows, it has proven to be quite difficult to quickly and efficiently review, merge, and release changes. I am recommending a system of package ownership whereby a contributor can step up as the primary owner or maintainer of a single package.

I have written a proof of concept github action https://github.com/dyladan/component-owners which checks a file in `.github/component_o

[2021-08-06 20:20] lbrackenAternity commented on #435
FYI, with API v1.x and Core/Contrib v0.24.x, this has changed from...

[code]
to
[code]

per https://github.com/open-telemetry/opentelemetry-js-api/pull/47/files

[2021-08-07 13:59] #574 closed

[2021-08-09 19:30] #572 closed

[2021-08-09 21:34] #550 closed

[2021-08-12 07:02] richard77 commented on #271
Any update on this issue?
We're facing the same issue.

[2021-08-12 07:07] richard77 commented on #271
Possible solution:
https://github.com/apollographql/federation/pull/836/files#diff-78d9cdce9772008eebb17d78e4d4ea82cc446bb7ed0cf32b31963b766a7f496dR26-R51
Documentation states that federate should **not** have the `instrumentation-graphql` as pacakge

[2021-08-12 12:41] kkruk-sumo opened #616 "instrumentation-document-load doesn't support re-enables"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
`12.7.0`

### What did you do?
I enabled `DocumentLoadInstrumentation` twice.

### What did you expect to see?
Only one trace with `documentLoad` span to be created.

### What did you see instead?
Two traces were generated.

### Additional context
Instrumentations can be disabled and re-enabled in runt

[2021-08-13 19:24] obecny commented on #271
this should be fixed now -> https://github.com/open-telemetry/opentelemetry-js-contrib/pull/619
Updated also the example to use the federation too for easier verification of the fix.

[2021-08-17 00:15] chalin opened #623 "examples/web/README: links to packages/opentelemetry-web result in 404s"
It seems like the 404s have been since https://github.com/open-telemetry/opentelemetry-js/pull/2340.

I suppose that the references to `packages/opentelemetry-web` will be updated to https://github.com/open-telemetry/opentelemetry-js/tree/main/packages/opentelemetry-sdk-trace-web once [@opentelemetry/sdk-trace-web](https://www.npmjs.com/package/@opentelemetry/sdk-trace-web) is officially released?

[2021-08-17 07:55] blumamir opened #624 "ioredis: SetConfig not supported"
### What version of OpenTelemetry are you using?
v0.24.0

### What version of Node are you using?
12

### What did you do?
tried to call `setConfig` function from the `InstrumentationAbstract` api on an instance of the ioredis instrumentation to update the config.

### What did you expect to see?
instrumentation to use the new config on future operations

### What did you see instead?
previous con

[2021-08-19 15:14] Rauno56 commented on #595
Pumped into this one again, @dyladan. Please publish `@opentelemetry/test-utils`.

[2021-08-20 16:32] DanStory opened #633 "nestjs-core instrumentation breaks Metadata reflection against ExecutionContext"
### What version of OpenTelemetry are you using?
@opentelemetry/api: v1.0.2
@opentelemetry/node: v0.24.0
@opentelemetry/instrumentation-nestjs-core: main (unreleased)
@nestjs: v7.6.6

### What version of Node are you using?
node: v12.22.5

### What did you do?
[code]

### What did you expect to see?
`reflector.getAll('meta', [context.getClass(), context.getHandler()]);` returns `["controller metad

[2021-08-24 12:04] #561 closed

[2021-08-25 04:49] forking-renovate[bot] opened #637 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/open-telemetry/opentelemetry-js-contrib).

## Config Migration Needed

 - [ ]  Select this checkbox to let Renovate create an automated Config Migra

[2021-08-25 12:21] #217 closed

[2021-08-25 14:52] akash19980 opened #642 "Not able to instrument Winston"
[code]
Im trying top instrument winston in my application. then logging inside this example function

[code]
But im not able to see trace id and spanid in the log. Can anyone suggest me the solution or if i am doing something wrong or am i missing something

[2021-08-26 22:10] yang opened #645 "Filter pg query spans"
I would like to be able to filter pg queries only to slow queries. Is this already possible to do?

I saw a related issue here: https://github.com/open-telemetry/opentelemetry-js-contrib/issues/499

Thanks!

[2021-08-27 21:33] longility opened #647 "I'm expecting node aws lambda to export spans properly"
### What version of OpenTelemetry are you using?
[code]

### What version of Node are you using?
v14.17.4

### What did you do?
Create a lambda layer where I started from this: https://github.com/open-telemetry/opentelemetry-js#instantiate-tracing
[code]

### What did you expect to see?
I was expecting to see `statusCode: 200` to indicate that it got exported correctly. I saw this in the debug log

[2021-08-28 03:21] anuraaga commented on #647
Hi @longility - how did you build the lambda layer? You didn't mention it so I wonder if you didn't check out opentelemetry-lambda.

https://github.com/open-telemetry/opentelemetry-lambda

Also we have a customization to export to x-ray here if it provides more pointers

https://github.com/aws-observability/aws-otel-lambda

[2021-08-28 13:54] longility commented on #647
Hey @anuraaga thanks for getting back and commenting

In short, the lambda layer I created is built by using this as reference: https://github.com/open-telemetry/opentelemetry-lambda/tree/main/nodejs/packages/layer

I went through many attempts to get to where I am at. My latest attempt is to have the lambda layer export to a container with a base image of `amazon/aws-otel-collector` that exports

[2021-08-29 03:09] anuraaga commented on #647
If possible we need the long, not the short ;) So it sounds like you are building a layer from scratch, without the collector. And you are using the same exec wrapper technique? What changes have you made to the code?

Is the collector running externally on ECS and the lambda exports to that?

The instrumentation force flushes so user code doesn't have to call it.

We run canary tests periodically

[2021-08-29 18:34] Flarna commented on #645
I think it would be needed to implement a SpanProcessor and/or SpanExporter which does this instead of using that ones from SDK.

[2021-08-29 18:46] Flarna commented on #642
@akash19980 I don't understand the relation of your last question to the winston instrumentation. If it is a new topic I recommend to start a new discussion/issue and close this one if it was answered.

[2021-08-30 02:59] longility commented on #647
Yes, I’m using the same wrapper technique.

I think I found one of the issues. The `BasicTracerProvider` dependency that is created and the dependency that is in the instrumentation has a pkg mismatch so when we check `instanceof`, it is false and so it does not force flush.

It is related to this refactor: https://github.com/open-telemetry/opentelemetry-js/pull/2340#issuecomment-887313662

I’m no

[2021-08-30 03:04] anuraaga commented on #647
@longility Are you calling the OpenTelemetry API in your function, or just need it auto-instrumented? I think if you just use the same versions as the lambda layer's package.json (notably using 0.24.0 of opentelemetry/node) it should work ok. If you use the API in your function, you'd need to make sure it's 1.0.1 to match the layer.

https://github.com/open-telemetry/opentelemetry-lambda/blob/main

[2021-08-30 03:10] longility commented on #647
I’ll double check that tomorrow as I try to get things working. Thanks!

I’m still new and challenged by so many packages! The debugging exercise is forcing me to learn.

[2021-08-30 12:53] longility commented on #647
I'm going to take that back on my conclusion of version mismatch. I think what I have in code is fine. I think I got confused as I was jumping between what is latest in github and what is on my local.

[2021-08-30 13:02] #642 closed

[2021-08-30 13:02] #595 closed

[2021-08-30 14:02] willarmiros commented on #647
@longility one other question - are you enabling the AWS X-Ray propagator as described here: https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/propagators/opentelemetry-propagator-aws-xray/README.md?

[2021-08-30 14:25] mpoitras commented on #135
Would be great to support mysql2 promises:
https://www.npmjs.com/package/mysql2#using-promise-wrapper
AFAIK, it does not look for promises require (https://github.com/open-telemetry/opentelemetry-js-contrib/blob/main/plugins/node/opentelemetry-instrumentation-mysql2/src/instrumentation.ts#L51).

[2021-08-30 14:26] dyladan commented on #135
@mpoitras can you please create a new issue for that. This issue is requesting a mysql2 plugin and there already is one.

Closing this issue as there is a mysql2 instrumentation now.

[2021-08-30 14:26] #135 closed

[2021-08-30 14:47] longility commented on #647
I am not. I just double checked as I thought that was added by the aws lambda instrumentation. I was wrong. It just has a reference but it doesn't enable it. Thanks!

[2021-08-30 15:00] longility commented on #647
@anuraaga I found the issue as with a code change, I was able to get working. It has to do with this line: https://github.com/open-telemetry/opentelemetry-js-contrib/blob/ee0debf9a1ba3889b480a36a8b5c7ce04d8f35aa/plugins/node/opentelemetry-instrumentation-aws-lambda/src/instrumentation.ts#L270

What I determined for at least my case is that the `setTracerProvider` is passing in a `ProxyTracerProvid

[2021-08-30 15:30] dyladan commented on #645
I agree I think a custom spanprocessor is likely the best place for this.

[2021-08-30 16:41] obecny commented on #645
You could simply extend the standard batch processor and then add your logic into export function where you can check for those things and either export it or ignore it.